/***** Custom Fonts *****/

/* Regular: */

@font-face {
  font-family: 'Source Sans';
  font-weight: 200 900;
  src:
    url('../node_modules/source-sans/WOFF2/VAR/SourceSans3VF-Roman.ttf.woff2') format('woff2-variations'),
    url('../node_modules/source-sans/WOFF/TTF/SourceSans3-Regular.ttf.woff') format('woff');
  font-display: swap;
}

/* Semi Bold: */

@font-face {
  font-family: 'Source Sans';
  font-weight: 600;
  src:
    url('../node_modules/source-sans/WOFF2/VAR/SourceSans3VF-Roman.ttf.woff2') format('woff2-variations'),
    url('../node_modules/source-sans/WOFF/TTF/SourceSans3-Semibold.ttf.woff') format('woff');
  font-display: swap;
}

/* Bold: */

@font-face {
  font-family: 'Source Sans';
  font-weight: 700;
  src:
    url('../node_modules/source-sans/WOFF2/VAR/SourceSans3VF-Roman.ttf.woff2') format('woff2-variations'),
    url('../node_modules/source-sans/WOFF/TTF/SourceSans3-Bold.ttf.woff') format('woff');
  font-display: swap;
}

/* Italic: */

@font-face {
  font-family: 'Source Sans';
  font-style: italic;
  font-weight: 200 900;
  src:
    url('../node_modules/source-sans/WOFF2/VAR/SourceSans3VF-Italic.ttf.woff2') format('woff2-variations'),
    url('../node_modules/source-sans/WOFF/TTF/SourceSans3-It.ttf.woff') format('woff');
  font-display: swap;
}

/* Semi Bold Italic: */

@font-face {
  font-family: 'Source Sans';
  font-style: italic;
  font-weight: 600;
  src:
    url('../node_modules/source-sans/WOFF2/VAR/SourceSans3VF-Italic.ttf.woff2') format('woff2-variations'),
    url('../node_modules/source-sans/WOFF/TTF/SourceSans3-SemiboldIt.ttf.woff') format('woff');
  font-display: swap;
}

/* Bold Italic: */

@font-face {
  font-family: 'Source Sans';
  font-style: italic;
  font-weight: 700;
  src:
    url('../node_modules/source-sans/WOFF2/VAR/SourceSans3VF-Italic.ttf.woff2') format('woff2-variations'),
    url('../node_modules/source-sans/WOFF/TTF/SourceSans3-BoldIt.ttf.woff') format('woff');
  font-display: swap;
}
