/***** Resets *****/

fieldset {
  padding: 0;
  border: none;
  font-weight: 600;

  label {
    font-weight: 400;
  }

}

*[hidden] {
  display: none !important;
}

label {
  font-weight: 600;
}

/* IE 11: */
main {
  display: block;
}
