// ***** Avatar Component ***** //

.c-avatar {
  margin-bottom: $space3;
  margin-left: $space3;
  float: right;
  border: 1px solid rgb(var(--color-black));

  @include screen1 {
    margin-right: 3vw;
    margin-left: 3vw;
  }

  + h2 {
    margin-top: 0;
  }

  // reset WP clear styles from style.css:
  ~ h2,
    h3,
    h4,
    h5,
    h6 {
    clear: none;
  }

}
