// ***** Blog Result Component ***** //

.c-blogresult {

  + .c-blogresult {
    margin-top: $space2;
    border-top: 1px solid $color-gray;
  }

  @include u-headings() {
    margin-bottom: $space2;
    color: $color-blue;

    a {
      @extend %o-link2;
    }

  }

  p {
    margin-top: 0;
    margin-bottom: $space2;

    a {
      @extend %o-link2;
    }

  }

}
