// ***** Blog Meta Data Component ***** //

.c-blogmetadata {
  margin-bottom: $space2;
  color: rgb(var(--color-light-black));

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    @include u-reset-list-styles;
    display: inline;

    li {
      display: inline;

      &:not(:last-child)::after {
        content: ', ';
      }

    }

  }

  > * {

    &:not(:last-child) {
      margin-right: 0.2em;
      padding-right: 0.5em;
      border-right: 2px solid rgb(var(--color-dark-gray));
    }

  }

}
