// ***** Blog Result Component ***** //

.c-blogresult {

  + .c-blogresult {
    margin-top: $space2;
    border-top: 1px solid $color-gray;
  }

  h2 {
    margin-bottom: $space2;
    color: $color-blue;
  }

  p {
    margin-top: 0;
    margin-bottom: $space2;
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
