// ***** Body ***** //

body {
  margin: 0 auto;
  padding-right: $space1;
  padding-left: $space1;
  font-family: 'Source Sans Pro', Arial;
  font-weight: 400;
  line-height: $line-height0;

  @include screen1 {
    max-width: 1400px;
    padding-right: $space2;
    padding-left: $space2;
  }

}
