// ***** Body ***** //

body {
  margin: 0 auto;
  padding-inline: var(--space3);
  font-family: 'Source Sans', Arial, sans-serif;
  font-weight: 400;
  line-height: var(--line-height0);

  @media (--min-width1) {
    max-inline-size: 1400px;
    padding-inline: var(--space2);
  }

  @media print {
    padding: 0;
  }

}
