// ***** Body ***** //

body {
  margin: 0 auto;
  padding-inline: $space3;
  font-family: 'Source Sans', Arial, sans-serif;
  font-weight: 400;
  line-height: $line-height0;

  @include screen1 {
    max-width: 1400px;
    padding-inline: $space2;
  }

  @media print {
    padding: 0;
  }

}
