// ***** Breadcrumb Component ***** //

.c-breadcrumb {

  --separator-spacing: 0.5rem;

  @media print {
    display: none;
  }

  ul {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: var(--separator-spacing);
  }

  li {
    display: inline-flex;
    align-items: center;
    margin: unset;
    margin-block-end: var(--space1);
    padding: unset;
    gap: var(--separator-spacing);
    font-size: 0.9rem;

    &:not(:nth-last-of-type(2)) {
      display: none;

      @media (--min-width1) {
        display: inline-flex;
      }

    }

    &:nth-last-of-type(2) {

      &::before {
        content: '';
        flex: none;
        block-size: 0.6rem;
        inline-size: 0.6rem;
        background-color: var(--color-blue);
        mask: url('data-url:/fa-solid/angle-left.svg') center / 0.5rem no-repeat;
      }

      @media (--min-width1) {

        &::before {
          content: none;
        }
      }
    }

    @media (--min-width1) {

      &:not(:last-child) {

        &::after {
          content: '';
          flex: none;
          block-size: 0.6rem;
          inline-size: 0.6rem;
          background-color: var(--color-blue);
          mask: url('data-url:/fa-solid/angle-right.svg') center / 0.5rem no-repeat;
        }
      }
    }
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
