// ***** Breadcrumb Component ***** //

.c-breadcrumb {

  @media print {
    display: none;
  }

  ul {
    @extend %u-reset-list-styles;
  }

  li {
    display: inline-flex;
    align-items: center;
    margin-bottom: $space1;
    font-size: 0.9rem;

    &:not(:nth-last-of-type(2)) {
      display: none;

      @include screen1 {
        display: inline-flex;
      }

    }

    &:nth-last-of-type(2) {

      &::before {
        content: '';
        flex: none;
        block-size: 1.2rem;
        inline-size: 1.2rem;
        margin-inline-end: 0.25rem;
        background-color: $color-blue;
        mask: url('data-url:../icons/angle-left-light.svg') center / contain;
      }

      @include screen1 {

        &::before {
          content: none;
        }
      }
    }

    @include screen1 {

      &:not(:last-child) {

        &::after {
          content: '';
          flex: none;
          block-size: 1.2rem;
          inline-size: 1.2rem;
          margin-inline-start: 0.25rem;
          background-color: $color-blue;
          mask: url('data-url:../icons/angle-right-light.svg') center / contain;
        }
      }
    }
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
