// ***** Breadcrumb Component ***** //

.c-breadcrumb {

  ul {
    @extend %u-reset-list-styles;
  }

  li {
    display: inline-flex;
    margin-bottom: $space1;
    font-size: 0.9em;
    line-height: normal;

    &:not(:last-child) {

      &::after {
        margin-left: 0.3em;
        padding-left: 1.3em;
        background: url('angle-right-light.svg' param(--color #{$color-blue})) no-repeat center / 0.6em;
        content: '';
      }

    }

    a {
      @extend %o-link2;
    }

  }

}
