// ***** Button Objects ***** //

%o-button {
  @include u-interactive-element-min-size;
  display: inline-flex;
  align-items: center;
  padding: $space1 $space2;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

%o-button__header-controls {
  @extend %o-button;
  width: 2em;
  background-size: 1.8em;
}

%o-button1 {
  @extend %o-button__header-controls;
  background-image: url('data-url:../icons/search-light.svg');
}

.o-button1 {
  @extend %o-button1;
}

%o-button2 {
  @extend %o-button__header-controls;
  background-image: url('data-url:../icons/times-light.svg');
}

.o-button2 {
  @extend %o-button2;
}

%o-button3 {
  @extend %o-button__header-controls;
  background-image: url('data-url:../icons/bars-light.svg');
}

.o-button3 {
  @extend %o-button3;
}

%o-button4 {
  @extend %o-button;
  background-color: $color-light-black;
  color: $color-white;
}

.o-button4 {
  @extend %o-button4;
}

%o-button5 {
  @extend %o-button;
  gap: $space2;
  border: 2px solid $color-white;
  border-radius: $round-corner;
  background-color: $color-blue;
  color: $color-white;

  &::after {
    content: '';
    flex: none;
    block-size: 1rem;
    inline-size: 1rem;
    background-color: $color-white;
    mask-size: 1.6rem;
    mask-position: center;
    mask-image: url('data-url:../icons/caret-up.svg');
  }
}

.o-button5 {
  @extend %o-button5;
}

%o-button6 {
  @extend %o-button5;

  &::after {
    mask-image: url('data-url:../icons/caret-down.svg');
  }
}

.o-button6 {
  @extend %o-button6;
}

%o-button7 {
  @extend %o-button;

  &[aria-current='page'] {
    background-color: $color-light-blue;
  }

}

.o-button7 {
  @extend %o-button7;
}
