// ***** Callout Component ***** //

.c-callout {
  padding: $space2;
  border: 1px solid $color-gray;

  header {
    margin: (-$space2) (-$space2) $space2;
    padding: $space2;
    background-color: $color-gray;

    @include u-headings() {
      margin: 0;
    }

  }

  p {
    margin-top: $space2;
    margin-bottom: 0;

    &:not(:last-of-type) {
      padding-bottom: $space2;
      border-bottom: 1px solid $color-gray;
    }

  }

}
