// ***** Categories Component ***** //

$category-items-left-space: 1.5em;

%category-items-vertical-space {
  margin-top: $space2;
  margin-bottom: $space2;
}

.c-categories {
  @extend %u-reset-list-styles;

  a {
    @extend %o-link2;
  }

  li {
    @extend %category-items-vertical-space;
  }

  > li > a {
    display: block;
    margin-left: $category-items-left-space;
  }

  details {

    summary {
      display: inline-block;
      // reset in details.scss:
      padding-left: $category-items-left-space;
    }

    ul {
      @extend %u-reset-list-styles;
      margin-left: $category-items-left-space * 2;

      li {
        @extend %category-items-vertical-space;
      }

    }

  }

}
