// ***** Categories Component ***** //

.c-categories {
  @include u-reset-list-styles;

  @include screen1 {
    column-gap: $space3;
    column-count: 2;
  }

  @include screen2 {
    column-count: auto;
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  li {
    margin-block: $space2;
  }

  li li {
    padding-inline-start: $details-summary-left-space * 2;
  }

  > li > a {
    display: block;
    margin-inline-start: $details-summary-left-space;
  }

  details {
    margin-block-end: 0;
    break-inside: avoid;
    page-break-inside: avoid; // Firefox
  }
}
