// ***** Checkbox Component ***** //

.c-checkbox {
  padding-top: var(--space3);

  p { // WP Contact Form 7 generated
    margin: 0;

    @include screen1 {
      column-count: 2;
    }

  }

  label {
    display: flex;
    align-items: center;
    margin-bottom: var(--space2);

    input {
      margin-right: var(--space1);
    }

  }

}
