// ***** Contact Component ***** //

$contact-leftright-padding: 1rem
;

%contact-styles {
  margin-bottom: $space3;
  padding-top: $space2;
  padding-bottom: $space2;
  padding-left: $contact-leftright-padding;
  color: $color-white;
}

%contact-icon {
  padding-right: $contact-leftright-padding + 1.5rem;
  background: $color-blue url('external-link-alt.svg' param(--color #{$color-white})) right $contact-leftright-padding center / 1em no-repeat;
}

.c-contact {

  @media print {
    display: none !important;
  }

  // When applied to the <form>:
  &:not(a) {
    display: inline;

    button {
      @extend %contact-styles;
      @extend %contact-icon;
      border: none;
      cursor: pointer;
    }

  }

  // When applied to the <a>:
  &:not(form) {
    @extend %contact-styles;
    display: inline-block;
    text-decoration: none;

    &[data-wpel-link] {
      @extend %contact-icon;
    }

  }

}
