// ***** Details Object ***** //

details {
  margin-bottom: $space2;

  summary {
    padding-left: $details-summary-left-space;
    background-image: url('caret-right.svg' param(--color #{$color-blue}));
    background-repeat: no-repeat;
    background-position: left 0.3rem top -0.1rem;
    background-size: 0.9em;

    // remove default arrow in Firefox:
    list-style: none;
    cursor: pointer;
    user-select: none;

    // remove default arrow in Chrome and Safari:
    // sass-lint:disable no-vendor-prefixes
    &::-webkit-details-marker {
      display: none;
    }

    // remove right arrow applied from details polyfill:
    &::before {
      content: normal;
    }

  }

  &[open] {

    summary {
      background-image: url('caret-down.svg' param(--color #{$color-blue}));
      background-position: left -0.2rem top -0.1rem;
      background-size: 1.4em;

      // remove down arrow applied from details polyfill:
      &::before {
        content: normal;
      }

    }

  }

}
