// ***** Document Icon Objects ***** //

@each $filetype in $filetypes {

  %o-docicon__#{$filetype} {
    display: inline-block;
    padding: 0.2rem 0.2rem 0.05rem 0.3rem;
    color: $color-white;
    font-family: Consolas, Monaco, monospace;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;

    @if $filetype == 'doc' {
      background-color: $color-dark-gray;
    }

    @else if $filetype == 'docx' {
      background-color: $color-blue;
    }

    @else if $filetype == 'html' {
      background-color: $color-blue;
    }

    @else if $filetype == 'page' {
      background-color: $color-blue;
    }

    @else if $filetype == 'pdf' {
      background-color: $color-light-red;
    }

    @else if $filetype == 'post' {
      background-color: $color-light-black;
    }

    @else if $filetype == 'ppt' {
      background-color: $color-dark-orange;
    }

    @else if $filetype == 'pptx' {
      background-color: $color-dark-orange;
    }

    @else if $filetype == 'xls' {
      background-color: $color-green;
    }

    @else if $filetype == 'xlsx' {
      background-color: $color-green;
    }

    @else if $filetype == 'zip' {
      background-color: $color-light-black;
    }

    @else {
      background-color: $color-dark-gray;
    }
  }

  .o-docicon__#{$filetype} {
    @extend %o-docicon__#{$filetype};
  }
}
