// ***** Global Footer Component ***** //

.c-footer {
  @extend %u-page-bleed;
  padding: $space1 $space1 0;
  border-top: 1px solid $color-gray;

  section {
    margin-bottom: $space2;

    @include u-headings() {
      margin: 0;
    }

    ul {
      @extend %u-reset-list-styles;

      a {
        @extend %u-interactive-element-size;
        display: flex;
        align-items: center;
      }

    }

  }

}

.c-footer__copyright {
  display: flex;
  align-items: center;

  img {
    flex: 0 0 auto;
    margin-right: $space2;
  }

}
