// ***** Global Footer Component ***** //

.c-footer {
  margin-bottom: $space2;
  border-top: 1px solid $color-gray;

  ul {
    @extend %u-reset-list-styles;
  }

  a {
    @extend %o-link3;
    font-size: 0.9em;
  }

}

.c-footer__main {
  margin-bottom: $space2;

  a {
    @include u-interactive-element-min-size;
    display: flex;
    align-items: center;
    padding: $space1 0;
  }

  > ul {

    @include screen1 {
      column-gap: $space2;
      column-count: 4;
    }

    @include screen2 {
      display: flex;
      column-count: auto;
    }

    > li {
      break-inside: avoid;
      page-break-inside: avoid; // Firefox

      @include screen2 {
        width: 100%;

        &:not(:last-child) {
          margin-right: $space2;
        }

      }

      > a {
        font-weight: bold;
      }

      > ul {
        page-break-inside: avoid; // Firefox
      }

    }

  }

}

.c-footer__legal {
  margin-bottom: $space2;
  padding-top: $space2;
  padding-bottom: $space2;
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    text-align: center;

    &:not(:last-child) {
      margin-right: 0.5em;
      padding-right: 0.5em;
      border-right: 1px solid $color-light-black;
    }

  }

}

.c-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    flex: 0 0 auto;
    margin-right: $space2;
    margin-left: $space2;
  }

  small {
    font-size: 0.7em;
  }

}
