// ***** Global Footer Component ***** //

@mixin footer-pipe-separator {

  &:not(:last-child) {
    margin-inline-end: 0.5em;
    padding-inline-end: 0.5em;
    border-inline-end: 1px solid rgb(var(--color-light-black));
  }

}

.c-footer {
  margin-block-end: var(--space2);
  border-block-start: 1px solid rgb(var(--color-gray));

  @media print {
    margin-block: var(--space2) 0;
    padding-block-start: var(--space2);
  }

  ul {
    @include u-reset-list-styles;
  }

  a {
    color: rgb(var(--color-light-black));
    font-size: 0.9rem;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }

    // disable external link icon:
    &::after {
      content: none;
    }
  }
}

.c-footer__main {
  margin-block-end: var(--space2);

  @media print {
    display: none;
  }

  a {
    display: flex;
    align-items: center;
    padding: var(--space1) 0;
  }

  > ul {

    @media (--min-width1) {
      column-gap: var(--space2);
      column-count: 4;
    }

    @media (--min-width2) {
      display: flex;
      column-count: auto;
    }

    > li {
      break-inside: avoid;
      page-break-inside: avoid; // Firefox

      @media (--min-width2) {
        inline-size: 100%;

        &:not(:last-child) {
          margin-inline-end: var(--space2);
        }

      }

      > a {
        font-weight: 600;
      }

      > ul {
        page-break-inside: avoid; // Firefox
      }

    }

  }

}

.c-footer__legal {
  margin-block-end: var(--space2);
  padding-block: var(--space2);
  border-block: 1px solid rgb(var(--color-gray));

  @media print {
    display: none;
  }

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    @include footer-pipe-separator;
    text-align: center;
  }

}

.c-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  small {
    @include footer-pipe-separator;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.7rem;
  }

}
