// ***** Half Width Boxes Component ***** //

.c-halfboxes {
  margin-top: var(--space3);
  margin-bottom: var(--space3);

  @include screen1 {
    display: flex;

    > * {
      flex: 1 1 50%;

      &:nth-child(2) {
        margin-left: var(--space2);
      }

    }

  }

  // remove predefined margins on mainbox component:
  .c-mainbox {
    margin-top: 0;
    margin-bottom: 0;
  }

}
