// ***** Half Width Boxes Component ***** //

.c-halfboxes {

  @include screen1 {
    display: flex;

    > * {
      flex: 1 1 50%;

      &:nth-child(2) {
        margin-left: $space2;
      }

    }

  }

}
