// ***** heading Objects ***** //

%o-heading {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: normal;

  a {
    color: inherit;
  }

}

%o-heading1 {
  @extend %o-heading;
  color: $color-blue;
  font-size: 1.75em;
}

h1 {
  @extend %o-heading1;
}

%o-heading2 {
  @extend %o-heading;
  color: $color-red;
  font-size: 1.25em;
}

h2 {
  @extend %o-heading2;
}

%o-heading3 {
  @extend %o-heading;
  color: $color-red;
  font-size: 1.125em;
}

h3 {
  @extend %o-heading3;
}

%o-heading4 {
  @extend %o-heading;
  color: $color-red;
  font-size: 1em;
}

h4 {
  @extend %o-heading4;
}

// Any heading tags with the following class are for FAQ headings. The class is added by the WP editor in the "format" menu:

@include u-headings() {

  &.o-heading__faq {
    @extend %o-heading4;
  }

}
