// ***** Global Header Component ***** //

.c-header {
  --header-logo-height: 50px;

  display: grid;
  position: relative;
  grid-template:
    'header-logo header-controls'
    'header-nav header-nav'
    'header-util-nav header-util-nav'
    / 1fr auto;
  margin-top: var(--space1);

  @media (--min-width2) {
    grid-template:
      'header-logo header-util-nav'
      'header-logo header-search'
      'header-nav header-nav'
      / auto 1fr;
    margin-top: var(--space2);
  }

  @media print {
    display: none;
  }

}

.c-header__logo {
  display: block;
  grid-area: header-logo;
  margin-bottom: var(--space2);

  @media (--min-width2) {
    // stack over spanned grid-column in .c-header__search:
    z-index: 2;
  }

  img {
    display: block;
    height: var(--header-logo-height);

    @media (--min-width2) {
      height: 4.4rem;
    }

  }

}

.c-header__controls {
  display: flex;
  grid-area: header-controls;
  justify-content: space-between;
  gap: var(--space2);
  margin-block-start: var(--space2);

  @media (--min-width2) {
    display: none;
  }
}

.c-header__search {
  display: flex;
  position: fixed; // to .c-header
  z-index: 1;
  gap: var(--space2);
  right: 0;
  left: 0;
  grid-area: header-search;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-logo-height);
  padding-inline: var(--space1);
  transform: translateX(100%);
  transition: transform 0.5s;
  background-color: rgb(var(--color-white));

  &.is-open {
    transform: translateX(0);
  }

  @media (--min-width1) {
    padding-left: var(--space2);
  }

  @media (--min-width2) {
    position: static;
    grid-column: 1 / 3;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    background-color: transparent;
  }

  .c-search {
    flex: 1 0 auto;

    @media (--min-width2) {
      flex: 0 1 auto;
      width: 18rem;
    }

  }

}

.c-header__close-search {

  @media (--min-width2) {
    display: none;
  }
}

.c-header__header-nav {
  grid-area: header-nav;

  .c-mobilenav {

    li {

      &:last-child {
        border-bottom: none;
      }

    }

  }

}

.c-header__utility-nav {
  grid-area: header-util-nav;

  @media (--min-width2) {
    margin-top: 0;
  }

}

// JS interactivity:

.c-header__header-nav,
.c-header__utility-nav {
  display: none;

  &.is-open {
    display: block;
  }
}
