// ***** Global Header Component ***** //

$header-logo-height: 50px;

.c-header {
  display: grid;
  position: relative;
  margin-top: $space1;
  grid-template:
    'header-logo header-controls'
    'header-nav header-nav'
    'header-util-nav header-util-nav'
    / 1fr auto;

  @include screen2 {
    margin-top: $space2;
    grid-template:
      'header-logo header-util-nav'
      'header-logo header-search'
      'header-nav header-nav'
      / auto 1fr;
  }

}

.c-header__logo {
  display: block;
  margin-bottom: $space2;
  grid-area: header-logo;

  @include screen2 {
    // stack over spanned grid-column in .c-header__search:
    z-index: 2;
  }

  img {
    display: block;
    height: $header-logo-height;

    @include screen2 {
      height: 4.4rem;
    }

  }

}

.c-header__controls {
  grid-area: header-controls;

  button {

    &:first-child {
      margin-right: $space1;
    }

  }

}

.c-header__search {
  display: flex;
  position: absolute; // to .c-header
  right: 0;
  left: 0;
  align-items: flex-start;
  height: $header-logo-height;
  background-color: $color-white;
  z-index: 1;
  grid-area: header-search;

  @include screen2 {
    position: static;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    grid-column: 1 / 3;
  }

  > button {
    margin-left: $space1;
  }

  .c-search {
    flex: 1 0 auto;

    @include screen2 {
      flex: 0 1 auto;
      width: 18rem;
    }

  }

}

.c-header__header-nav {
  grid-area: header-nav;

  .c-mobilenav {

    li {

      &:last-child {
        border-bottom: none;
      }

    }

  }

}

.c-header__utility-nav {
  grid-area: header-util-nav;

  @include screen2 {
    margin-top: 0;
  }

}

// Vue enter/leave transitions:

.c-header__offscreen-enter-active {
  transition: transform 0.5s;

  @include screen2 {
    transition: none;
  }

}

.c-header__offscreen-leave-active {
  transition: transform 0.5s;
}

.c-header__offscreen-enter,
.c-header__offscreen-leave-to {
  transform: translateX(100%);
}
