// ***** heading Objects ***** //

%o-heading {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: normal;

  a {
    color: inherit;
  }

}

%o-heading1 {
  @extend %o-heading;
  color: $color-blue;
  font-size: 1.75em;
}

.o-heading1 {
  @extend %o-heading1;
}

%o-heading2 {
  @extend %o-heading;
  color: $color-red;
  font-size: 1.25em;
}

.o-heading2 {
  @extend %o-heading2;
}

%o-heading3 {
  @extend %o-heading;
  color: $color-red;
  font-size: 1.125em;
}

.o-heading3 {
  @extend %o-heading3;
}

%o-heading4 {
  @extend %o-heading;
  color: $color-red;
  font-size: 1em;
}

.o-heading4 {
  @extend %o-heading4;
}
