// ***** heading Objects ***** //

%o-heading {
  margin-top: 0;
  margin-bottom: 1em;

  a {
    color: inherit;
  }

}

%o-heading1 {
  @extend %o-heading;
  font-size: 2.1em;
  font-weight: normal;
}

.o-heading1 {
  @extend %o-heading1;
}

%o-heading2 {
  @extend %o-heading;
  font-size: 1.5em;
}

.o-heading2 {
  @extend %o-heading2;
}

%o-heading3 {
  @extend %o-heading;
  font-size: 1.2em;
}

.o-heading3 {
  @extend %o-heading3;
}

%o-heading4 {
  @extend %o-heading;
  font-size: 1em;
}

.o-heading4 {
  @extend %o-heading4;
}
