// ***** Header Nav Component ***** //

// Read notes in component config

$headernav-section-padding: $space3;
$headernav-item-margin: $space3;

.c-headernav {
  position: relative;

  ul {
    @extend %u-reset-list-styles;
  }

  a {
    display: block;
  }

  // Sections:
  > ul {

    @include screen2 {
      display: flex;

      > li {
        flex: 1 1 auto;
      }

    }

  }

  > ul > li {

    @include screen2 {

      // Nav bar main items:
      &:not(:last-child) {
        border-right: 1px solid $color-dark-gray;
      }

    }

  }

  // Nav bar links:
  > ul > li > a {

    @include screen2 {
      @include o-link4;
      padding: $space1;
      background: linear-gradient($color-light-gray, darken($color-light-gray, 10%));
      text-align: center;
    }

  }

  // Panels:
  > ul > li > ul {
    display: none;
    position: absolute;
    padding: $headernav-section-padding;
    column-gap: $headernav-section-padding * 2;
    column-rule: 1px solid $color-gray;
    column-width: 9.5em;
    border-right: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;
    border-left: 1px solid $color-gray;
    background-color: $color-light-gray;
    box-shadow: $box-shadow;
  }

  // Panel columns (no columns, by default). These are set via 'columns-[#]' classes defined in the top-level menu items within WP Menus:

  > ul > .columns-2 > ul {
    column-count: 2;
  }

  > ul > .columns-3 > ul {
    column-count: 3;
  }

  // Panel lists:
  > ul > li > ul > li {
    break-inside: avoid;
    page-break-inside: avoid; // Firefox
  }

  // Panel list links:
  > ul > li > ul > li > a {
    @extend %o-link2;
    margin-bottom: $headernav-item-margin;
    color: $color-red;
  }

  // Panel sub-list 'heading' links:
  > ul > li > ul > li > a:only-child {
    color: $color-blue;
  }

  // Panel sub-lists:
  > ul > li > ul > li > ul {
    padding-right: $space1;
    padding-left: $space1;
    page-break-inside: avoid; // Firefox
  }

   // Panel sub-list links:
  > ul > li > ul > li > ul > li > a {
    @extend %o-link2;
  }

  // All panel list items:
  > ul > li li {
    margin-bottom: $headernav-item-margin;
  }

  // **** Panel Toggle **** //

  @mixin panel-toggle {

    @include screen2 {
      display: block;
      z-index: 10;
    }

  }

  // hover:
  > ul > li:hover > ul {
    @include panel-toggle;
  }

  // focus-within not supported:
  > ul > li > a:focus + ul {
    @include panel-toggle;
  }

  // focus-within supported:
  > ul > li:focus-within > ul {
    @include panel-toggle;
  }

}
