// ***** Home Template ***** //

.t-home {
  display: grid;
  grid-row-gap: $space2;
  grid-template:
    'header'
    'slideshow'
    'serviceheading'
    'servicebox'
    'newsreel'
    'quicklink1'
    'quicklink2'
    'meet'
    'social'
    'footer';
  
  @include screen1 {
    grid-gap: $space2;
    grid-template:
    'header header'
    'slideshow slideshow'
    'serviceheading serviceheading'
    'servicebox servicebox'
    'newsreel newsreel'
    'quicklink1 quicklink2'
    'meet social'
    'footer footer';
  }

  @include screen2 {
    grid-gap: $space2;
    grid-template:
    'header header'
    'slideshow quicklink1'
    'slideshow quicklink2' 1fr
    'serviceheading quicklink2'
    'servicebox meet'
    'newsreel social'
    'footer footer'
    / auto $sidebar-width;
  }

  // This class used only to highlight the grid in layout4.hbs:
  &.highlight-grid {

    > * {
      // sass-lint:disable property-sort-order
      all: unset;
      background-color: $color-light-blue;
    }

  }

  .c-header {
    grid-area: header;
  }

  .c-slideshow {
    grid-area: slideshow;
  }

  .c-serviceheading {
    grid-area: serviceheading;
  }

  .c-servicebox {
    grid-area: servicebox;
  }

  .c-newsreel {
    grid-area: newsreel;
  }

  .c-quicklink1 {
    grid-area: quicklink1;
  }

  .c-quicklink2 {
    grid-area: quicklink2;
  }

  .c-meet {
    grid-area: meet;
  }

  .c-social {
    grid-area: social;
  }

  .c-footer {
    grid-area: footer;
  }

}
