// ***** Image in Content Object ***** //

main {

  img {
    width: auto; // reset fixed width attribute applied via WP editor
    max-width: calc(100vw - #{$space2});
    height: auto; // reset fixed height attribute applied via WP editor
    max-height: calc(100vh - #{$space2});
  }

}
