// ***** Layout Component ***** //

$layout-sidebar-width: 20%;

.c-layout {
  display: grid;
  grid-gap: $space3;
  
  @include screen2 {
    grid-template-columns: $layout-sidebar-width auto;

    aside {

      &:first-of-type {
        grid-row: 1 / 3;
      }

    }

  }

  @include screen3 {
    grid-template-columns: $layout-sidebar-width auto $layout-sidebar-width;

    aside {

      &:first-of-type {
        grid-row: auto;
      }

    }

  }

  .c-layout__sidebar-items {
    display: grid;
    grid-gap: $space3;

    @include screen1 {
      grid-template-columns: repeat(2, auto);
    }

    @include screen3 {
      grid-template-columns: auto;
    }

  }

  // Styles to label grid items and demonstrate content flow. This selector and its styles should not be used in production:

  &.demo-styles {

    aside,
    main {

      h2 {
        @extend %o-heading2;
        margin: 0;
        padding: 1rem 0;
        color: $color-black;
        text-align: center;
      }

    }

    aside {

      &:first-of-type {
        background-color: $color-blue;
        color: $color-white;

        h2 {
          color: inherit;
        }

      }

      &:last-of-type {
        background-color: $color-light-gray;
      }

      .c-layout__sidebar-items > * {
        background-color: $color-gray;
      }

    }

    main {
      background-color: $color-light-blue;
    }

  }

}
