// ***** Layout 4 Template ***** //

.t-layout--4 {
  display: grid;
  min-height: 100vh;
  grid-row-gap: $space3;
  grid-template:
    'layout4a'
    'layout4b'
    'layout4c' 1fr
    'layout4d'
    'layout4e'
    'layout4f'
    / 1fr;

  @include screen2 {
    grid-gap: $space3;
    grid-template:
      'layout4a layout4a'
      'layout4b layout4b'
      'layout4c layout4d'
      'layout4c layout4e' 1fr
      'layout4f layout4f'
      / 1fr $sidebar-width;
  }

  @media print {
    display: block;
    min-height: auto;
  }

  // This class used only to highlight the grid in layout4.hbs:
  &.highlight-grid {
    @extend %u-highlight-grid-areas;
  }

  .c-header {
    grid-area: layout4a;
  }

  .c-breadcrumb {
    grid-area: layout4b;
  }

  main {
    grid-area: layout4c;
  }

  .c-footer {
    grid-area: layout4f;
  }

  .t-layout__sidebar1 {
    grid-area: layout4d;

    @media print {
      display: none;
    }

  }

  .t-layout__sidebar2 {
    @include u-sidebar-grid;
    grid-area: layout4e;
    grid-template:
      'sidebar-item1'
      'sidebar-item2'
      'sidebar-item3'
      'sidebar-item4'
      / 1fr;

    @include screen1 {
      grid-template:
        'sidebar-item1 sidebar-item2'
        'sidebar-item3 sidebar-item4'
        / 1fr 1fr;
    }

    @include screen2 {
      grid-template:
        'sidebar-item1'
        'sidebar-item2'
        'sidebar-item3'
        'sidebar-item4'
        / 1fr;
    }

    @media print {
      display: none;
    }

  }

}
