// ***** Layout 2 Column Component ***** //

$layout-sidebar-width: 25%;

.c-layout2col {
  display: grid;
  margin-bottom: $space2;
  grid-gap: $space3;
  
  @include screen2 {
    grid-template-columns: $layout-sidebar-width auto;
  }

}
