// ***** Layout 1 Template ***** //

.t-layout--1 {
  display: grid;
  min-height: 100vh;
  grid-row-gap: $space3;
  grid-template:
    'layout1a'
    'layout1b'
    'layout1c' 1fr
    'layout1d'
    'layout1e'
    / 1fr;

  @media print {
    display: block;
    min-height: auto;
  }

  // This class used only to highlight the grid in layout1.hbs:
  &.highlight-grid {
    @extend %u-highlight-grid-areas;
  }

  .c-header {
    grid-area: layout1a;
  }

  .c-breadcrumb {
    grid-area: layout1b;
  }

  main {
    grid-area: layout1c;
  }

  .c-updated {
    grid-area: layout1d;
  }

  .c-footer {
    grid-area: layout1e;
  }

}
