// ***** Layout 2 Template ***** //

.t-layout--2 {
  display: grid;
  min-height: 100vh;
  grid-row-gap: $space3;
  grid-template:
    'layout2a'
    'layout2b'
    'layout2c'
    'layout2d' 1fr
    'layout2e'
    'layout2f'
    / 1fr;
  
  @include screen2 {
    grid-gap: $space3;
    grid-template:
      'layout2a layout2a'
      '........ layout2b'
      'layout2c layout2d' 1fr
      '........ layout2e'
      'layout2f layout2f'
      / $sidebar-width 1fr;
  }

  // This class used only to highlight the grid in layout2.hbs:
  &.highlight-grid {
    @extend %u-highlight-grid-areas;
  }

  .c-header {
    grid-area: layout2a;
  }

  .c-breadcrumb {
    grid-area: layout2b;
  }

  main {
    grid-area: layout2d;
  }

  .c-updated {
    grid-area: layout2e;
  }

  .c-footer {
    grid-area: layout2f;
  }

  // Grid areas that may contain multiple components:

  .t-layout__sidebar1 {
    grid-area: layout2c;
  }

}
