// ***** Layout 1 Template ***** //

.t-layout--1 {
  display: grid;
  min-height: 100vh;
  grid-row-gap: $space3;
  grid-template:
    'layout1a'
    'layout1b'
    'layout1c' 1fr
    'layout1d'
    'layout1e'
    / auto;

  // This class used only in layout1.hbs:
  &.highlight-grid {

    > * {
      background-color: $color-light-blue;
    }

  }

  .t-layout__header {
    grid-area: layout1a;
  }

  .t-layout__breadcrumb {
    grid-area: layout1b;
  }

  .t-layout__main {
    grid-area: layout1c;
  }

  .t-layout__updated {
    grid-area: layout1d;
  }

  .t-layout__footer {
    grid-area: layout1e;
  }

}
