// ***** Layout 3 Template ***** //

// grid-template within media query 'screen2' is not getting cascaded over with 'screen3' in IE for some reason (perhaps autoprefixer), so added 'max-width' media feature to 'screen2' queries

.t-layout--3 {
  display: grid;
  min-height: 100vh;
  grid-gap: $space3;
  grid-template:
    'layout3a'
    'layout3b'
    'layout3c'
    'layout3d' 1fr
    'layout3e'
    'layout3f'
    'layout3g'
    / 1fr;

  @media (min-width: $screen2) and (max-width: $screen3) {
    grid-template:
    'layout3a layout3a'
    '........ layout3b'
    'layout3c layout3d' 1fr
    'layout3c layout3e'
    '........ layout3f'
    'layout3g layout3g'
    / $sidebar-width 1fr;
  }

  @include screen3 {
    grid-template:
    'layout3a layout3a layout3a'
    '........ layout3b ........'
    'layout3c layout3d layout3e' 1fr
    '........ layout3f ........'
    'layout3g layout3g layout3g'
    / $sidebar-width 1fr $sidebar-width;
  }

  // This class used only to highlight the grid in layout3.hbs:
  &.highlight-grid {
    @extend %u-highlight-grid-areas;
  }

  .c-header {
    grid-area: layout3a;
  }

  .c-breadcrumb {
    grid-area: layout3b;
  }

  main {
    grid-area: layout3d;
  }

  .c-updated {
    grid-area: layout3f;
  }

  .c-footer {
    grid-area: layout3g;
  }

  .t-layout__sidebar1 {
    grid-area: layout3c;
  }

  .t-layout__sidebar2 {
    @include u-sidebar-grid;
    grid-area: layout3e;
    grid-template:
      'sidebar-item1'
      'sidebar-item2'
      'sidebar-item3'
      'sidebar-item4'
      / 1fr;

    @include screen2 {
      grid-template:
        'sidebar-item1 sidebar-item2'
        'sidebar-item3 sidebar-item4'
        / 1fr 1fr;
    }

    @include screen3 {
      grid-template:
        'sidebar-item1'
        'sidebar-item2'
        'sidebar-item3'
        'sidebar-item4'
        / 1fr;
    }

  }

}
