// ***** Layout 2 Component ***** //

.c-layout--2 {
  display: grid;
  min-height: 100vh;
  grid-row-gap: $space3;
  grid-template:
    'layout2a'
    'layout2b'
    'layout2c'
    'layout2d' 1fr
    'layout2e'
    'layout2f'
    / auto;
  
  @include screen2 {
    grid-gap: $space3;
    grid-template:
      'layout2a layout2a'
      '........ layout2b'
      'layout2c layout2d' 1fr
      '........ layout2e'
      'layout2f layout2f'
      / $sidebar-width auto;
  }

  // This class used only in layout2.hbs:
  &.highlight-grid {

    > * {
      background-color: $color-light-blue;
    }

  }

  .c-layout__header {
    grid-area: layout2a;
  }

  .c-layout__breadcrumb {
    grid-area: layout2b;
  }

  .c-layout__sidebar1 {
    grid-area: layout2c;
  }

  .c-layout__main {
    grid-area: layout2d;
  }

  .c-layout__updated {
    grid-area: layout2e;
  }

  .c-layout__footer {
    grid-area: layout2f;
  }

}
