// ***** Layout 3 Template ***** //

// grid-template within media query 'screen2' is not getting cascaded over with 'screen3' in IE for some reason (perhaps autoprefixer), so added 'max-width' media feature to 'screen2' queries

.t-layout--3 {
  display: grid;
  min-height: 100vh;
  grid-gap: $space3;
  grid-template:
    'layout3a'
    'layout3b'
    'layout3c'
    'layout3d' 1fr
    'layout3e'
    'layout3f'
    'layout3g'
    / 1fr;

  @media (min-width: $screen2) and (max-width: $screen3) {
    grid-template:
    'layout3a layout3a'
    '........ layout3b'
    'layout3c layout3d' 1fr
    'layout3c layout3e'
    '........ layout3f'
    'layout3g layout3g'
    / $sidebar-width 1fr;
  }

  @include screen3 {
    grid-template:
    'layout3a layout3a layout3a'
    '........ layout3b ........'
    'layout3c layout3d layout3e' 1fr
    '........ layout3f ........'
    'layout3g layout3g layout3g'
    / $sidebar-width 1fr $sidebar-width;
  }

  // This class used only in layout3.hbs:
  &.highlight-grid {

    * {
      background-color: $color-light-blue;
    }

    .t-layout__sidebar2 {
      background-color: $color-white;
    }

  }

  .t-layout__header {
    grid-area: layout3a;
  }

  .t-layout__breadcrumb {
    grid-area: layout3b;
  }

  .t-layout__sidebar1 {
    grid-area: layout3c;
  }

  .t-layout__main {
    grid-area: layout3d;
  }

  .t-layout__sidebar2 {
    @extend %u-sidebar-item-top-bottom-margins;
    align-self: start;
    grid-area: layout3e;

    @include screen2 {
      display: flex;
      flex-wrap: wrap;

      > * {
        flex: 1 1 45%;

        &:nth-of-type(odd) {
          margin-right: $space1;
        }

        &:nth-of-type(even) {
          margin-left: $space1;
        }
        
      }

    }

    @include screen3 {
      display: block;

      > * {

        &:nth-of-type(odd) {
          margin-right: 0;
        }

        &:nth-of-type(even) {
          margin-left: 0;
        }
        
      }

    }

  }

  .t-layout__updated {
    grid-area: layout3f;
  }

  .t-layout__footer {
    grid-area: layout3g;
  }

}
