// ***** Layout 4 Template ***** //

.t-layout--4 {
  display: grid;
  min-height: 100vh;
  grid-row-gap: $space3;
  grid-template:
    'layout4a'
    'layout4b'
    'layout4c' 1fr
    'layout4d'
    'layout4e'
    'layout4f'
    / auto;
  
  @include screen2 {
    grid-gap: $space3;
    grid-template:
      'layout4a layout4a'
      'layout4b layout4b'
      'layout4c layout4d'
      'layout4c layout4e' 1fr
      'layout4f layout4f'
      / auto $sidebar-width;
  }

  // This class used only in layout4.hbs:
  &.highlight-grid {

    > * {
      background-color: $color-light-blue;
    }

  }

  .t-layout__header {
    grid-area: layout4a;
  }

  .t-layout__breadcrumb {
    grid-area: layout4b;
  }

  .t-layout__main {
    grid-area: layout4c;
  }

  .t-layout__sidebar1 {
    @extend %u-sidebar-item-top-bottom-margins;
    grid-area: layout4d;

  }

  .t-layout__sidebar2 {
    @extend %u-sidebar-item-top-bottom-margins;
    grid-area: layout4e;

  }

  .t-layout__footer {
    grid-area: layout4f;
  }

}
