// ***** Link Objects ***** //

%o-link__external {
  color: $color-blue;

  &[href^='http://'],
  &[href^='www.'] {
    padding-right: 1.3em;
    background: url('icons/external-link-alt.svg' param(--color #{$color-gold})) right center / 1em no-repeat;
  }

}

%o-link1 {
  @extend %o-link__external;

  &:focus,
  &:hover {
    text-decoration: none;
  }

}

.o-link1 {
  @extend %o-link1;
}

%o-link2 {
  @extend %o-link__external;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

}

.o-link2 {
  @extend %o-link2;
}
