// ***** Link Objects ***** //

%o-link__icon {
  margin-right: 0.5em;
  padding-right: 1.3em;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1em;
}

%o-link__type {
  margin-right: 0.5em;

  &::after {
    display: inline-block;
    margin-left: 0.5em;
  }

}

%o-link {

  // WP External Links plugin attr and value:
  &[data-wpel-link='external'] {
    @extend %o-link__icon;
    background-image: url('external-link-alt.svg' param(--color #{$color-gold}));
  }

  &[href^='mailto:'] {
    @extend %o-link__icon;
    background-image: url('envelope.svg' param(--color #{$color-gold}));
  }

  &[href^='https://sp.ucop.edu'] {
    @extend %o-link__icon;
    background-image: url('lock.svg' param(--color #{$color-red}));
    background-size: 0.8em;
  }

  &[href$='.pdf'] {
    @extend %o-link__type;

    &::after {
      @extend %o-docicon__pdf;
      content: 'pdf';
    }

  }

  &[href$='.doc'] {
    @extend %o-link__type;

    &::after {
      @extend %o-docicon__doc;
      content: 'doc';
    }

  }

  &[href$='.xls'] {
    @extend %o-link__type;

    &::after {
      @extend %o-docicon__xls;
      content: 'xls';
    }

  }

  &[href$='.txt'] {
    @extend %o-link__type;

    &::after {
      @extend %o-docicon__txt;
      content: 'txt';
    }

  }

  &[href$='.zip'] {
    @extend %o-link__type;

    &::after {
      @extend %o-docicon__zip;
      content: 'zip';
    }

  }

}

%o-link1 {
  @extend %o-link;
  color: $color-blue;

  &:focus,
  &:hover {
    text-decoration: none;
  }

}

a {
  @extend %o-link1;
}

%o-link2 {
  @extend %o-link;
  color: $color-blue;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

}

.o-link2 {
  @extend %o-link2;
}

%o-link3 {
  @extend %o-link;
  color: $color-light-black;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

}

.o-link3 {
  @extend %o-link3;
}

%o-link4 {
  @extend %o-link;
  color: $color-light-black;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color-blue;
  }

}

.o-link4 {
  @extend %o-link4;
}
