// ***** List Objects ***** //

$list-indentation: 30px;

%o-list {
  margin-top: $space2;
  margin-bottom: $space2;
  line-height: $line-height1;
}

// List items:

li {
  margin-top: $space2;
  margin-bottom: $space2;

  // nested lists:
  li {
    padding-left: $list-indentation;
  }

}

// Unordered lists:

ul {
  @extend %o-list;

  // Default (top/bottom margin with no bullets or indentation):
  padding-left: 0;
  list-style-type: none;

  // WP inline style 'list-style-type' equal to circle, disc, or square (read notes in list.config.js):
  &[style^='list-style-type:'] {
    padding-left: $list-indentation;

    li {
      padding-left: 0;
    }

  }

}

// Ordered lists:

ol {
  @extend %o-list;
  padding-left: $list-indentation;
}

// Description lists:

dl {
  @extend %o-list;
}

dt {
  margin-bottom: 0.2rem;
  color: rgb(var(--color-red));
  font-weight: 500;
}

dd {
  margin-bottom: $space2;
  margin-left: $list-indentation;
}
