// ***** Local Navigation Component ***** //

.c-localnav {
  padding: $space2 $space2 0;
  border: 1px solid $color-blue;

  ul {
    @extend %u-reset-list-styles;

    li {
      
      &:not(:last-child) {
        border-bottom: 1px solid $color-gray;
      }

      a {
        @extend %o-link2;
        @include u-interactive-element-min-size;
        display: flex;
        align-items: center;
      }

    }

    // second level list:
    ul {
      border-top: 1px solid $color-gray;

      li {
        padding-left: $space3;

        &:last-child {
          border-bottom: none;
        }

      }

    }

  }

}

.c-localnav__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: (-$space2) (-$space2) 0;
  padding: $space2;
  background-color: $color-blue;

  @include u-headings() {
    @extend %o-heading4;
    margin: 0;

    a {
      color: $color-white;
    }

  }

  button {
    flex-shrink: 0;
    margin-left: $space2;
  }

}
