// ***** Main Box Component ***** //

.c-mainbox {
  margin-top: var(--space3);
  margin-bottom: var(--space3);
  padding: var(--space2);
  border: 1px solid rgb(var(--color-gray));

  header {
    margin: calc(var(--space2) * -1) calc(var(--space2) * -1) var(--space3);
    padding: var(--space2);
    background-color: rgb(var(--color-light-blue));

    h2 {
      @extend %o-heading3;
      margin: 0;
      font-weight: 500;
    }

  }

  h3 {
    @extend %o-heading3;
    margin-top: var(--space3);
    color: rgb(var(--color-blue));

    &:not(:first-of-type) {
      padding-top: var(--space3);
      border-top: 1px solid rgb(var(--color-gray));
    }

  }

}
