// ***** Main Box Component ***** //

.c-mainbox {
  margin-bottom: $space2;
  padding: $space2 $space2 0;
  border: 1px solid $color-gray;

  header {
    margin: (-$space2) (-$space2) $space2;
    padding: $space2;
    background-color: $color-gray;

    @include u-headings() {
      margin: 0;
      color: $color-red;
    }

  }

  @include u-headings() {
    color: $color-blue;

    &:not(:first-of-type) {
      padding-top: $space2;
      border-top: 1px solid $color-gray;
    }

  }

}
