// ***** Main Box Component ***** //

.c-mainbox {
  margin-top: $space3;
  margin-bottom: $space3;
  padding: $space2;
  border: 1px solid $color-gray;

  header {
    margin: (-$space2) (-$space2) $space3;
    padding: $space2;
    background-color: $color-light-blue;

    h2 {
      @extend %o-heading3;
      margin: 0;
      font-weight: 500;
    }

  }

  h3 {
    @extend %o-heading3;
    margin-top: $space3;
    color: $color-blue;

    &:not(:first-of-type) {
      padding-top: $space3;
      border-top: 1px solid $color-gray;
    }

  }

}
