// ***** Meet Component ***** //

.c-meet {
  @include u-reset-figure;
  /* autoprefixer grid: off */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  grid-template-rows: 1fr auto;
  border: 1px solid $color-darker-gray;
  background-color: $color-darker-gray;
  direction: rtl;

  figcaption {
    @include u-break-words;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $space2;
    color: $color-white;
    line-height: $line-height1;
    text-align: left;

    a {
      margin-top: $space2;
      color: $color-light-gold;
    }

  }

}

.c-meet__avatar {
  position: relative;
  overflow: hidden;
  text-align: left;

  img {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    object-fit: cover;

    @supports (display: grid) {
      position: absolute;
      width: 100%;
    }

    @supports (object-fit: cover) {
      height: 100%;
    }

  }

}
