// ***** Meet Component ***** //

.c-meet {
  @include u-reset-figure;
  /* autoprefixer grid: off */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  grid-template-rows: 1fr auto;
  border: 1px solid rgb(var(--color-darker-gray));
  background-color: rgb(var(--color-darker-gray));
  direction: rtl;

  figcaption {
    @include u-break-words;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space2);
    color: white;
    line-height: var(--line-height1);
    text-align: start;

    a {
      margin-block-start: var(--space2);
      color: rgb(var(--color-light-gold));
    }

  }

}

.c-meet__avatar {
  position: relative;
  overflow: hidden;
  text-align: start;

  img {
    display: block;
    inset: 0;
    block-size: auto;
    object-fit: cover;

    @supports (display: grid) {
      position: absolute;
      inline-size: 100%;
    }

    @supports (object-fit: cover) {
      block-size: 100%;
    }

  }

}
