// ***** Mobile Navigation Component ***** //

.c-mobilenav {
  @include u-reset-list-styles;

  @media (--max-width2) {

    li {
      border-right: 1px solid rgb(var(--color-gray));
      border-bottom: 1px solid rgb(var(--color-gray));
      border-left: 1px solid rgb(var(--color-gray));

      &:first-child {
        border-top: 1px solid rgb(var(--color-gray));
      }

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--space2);
        padding: var(--space2);
        color: rgb(var(--color-light-black));
        text-decoration: none;

        &:focus,
        &:hover {
          text-decoration: underline;
        }

        &::after {
          content: '';
          flex: none;
          block-size: 1rem;
          inline-size: 1rem;
          background-color: rgb(var(--color-gray));
          mask: url('data-url:/fa-light/angle-right.svg') center / 0.7rem no-repeat;
        }
      }
    }
  }
}
