// ***** Mobile Navigation Component ***** //

.c-mobilenav {
  @extend %u-reset-list-styles;

  @media (max-width: $screen2) {

    li {
      border-right: 1px solid $color-gray;
      border-bottom: 1px solid $color-gray;
      border-left: 1px solid $color-gray;

      &:first-child {
        border-top: 1px solid $color-gray;
      }

      a {
        @include o-link3;
        @include u-interactive-element-min-size;
        display: flex;
        align-items: center;
        padding-right: $space2;
        padding-left: $space2;
        background: url('angle-right-light.svg' param(--color #{$color-gray})) no-repeat center right / 1.4em;
      }

    }

  }

}
