// ***** Newsreel Component ***** //

.c-newsreel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $space2;
  border: 1px solid $color-blue;

  @include screen1 {
    flex-direction: row;
    align-items: center;
  }

  > * {

    &:not(:last-child) {
      margin-bottom: $space2;

      @include screen1 {
        margin-right: $space3;
        margin-bottom: 0;
      }
      
    }

  }

  h2 {
    order: 1;
    margin: 0;
    color: $color-black;
    font-size: 1em;
    font-weight: 600;
  }

  ul {
    @include u-reset-list-styles;
    display: grid;
    flex: 1 1 auto;
    order: 2;

    li {
      z-index: 1;
      grid-column: 1;
      grid-row: 1;
      transition: opacity 1s;
      opacity: 0;

      &[aria-current] {
        z-index: 2;
        opacity: 1;
      }
    }
  }

  // 'view all' link:
  > a {
    order: 4;
    margin-left: auto;
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.c-newsreel__play,
.c-newsreel__pause {
  display: inline-flex;
  flex: 0 0 auto;
  order: 3;
  margin-left: auto;
  padding: 0;
  border-style: none;
  background-color: transparent;
  cursor: pointer;

  &::after {
    content: '';
    flex: none;
    block-size: 2rem;
    inline-size: 2rem;
    background-color: $color-black;
    mask-size: 0.8rem;
    mask-position: center;
    mask-repeat: no-repeat;
  }

  &:focus,
  &:hover {
    &::after {
      background-color: $color-gold;
    }
  }

  span {
    @include u-hide;
  }
}

.c-newsreel__play {

  &::after {
    mask-image: url('data-url:../icons/play.svg');
  }
}

.c-newsreel__pause {
  
  &::after {
    mask-image: url('data-url:../icons/pause.svg');
  }
}
