// ***** Orcid ID Object ***** //

.o-orcid {
  display: inline-block;
  margin-bottom: $space2;
  padding-left: 1.6em;
  background: url('orcid.svg') left center no-repeat;

  // reset WP external link background:
  &[data-wpel-link='external'] {
    background: url('orcid.svg') left center no-repeat;
  }

}
