// ***** Orcid ID Object ***** //

.o-orcid {
  @include u-disable-general-link-icon;
  position: relative;
  padding-left: 1.6em;

  // Orcid.svg - and only that icon - wouldn't position 'center left' in IE when using background properties, so resorted to pseudo element:

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1.1em;
    margin-right: 1em;
    background: url('orcid.svg') no-repeat center;
    content: '';
  }

}
