// ***** Orcid ID Object ***** //

.o-orcid {
  display: inline-flex;
  align-items: center;
  gap: $space2;

  &::before {
    content: '';
    flex: none;
    block-size: 1.2rem;
    inline-size: 1.2rem;
    background: url('../icons/orcid.svg') center / contain;
  }

  &::after {
    content: none !important;
  }
}
