// ***** Pagination Component ***** //

%c-pagination {

  ul {
    @include u-reset-list-styles;
    display: inline-flex;
    flex-wrap: wrap;
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    block-size: 2rem;
    padding: 0 var(--space2);
    color: var(--color-blue);
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }

  }

  [aria-current] {
    border: 1px solid oklch(55% 0 0);
  }

}

.c-pagination {
  @extend %c-pagination;
  display: flex;
  justify-content: center;
}

%c-pagination__controls {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em;

  span {
    @include u-hide;
  }

}
