// ***** Post Navigation Component ***** //

.c-postnav {

  ul {
    @extend %u-reset-list-styles;
    display: flex;
    flex-wrap: wrap;

    li {
      padding-right: 1em;
      padding-left: 1em;
      background-repeat: no-repeat;
      background-size: 0.6em;

      a {
        @extend %o-link2;
      }

    }

  }

}

.c-postnav__newer {
  margin-right: auto;
  background-image: url('angle-left-light.svg' param(--color #{$color-blue}));
  background-position: left center;
}

.c-postnav__older {
  margin-left: auto;
  background-image: url('angle-right-light.svg' param(--color #{$color-blue}));
  background-position: right center;
}
