// ***** Quick Link Component ***** //

// This component is based on style and structure from sidebarnav.

.c-quicklink1,
.c-quicklink2 {
  a {
    color: rgb(var(--color-light-black));
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }

    // disable external link icon:
    &::after {
      content: none;
    }
  }
}

.c-quicklink2 {

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--space2);
    gap: var(--space2);

    &::after {
      content: '';
      flex: none;
      block-size: 1.1rem;
      inline-size: 1.1rem;
      background-color: rgb(var(--color-gold));
      mask: url('data-url:/fa-solid/arrow-up-right-from-square.svg') center / contain;
    }
  }

  h2 {
    padding: var(--space2) 0;
  }
}
