// ***** Quick Link Component ***** //

// This component is based on style and structure from sidebarnav.

.c-quicklink1,
.c-quicklink2 {
  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.c-quicklink2 {

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $space2;
    gap: $space2;

    &::after {
      content: '';
      flex: none;
      block-size: 1.3rem;
      inline-size: 1.3rem;
      background-color: $color-gold;
      mask: url('data-url:../icons/external-link-alt.svg') center / contain;
    }
  }

  h2 {
    padding: $space2 0;
  }
}
