// ***** Search Records Component ***** //

.c-records {
  margin-bottom: var(--space3);
  color: rgb(var(--color-black));
  font-size: 1em;

  strong {
    color: rgb(var(--color-light-black));
  }
}
