// ***** Refine Search Component ***** //

.c-refine {
  margin-block-end: var(--space3);
  border: 1px solid rgb(var(--color-blue));

  header {
    padding: var(--space2);
    background-color: rgb(var(--color-blue));

    h2 {
      @extend %o-heading4;
      margin: 0;
      color: white;
    }
  }
}

// FacetWP Styles (facetWP plugin stylesheet is loaded in footer, so !important is required to override some styles below):

// WP class to reset all facetWP container <div>s:

.facetwp-facet {
  margin-block-end: 0 !important;
}

// WP classes for facetWP radio containers <div>

.facetwp-type-radio,
.facetwp-type-sort {
  padding: var(--space2);
}

// WP classes for facetWP link <div>

.facetwp-link {
  display: flex;
  justify-content: space-between;
  gap: var(--space2);
  padding: var(--space1) var(--space2);
  color: rgb(var(--color-blue));

  &:hover {
    text-decoration: underline;
  }

  &:not(:last-child) {
    border-block-end: 1px solid rgb(var(--color-gray));
  }

  .facetwp-counter {
    color: black;
  }
}
