// ***** Refine Search Component ***** //

.c-refine {

  a {
    display: flex;
    justify-content: space-between;
    padding-right: $space2 !important; // reset from o-sidebarnav
  }

}

.c-refine__item-text {
  margin-right: $space2;
}

.c-refine__item-number {
  display: inline-flex; // collapses leftover whitespace after hidden label
  color: $color-black;

  // 'Results' label:
  span {
    @include u-hide;
  }

}
