// ***** Search Result Component ***** //

.c-result {
  display: grid;
  margin-bottom: $space3;
  grid-template-columns: 2.7em 1fr;
  grid-gap: $space2;

  @include u-headings() {
    display: inline;
    margin: 0;
    grid-column: 2;
  }

  time {
    grid-column: 2;
  }

  > * {
    margin-bottom: $space2;
  }

  @supports (display: grid) {

    > * {
      margin-bottom: 0;
    }

  }

}

.c-result__doctype {
  align-self: start;
  margin-top: 0.3em;
  justify-self: end;
  grid-row: 1;
}

.c-result__group {
  grid-column: 2;
}

.c-result__quote {
  grid-column: 2;

  &::before,
  &::after {
    content: '\2026'; // horizontal ellipsis
  }

}
