// ***** Search Result Component ***** //

.c-searchresult {
  display: grid;
  grid-template:
    'result-doctype result-heading'
    'result-doctype result-excerpt'
    'result-doctype result-datetime'
    / 2.7em 1fr;
  margin-bottom: $space4;
  column-gap: $space2;

  a {
    color: $color-blue;

    // disable link icon:
    &::after {
      content: none;
    }
  }

  h2 {
    display: inline-block;
    grid-area: result-heading;
    margin: 0;

    a {
      color: $color-blue;

      &::after {
        font-size: 0.75rem;
      }
    }
  }

  mark {
    background-color: transparent;
    color: $color-light-black;
    font-weight: bold;
  }
}

.c-searchresult__doctype {
  grid-area: result-doctype;
  align-self: start;
  margin-top: 0.3em;
  justify-self: end;
}

.c-searchresult__excerpt {
  @include u-break-words;
  grid-area: result-excerpt;
}

.c-searchresult__datetime {
  grid-area: result-datetime;
}
