// ***** Search Result Component ***** //

.c-searchresult {
  display: grid;
  margin-bottom: $space4;
  grid-column-gap: $space2;
  grid-template:
    'result-doctype result-group'
    'result-doctype result-heading'
    'result-doctype result-quote'
    'result-doctype result-date'
    / 2.7em 1fr;

  > * {

    &:not(:last-child) {
      margin-bottom: $space2;
    }

  }

  @include u-headings() {
    display: inline;
    margin: 0;
    grid-area: result-heading;

    a {
      color: $color-blue;
    }

  }

  time {
    grid-area: result-date;
  }

}

.c-searchresult__doctype {
  align-self: start;
  margin-top: 0.3em;
  justify-self: end;
  grid-area: result-doctype;
}

.c-searchresult__group {
  grid-area: result-group;
}

.c-searchresult__quote {
  grid-area: result-quote;

  &::before,
  &::after {
    content: '\2026'; // horizontal ellipsis
  }

}
