// ***** Search Result Component ***** //

.c-searchresult {
  /* autoprefixer grid: off */
  display: grid;
  gap: $space2;
  grid-template:
    'result-doctype result-heading'
    'result-doctype result-excerpt'
    'result-doctype result-datetime'
    / 2.7em 1fr;
  margin-bottom: $space4;

  a {
    color: $color-blue;

    // disable link icon:
    &::after {
      content: none;
    }
  }

  h2 {
    display: inline-block;
    grid-area: result-heading;
    margin: 0;
  }

  mark {
    background-color: $color-light-tan;
    color: $color-black;
  }
}

.c-searchresult__doctype {
  grid-area: result-doctype;
  align-self: start;
  margin-top: 0.3em;
  justify-self: end;
}

.c-searchresult__excerpt {
  @extend %u-break-words;
  grid-area: result-excerpt;
}

.c-searchresult__datetime {
  grid-area: result-datetime;
}
