// ***** Secondary Navigation Component ***** //

.c-secondarynav {

  // second level list:
  ul ul {
    border-top: 1px solid $color-gray;

    li {
      padding-left: $space3;

      &:last-child {
        border-bottom: none;
      }

    }

  }

  header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    button {
      flex-shrink: 0;
      margin-left: $space2;
    }

  }

}
