// ***** Service Box Component ***** //

@use "sass:color";

.c-servicebox {

  @include screen1 {
    display: flex;
    flex-wrap: wrap;
  }

  section {
    padding: $space2;
    background-image: linear-gradient(color.adjust($color-light-blue, $lightness: 5%), $color-light-blue);

    @include screen1 {
      flex: 1 1 45%;

      &:nth-child(odd) {
        margin-right: $space2;
      }

    }

    @include screen2 {
      flex: 1 1 20%;

      &:not(:last-child) {
        margin-right: $space2;
      }

    }

    h3 {
      margin: 0;
      color: $color-black;
      font-weight: 600;
    }
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
