// ***** Service Box Component ***** //

.c-servicebox {

  @include screen1 {
    display: flex;
    flex-wrap: wrap;
  }

  section {
    padding: $space2;
    background-image: linear-gradient(lighten($color-light-blue, 5%), $color-light-blue);

    @include screen1 {
      flex: 1 1 45%;

      &:nth-child(odd) {
        margin-right: $space2;
      }

    }

    @include screen2 {
      flex: 1 1 20%;

      &:not(:last-child) {
        margin-right: $space2;
      }

    }

    h2 {
      margin: 0;
      color: $color-black;
      font-weight: bold;
    }

    a {
      @extend %o-link2;
    }

  }

}
