// ***** Sidebar Box Object ***** //

.o-sidebarbox {

  header {
    margin-bottom: $space2;

    h2 {
      @extend %o-heading3;
      margin: 0;
      padding-bottom: $space1;
      border-bottom: 1px solid $color-gray;
      font-weight: 500;
    }

  }

  ul {

    li {

      a {
        @extend %o-link2;
        // position link icons to right of sidebarbox container:
        display: block;
      }

    }

  }

}
