// ***** Sidebar Navigation Object ***** //

.o-sidebarnav {
  border: 1px solid $color-blue;

  ul {
    @include u-reset-list-styles;

    li {

      &:not(:last-child) {
        border-bottom: 1px solid $color-gray;
      }

      a {
        display: flex;
        align-items: center;
        padding: 0.35rem $space2;
      }
    }
  }

  header {
    padding: $space2;
    background-color: $color-blue;

    h2 {
      @extend %o-heading4;
      margin: 0;
      color: $color-white;
    }
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
