// ***** Sidebar Navigation Component ***** //

.c-sidebarnav {
  border: 1px solid rgb(var(--color-blue));

  ul {
    @include u-reset-list-styles;

    li {

      &:not(:last-child) {
        border-block-end: 1px solid rgb(var(--color-gray));
      }

      a {
        display: flex;
        align-items: center;
        padding: 0.35rem var(--space2);
      }
    }
  }

  header {
    padding: var(--space2);
    background-color: rgb(var(--color-blue));

    h2 {
      @extend %o-heading4;
      margin: 0;
      color: white;
    }
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
