// ***** Sidebar Post Component ***** //

.c-sidebarpost {
  display: inline-flex;
  flex-direction: column;

  select {
    margin-block-end: var(--space2);
  }

  [aria-disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
