// ***** Sidebar Navigation Object ***** //

.o-sidebarnav {
  border: 1px solid $color-blue;

  ul {
    @extend %u-reset-list-styles;

    li {

      &:not(:last-child) {
        border-bottom: 1px solid $color-gray;
      }

      a {
        @include u-interactive-element-min-size;
        display: flex;
        align-items: center;
        padding: $space1 $space2;

        // initially defined in o-link styles:
        &[href] {
          padding-right: calc(#{$link-icon-padding} + #{$space2});
          background-position: right $space2 center;
        }
      }

    }

  }

  header {
    padding: $space2;
    background-color: $color-blue;

    h2 {
      @extend %o-heading4;
      margin: 0;
      color: $color-white;
    }
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
