// ***** Sidebar Box Object ***** //

.o-sidebarbox {
  margin-bottom: $space2;

  header {
    margin-bottom: $space2;

    @include u-headings() {
      @extend %o-heading4;
      margin: 0;
      padding-bottom: $space1;
      border-bottom: 1px solid $color-gray;
    }

  }

  ul {
    @extend %u-reset-list-styles;

    li {
      margin: $space2 0;

      a {
        @extend %o-link2;
        @include u-interactive-element-min-size;
        display: flex;
        align-items: center;
      }

    }

  }

}
