// ***** Skip Navigation Component ***** //

.c-skipnav {
  @include u-hide;
  z-index: 5;
  transition: opacity 0.5s;
  opacity: 0;

  &:focus {
    top: $space1;
    left: $space1;
    opacity: 1;
  }

}
