// ***** Slideshow Component ***** //

@mixin slideshow-caption-bg {
  background-color: rgb(var(--color-medium-blue) / 90%);
}

$slideshow-caption-width: 20rem;

.c-slideshow {
  display: grid;
  position: relative;
  grid-template-rows: 1fr auto;

  @include screen1 {
    grid-template-columns: $slideshow-caption-width auto;
  }

  // show single random fixed image if display: grid and display: contents css not supported:
  &.basic {
    .c-slideshow__slide {
      display: none;

      &.fixed {
        display: block;
      }

      figcaption {
        display: none;
      }
    }
  }
}

.c-slideshow__controls {
  @include slideshow-caption-bg;
  display: flex;
  z-index: 1;
  grid-column: 1;
  grid-row: 2;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid rgb(var(--color-white));

  @include screen1 {
    margin: 0 $space2 $space2 $space2;
  }

  button {
    width: 2em;
    height: 2em;
    padding: 0;
    border-style: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.8em;
    color: rgb(var(--color-light-gold));
    cursor: pointer;

    span {
      @include u-hide;
    }
  }
}

.c-slideshow__play,
.c-slideshow__pause {
  display: inline-flex;

  &::after {
    content: '';
    flex: none;
    block-size: 100%; // size relative to button size defined in '.c-slideshow__controls button' selector above
    inline-size: 100%; // " "
    background-color: rgb(var(--color-light-gold));
    mask-size: 0.8rem;
    mask-position: center;
    mask-repeat: no-repeat;
  }
}

.c-slideshow__play {

  &::after {
    mask-image: url('data-url:../icons/play.svg');
  }
}

.c-slideshow__pause {

  &::after {
    mask-image: url('data-url:../icons/pause.svg');
  }
}

.c-slideshow__goto {

  &[aria-current] {
    background-color: rgb(var(--color-white));
    color: rgb(var(--color-medium-blue));
  }
}

.c-slideshow__slide {
  @include u-reset-figure;

  // remove <figure> element so that <figcaption> and .c-slideshow__slide-image become grid items of .c-slideshow grid:
  display: contents;
}

.c-slideshow__slide figcaption {
  @include slideshow-caption-bg;
  display: flex; // allows 'read more' link to align to bottom
  z-index: -1;
  grid-column: 1;
  grid-row: 1;
  flex-direction: column;
  padding: $space2;
  color: rgb(var(--color-white));

  @include screen1 {
    margin: $space2 $space2 0 $space2;
  }

  // fade opacity of contents when .active class added:
  > * {
    transition: opacity 1s;
    opacity: 0;
  }

  a {

    // disable link icon:
    &::after {
      content: none;
    }
  }

  // caption heading:
  h2 {
    margin-top: 0;
    margin-bottom: $space2;
    color: inherit;
    font-size: 2rem;
    font-weight: 400;

    a {
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // caption copy:
  p {
    font-size: 1.3rem;

    // if there's a link in the copy:
    a {
      color: rgb(var(--color-light-gold));
      text-decoration: underline;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }

  // caption:
  small {
    display: none;

    @include screen1 {
      display: block;
      position: absolute; // to .c-slideshow
      right: 0;
      bottom: 0;
      max-width: 50%;
      margin-left: $slideshow-caption-width;
      padding: $space2;
      background-color: rgb(var(--color-black) / 60%);
      font-size: 1em;
      text-align: right;
    }
  }

  // if figcaption active, then position it on top of topmost .c-slideshow__slide-image with full opacity:
  &.active {
    z-index: 1;

    > * {
      opacity: 1;
    }
  }

  // if figcaption active, then position .c-slideshow__slide-image as topmost image with full opacity:
  &.active + .c-slideshow__slide-image {
    z-index: 0;
    opacity: 1;
  }
}

.c-slideshow__slide-image {

  // no image at mobile sizes:
  img {
    display: none;
  }

  @include screen1 {
    z-index: -1;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    transition: opacity 1s;
    opacity: 0;

    // position absolutely so that img height doesn't force layout height (layout height set by the <figcaption> with the most text):
    img {
      display: block;
      position: absolute; // to .c-slideshow__slide-image
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
