// ***** Social Link Component ***** //

.c-social {
  @extend %o-link2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space2;
  padding: $space2;
  border: 1px solid $color-blue;

  &::after {
    content: '';
    flex: none;
    block-size: 1.6rem !important;
    inline-size: 1.6rem !important;
    background-color: #1da1f2 !important;
    mask: url('../icons/twitter.svg') center / contain !important;
  }
}
