// ***** Social Link Component ***** //

.c-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space2);
  padding: var(--space2);
  border: 1px solid rgb(var(--color-blue));
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &::after {
    content: '';
    flex: none;
    block-size: 1.6rem;
    inline-size: 1.6rem;
    background-color: #1da1f2;
    mask: url('data-url:../icons/twitter.svg') center / contain;
  }
}
