// ***** System Status Component ***** //

$status-color-green: #080;
$status-color-orange: #ffa500;
$status-color-red: #f00;

%c-status__indicator-opacity {
  opacity: 1;
}

.c-status {

  thead tr {

    th {

      &:first-child {
        width: 30%;
      }

      &:last-child {
        width: 70%;
      }

    }

  }

}

.c-status__indicator {
  display: flex;
  align-items: center;

  &::before {
    width: 1em;
    height: 1em;
    margin-right: $space2;
    transition: opacity 1s;
    border-radius: 50%;
    content: '';
    opacity: 0;
  }

  &.up {

    &::before {
      @extend %c-status__indicator-opacity;
      background-color: $status-color-green;
    }

  }

  &.partial {

    &::before {
      @extend %c-status__indicator-opacity;
      background-color: $status-color-orange;
    }

  }

  &.down {

    &::before {
      @extend %c-status__indicator-opacity;
      background-color: $status-color-red;
    }

  }

}
