// ***** Table Object ***** //

table {
  width: 100%;
  margin-top: $space3;
  margin-bottom: $space3;
  border-collapse: collapse;
  table-layout: fixed;

  th,
  td {
    padding: $space2;
    border: 1px solid $color-gray;
    overflow: hidden;
    vertical-align: top;
  }

  th {
    text-align: left;
  }

  thead {

    th {
      background-color: $color-light-blue;
      color: $color-red;
    }

  }

  tbody {

    th {

      &:first-child {
        background-color: $color-light-gray;
        font-weight: 600;
      }

    }

  }

  // WP TablePress plugin:
  &.tablepress {

    th,
    td {
      padding: $space2 !important;
      border: 1px solid $color-gray !important;
      text-align: middle !important;
    }

    th[class*='sorting'] {
      padding: $space2 $space3 $space2 $space2 !important;
    }

    thead {

      th {
        background-color: $color-light-blue !important;

        &:focus {
          outline: solid 1px $color-blue;
        }

        &:focus,
        &:hover {
          background-color: $color-light-blue !important;
        }

      }

    }

  }

}
