// ***** Last Updated Component ***** //

.c-updated {

  address {
    font-style: normal;

    a {
      @include u-disable-general-link-icon;
    }

  }

}

.c-updated__label {
  float: left;
  clear: left;

  &::after {
    content: '\00a0'; // non-breaking space
  }

}
