// ***** Last Updated Component ***** //

.c-updated {
  /* autoprefixer grid: off */
  display: grid;
  grid-column-gap: 0.5em;
  grid-template-columns: auto 1fr;
}

.c-updated__label {
  width: 9em; // approximate length of longest label
  float: left;
  clear: left;

  @supports (display: grid) {
    width: auto;
  }

}

.c-updated__data {
  font-style: normal;

  a {
    @include u-disable-general-link-icon;
  }

}
