// ***** Utilities ***** //

@mixin u-sidebar-grid {
  display: grid;
  grid-gap: var(--space3);
  align-self: start;

  > * {

    @for $i from 1 through 4 {

      &:nth-child(#{$i}) {
        grid-area: sidebar-item#{$i};
      }

    }

  }

}

// Clear floats:

@mixin u-clearfix {
  overflow: hidden;

  @supports (display: flow-root) {
    display: flow-root;
    overflow: visible;
  }

}
