// ***** Utilities ***** //

@mixin u-sidebar-grid {
  display: grid;
  grid-gap: var(--space3);
  align-self: start;

  > * {

    @for $i from 1 through 4 {

      &:nth-child(#{$i}) {
        grid-area: sidebar-item#{$i};
      }

    }

  }

}

// Reset <figure> and <figcaption> styles defined in _figure.scss:

@mixin u-reset-figure {
  inline-size: auto;
  margin: 0;

  figcaption {
    padding: 0;
    font-style: normal;
    line-height: var(--line-height0);
  }

}

// Clear floats:

@mixin u-clearfix {
  overflow: hidden;

  @supports (display: flow-root) {
    display: flow-root;
    overflow: visible;
  }

}
