// ***** Utility Navigation ***** //

.c-utilitynav {

  ul {

    @include screen2 {
      display: flex;
      justify-content: flex-end;
    }

    li {

      @include screen2 {
        margin: 0 $space2; 
      }

    }

  }

}
