// ***** Utility Navigation ***** //

.c-utilitynav {

  ul {
    @include u-reset-list-styles;

    @media (--min-width2) {
      display: flex;
      justify-content: flex-end;
    }

    li {

      @media (--min-width2) {
        margin: 0 var(--space2); 
      }

    }

  }

  a {

    @media (--min-width2) {
      color: oklch(36% 0 0);
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
