// ***** Utility Navigation ***** //

.c-utilitynav {

  ul {
    @extend %u-reset-list-styles;

    @include screen2 {
      display: flex;
      justify-content: flex-end;
    }

    li {

      @include screen2 {
        margin: 0 $space2; 
      }

    }

  }

  a {

    @include screen2 {
      color: var(--color-light-black);
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
