// ***** Variables ***** //

// Colors

$color-red: rgb(151, 54, 32); // #973620
$color-light-blue: rgb(229, 238, 244); // #e5eef4
$color-medium-blue: rgb(46, 91, 132); // #2e5b84
$color-blue: rgb(0, 86, 149); // #005695
$color-light-gold: rgb(255, 197, 71); // #ffc547
$color-gold: rgb(255, 181, 17); // #ffb511
$color-orange: rgb(255, 143, 40); // #ff8f28
$color-dark-orange: rgb(189, 91, 0); // #bd5b00;
$color-light-gray: rgb(239, 239, 240); // #efeff0
$color-gray: rgb(217, 217, 217); // #d9d9d9
$color-dark-gray: rgb(114, 114, 116); // #727274
$color-darker-gray: rgb(88, 88, 90); // 58585a;
$color-light-black: rgb(61, 58, 59); // #3d3a3b
$color-white: rgb(255, 255, 255); // #fff
$color-black: rgb(0, 0, 0); // #000

// Spacing

$space1: 5px;
$space2: ($space1 * 2);
$space3: ($space2 * 2);
$space4: ($space2 + $space3);

// General

$box-shadow: 3px 3px 3px $color-gray;
$details-summary-left-space: 1.5rem;
$filetypes: doc, docx, html, pdf, ppt, pptx, rtf, txt, xls, xlsx, zip;
$line-height0: 1.1;
$line-height1: 1.3;
$link-icon-padding: 1.3rem;
$pointer-size-coarse: 2.8rem;
$pointer-size-fine: 1.8rem;
$round-corner: 3px;
$sidebar-width: 20%;
