// ***** Well Components ***** //

%c-well {

  p {
    margin: 0;
  }

  @media print {
    break-inside: avoid;
  }

}

%c-well__block {
  @extend %c-well;
  padding: var(--space3) 2.5em;

  h2,
  h3 {
    margin-top: 0;
  }

  blockquote {
    margin: 0;
    padding: 0;
  }

}

// Block Well:

.c-well1 {
  @extend %c-well__block;
  @include u-clearfix;
  background-color: rgb(var(--color-light-blue));

  @media print {
    border: 1px solid rgb(var(--color-light-blue));
  }

  h2,
  h3 {
    color: rgb(var(--color-blue));
  }

  // When embedded element (like image) is aligned left via WP editor:
  .alignleft {

    ~ * {
      @include u-clearfix;
      min-width: 10rem;
      clear: none; // override elements styled with 'clear: both' in WP style.css
    }

  }

}

// Link Well:

.c-well2 {
  @extend %c-well;
  display: inline-block;
  margin-top: var(--space2);
  padding: var(--space2) var(--space3);
  background-color: rgb(var(--color-blue));
  text-align: center;

  @media print {
    border: 1px solid rgb(var(--color-blue));
  }

  a {
    display: block;
    color: rgb(var(--color-light-blue));
    line-height: $line-height0;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  > a {
    font-size: 1.2em;

    + a {
      margin-top: var(--space2);
      font-size: 1.1em;
    }

  }

  > p {
    font-size: 1.2em;

    + p {
      margin-top: var(--space2);
      font-size: 1.1em;
    }

  }

}

.c-well3 {
  @extend %c-well__block;
  background-color: rgb(var(--color-light-gray));

  @media print {
    border: 1px solid rgb(var(--color-light-gray));
  }

  h2,
  h3 {
    color: rgb(var(--color-red));
  }

}
