// ***** Well Components ***** //

%c-well {

  p {
    margin: 0;
  }

}

%c-well__block {
  @extend %c-well;
  padding: $space3 2.5em;

  @include u-headings() {
    margin-top: 0;
  }

  blockquote {
    margin: 0;
    padding: 0;
  }

}

// Block Well:

.c-well1 {
  @extend %c-well__block;
  background-color: $color-light-blue;

  @include u-headings() {
    color: $color-blue;
  }

}

// Link Well:

.c-well2 {
  @extend %c-well;
  display: inline-block;
  padding: $space2 $space3;
  background-color: $color-blue;
  text-align: center;

  a {
    @extend %o-link2;
    display: block;
    color: $color-light-blue;
    line-height: normal;
  }

  > a {
    font-size: 1.2em;

    + a {
      margin-top: $space2;
      font-size: 1.1em;
    }

  }

  > p {
    font-size: 1.2em;

    + p {
      margin-top: $space2;
      font-size: 1.1em;
    }

  }

}

.c-well3 {
  @extend %c-well__block;
  background-color: $color-light-gray;

  @include u-headings() {
    color: $color-red;
  }

}
