// ***** Year List Component ***** //

$yearlist-border-size: 1px;

.c-yearlist {
  @include u-reset-list-styles;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $space2;
  padding-top: $yearlist-border-size;

  li {
    margin-top: -($yearlist-border-size);
    margin-left: -($yearlist-border-size);
    border: $yearlist-border-size solid rgb(var(--color-blue));
  }

  a {
    display: block;
    padding: $space2;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
