// ***** Year List Component ***** //

.c-yearlist {
  --yearlist-border-size: 1px;

  @include u-reset-list-styles;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--space2);
  padding-top: var(--yearlist-border-size);

  li {
    margin-top: calc(var(--yearlist-border-size) * -1);
    margin-left: calc(var(--yearlist-border-size) * -1);
    border: var(--yearlist-border-size) solid rgb(var(--color-blue));
  }

  a {
    display: block;
    padding: var(--space2);
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
