// ***** Year List Component ***** //

.c-yearlist {
  --yearlist-border-size: 1px;

  @include u-reset-list-styles;
  display: flex;
  flex-wrap: wrap;
  margin-block-end: var(--space2);
  padding-block-start: var(--yearlist-border-size);

  li {
    margin-block-start: calc(var(--yearlist-border-size) * -1);
    margin-inline-start: calc(var(--yearlist-border-size) * -1);
    border: var(--yearlist-border-size) solid var(--color-blue);
  }

  a {
    display: block;
    padding: var(--space2);
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
