// ***** Print Styles ***** //

@import 'breakpoints';
@import 'variables';
@import 'utilities';

body {
  padding: 0;
}

aside,
nav,
.c-contact,
.c-header {
  display: none !important;
}

// Undo grids to render full page layouts:
[class^='t-layout'] {
  display: block;
}

// Remove 'Contact' table column:
.c-staff {

  th,
  td {

    &:last-child {
      display: none;
    }

  }

}

// Remove icons from links:
a {
  @include u-disable-general-link-icon;
  @include u-disable-filetype-link-icon;
}

// Remove footer logo and CDL text after:
.c-footer {
  margin: 0;
  padding-top: $space2;

  img {
    display: none;
  }

  small {

    &:last-child {
      display: none;
    }

  }

}
