{{#extend "tool"}}{{#content "body"}}

<div class="tool-index">
  <header>
    <h1>CDLIB UI Toolkit</h1>
    <a href="https://github.com/cdlib/cdlib-ui" target="_blank">GitHub Repository</a>
  </header>
  <aside>
    <fieldset>
      <legend>View Mode</legend>
      <input id="view-preview" type="radio" name="view" value="preview">
      <label for="view-preview">Preview</label>
      <input id="view-fullpage" type="radio" name="view" value="fullpage">
      <label for="view-fullpage">Full Page</label>
    </fieldset>
    <nav>
      <h2>Templates</h2>
      <ul>
        <li>Template</li>
      </ul>
      <h2>Pages</h2>
      <ul>
        <li><a href="src/pages/blogindex-view.hbs">Blog Index</a></li>
        <li><a href="src/pages/blogpost-view.hbs">Blog Post</a></li>
        <li><a href="src/pages/homepage-view.hbs">Home</a></li>
        <li><a href="src/pages/program-view.hbs">Program</a></li>
      </ul>
      <h2>Components</h2>
      <ul>
        <li><a href="src/components/avatar-view.hbs">Avatar</a></li>
        <li><a href="src/components/blogmetadata-view.hbs">Blog Metadata</a></li>
        <li><a href="src/components/blogresult-view.hbs">Blog Result</a></li>
        <li><a href="src/components/breadcrumb-view.hbs">Breadcrumb</a></li>
        <li><a href="src/components/categories-view.hbs">Categories</a></li>
        <li><a href="src/components/checkbox-view.hbs">Checkboxes</a></li>
        <li><a href="src/components/contact-view.hbs">Contact</a></li>
        <li><a href="src/components/footer-view.hbs">Footer</a></li>
        <li><a href="src/components/halfboxes-view.hbs">Half Boxes</a></li>
        <li><a href="src/components/header-view.hbs">Header</a></li>
        <li><a href="src/components/headernav-view.hbs">Header Nav</a></li>
        <li><a href="src/components/homeheading-view.hbs">Home Heading</a></li>
        <li><a href="src/components/mainbox-view.hbs">Main Box</a></li>
        <li><a href="src/components/mainheading-view.hbs">Main Heading</a></li>
        <li><a href="src/components/meet-view.hbs">Meet</a></li>
        <li><a href="src/components/menu-view.hbs">Menu</a></li>
        <li><a href="src/components/mobilenav-view.hbs">Mobile Nav</a></li>
        <li><a href="src/components/news-view.hbs">News</a></li>
        <li><a href="src/components/newsreel-view.hbs">Newsreel</a></li>
        <li><a href="src/components/numbers-view.hbs">Numbers</a></li>
        <li><a href="src/components/orcid-view.hbs">Orcid</a></li>
        <li><a href="src/components/pagination-view.hbs">Pagination</a></li>
        <li><a href="src/components/postnav-view.hbs">Post Nav</a></li>
        <li><a href="src/components/posttype-view.hbs">Post Types</a></li>
        <li><a href="src/components/quicklink-view.hbs">Quick Link</a></li>
        <li><a href="src/components/records-view.hbs">Records</a></li>
        <li><a href="src/components/refine-view.hbs">Refine Search</a></li>
        <li><a href="src/components/rssfeed-view.hbs">RSS Feed</a></li>
        <li><a href="src/components/search-view.hbs">Search</a></li>
        <li><a href="src/components/searchresult-view.hbs">Search Results</a></li>
        <li><a href="src/components/secondarynav-view.hbs">Secondary Nav</a></li>
        <li><a href="src/components/servicebox-view.hbs">Service Boxes</a></li>
        <li><a href="src/components/serviceheading-view.hbs">Service Heading</a></li>
        <li><a href="src/components/sidebarbox-view.hbs">Sidebar Box</a></li>
        <li><a href="src/components/sidebarnav-view.hbs">Sidebar Nav</a></li>
        <li><a href="src/components/sidebarpost-view.hbs">Sidebar Post</a></li>
        <li><a href="src/components/skipnav-view.hbs">Skip Nav</a></li>
        <li><a href="src/components/slideshow-view.hbs">Slideshow</a></li>
        <li><a href="src/components/social-view.hbs">Social Link</a></li>
        <li><a href="src/components/staff-view.hbs">Staff Table</a></li>
        <li><a href="src/components/status-view.hbs">System Status</a></li>
        <li><a href="src/components/textcolor-view.hbs">Text Color for SCP</a></li>
        <li><a href="src/components/timeline-view.hbs">Timeline</a></li>
        <li><a href="src/components/updated-view.hbs">Updated</a></li>
        <li><a href="src/components/utilitynav-view.hbs">Utility Nav</a></li>
        <li><a href="src/components/well-view.hbs">Wells</a></li>
        <li><a href="src/components/yearlist-view.hbs">Year Anchor List</a></li>
      </ul>
      <h2>Objects</h2>
      <ul>
        <li><a href="src/objects/blockquote-view.hbs">Blockquotes</a></li>
        <li><a href="src/objects/button-view.hbs">Buttons</a></li>
        <li><a href="src/objects/details-view.hbs">Details</a></li>
        <li><a href="src/objects/figure-view.hbs">Figures &amp; Captions</a></li>
        <li><a href="src/objects/heading-view.hbs">Headings</a></li>
        <li><a href="src/objects/input-view.hbs">Inputs</a></li>
        <li><a href="src/objects/label-view.hbs">Labels</a></li>
        <li><a href="src/objects/link-view.hbs">Links</a></li>
        <li><a href="src/objects/list-view.hbs">Lists</a></li>
        <li><a href="src/objects/paragraph-view.hbs">Paragraphs</a></li>
        <li><a href="src/objects/rule-view.hbs">Rules</a></li>
        <li><a href="src/objects/select-view.hbs">Selects</a></li>
        <li><a href="src/objects/table-view.hbs">Tables</a></li>
      </ul>
    </nav>
  </aside>
  <main>
    <iframe class="tool-preview" src="tool/preview.hbs" name="preview" frameborder="0"></iframe>
  </main>
</div>

{{/content}}{{/extend}}
