

<div class="t-layout--4">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Handcrafted Concrete Salad ">
    <option value="Gorgeous Soft Chips ">
    <option value="Tasty Wooden Towels ">
    <option value="Incredible Steel Tuna ">
    <option value="Sleek Cotton Shirt ">
    <option value="Sleek Metal Chips ">
    <option value="Sleek Cotton Sausages ">
    <option value="Gorgeous Frozen Car ">
    <option value="Licensed Cotton Fish ">
    <option value="Handmade Frozen Tuna ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Small Cotton Ball</a>

</li>
    <li>
<a href="" >Intelligent Wooden Computer</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <main id="maincontent">
    <h1 >
        Post Title 
    </h1>
    <div class="c-blogmetadata">
  <time>September 2, 2005</time>
  <span>Author: 
<a href="" >Ida Skiles III</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

    <p>Sit veniam inventore mollitia et porro dignissimos corporis. Sunt expedita enim quia voluptates ut. Nisi sint expedita rerum.
 Facere et ut voluptatem. Aut voluptatem eveniet placeat hic quis quia quae. Et rerum alias perferendis consequatur esse molestiae qui est.
 Amet veniam voluptatem id. Voluptate ut adipisci rerum non est tempore corporis. Maiores quia tempora perspiciatis.</p>
    <p>Voluptates rerum consequatur debitis recusandae adipisci commodi corrupti modi fugiat. Et in et enim et. Minus ipsum quam ex et possimus accusantium nihil eveniet. Id ducimus sit.
 Non non optio voluptate qui nihil minus et sit. Mollitia rerum perspiciatis. Eius ducimus sapiente aspernatur. Voluptatum ut eos dolorem voluptatem pariatur alias. Est consequatur inventore. Sit neque doloribus velit.
 Ex expedita libero error tempore dolorum ut saepe. Sunt esse accusamus quas ea necessitatibus. Eligendi itaque voluptate aliquid ab repudiandae.</p>
    <p>Sint laudantium sit eius quaerat earum facilis ab ea dignissimos. Et praesentium qui velit. Quasi ipsam placeat quae odit voluptatum architecto.
 Omnis nihil ut et et debitis. Consequuntur fugiat et velit eius porro voluptatibus aliquam. Rerum illo eos ab qui.
 Beatae natus qui voluptas. Et ad est dolores ut. Ut inventore rem et. Temporibus delectus molestiae quo eos placeat error quia neque veniam. Molestiae est atque placeat ducimus placeat.</p>
    <p>Omnis ex in ratione vel amet laboriosam nihil laudantium voluptas. Dolores eligendi a totam natus dignissimos et soluta consequatur. Hic aperiam porro quia alias assumenda cum. Sunt totam molestiae excepturi aspernatur vel eum corporis quibusdam. Repellat totam et qui autem officiis est eveniet vel.
 Ex et rerum voluptatem eum. Ut architecto tempora fugit provident sit soluta officia eum. Cum et impedit fugit dolor tenetur.
 Dolorem quo est non qui. Fugit deleniti amet voluptas impedit voluptate non nostrum. Distinctio quam et est voluptatem repellat quae molestias dolores. Voluptatem dolorem quia autem eius recusandae incidunt. Quia occaecati necessitatibus.</p>
    <p>Excepturi iste id dolorem et quos. Odit vero consequatur temporibus. Et laudantium possimus numquam deleniti nam et ad.
 Aspernatur alias aut at minima omnis et maxime provident. Soluta omnis eos sed facere iure explicabo. Laboriosam perspiciatis quas qui dignissimos rem omnis suscipit placeat. Iure consequatur aliquam recusandae adipisci fuga voluptatibus velit exercitationem nobis. Est fugiat est. Et soluta numquam animi.
 Non reprehenderit explicabo. Sapiente enim ipsa et voluptate. Impedit corporis voluptatem voluptate possimus nam. Ipsa ut molestias illum qui. Hic voluptatem vitae ut voluptates pariatur et et quidem omnis.</p>
    <p>Omnis magnam ea voluptatem quaerat enim exercitationem impedit. Similique inventore est omnis fugit sed earum maiores maiores. Nisi quasi deleniti quae architecto sed quo corporis omnis aut. Ut eius sequi hic est impedit in facere deserunt est.
 Aspernatur et quia ab. Harum officiis nisi sunt illo tenetur quia consectetur consequatur repellat. Doloribus et eum. Totam provident est quo saepe at rerum cum tenetur. Dolore omnis nihil nam pariatur odio. Neque maxime qui similique excepturi assumenda aspernatur nam velit.
 Ad et praesentium molestiae qui perspiciatis minima aspernatur. Quo vero ipsa. Eaque aut accusamus eveniet itaque. Ut sed rerum commodi culpa voluptatem.</p>
    <p>Est quibusdam quae aliquam. Dolores ab ut voluptas fugit odio aliquam praesentium aut. Aperiam aut voluptatem omnis minima reprehenderit consequatur ab quo tempora. Molestias enim aspernatur deleniti est rerum repellat ullam totam est. Est ut consectetur quasi blanditiis sed. Veritatis temporibus eum rem omnis assumenda non aut.
 Non sit dolorem delectus temporibus consequuntur provident sed. Sit quaerat dolorem earum occaecati sequi. Autem culpa in nulla aut. Officia rem est soluta dolore odio enim voluptates minima. Distinctio tempora hic dolores nisi cupiditate.
 Quisquam voluptatem aut libero qui iure. Harum sapiente aut officiis. Et aut ut et aliquam aliquam vel minima aliquam illum. Perferendis sed itaque incidunt perspiciatis.</p>
    <p>Dolores est culpa voluptate. Officiis quaerat aperiam consectetur amet ut ad quam est placeat. Odio neque distinctio.
 Ea eaque mollitia id provident. Amet illo corporis. Ut cumque ut tenetur ut. Recusandae qui maxime magni sed est aspernatur sint recusandae blanditiis.
 Reiciendis iure corrupti sunt et velit suscipit. Odio et qui est dolor facere eum. In natus earum cumque reprehenderit mollitia quod eius.</p>
  </main>
  <aside aria-label="first" class="t-layout__sidebar1">
    <section class="o-sidebarbox">
      <header><h2>Categories</h2></header>
      <ul class="c-categories">
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Plastic Soap">
<a href="" >Licensed Plastic Soap</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Rubber Salad">
<a href="" >Licensed Rubber Salad</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Refined Frozen Sausages">
<a href="" >Refined Frozen Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Awesome Metal Hat">
<a href="" >Awesome Metal Hat</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Generic Wooden Soap">
<a href="" >Generic Wooden Soap</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
</ul>

    </section>
  </aside>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--author">
  <header>
    <h2 id="c-sidebarpost--author-heading">Authors</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--author-heading">
    <option value="">Select Author</option>
    <option value="https://www.cdlib.org/cdlinfo/author/abrin/">Adam Brin (7)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/bhui/">Barbara Hui (6)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/cli/">Chan Li (2)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/dlowenberg/">Daniella Lowenberg (19)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/eproulx/">Elise Proulx (16)</option>
  </select>
  <button onclick="openAuthor()" disabled>View All by Author</button>
</section>

    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--month">
  <header>
    <h2 id="c-sidebarpost--month-heading">Months of Publication</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--month-heading">
    <option value="">Select Month</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/08/">August 2019 (12)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/07/">July 2019 (1)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/06/">June 2019 (9)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/05/">May 2019 (9)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/04/">April 2019 (16)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/03/">March 2019 (1)</option>
  </select>
  <button onclick="openMonth()" disabled>View All from Month</button>
</section>

    <section class="o-sidebarbox">
      <header><h2>Subscribe</h2></header>
      <ul>
  <li>Repellat similique porro aut deleniti quae est distinctio sed sunt.</li>
  <li>Tempore nam cumque natus ratione sequi.</li>
  <li>Vitae perspiciatis dolorum consectetur nihil.</li>
  <li>Reprehenderit tempora quasi esse dolores.</li>
  <li>Blanditiis sunt rerum.</li>
</ul>

    </section>
  </aside>
  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

