

<div class="t-layout--4">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Generic Plastic Bacon ">
    <option value="Tasty Soft Gloves ">
    <option value="Practical Plastic Pizza ">
    <option value="Generic Plastic Tuna ">
    <option value="Intelligent Soft Chair ">
    <option value="Tasty Metal Bacon ">
    <option value="Handmade Steel Chips ">
    <option value="Awesome Cotton Tuna ">
    <option value="Awesome Wooden Hat ">
    <option value="Tasty Frozen Fish ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Refined Rubber Hat</a>

</li>
    <li>
<a href="" >Rustic Frozen Keyboard</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <main id="maincontent">
    <h1 >
        CDLINFO News 
    </h1>
    <div class="c-blogresult">
  <h2 >
      
      <a href="" >Handcrafted Metal Ball for Intelligent Soft Pants</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>July 3, 2012</time>
  <span>Author: 
<a href="" >Daphney Becker</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Accusantium cupiditate amet quibusdam neque omnis est maiores aliquid quos laborum rerum ut eligendi repudiandae repellat esse qui earum laudantium tempore reiciendis iure impedit ipsa accusantium eum cupiditate et illum &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Practical Cotton Pants and Tasty Granite Chips</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>July 3, 2012</time>
  <span>Author: 
<a href="" >Daphney Becker</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Molestiae sapiente ut est incidunt eos delectus odio consequatur aut molestiae rem et eum vel exercitationem commodi aperiam similique corrupti voluptatem est qui praesentium qui recusandae ex sint dolorum amet &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Refined Cotton Table with Refined Cotton Fish</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>July 3, 2012</time>
  <span>Author: 
<a href="" >Daphney Becker</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Unde quo et eum praesentium veritatis sunt tempora sit aut voluptatem expedita officiis et aperiam reprehenderit omnis vel possimus qui itaque odit voluptas error ut facilis possimus illo dolor inventore &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Ergonomic Frozen Shoes and Ergonomic Wooden Chips</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>July 3, 2012</time>
  <span>Author: 
<a href="" >Daphney Becker</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Voluptas ad in tempora dolorum maxime placeat laboriosam excepturi qui nesciunt officia quis illum labore excepturi maiores dolorum excepturi dicta temporibus suscipit voluptatibus quo commodi iusto omnis aut ipsum nam &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Incredible Cotton Bacon for Generic Metal Cheese</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>July 3, 2012</time>
  <span>Author: 
<a href="" >Daphney Becker</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Quo nemo maxime sunt nihil qui cupiditate aut mollitia eos est porro natus culpa maiores dolorem quidem totam quae ipsum voluptatem placeat qui minus molestiae necessitatibus labore non assumenda explicabo &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Rustic Wooden Bacon with Handcrafted Metal Sausages</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>July 3, 2012</time>
  <span>Author: 
<a href="" >Daphney Becker</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Doloremque earum voluptas eaque voluptatum est deleniti sed vero quod ipsum libero reiciendis et ad ut ad vero necessitatibus nesciunt voluptatem eos praesentium repellat saepe ducimus ut consequatur nobis quas &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Tasty Steel Pants for Intelligent Wooden Chair</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>July 3, 2012</time>
  <span>Author: 
<a href="" >Daphney Becker</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Deserunt ut reiciendis voluptatibus voluptatibus enim aut sint eligendi ipsam est quis nemo omnis commodi rerum numquam omnis maiores quasi a quam quas voluptate et magnam nam consequuntur veritatis quaerat &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Intelligent Rubber Salad for Licensed Wooden Ball</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>July 3, 2012</time>
  <span>Author: 
<a href="" >Daphney Becker</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Nobis error recusandae laboriosam id voluptatem impedit et qui temporibus corrupti necessitatibus facilis ipsa excepturi error quos repudiandae non rerum culpa est autem voluptas nihil est similique quae corrupti architecto &hellip; 
<a href="" >Read more</a>

</p>
</div>

  </main>
  <aside aria-label="first" class="t-layout__sidebar1">
    <section class="o-sidebarbox">
      <header><h2>Categories</h2></header>
      <ul class="c-categories">
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Incredible Metal Salad">
<a href="" >Incredible Metal Salad</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Handmade Frozen Salad">
<a href="" >Handmade Frozen Salad</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Gorgeous Cotton Pizza">
<a href="" >Gorgeous Cotton Pizza</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Ergonomic Soft Sausages">
<a href="" >Ergonomic Soft Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Metal Keyboard">
<a href="" >Licensed Metal Keyboard</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
</ul>

    </section>
  </aside>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--author">
  <header>
    <h2 id="c-sidebarpost--author-heading">Authors</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--author-heading">
    <option value="">Select Author</option>
    <option value="https://www.cdlib.org/cdlinfo/author/abrin/">Adam Brin (1)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/bhui/">Barbara Hui (18)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/cli/">Chan Li (1)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/dlowenberg/">Daniella Lowenberg (16)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/eproulx/">Elise Proulx (13)</option>
  </select>
  <button onclick="openAuthor()" disabled>View All by Author</button>
</section>

    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--month">
  <header>
    <h2 id="c-sidebarpost--month-heading">Months of Publication</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--month-heading">
    <option value="">Select Month</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/08/">August 2019 (9)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/07/">July 2019 (14)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/06/">June 2019 (20)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/05/">May 2019 (5)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/04/">April 2019 (7)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/03/">March 2019 (6)</option>
  </select>
  <button onclick="openMonth()" disabled>View All from Month</button>
</section>

    <section class="o-sidebarbox">
      <header><h2>Subscribe</h2></header>
      <ul>
  <li>Est quia minus sit.</li>
  <li>Asperiores fugit aliquid enim aperiam saepe numquam repellat voluptatibus.</li>
  <li>Debitis adipisci et enim quia qui tempora neque corrupti.</li>
  <li>Accusamus ut deserunt ipsam consequuntur et aut deleniti.</li>
  <li>Quisquam molestias sunt est rerum eos ex corporis nemo qui.</li>
</ul>

    </section>
  </aside>
  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

