

<div class="t-layout--4">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Handcrafted Rubber Mouse ">
    <option value="Generic Cotton Bacon ">
    <option value="Refined Cotton Ball ">
    <option value="Incredible Rubber Computer ">
    <option value="Refined Fresh Shirt ">
    <option value="Awesome Plastic Tuna ">
    <option value="Awesome Granite Pizza ">
    <option value="Handcrafted Fresh Computer ">
    <option value="Handcrafted Steel Keyboard ">
    <option value="Small Granite Sausages ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Small Fresh Chair</a>

</li>
    <li>
<a href="" >Intelligent Soft Mouse</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <main id="maincontent">
    <h1 >
        Post Title 
    </h1>
    <div class="c-blogmetadata">
  <time>December 6, 2006</time>
  <span>Author: 
<a href="" >Hudson Morissette</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

    <p>Qui animi pariatur mollitia sed cupiditate. Omnis quia rerum hic et dolores aut consequatur eum est. Modi qui est nihil sit consequatur consequuntur omnis libero. Sapiente est numquam nulla. Cupiditate error harum quis blanditiis harum repellat nam ipsam nemo. Autem vitae magni id.
 Recusandae atque quisquam non et quidem sequi. Quae sit ipsam iure molestias temporibus aliquid delectus. Quam quo sit quia possimus qui voluptas dolores. Pariatur dignissimos totam. Iure qui dolor eveniet esse commodi.
 Laudantium explicabo beatae dolorem sint. Voluptatem enim quos quia mollitia modi repellat vitae illo. Eum ab architecto officiis sunt amet expedita. Accusamus quae necessitatibus sed delectus earum. Rerum rem qui illo voluptatem accusamus eum.</p>
    <p>Et molestiae nobis placeat et dolor sit. Ratione expedita architecto dolorem. Ad cumque laboriosam voluptatem voluptas aspernatur aut veritatis.
 Est harum quaerat eligendi et voluptas dolorem. Impedit aspernatur hic ad nihil quo quia ut ab. Provident quia quis quod corporis.
 Rem natus ea. Aut facilis laborum velit. Nisi tenetur aut ut. Ut dignissimos voluptatum deserunt ex ab magni esse facere.</p>
    <p>Sunt vel harum. Saepe cupiditate rem non est nam et ab. Odio omnis hic et a perferendis ratione facere odio.
 In rerum rerum quia laborum expedita. Dolores deserunt quam cumque quia officiis quasi. Aut esse adipisci eos quod eum explicabo autem quibusdam.
 Inventore quaerat omnis. Voluptatum dicta alias rem voluptatibus ut. Maxime ipsum ullam. Aut laboriosam tenetur quae dolore est.</p>
    <p>Ut vel labore. Odio praesentium aliquid debitis architecto. Rerum quae non provident quidem. Tempore quos totam quod deleniti qui dignissimos velit modi. Delectus enim sit eligendi et eum.
 Commodi in voluptas ut et similique nihil dicta quia necessitatibus. Dolor quidem consequatur. Aut nulla iusto commodi voluptas dolores mollitia. Quis voluptatem qui iure est facilis sunt. Fuga fuga reiciendis ea ullam.
 Accusamus enim dolores magnam. Architecto laboriosam voluptas harum dolorum nobis quia. Nam molestias ducimus suscipit eum enim et asperiores.</p>
    <p>Deleniti illo omnis vel eaque. Perspiciatis suscipit reiciendis dolore et eaque error nulla accusamus est. Maiores pariatur aut asperiores tenetur provident. Laboriosam quidem vitae nemo omnis. Eius consequatur modi.
 Reprehenderit sit tempore quia perspiciatis. Minima et ex enim. Expedita et consequatur quae cum. Atque iste necessitatibus in iste aut porro et saepe.
 Tenetur quia quidem adipisci dolor et minima aut modi. Amet reprehenderit placeat magnam sunt sunt. Optio qui porro quisquam sint. Error animi culpa libero fuga. Doloribus labore odio commodi repellat.</p>
    <p>Voluptatum enim quia eligendi magni deserunt earum consequatur ipsa. Voluptatem sed itaque vero expedita qui iusto debitis provident. Neque quae quasi. Rerum et accusantium adipisci sed et.
 Sit nemo autem corporis eos nam labore omnis. Harum quas quaerat nemo. Qui earum est magni ut aut. Consectetur illo nihil tempora totam rerum dicta incidunt. Ex eveniet nemo excepturi ipsum consectetur voluptas sit tenetur amet.
 Itaque asperiores iusto ut autem quisquam distinctio impedit dolores et. Delectus ut ut officiis. Ut dolores nesciunt culpa et ut excepturi pariatur maiores temporibus. Consequuntur voluptas blanditiis quisquam modi ut modi et.</p>
    <p>Voluptatibus tempora ipsa. Sit quibusdam ratione. Exercitationem non tenetur ullam rem tempora omnis. Voluptates quas nesciunt.
 Doloremque iusto facilis. Ducimus recusandae qui quia omnis distinctio ea in et est. Minima minima omnis recusandae possimus aspernatur odit distinctio sed. Tempora mollitia praesentium. Doloribus et rem a vel expedita aut.
 Ab ex odio molestias voluptas distinctio ut quo. Omnis dolorem sit numquam error aperiam. Qui adipisci eaque voluptates. Molestiae ipsum hic nisi nulla excepturi ut et consequatur. Laborum sit nihil officiis officia vero temporibus.</p>
    <p>Qui sequi consequatur et placeat soluta sint quasi recusandae. Voluptatibus voluptas fugit. Impedit non culpa nesciunt adipisci impedit molestiae quas qui.
 Accusamus neque et perspiciatis deleniti incidunt. Voluptates mollitia quasi. Quam cum nihil eius numquam exercitationem quae. Quia sed assumenda beatae. Velit repellendus et natus voluptate ab eaque ab fugiat.
 Blanditiis rem corrupti at qui ducimus similique rerum. Veritatis voluptas vel et ipsam dolorum. Omnis officia perferendis debitis accusantium et. Enim modi ex.</p>
  </main>
  <aside aria-label="first" class="t-layout__sidebar1">
    <section class="o-sidebarbox">
      <header><h2>Categories</h2></header>
      <ul class="c-categories">
  <li>
<a href="" >Fantastic Plastic Fish</a>

</li>
  <li>
<a href="" >Small Frozen Pizza</a>

</li>
  <li>
<a href="" >Ergonomic Plastic Hat</a>

</li>
  <li>
    <details>
      <summary aria-label="Practical Cotton Pants">
<a href="" >Practical Cotton Pants</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Soft Pants</a>

</li>
        <li>
<a href="" >Small Wooden Cheese</a>

</li>
        <li>
<a href="" >Tasty Cotton Car</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Fantastic Plastic Fish</a>

</li>
  <li>
<a href="" >Small Frozen Pizza</a>

</li>
  <li>
<a href="" >Ergonomic Plastic Hat</a>

</li>
  <li>
    <details>
      <summary aria-label="Handmade Rubber Hat">
<a href="" >Handmade Rubber Hat</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Soft Pants</a>

</li>
        <li>
<a href="" >Small Wooden Cheese</a>

</li>
        <li>
<a href="" >Tasty Cotton Car</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Fantastic Plastic Fish</a>

</li>
  <li>
<a href="" >Small Frozen Pizza</a>

</li>
  <li>
<a href="" >Ergonomic Plastic Hat</a>

</li>
  <li>
    <details>
      <summary aria-label="Handmade Soft Keyboard">
<a href="" >Handmade Soft Keyboard</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Soft Pants</a>

</li>
        <li>
<a href="" >Small Wooden Cheese</a>

</li>
        <li>
<a href="" >Tasty Cotton Car</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Fantastic Plastic Fish</a>

</li>
  <li>
<a href="" >Small Frozen Pizza</a>

</li>
  <li>
<a href="" >Ergonomic Plastic Hat</a>

</li>
  <li>
    <details>
      <summary aria-label="Refined Frozen Sausages">
<a href="" >Refined Frozen Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Soft Pants</a>

</li>
        <li>
<a href="" >Small Wooden Cheese</a>

</li>
        <li>
<a href="" >Tasty Cotton Car</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Fantastic Plastic Fish</a>

</li>
  <li>
<a href="" >Small Frozen Pizza</a>

</li>
  <li>
<a href="" >Ergonomic Plastic Hat</a>

</li>
  <li>
    <details>
      <summary aria-label="Generic Cotton Sausages">
<a href="" >Generic Cotton Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Soft Pants</a>

</li>
        <li>
<a href="" >Small Wooden Cheese</a>

</li>
        <li>
<a href="" >Tasty Cotton Car</a>

</li>
      </ul>
    </details>
  </li>
</ul>

    </section>
  </aside>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--author">
  <header>
    <h2 id="c-sidebarpost--author-heading">Authors</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--author-heading">
    <option value="">Select Author</option>
    <option value="https://www.cdlib.org/cdlinfo/author/abrin/">Adam Brin (13)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/bhui/">Barbara Hui (19)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/cli/">Chan Li (9)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/dlowenberg/">Daniella Lowenberg (4)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/eproulx/">Elise Proulx (11)</option>
  </select>
  <button onclick="openAuthor()" disabled>View All by Author</button>
</section>

    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--month">
  <header>
    <h2 id="c-sidebarpost--month-heading">Months of Publication</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--month-heading">
    <option value="">Select Month</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/08/">August 2019 (13)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/07/">July 2019 (14)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/06/">June 2019 (20)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/05/">May 2019 (2)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/04/">April 2019 (14)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/03/">March 2019 (17)</option>
  </select>
  <button onclick="openMonth()" disabled>View All from Month</button>
</section>

    <section class="o-sidebarbox">
      <header><h2>Subscribe</h2></header>
      <ul>
  <li>Consequatur rem ratione sit.</li>
  <li>Non sunt quis.</li>
  <li>Atque dolorem eum quibusdam quia et.</li>
  <li>Omnis enim consequatur architecto mollitia et quia.</li>
  <li>Placeat totam in placeat voluptatum sed.</li>
</ul>

    </section>
  </aside>
  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

