

<div class="t-layout--4">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Handcrafted Concrete Salad ">
    <option value="Gorgeous Soft Chips ">
    <option value="Tasty Wooden Towels ">
    <option value="Incredible Steel Tuna ">
    <option value="Sleek Cotton Shirt ">
    <option value="Sleek Metal Chips ">
    <option value="Sleek Cotton Sausages ">
    <option value="Gorgeous Frozen Car ">
    <option value="Licensed Cotton Fish ">
    <option value="Handmade Frozen Tuna ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Small Cotton Ball</a>

</li>
    <li>
<a href="" >Intelligent Wooden Computer</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <main id="maincontent">
    <h1 >
        CDLINFO News 
    </h1>
    <div class="c-blogresult">
  <h2 >
      
      <a href="" >Unbranded Concrete Cheese with Intelligent Metal Tuna</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>September 2, 2005</time>
  <span>Author: 
<a href="" >Ida Skiles III</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Eaque molestiae quia dolore vero dolorem incidunt vero aut deleniti consequatur illo est eos sunt repellendus tenetur nam sed quia officia esse debitis et tempore et fugiat consequatur omnis nesciunt &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Awesome Granite Cheese for Handmade Granite Tuna</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>September 2, 2005</time>
  <span>Author: 
<a href="" >Ida Skiles III</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Sunt non qui architecto aliquid distinctio debitis eos voluptatem et temporibus laboriosam eum delectus quaerat velit quibusdam deleniti rem amet qui id officia architecto laborum illum voluptas vel qui error &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Licensed Metal Shoes and Incredible Fresh Pizza</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>September 2, 2005</time>
  <span>Author: 
<a href="" >Ida Skiles III</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Aperiam a voluptatem quia vero magnam omnis voluptatem sit quo quia ut atque commodi voluptas dolores omnis fugiat quam consequuntur sunt provident voluptatem voluptatem sunt fugiat aut quae nam quia &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Unbranded Granite Soap with Unbranded Fresh Mouse</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>September 2, 2005</time>
  <span>Author: 
<a href="" >Ida Skiles III</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>In voluptatibus earum non quis est ut est ullam odit corrupti nihil est quod vero quia ab perspiciatis consequatur fugiat qui earum dolorem ut non rerum error sint labore dolorem &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Refined Wooden Gloves and Ergonomic Steel Keyboard</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>September 2, 2005</time>
  <span>Author: 
<a href="" >Ida Skiles III</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Tempore et vel molestias voluptas vel debitis occaecati magni vero accusantium officia quasi rerum voluptatem ut quidem deserunt assumenda quibusdam aperiam maiores provident distinctio voluptatibus perspiciatis velit veritatis optio fuga &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Ergonomic Rubber Mouse for Intelligent Plastic Bike</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>September 2, 2005</time>
  <span>Author: 
<a href="" >Ida Skiles III</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Et impedit odit iste qui impedit accusantium fuga vitae et aut voluptate quia quibusdam optio expedita nostrum ad beatae vitae nihil odio quae sit magni nisi qui officia provident nisi &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Sleek Frozen Mouse for Ergonomic Concrete Shirt</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>September 2, 2005</time>
  <span>Author: 
<a href="" >Ida Skiles III</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Et suscipit aut totam praesentium maiores quisquam aperiam aut beatae adipisci velit dolorem saepe qui odit sit consequatur perferendis illo nobis maiores est ratione voluptatum deleniti eos in molestiae velit &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Handcrafted Concrete Shoes and Ergonomic Granite Chips</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>September 2, 2005</time>
  <span>Author: 
<a href="" >Ida Skiles III</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Optio voluptatem ratione et enim et et cumque molestias suscipit qui molestias pariatur necessitatibus et pariatur vero dicta ut voluptatem fugit quaerat cupiditate cum dicta sit non et a at &hellip; 
<a href="" >Read more</a>

</p>
</div>

  </main>
  <aside aria-label="first" class="t-layout__sidebar1">
    <section class="o-sidebarbox">
      <header><h2>Categories</h2></header>
      <ul class="c-categories">
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Plastic Soap">
<a href="" >Licensed Plastic Soap</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Rubber Salad">
<a href="" >Licensed Rubber Salad</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Refined Frozen Sausages">
<a href="" >Refined Frozen Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Awesome Metal Hat">
<a href="" >Awesome Metal Hat</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Generic Wooden Soap">
<a href="" >Generic Wooden Soap</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
</ul>

    </section>
  </aside>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--author">
  <header>
    <h2 id="c-sidebarpost--author-heading">Authors</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--author-heading">
    <option value="">Select Author</option>
    <option value="https://www.cdlib.org/cdlinfo/author/abrin/">Adam Brin (7)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/bhui/">Barbara Hui (6)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/cli/">Chan Li (2)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/dlowenberg/">Daniella Lowenberg (19)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/eproulx/">Elise Proulx (16)</option>
  </select>
  <button onclick="openAuthor()" disabled>View All by Author</button>
</section>

    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--month">
  <header>
    <h2 id="c-sidebarpost--month-heading">Months of Publication</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--month-heading">
    <option value="">Select Month</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/08/">August 2019 (12)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/07/">July 2019 (1)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/06/">June 2019 (9)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/05/">May 2019 (9)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/04/">April 2019 (16)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/03/">March 2019 (1)</option>
  </select>
  <button onclick="openMonth()" disabled>View All from Month</button>
</section>

    <section class="o-sidebarbox">
      <header><h2>Subscribe</h2></header>
      <ul>
  <li>Repellat similique porro aut deleniti quae est distinctio sed sunt.</li>
  <li>Tempore nam cumque natus ratione sequi.</li>
  <li>Vitae perspiciatis dolorum consectetur nihil.</li>
  <li>Reprehenderit tempora quasi esse dolores.</li>
  <li>Blanditiis sunt rerum.</li>
</ul>

    </section>
  </aside>
  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

