

<div class="t-layout--4">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Handcrafted Rubber Mouse ">
    <option value="Generic Cotton Bacon ">
    <option value="Refined Cotton Ball ">
    <option value="Incredible Rubber Computer ">
    <option value="Refined Fresh Shirt ">
    <option value="Awesome Plastic Tuna ">
    <option value="Awesome Granite Pizza ">
    <option value="Handcrafted Fresh Computer ">
    <option value="Handcrafted Steel Keyboard ">
    <option value="Small Granite Sausages ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Small Fresh Chair</a>

</li>
    <li>
<a href="" >Intelligent Soft Mouse</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <main id="maincontent">
    <h1 >
        CDLINFO News 
    </h1>
    <div class="c-blogresult">
  <h2 >
      
      <a href="" >Intelligent Plastic Gloves with Rustic Plastic Table</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>December 6, 2006</time>
  <span>Author: 
<a href="" >Hudson Morissette</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Ut et voluptatem quibusdam et quia assumenda et aut voluptatem voluptatem corrupti labore est sint laborum est et non sed sint aspernatur nobis natus sint consequuntur voluptate harum possimus voluptas &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Handmade Granite Sausages and Intelligent Plastic Pants</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>December 6, 2006</time>
  <span>Author: 
<a href="" >Hudson Morissette</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Quod consequatur nihil blanditiis maiores est odio ut voluptatem consequatur blanditiis dolorem magni itaque vel corporis deleniti nihil libero rem impedit vel et in et saepe similique nihil est aliquam &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Practical Concrete Mouse and Unbranded Plastic Keyboard</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>December 6, 2006</time>
  <span>Author: 
<a href="" >Hudson Morissette</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Expedita ut porro eos quia odit ut esse eos quia voluptatem qui vitae optio dolore delectus corporis quia vitae maxime amet doloribus impedit esse temporibus voluptatum dicta animi harum voluptas &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Rustic Plastic Ball for Generic Steel Tuna</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>December 6, 2006</time>
  <span>Author: 
<a href="" >Hudson Morissette</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Nobis sequi veniam repellendus nostrum non mollitia eligendi iusto voluptatem sit esse officiis et nesciunt libero sed totam harum omnis asperiores sapiente temporibus distinctio unde labore id omnis illum et &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Handcrafted Soft Shirt with Ergonomic Metal Car</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>December 6, 2006</time>
  <span>Author: 
<a href="" >Hudson Morissette</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Quia eveniet aliquid odio suscipit et tempore deleniti consequuntur odit ratione ut sit facilis laborum fugit animi et accusantium quia neque quia dignissimos corporis molestiae et aliquam laudantium dolor et &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Generic Metal Shoes: Tasty Cotton Bacon</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>December 6, 2006</time>
  <span>Author: 
<a href="" >Hudson Morissette</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Repellat exercitationem libero aperiam quisquam voluptatem debitis error vel at quibusdam et non doloremque quia officia nobis vel in perspiciatis est molestiae et qui iste enim qui molestias eos fugit &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Rustic Wooden Table with Small Metal Soap</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>December 6, 2006</time>
  <span>Author: 
<a href="" >Hudson Morissette</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Vero modi aliquam ullam quam numquam unde rerum omnis qui expedita nisi placeat aliquam quasi dolores id eos delectus exercitationem aut quisquam blanditiis cum earum quod sit commodi quia et &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Sleek Concrete Salad with Refined Concrete Mouse</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>December 6, 2006</time>
  <span>Author: 
<a href="" >Hudson Morissette</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Sunt cum sed quisquam delectus recusandae quia modi quo illo non ut corporis exercitationem nam sint eum voluptas reiciendis ut dolores dolor eum iure voluptas sunt sunt et sit necessitatibus &hellip; 
<a href="" >Read more</a>

</p>
</div>

  </main>
  <aside aria-label="first" class="t-layout__sidebar1">
    <section class="o-sidebarbox">
      <header><h2>Categories</h2></header>
      <ul class="c-categories">
  <li>
<a href="" >Fantastic Plastic Fish</a>

</li>
  <li>
<a href="" >Small Frozen Pizza</a>

</li>
  <li>
<a href="" >Ergonomic Plastic Hat</a>

</li>
  <li>
    <details>
      <summary aria-label="Practical Cotton Pants">
<a href="" >Practical Cotton Pants</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Soft Pants</a>

</li>
        <li>
<a href="" >Small Wooden Cheese</a>

</li>
        <li>
<a href="" >Tasty Cotton Car</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Fantastic Plastic Fish</a>

</li>
  <li>
<a href="" >Small Frozen Pizza</a>

</li>
  <li>
<a href="" >Ergonomic Plastic Hat</a>

</li>
  <li>
    <details>
      <summary aria-label="Handmade Rubber Hat">
<a href="" >Handmade Rubber Hat</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Soft Pants</a>

</li>
        <li>
<a href="" >Small Wooden Cheese</a>

</li>
        <li>
<a href="" >Tasty Cotton Car</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Fantastic Plastic Fish</a>

</li>
  <li>
<a href="" >Small Frozen Pizza</a>

</li>
  <li>
<a href="" >Ergonomic Plastic Hat</a>

</li>
  <li>
    <details>
      <summary aria-label="Handmade Soft Keyboard">
<a href="" >Handmade Soft Keyboard</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Soft Pants</a>

</li>
        <li>
<a href="" >Small Wooden Cheese</a>

</li>
        <li>
<a href="" >Tasty Cotton Car</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Fantastic Plastic Fish</a>

</li>
  <li>
<a href="" >Small Frozen Pizza</a>

</li>
  <li>
<a href="" >Ergonomic Plastic Hat</a>

</li>
  <li>
    <details>
      <summary aria-label="Refined Frozen Sausages">
<a href="" >Refined Frozen Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Soft Pants</a>

</li>
        <li>
<a href="" >Small Wooden Cheese</a>

</li>
        <li>
<a href="" >Tasty Cotton Car</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Fantastic Plastic Fish</a>

</li>
  <li>
<a href="" >Small Frozen Pizza</a>

</li>
  <li>
<a href="" >Ergonomic Plastic Hat</a>

</li>
  <li>
    <details>
      <summary aria-label="Generic Cotton Sausages">
<a href="" >Generic Cotton Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Soft Pants</a>

</li>
        <li>
<a href="" >Small Wooden Cheese</a>

</li>
        <li>
<a href="" >Tasty Cotton Car</a>

</li>
      </ul>
    </details>
  </li>
</ul>

    </section>
  </aside>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--author">
  <header>
    <h2 id="c-sidebarpost--author-heading">Authors</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--author-heading">
    <option value="">Select Author</option>
    <option value="https://www.cdlib.org/cdlinfo/author/abrin/">Adam Brin (13)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/bhui/">Barbara Hui (19)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/cli/">Chan Li (9)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/dlowenberg/">Daniella Lowenberg (4)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/eproulx/">Elise Proulx (11)</option>
  </select>
  <button onclick="openAuthor()" disabled>View All by Author</button>
</section>

    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--month">
  <header>
    <h2 id="c-sidebarpost--month-heading">Months of Publication</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--month-heading">
    <option value="">Select Month</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/08/">August 2019 (13)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/07/">July 2019 (14)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/06/">June 2019 (20)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/05/">May 2019 (2)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/04/">April 2019 (14)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/03/">March 2019 (17)</option>
  </select>
  <button onclick="openMonth()" disabled>View All from Month</button>
</section>

    <section class="o-sidebarbox">
      <header><h2>Subscribe</h2></header>
      <ul>
  <li>Consequatur rem ratione sit.</li>
  <li>Non sunt quis.</li>
  <li>Atque dolorem eum quibusdam quia et.</li>
  <li>Omnis enim consequatur architecto mollitia et quia.</li>
  <li>Placeat totam in placeat voluptatum sed.</li>
</ul>

    </section>
  </aside>
  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

