

<div class="t-layout--4">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Generic Plastic Bacon ">
    <option value="Tasty Soft Gloves ">
    <option value="Practical Plastic Pizza ">
    <option value="Generic Plastic Tuna ">
    <option value="Intelligent Soft Chair ">
    <option value="Tasty Metal Bacon ">
    <option value="Handmade Steel Chips ">
    <option value="Awesome Cotton Tuna ">
    <option value="Awesome Wooden Hat ">
    <option value="Tasty Frozen Fish ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Refined Rubber Hat</a>

</li>
    <li>
<a href="" >Rustic Frozen Keyboard</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <main id="maincontent">
    <h1 >
        Post Title 
    </h1>
    <div class="c-blogmetadata">
  <time>July 3, 2012</time>
  <span>Author: 
<a href="" >Daphney Becker</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

    <p>Eos aut porro sint soluta at. Earum ducimus architecto iure consequuntur totam aliquid. Vitae quam libero voluptatem quos asperiores et veniam tenetur. Aut modi et rerum dicta. Aut autem et aliquid non culpa maxime consectetur distinctio. Inventore harum quasi.
 Iure quasi sequi voluptas voluptates dolor enim commodi sint. Eaque sed dolorem ipsa nam ipsum aut nostrum non eveniet. Non sed possimus omnis nihil ullam. Repellendus veniam harum maiores. Sequi atque qui eum itaque cumque est quo. Magnam reiciendis omnis magni.
 Dolores rerum officiis porro voluptate sit harum deleniti ipsa sit. Quod consequuntur consequatur ut nobis doloribus. Laboriosam aspernatur dignissimos et quos sunt. Qui at labore vel qui. Cum dicta ipsa dolor ducimus.</p>
    <p>Voluptatem exercitationem voluptas quae. Totam et totam odit et nisi. Asperiores nostrum ipsum quis aut quasi aspernatur molestias saepe consequatur. Porro amet possimus voluptatem. Ipsum est nostrum ex. Id magni similique dolorem velit sunt sed qui itaque hic.
 Cumque tempora necessitatibus quasi autem nihil sed qui. Minima praesentium rerum eaque recusandae et quae natus. Beatae ab harum deleniti quibusdam rerum earum suscipit.
 Non modi velit omnis quasi consequatur totam iste. Et aliquam aut et veritatis cumque consequatur corrupti et architecto. Ratione laudantium quaerat officiis dolore enim voluptas. Qui illum beatae ut enim provident. Laborum non labore voluptatum asperiores est eaque quasi nulla. Quo et et.</p>
    <p>Ut aut enim quos. Deserunt accusamus ab ad ex laboriosam. Qui aut fugit. Omnis occaecati cupiditate rem voluptas asperiores rerum optio.
 Voluptatem dolorum alias et labore. Sunt velit provident vero a. Eveniet dicta temporibus rerum. Quaerat accusamus quaerat adipisci aut eos nihil ea repellat. Harum esse voluptatem adipisci qui sed numquam aut consequuntur.
 Commodi praesentium sit sed quia nihil modi fugiat. Quas modi perferendis autem doloremque doloribus nobis ullam non magnam. Laudantium rerum sint et sed. Eveniet rerum consequatur dolorem excepturi in est dolore harum.</p>
    <p>Consectetur ea ut consequuntur assumenda. Provident voluptas a. Et ullam illum.
 Voluptatem enim facilis cumque doloremque. Ratione similique necessitatibus ea. Voluptas autem sit ut rem et ut.
 Enim corporis dolorem repellat eaque molestias maxime sint iure. Repudiandae animi exercitationem laborum est aliquam modi minima omnis. Voluptatem ullam dignissimos dolorum facilis consequatur. Eligendi quo voluptatem sed aut ut consequuntur.</p>
    <p>Labore temporibus magni enim ut et pariatur dolor. Ipsam ipsa molestias et blanditiis reiciendis est aut provident. Quod quo in dolores exercitationem fugit quod facilis quibusdam. Vel vel perspiciatis sit amet qui. Aut et in dolorum.
 Praesentium omnis et iusto numquam non impedit laborum sit. Delectus assumenda sed eligendi. Ut harum reprehenderit voluptatem ab.
 Nihil exercitationem et. Fugiat rerum est ad voluptatum tempore. Nihil repellendus animi explicabo eum. Quos laudantium occaecati voluptatem illo ut.</p>
    <p>Tempora nihil sit nihil eveniet facere odio culpa. Voluptate autem consectetur. Eligendi dicta officia dicta quibusdam accusantium maiores earum quasi fugit.
 Perspiciatis cumque inventore sed. Iure eos iste nemo ut eos alias qui. Harum perferendis aliquam porro cupiditate aut. Ut reiciendis quidem asperiores. Laborum adipisci qui occaecati sed repudiandae dolores possimus. Eius similique ea corrupti id autem labore dolores.
 Esse dicta repudiandae voluptatem eos voluptatem. Similique neque sed quidem occaecati quos veniam nesciunt consequatur qui. Quaerat sit eaque. Occaecati dignissimos voluptas corrupti ut quis quae provident sint voluptas. Aut accusantium sit id modi deleniti placeat. Saepe in fuga sit voluptatem tempore qui.</p>
    <p>Et eligendi consequatur. Velit voluptatum voluptas exercitationem sint at. Reiciendis rerum nam voluptas eveniet dicta quibusdam a eligendi dignissimos. Est magni quia aut est sit dolorem necessitatibus. Officiis cumque qui asperiores quas provident vitae.
 Hic dolorem nesciunt quam iure laudantium quis quis. Qui at aut facilis aut quibusdam. Ducimus labore velit modi eveniet. Et tempore qui. Nisi voluptates et. Dicta exercitationem perspiciatis illo nisi nemo sint.
 Quia non ipsam molestiae culpa blanditiis enim laudantium. Quaerat optio asperiores debitis aspernatur. Deserunt vero molestiae ut. Repellendus non eveniet quia tempora minus est dicta.</p>
    <p>Autem sint maiores unde rerum fugiat et voluptatum officiis. Sit impedit ea. Accusantium dolor aliquid. Ad omnis non ipsa est et ullam. Vitae est ut vitae et fugit delectus ratione a mollitia.
 Quidem accusantium quia quo sequi voluptate doloribus facilis qui. Ut consequatur delectus deleniti similique excepturi quia id quibusdam qui. Aut vero deleniti aut blanditiis ab velit tempora.
 Et tenetur delectus alias recusandae libero id tempore. Et aut debitis et non. Reiciendis repellendus ab sint ducimus eos et enim.</p>
  </main>
  <aside aria-label="first" class="t-layout__sidebar1">
    <section class="o-sidebarbox">
      <header><h2>Categories</h2></header>
      <ul class="c-categories">
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Incredible Metal Salad">
<a href="" >Incredible Metal Salad</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Handmade Frozen Salad">
<a href="" >Handmade Frozen Salad</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Gorgeous Cotton Pizza">
<a href="" >Gorgeous Cotton Pizza</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Ergonomic Soft Sausages">
<a href="" >Ergonomic Soft Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Metal Keyboard">
<a href="" >Licensed Metal Keyboard</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
</ul>

    </section>
  </aside>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--author">
  <header>
    <h2 id="c-sidebarpost--author-heading">Authors</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--author-heading">
    <option value="">Select Author</option>
    <option value="https://www.cdlib.org/cdlinfo/author/abrin/">Adam Brin (1)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/bhui/">Barbara Hui (18)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/cli/">Chan Li (1)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/dlowenberg/">Daniella Lowenberg (16)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/eproulx/">Elise Proulx (13)</option>
  </select>
  <button onclick="openAuthor()" disabled>View All by Author</button>
</section>

    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--month">
  <header>
    <h2 id="c-sidebarpost--month-heading">Months of Publication</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--month-heading">
    <option value="">Select Month</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/08/">August 2019 (9)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/07/">July 2019 (14)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/06/">June 2019 (20)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/05/">May 2019 (5)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/04/">April 2019 (7)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/03/">March 2019 (6)</option>
  </select>
  <button onclick="openMonth()" disabled>View All from Month</button>
</section>

    <section class="o-sidebarbox">
      <header><h2>Subscribe</h2></header>
      <ul>
  <li>Est quia minus sit.</li>
  <li>Asperiores fugit aliquid enim aperiam saepe numquam repellat voluptatibus.</li>
  <li>Debitis adipisci et enim quia qui tempora neque corrupti.</li>
  <li>Accusamus ut deserunt ipsam consequuntur et aut deleniti.</li>
  <li>Quisquam molestias sunt est rerum eos ex corporis nemo qui.</li>
</ul>

    </section>
  </aside>
  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

