

<ul class="c-categories">
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Plastic Soap">
<a href="" >Licensed Plastic Soap</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Rubber Salad">
<a href="" >Licensed Rubber Salad</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Refined Frozen Sausages">
<a href="" >Refined Frozen Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Awesome Metal Hat">
<a href="" >Awesome Metal Hat</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Gorgeous Frozen Towels</a>

</li>
  <li>
<a href="" >Handmade Metal Table</a>

</li>
  <li>
<a href="" >Small Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Generic Wooden Soap">
<a href="" >Generic Wooden Soap</a>

</summary>
      <ul>
        <li>
<a href="" >Ergonomic Wooden Pants</a>

</li>
        <li>
<a href="" >Small Metal Chair</a>

</li>
        <li>
<a href="" >Sleek Steel Salad</a>

</li>
      </ul>
    </details>
  </li>
</ul>

