

<ul class="c-categories">
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Incredible Metal Salad">
<a href="" >Incredible Metal Salad</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Handmade Frozen Salad">
<a href="" >Handmade Frozen Salad</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Gorgeous Cotton Pizza">
<a href="" >Gorgeous Cotton Pizza</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Ergonomic Soft Sausages">
<a href="" >Ergonomic Soft Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Pizza</a>

</li>
  <li>
<a href="" >Rustic Wooden Table</a>

</li>
  <li>
<a href="" >Licensed Fresh Bacon</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Metal Keyboard">
<a href="" >Licensed Metal Keyboard</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Rubber Ball</a>

</li>
        <li>
<a href="" >Unbranded Plastic Tuna</a>

</li>
        <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
      </ul>
    </details>
  </li>
</ul>

