

<ul class="c-categories">
  <li>
<a href="" >Unbranded Plastic Chair</a>

</li>
  <li>
<a href="" >Sleek Steel Sausages</a>

</li>
  <li>
<a href="" >Sleek Soft Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Concrete Chair">
<a href="" >Licensed Concrete Chair</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Steel Keyboard</a>

</li>
        <li>
<a href="" >Unbranded Wooden Table</a>

</li>
        <li>
<a href="" >Unbranded Cotton Chair</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Chair</a>

</li>
  <li>
<a href="" >Sleek Steel Sausages</a>

</li>
  <li>
<a href="" >Sleek Soft Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Tasty Wooden Sausages">
<a href="" >Tasty Wooden Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Steel Keyboard</a>

</li>
        <li>
<a href="" >Unbranded Wooden Table</a>

</li>
        <li>
<a href="" >Unbranded Cotton Chair</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Chair</a>

</li>
  <li>
<a href="" >Sleek Steel Sausages</a>

</li>
  <li>
<a href="" >Sleek Soft Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Generic Granite Gloves">
<a href="" >Generic Granite Gloves</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Steel Keyboard</a>

</li>
        <li>
<a href="" >Unbranded Wooden Table</a>

</li>
        <li>
<a href="" >Unbranded Cotton Chair</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Chair</a>

</li>
  <li>
<a href="" >Sleek Steel Sausages</a>

</li>
  <li>
<a href="" >Sleek Soft Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Incredible Steel Fish">
<a href="" >Incredible Steel Fish</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Steel Keyboard</a>

</li>
        <li>
<a href="" >Unbranded Wooden Table</a>

</li>
        <li>
<a href="" >Unbranded Cotton Chair</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Plastic Chair</a>

</li>
  <li>
<a href="" >Sleek Steel Sausages</a>

</li>
  <li>
<a href="" >Sleek Soft Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Rustic Concrete Soap">
<a href="" >Rustic Concrete Soap</a>

</summary>
      <ul>
        <li>
<a href="" >Practical Steel Keyboard</a>

</li>
        <li>
<a href="" >Unbranded Wooden Table</a>

</li>
        <li>
<a href="" >Unbranded Cotton Chair</a>

</li>
      </ul>
    </details>
  </li>
</ul>

