

<fieldset class="c-checkbox">
   <p> 
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Gorgeous Rubber Computer</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Tasty Plastic Sausages</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Practical Rubber Salad</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Small Fresh Bacon</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Practical Concrete Pizza</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Unbranded Plastic Cheese</span>
    </label>
  </p>
</fieldset>

