

<fieldset class="c-checkbox">
   <p> 
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Sleek Fresh Bacon</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Gorgeous Granite Salad</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Handmade Rubber Car</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Unbranded Frozen Cheese</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Ergonomic Concrete Car</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Small Frozen Pizza</span>
    </label>
  </p>
</fieldset>

