

<fieldset class="c-checkbox">
   <p> 
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Licensed Wooden Pants</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Practical Soft Shoes</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Fantastic Plastic Towels</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Awesome Cotton Cheese</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Rustic Cotton Cheese</span>
    </label>
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">Rustic Concrete Bacon</span>
    </label>
  </p>
</fieldset>

