

<footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Unde et cupiditate</a>

</li>
          <li>
<a href="" >Asperiores eum ratione</a>

</li>
          <li>
<a href="" >Quasi adipisci sed</a>

</li>
          <li>
<a href="" >Laboriosam est sed</a>

</li>
          <li>
<a href="" >Eos iure laborum</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Unde et cupiditate</a>

</li>
          <li>
<a href="" >Asperiores eum ratione</a>

</li>
          <li>
<a href="" >Quasi adipisci sed</a>

</li>
          <li>
<a href="" >Laboriosam est sed</a>

</li>
          <li>
<a href="" >Eos iure laborum</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Unde et cupiditate</a>

</li>
          <li>
<a href="" >Asperiores eum ratione</a>

</li>
          <li>
<a href="" >Quasi adipisci sed</a>

</li>
          <li>
<a href="" >Laboriosam est sed</a>

</li>
          <li>
<a href="" >Eos iure laborum</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Unde et cupiditate</a>

</li>
          <li>
<a href="" >Asperiores eum ratione</a>

</li>
          <li>
<a href="" >Quasi adipisci sed</a>

</li>
          <li>
<a href="" >Laboriosam est sed</a>

</li>
          <li>
<a href="" >Eos iure laborum</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Unde et cupiditate</a>

</li>
          <li>
<a href="" >Asperiores eum ratione</a>

</li>
          <li>
<a href="" >Quasi adipisci sed</a>

</li>
          <li>
<a href="" >Laboriosam est sed</a>

</li>
          <li>
<a href="" >Eos iure laborum</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Unde et cupiditate</a>

</li>
          <li>
<a href="" >Asperiores eum ratione</a>

</li>
          <li>
<a href="" >Quasi adipisci sed</a>

</li>
          <li>
<a href="" >Laboriosam est sed</a>

</li>
          <li>
<a href="" >Eos iure laborum</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

