

<header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Practical Concrete Sausages ">
    <option value="Intelligent Metal Hat ">
    <option value="Refined Plastic Car ">
    <option value="Refined Granite Towels ">
    <option value="Fantastic Soft Cheese ">
    <option value="Intelligent Granite Car ">
    <option value="Rustic Wooden Car ">
    <option value="Handcrafted Concrete Cheese ">
    <option value="Tasty Fresh Sausages ">
    <option value="Gorgeous Wooden Pants ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

