

<div class="t-home">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Handcrafted Rubber Mouse ">
    <option value="Generic Cotton Bacon ">
    <option value="Refined Cotton Ball ">
    <option value="Incredible Rubber Computer ">
    <option value="Refined Fresh Shirt ">
    <option value="Awesome Plastic Tuna ">
    <option value="Awesome Granite Pizza ">
    <option value="Handcrafted Fresh Computer ">
    <option value="Handcrafted Steel Keyboard ">
    <option value="Small Granite Sausages ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <h1 id="maincontent" class="c-homeheading">California Digital Library</h1>

  <main class="c-slideshow" aria-label="slideshow">
  <div class="c-slideshow__controls">
    <button class="c-slideshow__play" title="play slideshow"><span>play slideshow</span></button>
    <button class="c-slideshow__pause" title="pause slideshow"><span>pause slideshow</span></button>
    <button id="c-slideshow__goto1" class="c-slideshow__goto" aria-label="go to slide 1 of 4">1</button>
    <button id="c-slideshow__goto2" class="c-slideshow__goto" aria-label="go to slide 2 of 4">2</button>
    <button id="c-slideshow__goto3" class="c-slideshow__goto" aria-label="go to slide 3 of 4">3</button>
    <button id="c-slideshow__goto4" class="c-slideshow__goto" aria-label="go to slide 4 of 4">4</button>
  </div>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Gorgeous Metal Pizza</h2>
      <p>Voluptatem explicabo vel odit aut quae. Qui deserunt sint odit.</p>
      <a href="https://dmptool.org">Read more</a>
      <small>Photo by Bobby Kirlin. Courtesy of vel doloribus alias [Slide 1]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;0 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;0 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;0" alt="Intelligent Concrete Bike">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Fantastic Metal Bike</h2>
      <p>Recusandae fugiat iste. Sit architecto suscipit excepturi quaerat dolor molestias veritatis.</p>
      <a href="https://escholarship.org">Read more</a>
      <small>Photo by Dr. Sunny Homenick. Courtesy of dolorem iure consequatur [Slide 2]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;1 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;1 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;1" alt="Handmade Plastic Mouse">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Generic Fresh Fish</h2>
      <p>Minus cupiditate nesciunt magni iste occaecati. Et et magnam ut commodi eum earum et minima.</p>
      <a href="https://dmptool.org">Read more</a>
      <small>Photo by Elton Abshire. Courtesy of ad accusamus quos [Slide 3]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;2 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;2 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;2" alt="Handmade Concrete Shoes">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Unbranded Rubber Pizza</h2>
      <p>Quia consequatur quo reprehenderit. Dolores repudiandae fugiat.</p>
      <a href="https://calisphere.org">Read more</a>
      <small>Photo by Jaquan Denesik. Courtesy of quia consequatur ex [Slide 4]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;3 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;3 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;3" alt="Refined Rubber Gloves">
    </div>
  </figure>
</main>

  <h2 class="c-serviceheading"> CDL Services </h2>

  <div class="c-servicebox">
  <section>
    <header>
      <h3 >
          Shirt 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Gorgeous Metal Table</a>

</li>
      <li>
<a href="" >Generic Steel Shoes</a>

</li>
      <li>
<a href="" >Awesome Concrete Bike</a>

</li>
      <li>
<a href="" >Generic Soft Pizza</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Bike 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Gorgeous Metal Table</a>

</li>
      <li>
<a href="" >Generic Steel Shoes</a>

</li>
      <li>
<a href="" >Awesome Concrete Bike</a>

</li>
      <li>
<a href="" >Generic Soft Pizza</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Pants 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Gorgeous Metal Table</a>

</li>
      <li>
<a href="" >Generic Steel Shoes</a>

</li>
      <li>
<a href="" >Awesome Concrete Bike</a>

</li>
      <li>
<a href="" >Generic Soft Pizza</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Chips 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Gorgeous Metal Table</a>

</li>
      <li>
<a href="" >Generic Steel Shoes</a>

</li>
      <li>
<a href="" >Awesome Concrete Bike</a>

</li>
      <li>
<a href="" >Generic Soft Pizza</a>

</li>
    </ul>
  </section>
</div>

  <div role="marquee" class="c-newsreel">
  <h2 >
      Latest News from CDL 
  </h2>
  <button class="c-newsreel__play"><span>play newsreel</span></button>
  <button class="c-newsreel__pause"><span>pause newsreel</span></button>
  <ul>
    <li>
<a href="" >Gorgeous Rubber Gloves at CDL with Intelligent Cotton Car</a>

</li>
    <li>
<a href="" >Handcrafted Granite Pants with CDL and Gorgeous Frozen Sausages</a>

</li>
    <li>
<a href="" >Tasty Steel Gloves with CDL for Tasty Plastic Chicken</a>

</li>
    <li>
<a href="" >Rustic Frozen Cheese at CDL with Awesome Frozen Computer</a>

</li>
    <li>
<a href="" >Fantastic Frozen Car at CDL for Sleek Steel Chips</a>

</li>
  </ul>
  
  <a href="" >View all news</a>
  
</div>

  <section class="c-quicklink1 o-sidebarnav">
  <header>
    <h2 >
        Fantastic Frozen Tuna 
    </h2>
  </header>
  <ul>
    <li>
<a href="" >Fantastic Frozen Pants</a>

</li>
    <li>
<a href="" >Generic Cotton Keyboard</a>

</li>
    <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
    <li>
<a href="" >Intelligent Steel Towels</a>

</li>
    <li>
<a href="" >Awesome Wooden Cheese</a>

</li>
  </ul>
</section>

  <section class="c-quicklink2 o-sidebarnav">
  <header>
    <h2 >
        Gorgeous Frozen Pizza 
    </h2>
  </header>
  <ul>
    <li>
<a href="" >Sleek Plastic Chips</a>

</li>
    <li>
<a href="" >Rustic Fresh Bacon</a>

</li>
    <li>
<a href="" >Intelligent Steel Shoes</a>

</li>
    <li>
<a href="" >Tasty Soft Chips</a>

</li>
    <li>
<a href="" >Fantastic Concrete Keyboard</a>

</li>
    <li>
<a href="" >Sleek Rubber Shirt</a>

</li>
    <li>
<a href="" >Licensed Frozen Soap</a>

</li>
  </ul>
</section>

  <figure class="c-meet">
  <div class="c-meet__avatar">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/d00maz/128.jpg" alt="Clark Harber">
  </div>
  <figcaption>
    Meet Ricky Dare, Web Production District Marketing Orchestrator
    
    <a href="" >Read more</a>
    
  </figcaption>
</figure>

  <a class="c-social" href="https://twitter.com/caldiglib" data-wpel-link="external">Follow us on Twitter</a>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

