

<div class="t-layout--1 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Repellendus libero nulla ipsam dolores. Eos ea illum consequatur ea odit repellat repellendus et maxime. Aut quis harum aut qui velit quae eum facere. Id dolor alias nemo.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Est eaque nulla.
  </nav>
  <main>
    <h2>Main Content</h2>
    Velit in quis cumque exercitationem a ullam. Voluptatibus consequatur excepturi deserunt accusantium aut fuga quia. Iusto nulla quis non eveniet vero tempore facere aperiam.
 Quia rerum delectus quas. Iste eos consectetur ullam iure tempore error. Impedit non aut temporibus placeat sit qui ea voluptatem est. Quis sit deleniti eos ut. Et atque sint est maxime eum. Et cumque sed est et nihil ipsa cum et consequatur.
 Provident ipsa repellat. Hic similique amet omnis minus ab expedita eos quaerat facilis. Et sunt nemo. Quisquam at sit aut dolorem consectetur. Odit dolorem ducimus nihil recusandae eos optio inventore sed. Animi corporis error sed sed.
  </main>
  <aside class="c-updated">
    <strong>Last Updated</strong> Error veritatis ad adipisci.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Tempore fuga fuga quo similique est magni natus. At eum sunt recusandae qui commodi vero quae sed occaecati. Architecto iure sapiente et officiis corrupti ratione repellat. Ipsam voluptatem voluptatem. Delectus aut et quisquam.
  </footer>
</div>

