

<div class="t-layout--2 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Consequatur optio reprehenderit. Similique optio iste. Doloribus cupiditate et esse numquam repellat. Vitae voluptatibus qui architecto quod doloremque.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Adipisci adipisci rerum unde quas provident cumque itaque qui.
  </nav>
  <aside class="t-layout__sidebar1">
    <h2>Sidebar</h2>
    Fugiat vel deleniti qui ullam. Aut non autem dignissimos sunt autem sunt. Perspiciatis commodi quia et reiciendis. Facere ex qui dolor.
  </aside>
  <main>
    <h2>Main Content</h2>
    Qui ea expedita cumque dignissimos repellat. Architecto voluptas aliquid harum. Non vitae eos facere debitis in rerum.
 Vel nihil delectus veritatis qui nihil ut. Incidunt eos dolore. Veniam sunt quaerat explicabo sapiente id doloremque. Sed ullam quia rem aut natus quis. Porro aut debitis delectus eligendi. Et dignissimos dignissimos dolorem fuga sunt eaque sed.
 Ratione aut quisquam modi aliquid voluptatem quis sint veritatis molestias. Corrupti ex quod culpa cum nulla non est ab necessitatibus. Voluptatem ducimus fugit ab quis ut earum et ipsum. Qui voluptatem atque beatae rerum debitis officiis aut ea.
  </main>
  <aside class="c-updated">
    <strong>Last Updated</strong> Soluta repellat pariatur dolor ut soluta.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Tempora dolorem ut temporibus illum inventore et. Minima sit omnis excepturi provident consequatur animi facere aut et. Ea et vel repudiandae aut. Occaecati inventore vel dolores similique enim reprehenderit dolores.
  </footer>
</div>

