

<div class="t-layout--2 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Ex cupiditate ea ut. Minus facilis est velit maxime possimus sint. Minima facilis qui consectetur delectus qui harum. Modi consequatur doloremque deserunt eligendi voluptas cum aspernatur vel. Aspernatur qui est sequi harum placeat quaerat.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Amet libero neque labore.
  </nav>
  <aside class="t-layout__sidebar1">
    <h2>Sidebar</h2>
    Nemo aspernatur quo. Totam inventore vitae dolor vel velit error est. Laborum dicta maxime in eos nisi praesentium recusandae numquam omnis.
  </aside>
  <main>
    <h2>Main Content</h2>
    Nostrum non et corporis illo nemo totam sint qui. Quasi aperiam laborum et maiores enim suscipit perspiciatis tempora. Expedita accusantium at qui rerum quibusdam quaerat illo optio voluptate.
 Delectus cum nisi ipsam occaecati vero sunt consequatur. Sed architecto sed debitis et corporis. Beatae fuga facere maxime saepe voluptatem repudiandae molestias sint. Maiores optio quia vel repudiandae rem enim odit et. Molestias rerum suscipit a ducimus. Enim enim maiores cumque unde.
 Saepe eius rerum amet. Rerum qui consequatur. Dolores qui numquam voluptas quisquam consectetur. Eligendi earum deleniti quia non quia. Et eum sapiente mollitia omnis. Eos asperiores nostrum id sint at molestiae aspernatur nulla nisi.
  </main>
  <aside class="c-updated">
    <strong>Last Updated</strong> Culpa excepturi quo repudiandae.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Sed sit pariatur at voluptatum quia nam architecto ut. Aut adipisci illo soluta deleniti hic possimus magni et. Accusamus amet voluptas possimus laudantium autem aperiam rerum omnis. Et doloremque ducimus et. Molestiae qui dolore et dolore iste. Qui harum quasi aut eligendi et quas.
  </footer>
</div>

