

<div class="t-layout--4 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Velit fugiat repellat ut eius cupiditate dolore quia sunt. Omnis voluptatum ut sunt soluta et. Aut maxime sed fuga ipsum aspernatur quam suscipit.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Est doloremque vel qui sit illum.
  </nav>
  <main>
    <h2>Main Content</h2>
    Nihil eum deleniti unde ipsa mollitia ipsa. Ab ut voluptatem facere cumque facere sint. Sint ipsa excepturi ea. Sunt dolores atque recusandae architecto quibusdam non. A et corporis nesciunt. Delectus nesciunt sapiente fugit dolorem alias placeat corporis rerum consectetur.
 Unde dolorum in et. Possimus voluptatem quisquam sint repellat aut voluptas minus. Soluta consequatur enim facere voluptates reiciendis rerum.
 Unde eos commodi similique aut soluta repellat. Id qui sed. Dolor vel ratione.
  </main>
  <aside class="t-layout__sidebar1">
    <h2>Sidebar 1</h2>
    Excepturi illo quia possimus. Nulla corrupti labore laborum similique deserunt. Nobis quibusdam cumque error deleniti quis nihil. Voluptas porro modi sit ut et sit. Dicta ut reprehenderit iste doloremque.
  </aside>
  <aside class="t-layout__sidebar2">
    <h2>Sidebar 2</h2>
    Ducimus vel id. Libero facere quidem fugiat. Tenetur et aut iure praesentium. Pariatur voluptas minima. Eius libero aliquam modi eos voluptatum maiores nulla expedita.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Dolores cumque accusamus doloremque odit ut qui harum. Est fuga perferendis distinctio amet aut non ea dolore. Quaerat qui quam nesciunt odio.
  </footer>
</div>

