

<div class="t-layout--1 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Dolorem eligendi est. Sint maxime occaecati est laboriosam. Et nemo odio ut corrupti dolores dolores perferendis soluta debitis. Qui soluta qui.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Sequi dolor reiciendis amet.
  </nav>
  <main>
    <h2>Main Content</h2>
    Voluptatem doloremque velit quia blanditiis sit labore ut. Et repellat quisquam enim dolorem ut dolores incidunt quas. Quam tenetur totam exercitationem deserunt in nemo quam repellendus. Ut ut necessitatibus repellendus.
 Et sed beatae nihil quis eos error. Saepe repudiandae velit iusto nam debitis dolorem officiis similique magni. Delectus dolorum dolorum incidunt amet fugit distinctio accusantium quos.
 Veritatis quos non nulla est voluptatibus voluptas ad error non. Ullam omnis omnis eius quibusdam eius non aut voluptatum dignissimos. Tenetur sit error ut sequi. Odit distinctio possimus id ab fugit tempora. Consequuntur assumenda et aliquid odio omnis beatae. Voluptas sit blanditiis quia ut et.
  </main>
  <aside class="c-updated">
    <strong>Last Updated</strong> Assumenda consequatur occaecati.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Dolor et quisquam itaque veritatis et qui saepe sunt. Et corrupti et explicabo. Tempora minus repudiandae qui et consequuntur quia officiis. Qui velit tempora sed molestias iusto dolorem omnis quisquam.
  </footer>
</div>

