

<div class="t-layout--4 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Distinctio placeat voluptates assumenda amet voluptatibus velit autem facilis. Fugit quia asperiores. Consequatur et voluptas qui voluptatem.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Ipsum explicabo beatae expedita voluptas sapiente.
  </nav>
  <main>
    <h2>Main Content</h2>
    Dolorem molestiae cupiditate commodi et cupiditate. Iure sed dolore eum. Soluta enim iusto.
 Repellat ullam sequi est. Eligendi aut et officiis. Ut voluptatibus in. Est eum cupiditate.
 Natus architecto nulla dicta recusandae enim voluptas. Tempore voluptas qui sunt. Eveniet maxime eos rerum beatae doloribus atque est neque. Aliquid fugiat ut ipsa excepturi tenetur. Eius et libero voluptas ut nobis.
  </main>
  <aside class="t-layout__sidebar1">
    <h2>Sidebar 1</h2>
    Cumque omnis quidem maiores itaque quo delectus temporibus tempore. Corrupti officiis tenetur. Fugiat repellat consequuntur earum aut et. Saepe qui occaecati vero placeat consequatur est dignissimos dolores. Impedit vero aliquid commodi ipsam.
  </aside>
  <aside class="t-layout__sidebar2">
    <h2>Sidebar 2</h2>
    Ipsa voluptatem modi iste. Delectus similique consectetur pariatur. Enim quia saepe.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Autem dolorem neque vero ducimus. Eaque sit tempora aspernatur sed aliquid quos. Doloremque necessitatibus mollitia qui.
  </footer>
</div>

