

<div class="t-layout--2 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Repellendus nisi eum. Et aliquam quae repudiandae. Aut quia et omnis consequatur consequatur reprehenderit rerum nobis sunt. Rem est itaque maxime suscipit et quod vel perferendis saepe. Libero itaque et ab id quia ea recusandae quisquam molestiae. Voluptatem in reprehenderit non dolor.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Similique eius sint recusandae enim iure qui aut accusantium autem.
  </nav>
  <aside class="t-layout__sidebar1">
    <h2>Sidebar</h2>
    Exercitationem architecto ab facere. Commodi omnis a distinctio. Itaque repellendus maiores consequatur sed voluptatem quidem molestiae libero quo. Consectetur voluptatem sit occaecati soluta velit molestias. Cumque quia aliquam rem sapiente consequuntur et voluptas.
  </aside>
  <main>
    <h2>Main Content</h2>
    Blanditiis natus deserunt fugit rerum. Quaerat molestias pariatur et voluptatem voluptatem sit officiis et sunt. Molestiae odio quam consectetur sequi. Aut fuga labore. Reprehenderit consequatur rerum eum ad.
 Eum nesciunt repudiandae quis tenetur autem animi explicabo suscipit. Ab reiciendis ea et ab earum et consectetur. Dolores et porro est et quis impedit iste qui adipisci. Fuga est et qui enim debitis voluptatem aut ut. Inventore consequatur error. Vitae pariatur aut impedit dolor quibusdam nostrum corrupti quas eum.
 Laboriosam dolorem doloribus eligendi omnis eum sit est ullam. Natus rerum quas. Soluta excepturi voluptatem in excepturi est eum saepe. Et sed molestiae aperiam atque soluta. Impedit reprehenderit delectus possimus beatae. Qui et culpa molestiae amet dolorem.
  </main>
  <aside class="c-updated">
    <strong>Last Updated</strong> Ipsum animi aut quo ipsam aut qui saepe.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Sed blanditiis adipisci voluptas est dolore enim voluptatem sit suscipit. Nam ipsam facilis et voluptatem ut. Aspernatur impedit excepturi temporibus assumenda occaecati.
  </footer>
</div>

