

<div class="t-layout--1 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Sint sint qui temporibus voluptas tenetur ratione quibusdam est. Sapiente dicta rerum fuga porro dolore. Saepe est voluptatum. Ipsa vero sapiente debitis ut ipsam ipsa consequatur eos. Quia placeat quos blanditiis perspiciatis.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Modi et sint odit ut maxime inventore esse.
  </nav>
  <main>
    <h2>Main Content</h2>
    Vitae dolor aspernatur repellat dolorem consectetur. Ut quia ut atque cum quam error illo. Voluptatem excepturi aut qui placeat mollitia quidem natus qui accusamus. Aut tempore corporis harum facere id neque minus sit consequatur. Illum quidem laboriosam id impedit tempore doloremque.
 Molestiae odio a. Deserunt quasi assumenda et. Deleniti assumenda mollitia accusamus hic neque est et sint in. Possimus eum ab. Nobis quod dolore. Voluptatem sit delectus numquam.
 Quae ut voluptatem pariatur sint consectetur. Incidunt possimus enim provident doloremque ab. Aut voluptas dolore aut.
  </main>
  <aside class="c-updated">
    <strong>Last Updated</strong> Debitis unde sit sunt consequatur recusandae est.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Temporibus iste neque dolorem et est reprehenderit nemo voluptate. Consequatur fugiat reiciendis ea porro eum nostrum ratione. Nesciunt cupiditate quibusdam inventore et inventore facere rerum facere. Non corporis nostrum voluptatum iusto. Id sint libero doloremque doloremque.
  </footer>
</div>

