

<!-- Start: @link--1 -->
<p>
<a href="" >Blue, underlined by default</a>
</p>
<!-- End: @link--1 -->

<!-- Start: @link--2 -->
<p>
<a class="o-link2" href="">Blue, underlined on focus/hover</a>
</p>
<!-- End: @link--2 -->

<!-- Start: @link--3 -->
<p>
<a href="wordpress/external/link" data-wpel-link="external">Blue, underlined by default, external link</a>
</p>
<!-- End: @link--3 -->

<!-- Start: @link--4 -->
<p>
<a class="o-link2" href="wordpress/external/link" data-wpel-link="external">Blue, underlined on focus/hover, external link</a>
</p>
<!-- End: @link--4 -->

<!-- Start: @link--5 -->
<p>
<a class="o-link3" href="">Light black, underlined on focus/hover</a>
</p>
<!-- End: @link--5 -->

<!-- Start: @link--6 -->
<p>
<a class="o-link4" href="">Light black, blue on focus/hover</a>
</p>
<!-- End: @link--6 -->

<!-- Start: @link--7 -->
<p>
<a href="mailto:someone@cdlib.org">Link to email address</a>
</p>
<!-- End: @link--7 -->

<!-- Start: @link--8 -->
<p>
<a href="https://sp.ucop.edu" data-wpel-link="external">Link to Sharepoint content</a>
</p>
<!-- End: @link--8 -->

<!-- Start: @link--9 -->
<p>
<a href="wordpress/document.pdf">Link to PDF</a>
</p>
<!-- End: @link--9 -->

<!-- Start: @link--10 -->
<p>
<a href="https://sp.ucop.edu/document.pdf" data-wpel-link="external">Link to protected document</a>
</p>
<!-- End: @link--10 -->

<!-- Start: @link--11 -->
<p>
<a href="wordpress/document.doc">Link to Word document</a>
</p>
<!-- End: @link--11 -->

<!-- Start: @link--12 -->
<p>
<a href="wordpress/document.xls">Link to Excel spreadsheet</a>
</p>
<!-- End: @link--12 -->

<!-- Start: @link--13 -->
<p>
<a href="wordpress/document.txt">Link to text file</a>
</p>
<!-- End: @link--13 -->

<!-- Start: @link--14 -->
<p>
<a href="wordpress/document.zip">Link to ZIP file</a>
</p>
<!-- End: @link--14 -->

<!-- Start: @link--15 -->
<p>
<a href="wordpress/document.rtf">Link to Rich Text file</a>
</p>
<!-- End: @link--15 -->

