

<ul style="list-style-type: disc;">
  <li>Non quia soluta veritatis.
    <ul style="list-style-type: circle;">
      <li>Rerum in dolor deleniti in nemo modi consectetur.
        <ul style="list-style-type: square;">
          <li>Ab at laudantium corrupti id quod excepturi sed et dicta.</li>
          <li>Vitae quibusdam quia.</li>
        </ul>
      </li>
      <li>Eos sapiente vel ratione.
        <ul style="list-style-type: square;">
          <li>Ab at laudantium corrupti id quod excepturi sed et dicta.</li>
          <li>Vitae quibusdam quia.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Quam hic nesciunt.
    <ul style="list-style-type: circle;">
      <li>Rerum in dolor deleniti in nemo modi consectetur.
        <ul style="list-style-type: square;">
          <li>Ab at laudantium corrupti id quod excepturi sed et dicta.</li>
          <li>Vitae quibusdam quia.</li>
        </ul>
      </li>
      <li>Eos sapiente vel ratione.
        <ul style="list-style-type: square;">
          <li>Ab at laudantium corrupti id quod excepturi sed et dicta.</li>
          <li>Vitae quibusdam quia.</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

