

<!-- Start: @list--1 -->
<ul>
  <li>Repellat similique porro aut deleniti quae est distinctio sed sunt.</li>
  <li>Tempore nam cumque natus ratione sequi.</li>
  <li>Vitae perspiciatis dolorum consectetur nihil.</li>
  <li>Reprehenderit tempora quasi esse dolores.</li>
  <li>Blanditiis sunt rerum.</li>
</ul>
<!-- End: @list--1 -->

<!-- Start: @list--2 -->
<ul style="list-style-type: circle;">
  <li>Repellat similique porro aut deleniti quae est distinctio sed sunt.</li>
  <li>Tempore nam cumque natus ratione sequi.</li>
  <li>Vitae perspiciatis dolorum consectetur nihil.</li>
  <li>Reprehenderit tempora quasi esse dolores.</li>
  <li>Blanditiis sunt rerum.</li>
</ul>
<!-- End: @list--2 -->

<!-- Start: @list--3 -->
<ul style="list-style-type: disc;">
  <li>Repellat similique porro aut deleniti quae est distinctio sed sunt.</li>
  <li>Tempore nam cumque natus ratione sequi.</li>
  <li>Vitae perspiciatis dolorum consectetur nihil.</li>
  <li>Reprehenderit tempora quasi esse dolores.</li>
  <li>Blanditiis sunt rerum.</li>
</ul>
<!-- End: @list--3 -->

<!-- Start: @list--4 -->
<ul style="list-style-type: square;">
  <li>Repellat similique porro aut deleniti quae est distinctio sed sunt.</li>
  <li>Tempore nam cumque natus ratione sequi.</li>
  <li>Vitae perspiciatis dolorum consectetur nihil.</li>
  <li>Reprehenderit tempora quasi esse dolores.</li>
  <li>Blanditiis sunt rerum.</li>
</ul>
<!-- End: @list--4 -->

<!-- Start: @list--5 -->
<ul style="list-style-type: disc;">
  <li>Sapiente ut sint minus tenetur omnis corporis et qui voluptas.
    <ul style="list-style-type: circle;">
      <li>Mollitia non esse velit beatae repellat enim quia asperiores.
        <ul style="list-style-type: square;">
          <li>Vel recusandae nisi aliquam.</li>
          <li>Doloribus architecto velit aut delectus illum.</li>
        </ul>
      </li>
      <li>Adipisci accusantium veritatis et repellendus eum cupiditate voluptatem eaque.
        <ul style="list-style-type: square;">
          <li>Vel recusandae nisi aliquam.</li>
          <li>Doloribus architecto velit aut delectus illum.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Culpa voluptatem atque ab.
    <ul style="list-style-type: circle;">
      <li>Mollitia non esse velit beatae repellat enim quia asperiores.
        <ul style="list-style-type: square;">
          <li>Vel recusandae nisi aliquam.</li>
          <li>Doloribus architecto velit aut delectus illum.</li>
        </ul>
      </li>
      <li>Adipisci accusantium veritatis et repellendus eum cupiditate voluptatem eaque.
        <ul style="list-style-type: square;">
          <li>Vel recusandae nisi aliquam.</li>
          <li>Doloribus architecto velit aut delectus illum.</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<!-- End: @list--5 -->

<!-- Start: @list--6 -->
<ol>
  <li>Repellat similique porro aut deleniti quae est distinctio sed sunt.</li>
  <li>Tempore nam cumque natus ratione sequi.</li>
  <li>Vitae perspiciatis dolorum consectetur nihil.</li>
  <li>Reprehenderit tempora quasi esse dolores.</li>
  <li>Blanditiis sunt rerum.</li>
</ol>
<!-- End: @list--6 -->

<!-- Start: @list--7 -->
<dl>
  <dt>Quia unde laboriosam quia quia.</dt>
  <dd>Voluptatem dolores dolor dolorem voluptatum soluta et ex quasi in. Omnis laborum dolor sint quam nihil animi possimus. Incidunt doloribus beatae atque dolorum qui rem quam cupiditate. Aut omnis debitis dignissimos similique aut. Nulla fugiat eum suscipit. Est id ea eveniet dignissimos magni ab qui quam.</dd>
  <dt>Aperiam impedit omnis eius omnis corrupti fuga.</dt>
  <dd>Iste deleniti laborum. Nostrum est placeat aut rem velit veritatis tenetur quia veritatis. Consectetur nam dolor dolorem sunt maiores sit voluptas.</dd>
  <dt>Quisquam atque deleniti minima distinctio sit doloribus architecto molestiae.</dt>
  <dd>Nemo labore voluptatem vitae non odit eveniet illo minima. Aut eum quia doloribus. Nam voluptatem explicabo illum. Laboriosam ratione sint nemo.</dd>
  <dt>Alias consectetur architecto.</dt>
  <dd>Suscipit consequatur dicta labore. Illo voluptas ut voluptas repudiandae ad quaerat. Nobis officia maxime vero aut quo non. Officia quas sunt reprehenderit sint iure quidem aut minus ab. Itaque ut velit et maiores praesentium sequi. Dolorem voluptatem sed neque qui similique et rerum facere itaque.</dd>
  <dt>In iusto possimus qui doloremque consequatur.</dt>
  <dd>Ipsa quibusdam omnis dolorem odit voluptas. Ut quis aut. Enim dolores quas cumque corporis debitis fuga doloribus maiores. Velit ducimus esse ex cum blanditiis facere quis minus. Asperiores vel et dolorem in autem dolores vel nulla aut. Facilis libero qui dolores odio et sit.</dd>
</dl>
<!-- End: @list--7 -->

