

<!-- Start: @list--1 -->
<ul>
  <li>Molestias necessitatibus voluptatem autem voluptatem quo quod magni dolores veritatis.</li>
  <li>Eius voluptas et veniam.</li>
  <li>Eius ipsum voluptate.</li>
  <li>Repellendus hic facere et facilis doloribus aut eligendi provident.</li>
  <li>Dolor quam soluta.</li>
</ul>
<!-- End: @list--1 -->

<!-- Start: @list--2 -->
<ul style="list-style-type: circle;">
  <li>Molestias necessitatibus voluptatem autem voluptatem quo quod magni dolores veritatis.</li>
  <li>Eius voluptas et veniam.</li>
  <li>Eius ipsum voluptate.</li>
  <li>Repellendus hic facere et facilis doloribus aut eligendi provident.</li>
  <li>Dolor quam soluta.</li>
</ul>
<!-- End: @list--2 -->

<!-- Start: @list--3 -->
<ul style="list-style-type: disc;">
  <li>Molestias necessitatibus voluptatem autem voluptatem quo quod magni dolores veritatis.</li>
  <li>Eius voluptas et veniam.</li>
  <li>Eius ipsum voluptate.</li>
  <li>Repellendus hic facere et facilis doloribus aut eligendi provident.</li>
  <li>Dolor quam soluta.</li>
</ul>
<!-- End: @list--3 -->

<!-- Start: @list--4 -->
<ul style="list-style-type: square;">
  <li>Molestias necessitatibus voluptatem autem voluptatem quo quod magni dolores veritatis.</li>
  <li>Eius voluptas et veniam.</li>
  <li>Eius ipsum voluptate.</li>
  <li>Repellendus hic facere et facilis doloribus aut eligendi provident.</li>
  <li>Dolor quam soluta.</li>
</ul>
<!-- End: @list--4 -->

<!-- Start: @list--5 -->
<ul style="list-style-type: disc;">
  <li>Quasi nam fugiat saepe et iure eos.
    <ul style="list-style-type: circle;">
      <li>Tenetur et nulla doloremque ipsam vel ipsa velit.
        <ul style="list-style-type: square;">
          <li>Ut blanditiis officiis explicabo ex et debitis.</li>
          <li>Quis ut fuga quia laborum architecto ipsa.</li>
        </ul>
      </li>
      <li>Cumque corporis rerum rerum facilis.
        <ul style="list-style-type: square;">
          <li>Ut blanditiis officiis explicabo ex et debitis.</li>
          <li>Quis ut fuga quia laborum architecto ipsa.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Repellendus tempore libero provident voluptate placeat tempore quod dicta recusandae.
    <ul style="list-style-type: circle;">
      <li>Tenetur et nulla doloremque ipsam vel ipsa velit.
        <ul style="list-style-type: square;">
          <li>Ut blanditiis officiis explicabo ex et debitis.</li>
          <li>Quis ut fuga quia laborum architecto ipsa.</li>
        </ul>
      </li>
      <li>Cumque corporis rerum rerum facilis.
        <ul style="list-style-type: square;">
          <li>Ut blanditiis officiis explicabo ex et debitis.</li>
          <li>Quis ut fuga quia laborum architecto ipsa.</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<!-- End: @list--5 -->

<!-- Start: @list--6 -->
<ol>
  <li>Molestias necessitatibus voluptatem autem voluptatem quo quod magni dolores veritatis.</li>
  <li>Eius voluptas et veniam.</li>
  <li>Eius ipsum voluptate.</li>
  <li>Repellendus hic facere et facilis doloribus aut eligendi provident.</li>
  <li>Dolor quam soluta.</li>
</ol>
<!-- End: @list--6 -->

<!-- Start: @list--7 -->
<dl>
  <dt>Dolores dolorem aut autem est esse qui autem at praesentium.</dt>
  <dd>Illo velit et iusto ab suscipit error saepe totam. Nisi quia aliquid eligendi blanditiis facilis repudiandae.</dd>
  <dt>Necessitatibus consectetur quasi blanditiis.</dt>
  <dd>Suscipit consequatur ut doloribus. Autem fugiat et tempora id est delectus ullam esse.</dd>
  <dt>Dolores corrupti quasi sequi eaque non omnis.</dt>
  <dd>Neque voluptatem occaecati ea corporis eveniet molestiae. Eum cum nostrum. Nemo harum enim eaque ipsum sit ut dolorem in.</dd>
  <dt>Vel facilis perferendis excepturi tenetur.</dt>
  <dd>Praesentium maxime molestiae qui dolores. Est qui velit tempora nam eum repudiandae esse voluptatem laboriosam. A saepe cum ad vel cupiditate nihil. Fuga maiores recusandae qui rem.</dd>
  <dt>Voluptas mollitia qui nam vel occaecati commodi sed.</dt>
  <dd>Magnam maiores rerum quia sit magnam molestiae aspernatur similique ut. Maxime ut aut. Possimus numquam nobis.</dd>
</dl>
<!-- End: @list--7 -->

