

<ul style="list-style-type: disc;">
  <li>Sed ratione quas.
    <ul style="list-style-type: circle;">
      <li>Laboriosam iure aut.
        <ul style="list-style-type: square;">
          <li>Quo debitis illo harum optio in.</li>
          <li>Sed quis molestiae inventore deleniti eius vel ipsa.</li>
        </ul>
      </li>
      <li>Dolorem a temporibus incidunt.
        <ul style="list-style-type: square;">
          <li>Quo debitis illo harum optio in.</li>
          <li>Sed quis molestiae inventore deleniti eius vel ipsa.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Accusamus voluptatibus beatae aut accusantium ea officiis.
    <ul style="list-style-type: circle;">
      <li>Laboriosam iure aut.
        <ul style="list-style-type: square;">
          <li>Quo debitis illo harum optio in.</li>
          <li>Sed quis molestiae inventore deleniti eius vel ipsa.</li>
        </ul>
      </li>
      <li>Dolorem a temporibus incidunt.
        <ul style="list-style-type: square;">
          <li>Quo debitis illo harum optio in.</li>
          <li>Sed quis molestiae inventore deleniti eius vel ipsa.</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

