

<!-- Start: @list--1 -->
<ul>
  <li>Autem eos dicta.</li>
  <li>Doloremque inventore possimus suscipit quam quo ipsa eum provident.</li>
  <li>Temporibus voluptatum molestiae cum et temporibus tempora at numquam.</li>
  <li>Ea omnis voluptas porro sunt ipsa aut provident enim qui.</li>
  <li>Sit est non id dolorem quo enim non.</li>
</ul>
<!-- End: @list--1 -->

<!-- Start: @list--2 -->
<ul style="list-style-type: circle;">
  <li>Autem eos dicta.</li>
  <li>Doloremque inventore possimus suscipit quam quo ipsa eum provident.</li>
  <li>Temporibus voluptatum molestiae cum et temporibus tempora at numquam.</li>
  <li>Ea omnis voluptas porro sunt ipsa aut provident enim qui.</li>
  <li>Sit est non id dolorem quo enim non.</li>
</ul>
<!-- End: @list--2 -->

<!-- Start: @list--3 -->
<ul style="list-style-type: disc;">
  <li>Autem eos dicta.</li>
  <li>Doloremque inventore possimus suscipit quam quo ipsa eum provident.</li>
  <li>Temporibus voluptatum molestiae cum et temporibus tempora at numquam.</li>
  <li>Ea omnis voluptas porro sunt ipsa aut provident enim qui.</li>
  <li>Sit est non id dolorem quo enim non.</li>
</ul>
<!-- End: @list--3 -->

<!-- Start: @list--4 -->
<ul style="list-style-type: square;">
  <li>Autem eos dicta.</li>
  <li>Doloremque inventore possimus suscipit quam quo ipsa eum provident.</li>
  <li>Temporibus voluptatum molestiae cum et temporibus tempora at numquam.</li>
  <li>Ea omnis voluptas porro sunt ipsa aut provident enim qui.</li>
  <li>Sit est non id dolorem quo enim non.</li>
</ul>
<!-- End: @list--4 -->

<!-- Start: @list--5 -->
<ul style="list-style-type: disc;">
  <li>Sed ratione quas.
    <ul style="list-style-type: circle;">
      <li>Laboriosam iure aut.
        <ul style="list-style-type: square;">
          <li>Quo debitis illo harum optio in.</li>
          <li>Sed quis molestiae inventore deleniti eius vel ipsa.</li>
        </ul>
      </li>
      <li>Dolorem a temporibus incidunt.
        <ul style="list-style-type: square;">
          <li>Quo debitis illo harum optio in.</li>
          <li>Sed quis molestiae inventore deleniti eius vel ipsa.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Accusamus voluptatibus beatae aut accusantium ea officiis.
    <ul style="list-style-type: circle;">
      <li>Laboriosam iure aut.
        <ul style="list-style-type: square;">
          <li>Quo debitis illo harum optio in.</li>
          <li>Sed quis molestiae inventore deleniti eius vel ipsa.</li>
        </ul>
      </li>
      <li>Dolorem a temporibus incidunt.
        <ul style="list-style-type: square;">
          <li>Quo debitis illo harum optio in.</li>
          <li>Sed quis molestiae inventore deleniti eius vel ipsa.</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<!-- End: @list--5 -->

<!-- Start: @list--6 -->
<ol>
  <li>Autem eos dicta.</li>
  <li>Doloremque inventore possimus suscipit quam quo ipsa eum provident.</li>
  <li>Temporibus voluptatum molestiae cum et temporibus tempora at numquam.</li>
  <li>Ea omnis voluptas porro sunt ipsa aut provident enim qui.</li>
  <li>Sit est non id dolorem quo enim non.</li>
</ol>
<!-- End: @list--6 -->

<!-- Start: @list--7 -->
<dl>
  <dt>Veniam qui officiis eum esse itaque.</dt>
  <dd>Veritatis omnis praesentium molestias corrupti pariatur provident error. Dignissimos molestiae ut ea nemo eius non. Magnam deleniti provident qui.</dd>
  <dt>Dolorem animi quibusdam perferendis numquam laudantium et quod.</dt>
  <dd>Aliquam omnis modi id aut aspernatur tempora. Et dolore consectetur eos cupiditate expedita. Iste doloribus impedit cumque facere accusantium pariatur optio. Praesentium debitis ut laborum earum molestias vel rerum in amet. Nihil rerum inventore eos rem asperiores non adipisci voluptatibus reiciendis. Nam velit placeat et ipsum et autem consequatur et.</dd>
  <dt>Sequi incidunt animi.</dt>
  <dd>Nobis omnis sed voluptatem magni. Inventore qui ut ex et illum ab quia. Reiciendis quod velit similique. Quaerat veritatis atque. Et voluptatem magnam sapiente dolorem minima sit.</dd>
  <dt>Rerum debitis sunt laboriosam illo accusantium ipsam sequi.</dt>
  <dd>Mollitia aut repudiandae officia quo sapiente qui. Vel ipsam accusamus. Dolorem doloribus possimus quas ex. Ullam omnis dolorum non voluptas accusamus suscipit quaerat tempore quo. Optio itaque aperiam perspiciatis repudiandae non.</dd>
  <dt>Excepturi dolore ut nemo assumenda laudantium sed.</dt>
  <dd>Libero eum in aliquid ad omnis. Sunt quos fugit aut velit omnis. Nemo illo et alias. Consequuntur perferendis sint quam earum possimus et. Fugiat odit minus.</dd>
</dl>
<!-- End: @list--7 -->

