

<ul style="list-style-type: disc;">
  <li>Molestias omnis voluptatem facilis aspernatur molestiae.
    <ul style="list-style-type: circle;">
      <li>Aut nesciunt nostrum in quis.
        <ul style="list-style-type: square;">
          <li>Qui tempore rerum voluptas non dolorem dolorem doloribus cum officiis.</li>
          <li>Et aut distinctio sit.</li>
        </ul>
      </li>
      <li>Reprehenderit voluptatibus sed doloribus sed saepe voluptatem.
        <ul style="list-style-type: square;">
          <li>Qui tempore rerum voluptas non dolorem dolorem doloribus cum officiis.</li>
          <li>Et aut distinctio sit.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Quae sed cum.
    <ul style="list-style-type: circle;">
      <li>Aut nesciunt nostrum in quis.
        <ul style="list-style-type: square;">
          <li>Qui tempore rerum voluptas non dolorem dolorem doloribus cum officiis.</li>
          <li>Et aut distinctio sit.</li>
        </ul>
      </li>
      <li>Reprehenderit voluptatibus sed doloribus sed saepe voluptatem.
        <ul style="list-style-type: square;">
          <li>Qui tempore rerum voluptas non dolorem dolorem doloribus cum officiis.</li>
          <li>Et aut distinctio sit.</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

