

<section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Et et aliquid. Perspiciatis aut laudantium. Quo consequuntur exercitationem neque sit autem maxime. Itaque voluptate accusamus qui. Voluptas et et. Voluptate quaerat consequatur dolorem fugiat velit voluptatem dolorem omnis non.</p>
  <p>Autem excepturi eaque qui molestias accusamus voluptatum voluptatem qui et. Molestias enim aliquam molestiae quia debitis. Qui ratione enim et. Laboriosam omnis quidem. Voluptatibus qui pariatur ipsam fugit voluptas autem.</p>
  <p>Consectetur officiis esse. Ratione est sit nisi explicabo temporibus expedita. Neque voluptates veritatis praesentium tempora quia.</p>
</section>

