

<!-- Start: @mainbox--1 -->
<section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Et et aliquid. Perspiciatis aut laudantium. Quo consequuntur exercitationem neque sit autem maxime. Itaque voluptate accusamus qui. Voluptas et et. Voluptate quaerat consequatur dolorem fugiat velit voluptatem dolorem omnis non.</p>
  <p>Autem excepturi eaque qui molestias accusamus voluptatum voluptatem qui et. Molestias enim aliquam molestiae quia debitis. Qui ratione enim et. Laboriosam omnis quidem. Voluptatibus qui pariatur ipsam fugit voluptas autem.</p>
  <p>Consectetur officiis esse. Ratione est sit nisi explicabo temporibus expedita. Neque voluptates veritatis praesentium tempora quia.</p>
</section>
<!-- End: @mainbox--1 -->

<!-- Start: @mainbox--2 -->
<section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Small Metal Table</a>
      
  </h3>
  <p>Et et aliquid. Perspiciatis aut laudantium. Quo consequuntur exercitationem neque sit autem maxime. Itaque voluptate accusamus qui. Voluptas et et. Voluptate quaerat consequatur dolorem fugiat velit voluptatem dolorem omnis non.</p>
  <h3 >
      
      <a href="" >Fantastic Steel Soap</a>
      
  </h3>
  <p>Autem excepturi eaque qui molestias accusamus voluptatum voluptatem qui et. Molestias enim aliquam molestiae quia debitis. Qui ratione enim et. Laboriosam omnis quidem. Voluptatibus qui pariatur ipsam fugit voluptas autem.</p>
  <h3 >
      
      <a href="" >Sleek Cotton Ball</a>
      
  </h3>
  <p>Consectetur officiis esse. Ratione est sit nisi explicabo temporibus expedita. Neque voluptates veritatis praesentium tempora quia.</p>
</section>
<!-- End: @mainbox--2 -->

