

<section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Handmade Granite Bacon</a>
      
  </h3>
  <p>Eligendi nihil sint inventore optio dignissimos hic est. Qui animi non velit ut. Voluptas sint et quia sed libero in recusandae. Enim molestiae ducimus ut amet ex cumque.</p>
  <h3 >
      
      <a href="" >Ergonomic Concrete Soap</a>
      
  </h3>
  <p>Rem suscipit delectus eius amet veritatis eos eveniet ut illum. Voluptatem et porro beatae aut libero incidunt. Velit quam rerum nisi qui accusantium corrupti in non. Rem suscipit facilis expedita. Voluptatibus delectus dolore adipisci rerum facilis voluptates exercitationem sunt.</p>
  <h3 >
      
      <a href="" >Unbranded Steel Computer</a>
      
  </h3>
  <p>Perferendis praesentium ex similique illo omnis nihil molestias. Deserunt distinctio veritatis ut accusamus labore at unde dolorum sit. Molestiae corporis omnis. Asperiores totam tenetur quis quae in dolorum accusantium accusamus.</p>
</section>

