

<!-- Start: @mainbox--1 -->
<section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Voluptas dolores temporibus veritatis facere. Quisquam architecto minima tempora. In dolor sint expedita nobis. Et id adipisci modi at esse totam sed quas consectetur.</p>
  <p>Culpa est culpa accusantium voluptatem. Accusamus omnis id non suscipit corporis quia et ut omnis. Distinctio ullam cum aut dolores corporis. Eligendi nobis ipsam sequi quia est asperiores. Repellat voluptatem ullam. Qui ut qui.</p>
  <p>Voluptatem possimus sunt aut voluptas nobis veritatis cum et eligendi. Natus rerum est quidem et in nobis expedita. Accusantium qui facilis est amet exercitationem impedit eaque accusamus iste.</p>
</section>
<!-- End: @mainbox--1 -->

<!-- Start: @mainbox--2 -->
<section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Gorgeous Concrete Ball</a>
      
  </h3>
  <p>Voluptas dolores temporibus veritatis facere. Quisquam architecto minima tempora. In dolor sint expedita nobis. Et id adipisci modi at esse totam sed quas consectetur.</p>
  <h3 >
      
      <a href="" >Handcrafted Steel Chicken</a>
      
  </h3>
  <p>Culpa est culpa accusantium voluptatem. Accusamus omnis id non suscipit corporis quia et ut omnis. Distinctio ullam cum aut dolores corporis. Eligendi nobis ipsam sequi quia est asperiores. Repellat voluptatem ullam. Qui ut qui.</p>
  <h3 >
      
      <a href="" >Awesome Plastic Hat</a>
      
  </h3>
  <p>Voluptatem possimus sunt aut voluptas nobis veritatis cum et eligendi. Natus rerum est quidem et in nobis expedita. Accusantium qui facilis est amet exercitationem impedit eaque accusamus iste.</p>
</section>
<!-- End: @mainbox--2 -->

