

<!-- Start: @mainbox--1 -->
<section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Officiis sint et autem qui provident esse ea doloremque. Est veritatis odio rem omnis et cum ut modi a. Earum soluta non odit aliquam voluptatem. Et eveniet expedita nesciunt. Velit sed veritatis tempora debitis deserunt natus.</p>
  <p>Qui eos magni nemo tempora reprehenderit id quia deserunt molestiae. Exercitationem doloremque et a iusto veritatis incidunt quia. Excepturi molestiae praesentium quibusdam modi beatae.</p>
  <p>Optio occaecati consequuntur ab fugiat corporis perspiciatis voluptas iste adipisci. Aut autem sunt non. Cum at aut sint. Eius veniam numquam sunt sint voluptatum voluptatem. Neque quis ut est modi ut fuga.</p>
</section>
<!-- End: @mainbox--1 -->

<!-- Start: @mainbox--2 -->
<section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Gorgeous Concrete Soap</a>
      
  </h3>
  <p>Officiis sint et autem qui provident esse ea doloremque. Est veritatis odio rem omnis et cum ut modi a. Earum soluta non odit aliquam voluptatem. Et eveniet expedita nesciunt. Velit sed veritatis tempora debitis deserunt natus.</p>
  <h3 >
      
      <a href="" >Rustic Wooden Chips</a>
      
  </h3>
  <p>Qui eos magni nemo tempora reprehenderit id quia deserunt molestiae. Exercitationem doloremque et a iusto veritatis incidunt quia. Excepturi molestiae praesentium quibusdam modi beatae.</p>
  <h3 >
      
      <a href="" >Handmade Soft Gloves</a>
      
  </h3>
  <p>Optio occaecati consequuntur ab fugiat corporis perspiciatis voluptas iste adipisci. Aut autem sunt non. Cum at aut sint. Eius veniam numquam sunt sint voluptatum voluptatem. Neque quis ut est modi ut fuga.</p>
</section>
<!-- End: @mainbox--2 -->

