

<div role="marquee" class="c-newsreel">
  <h2 >
      Latest News from CDL 
  </h2>
  <button class="c-newsreel__play"><span>play newsreel</span></button>
  <button class="c-newsreel__pause"><span>pause newsreel</span></button>
  <ul>
    <li>
<a href="" >Handmade Granite Ball at CDL for Intelligent Steel Ball</a>

</li>
    <li>
<a href="" >Awesome Concrete Pants with CDL and Awesome Cotton Tuna</a>

</li>
    <li>
<a href="" >Intelligent Frozen Computer with CDL for Sleek Wooden Chips</a>

</li>
    <li>
<a href="" >Ergonomic Concrete Cheese with CDL for Fantastic Rubber Mouse</a>

</li>
    <li>
<a href="" >Tasty Cotton Tuna with CDL for Refined Steel Pants</a>

</li>
  </ul>
  
  <a href="" >View all news</a>
  
</div>

