

<div role="marquee" class="c-newsreel">
  <h2 >
      Latest News from CDL 
  </h2>
  <button class="c-newsreel__play"><span>play newsreel</span></button>
  <button class="c-newsreel__pause"><span>pause newsreel</span></button>
  <ul>
    <li>
<a href="" >Fantastic Rubber Mouse at CDL for Refined Wooden Towels</a>

</li>
    <li>
<a href="" >Small Wooden Car at CDL with Fantastic Fresh Tuna</a>

</li>
    <li>
<a href="" >Gorgeous Plastic Pants at CDL for Licensed Wooden Mouse</a>

</li>
    <li>
<a href="" >Tasty Concrete Sausages at CDL for Licensed Frozen Ball</a>

</li>
    <li>
<a href="" >Gorgeous Steel Fish at CDL for Intelligent Steel Salad</a>

</li>
  </ul>
  
  <a href="" >View all news</a>
  
</div>

