

<div role="marquee" class="c-newsreel">
  <h2 >
      Latest News from CDL 
  </h2>
  <button class="c-newsreel__play"><span>play newsreel</span></button>
  <button class="c-newsreel__pause"><span>pause newsreel</span></button>
  <ul>
    <li>
<a href="" >Ergonomic Concrete Computer with CDL and Handmade Steel Chair</a>

</li>
    <li>
<a href="" >Generic Steel Chips with CDL and Licensed Plastic Shirt</a>

</li>
    <li>
<a href="" >Awesome Steel Tuna at CDL with Refined Wooden Sausages</a>

</li>
    <li>
<a href="" >Sleek Steel Fish at CDL for Handmade Metal Hat</a>

</li>
    <li>
<a href="" >Rustic Fresh Pizza at CDL for Refined Granite Pizza</a>

</li>
  </ul>
  
  <a href="" >View all news</a>
  
</div>

