

<div class="t-layout--3">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Small Steel Sausages ">
    <option value="Intelligent Soft Salad ">
    <option value="Intelligent Metal Chair ">
    <option value="Tasty Plastic Chair ">
    <option value="Intelligent Rubber Chicken ">
    <option value="Licensed Plastic Gloves ">
    <option value="Ergonomic Soft Keyboard ">
    <option value="Ergonomic Cotton Chicken ">
    <option value="Fantastic Metal Bike ">
    <option value="Generic Cotton Ball ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Handmade Metal Computer</a>

</li>
    <li>
<a href="" >Awesome Wooden Soap</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside aria-label="first" class="t-layout__sidebar1">
    <nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 id="secondarynav-heading">
        
        <a href="" >Ergonomic Fresh Mouse</a>
        
    </h2>
    <template v-if="!$mq.screen2">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">Close Menu</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">Open Menu</button>
    </template>
  </header>
  <div v-if="isDisplayed" v-cloak>
    <ul>
      <li>
<a href="" >Ergonomic Fresh Mouse</a>


        <ul>
          <li>
<a href="" >Awesome Cotton Chair</a>

</li>
          <li>
<a href="" >Tasty Cotton Soap</a>

</li>
          <li>
<a href="" >Rustic Cotton Cheese</a>

</li>
          <li>
<a href="" >Ergonomic Fresh Mouse</a>


            <ul>
              <li>
<a href="" >Fantastic Frozen Shirt</a>

</li>
              <li>
<a href="" >Unbranded Concrete Table</a>

</li>
              <li>
<a href="" >Incredible Wooden Shirt</a>

</li>
              <li>
<a href="" >Ergonomic Fresh Mouse</a>


                <ul>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Ergonomic Plastic Sausages</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Handmade Soft Shirt</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Refined Frozen Pants</a>

</li>
                  <li>
<a href="" >Ergonomic Fresh Mouse</a>


                    <ul>
                      <li>
<a href="" >Small Metal Keyboard</a>

</li>
                      <li>
<a href="" >Refined Granite Soap</a>

</li>
                      <li>
<a href="" >Ergonomic Soft Tuna</a>

</li>
                      <li class="current_page_item">
<a href="" >Ergonomic Fresh Mouse</a>


                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  </aside>
  <main id="maincontent">
    <h1 >
        Program Name 
    </h1>
      <p>Est soluta saepe consectetur voluptate at. Aliquid enim ut fugit doloribus error. Rem quidem ipsum.</p>
      <p>Consequatur non corporis ullam fugit. Voluptatem eius enim. Aperiam sint ratione aspernatur et tempore reiciendis. Voluptas incidunt rerum maxime.</p>
    <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Voluptas dolores temporibus veritatis facere. Quisquam architecto minima tempora. In dolor sint expedita nobis. Et id adipisci modi at esse totam sed quas consectetur.</p>
  <p>Culpa est culpa accusantium voluptatem. Accusamus omnis id non suscipit corporis quia et ut omnis. Distinctio ullam cum aut dolores corporis. Eligendi nobis ipsam sequi quia est asperiores. Repellat voluptatem ullam. Qui ut qui.</p>
  <p>Voluptatem possimus sunt aut voluptas nobis veritatis cum et eligendi. Natus rerum est quidem et in nobis expedita. Accusantium qui facilis est amet exercitationem impedit eaque accusamus iste.</p>
</section>

    <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Gorgeous Concrete Ball</a>
      
  </h3>
  <p>Voluptas dolores temporibus veritatis facere. Quisquam architecto minima tempora. In dolor sint expedita nobis. Et id adipisci modi at esse totam sed quas consectetur.</p>
  <h3 >
      
      <a href="" >Handcrafted Steel Chicken</a>
      
  </h3>
  <p>Culpa est culpa accusantium voluptatem. Accusamus omnis id non suscipit corporis quia et ut omnis. Distinctio ullam cum aut dolores corporis. Eligendi nobis ipsam sequi quia est asperiores. Repellat voluptatem ullam. Qui ut qui.</p>
  <h3 >
      
      <a href="" >Awesome Plastic Hat</a>
      
  </h3>
  <p>Voluptatem possimus sunt aut voluptas nobis veritatis cum et eligendi. Natus rerum est quidem et in nobis expedita. Accusantium qui facilis est amet exercitationem impedit eaque accusamus iste.</p>
</section>

    <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Gorgeous Concrete Ball</a>
      
  </h3>
  <p>Voluptas dolores temporibus veritatis facere. Quisquam architecto minima tempora. In dolor sint expedita nobis. Et id adipisci modi at esse totam sed quas consectetur.</p>
  <h3 >
      
      <a href="" >Handcrafted Steel Chicken</a>
      
  </h3>
  <p>Culpa est culpa accusantium voluptatem. Accusamus omnis id non suscipit corporis quia et ut omnis. Distinctio ullam cum aut dolores corporis. Eligendi nobis ipsam sequi quia est asperiores. Repellat voluptatem ullam. Qui ut qui.</p>
  <h3 >
      
      <a href="" >Awesome Plastic Hat</a>
      
  </h3>
  <p>Voluptatem possimus sunt aut voluptas nobis veritatis cum et eligendi. Natus rerum est quidem et in nobis expedita. Accusantium qui facilis est amet exercitationem impedit eaque accusamus iste.</p>
</section>

      <p>Est soluta saepe consectetur voluptate at. Aliquid enim ut fugit doloribus error. Rem quidem ipsum.</p>
      <p>Consequatur non corporis ullam fugit. Voluptatem eius enim. Aperiam sint ratione aspernatur et tempore reiciendis. Voluptas incidunt rerum maxime.</p>
    <div class="c-halfboxes">
  <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Voluptas dolores temporibus veritatis facere. Quisquam architecto minima tempora. In dolor sint expedita nobis. Et id adipisci modi at esse totam sed quas consectetur.</p>
  <p>Culpa est culpa accusantium voluptatem. Accusamus omnis id non suscipit corporis quia et ut omnis. Distinctio ullam cum aut dolores corporis. Eligendi nobis ipsam sequi quia est asperiores. Repellat voluptatem ullam. Qui ut qui.</p>
  <p>Voluptatem possimus sunt aut voluptas nobis veritatis cum et eligendi. Natus rerum est quidem et in nobis expedita. Accusantium qui facilis est amet exercitationem impedit eaque accusamus iste.</p>
</section>

  <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Gorgeous Concrete Ball</a>
      
  </h3>
  <p>Voluptas dolores temporibus veritatis facere. Quisquam architecto minima tempora. In dolor sint expedita nobis. Et id adipisci modi at esse totam sed quas consectetur.</p>
  <h3 >
      
      <a href="" >Handcrafted Steel Chicken</a>
      
  </h3>
  <p>Culpa est culpa accusantium voluptatem. Accusamus omnis id non suscipit corporis quia et ut omnis. Distinctio ullam cum aut dolores corporis. Eligendi nobis ipsam sequi quia est asperiores. Repellat voluptatem ullam. Qui ut qui.</p>
  <h3 >
      
      <a href="" >Awesome Plastic Hat</a>
      
  </h3>
  <p>Voluptatem possimus sunt aut voluptas nobis veritatis cum et eligendi. Natus rerum est quidem et in nobis expedita. Accusantium qui facilis est amet exercitationem impedit eaque accusamus iste.</p>
</section>

</div>

    <table class="c-staff">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Program</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Emard, Rosalind</th>
      <td>Customer Group Liaison</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Wolff, Meghan</th>
      <td>District Markets Manager</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Franecki, Obie</th>
      <td>Customer Applications Associate</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Brown, Alfonso</th>
      <td>Internal Group Strategist</td>
      <td>Discovery &amp; Delivery</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">O&#x27;Keefe, Zora</th>
      <td>International Marketing Executive</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Torp, Lee</th>
      <td>Central Assurance Designer</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Baumbach, Dariana</th>
      <td>District Program Consultant</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Hermann, Anthony</th>
      <td>Direct Creative Agent</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Boyer, Osbaldo</th>
      <td>Dynamic Metrics Analyst</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Reinger, Arlie</th>
      <td>Principal Marketing Technician</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Price, Margie</th>
      <td>Forward Intranet Executive</td>
      <td>Discovery &amp; Delivery</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Dare, Johan</th>
      <td>Direct Metrics Agent</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Williamson, Janice</th>
      <td>Dynamic Configuration Strategist</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Hackett, Johan</th>
      <td>Customer Optimization Specialist</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Skiles, Oleta</th>
      <td>Future Paradigm Liaison</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

  </main>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-news o-sidebarbox">
  <header>
    <h2>
        Latest News
    </h2>
  </header>
  <ul>
    <li>
<a href="http://ignacio.info" >Optio veniam id magni</a>

</li>
    <li>
<a href="http://jonathon.org" >Cupiditate aliquid enim pariatur repellendus cupiditate rerum et pariatur</a>

</li>
    <li>
<a href="http://shane.org" >Et enim minus illum</a>

</li>
    <li>
<a href="" >More...</a>

</li>
  </ul>
</section>

    <section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  <ul>
    <li>
<a href="https://kiley.com" data-wpel-link="external">Tempora quod placeat eveniet sit ratione velit et quae</a>

</li>
    <li>
<a href="http://hugh.net" >Non nostrum quia vero aliquid facilis ea fuga enim</a>

</li>
    <li>
<a href="https://meta.com" >Qui et fugit illum explicabo veniam sint eaque eum</a>

</li>
    <li>
<a href="https://ricardo.com" >Est minima expedita laboriosam saepe temporibus corrupti perspiciatis ipsam saepe</a>

</li>
    <li>
<a href="https://alexis.com" >Sed porro placeat consequatur exercitationem</a>

</li>
  </ul>
</section>

    <section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  <ul>
    <li>
<a href="https://kiley.com" data-wpel-link="external">Tempora quod placeat eveniet sit ratione velit et quae</a>

</li>
    <li>
<a href="http://hugh.net" >Non nostrum quia vero aliquid facilis ea fuga enim</a>

</li>
    <li>
<a href="https://meta.com" >Qui et fugit illum explicabo veniam sint eaque eum</a>

</li>
    <li>
<a href="https://ricardo.com" >Est minima expedita laboriosam saepe temporibus corrupti perspiciatis ipsam saepe</a>

</li>
    <li>
<a href="https://alexis.com" >Sed porro placeat consequatur exercitationem</a>

</li>
  </ul>
</section>

    <section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  Inventore deleniti corporis veniam molestias. Omnis sapiente nobis adipisci. Autem unde autem. Necessitatibus voluptatem quas saepe suscipit est. Nesciunt ea quia.
</section>

  </aside>
  <aside aria-label="last updated by page owner" class="c-updated">
  <div id="updated-last" class="c-updated__label">Last updated:</div>
  <time aria-labelledby="updated-last">February 27, 2018</time>
  <div id="updated-owner" class="c-updated__label" aria-label="page owner">Page owner:</div>
  <address aria-labelledby="updated-owner">
    
    <a href="mailto:Joshuah.Johanna@ucop.edu" >Johanna Joshuah</a>
    
  </address>
</aside>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

