

<div class="t-layout--3">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Unbranded Cotton Sausages ">
    <option value="Fantastic Frozen Keyboard ">
    <option value="Fantastic Frozen Soap ">
    <option value="Ergonomic Wooden Bike ">
    <option value="Rustic Steel Chicken ">
    <option value="Handcrafted Frozen Shirt ">
    <option value="Handcrafted Cotton Keyboard ">
    <option value="Handmade Frozen Gloves ">
    <option value="Licensed Granite Tuna ">
    <option value="Practical Rubber Shirt ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Wooden Fish</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Concrete Computer</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Refined Concrete Soap</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Wooden Fish</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Concrete Computer</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Refined Concrete Soap</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Wooden Fish</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Concrete Computer</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Refined Concrete Soap</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Wooden Fish</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Concrete Computer</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Refined Concrete Soap</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Wooden Fish</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Concrete Computer</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Refined Concrete Soap</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Licensed Steel Computer</a>

</li>
    <li>
<a href="" >Fantastic Granite Keyboard</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside aria-label="first" class="t-layout__sidebar1">
    <nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 id="secondarynav-heading">
        
        <a href="" >Generic Plastic Gloves</a>
        
    </h2>
    <template v-if="!$mq.screen2">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">Close Menu</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">Open Menu</button>
    </template>
  </header>
  <div v-if="isDisplayed" v-cloak>
    <ul>
      <li>
<a href="" >Generic Plastic Gloves</a>


        <ul>
          <li>
<a href="" >Gorgeous Soft Pizza</a>

</li>
          <li>
<a href="" >Refined Rubber Table</a>

</li>
          <li>
<a href="" >Ergonomic Fresh Cheese</a>

</li>
          <li>
<a href="" >Generic Plastic Gloves</a>


            <ul>
              <li>
<a href="" >Ergonomic Granite Keyboard</a>

</li>
              <li>
<a href="" >Practical Concrete Mouse</a>

</li>
              <li>
<a href="" >Handcrafted Fresh Ball</a>

</li>
              <li>
<a href="" >Generic Plastic Gloves</a>


                <ul>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Licensed Soft Towels</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Fantastic Wooden Sausages</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Refined Plastic Hat</a>

</li>
                  <li>
<a href="" >Generic Plastic Gloves</a>


                    <ul>
                      <li>
<a href="" >Unbranded Frozen Fish</a>

</li>
                      <li>
<a href="" >Incredible Wooden Soap</a>

</li>
                      <li>
<a href="" >Refined Rubber Chicken</a>

</li>
                      <li class="current_page_item">
<a href="" >Generic Plastic Gloves</a>


                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  </aside>
  <main id="maincontent">
    <h1 >
        Program Name 
    </h1>
      <p>Incidunt explicabo velit. Et illum itaque qui dolorum accusamus autem illum et qui. Recusandae eaque amet possimus quas totam vero non voluptatibus. Et voluptatem fugiat quia libero quis. Beatae molestias sint quidem sed fugit.</p>
      <p>Est accusamus sapiente in enim ea nemo. In perspiciatis ipsum ea animi. Dolorem quod neque hic quod maxime. Eum sed placeat adipisci numquam. Deserunt qui voluptas maiores ut blanditiis corporis possimus. Ut excepturi nostrum.</p>
    <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Officiis sint et autem qui provident esse ea doloremque. Est veritatis odio rem omnis et cum ut modi a. Earum soluta non odit aliquam voluptatem. Et eveniet expedita nesciunt. Velit sed veritatis tempora debitis deserunt natus.</p>
  <p>Qui eos magni nemo tempora reprehenderit id quia deserunt molestiae. Exercitationem doloremque et a iusto veritatis incidunt quia. Excepturi molestiae praesentium quibusdam modi beatae.</p>
  <p>Optio occaecati consequuntur ab fugiat corporis perspiciatis voluptas iste adipisci. Aut autem sunt non. Cum at aut sint. Eius veniam numquam sunt sint voluptatum voluptatem. Neque quis ut est modi ut fuga.</p>
</section>

    <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Gorgeous Concrete Soap</a>
      
  </h3>
  <p>Officiis sint et autem qui provident esse ea doloremque. Est veritatis odio rem omnis et cum ut modi a. Earum soluta non odit aliquam voluptatem. Et eveniet expedita nesciunt. Velit sed veritatis tempora debitis deserunt natus.</p>
  <h3 >
      
      <a href="" >Rustic Wooden Chips</a>
      
  </h3>
  <p>Qui eos magni nemo tempora reprehenderit id quia deserunt molestiae. Exercitationem doloremque et a iusto veritatis incidunt quia. Excepturi molestiae praesentium quibusdam modi beatae.</p>
  <h3 >
      
      <a href="" >Handmade Soft Gloves</a>
      
  </h3>
  <p>Optio occaecati consequuntur ab fugiat corporis perspiciatis voluptas iste adipisci. Aut autem sunt non. Cum at aut sint. Eius veniam numquam sunt sint voluptatum voluptatem. Neque quis ut est modi ut fuga.</p>
</section>

    <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Gorgeous Concrete Soap</a>
      
  </h3>
  <p>Officiis sint et autem qui provident esse ea doloremque. Est veritatis odio rem omnis et cum ut modi a. Earum soluta non odit aliquam voluptatem. Et eveniet expedita nesciunt. Velit sed veritatis tempora debitis deserunt natus.</p>
  <h3 >
      
      <a href="" >Rustic Wooden Chips</a>
      
  </h3>
  <p>Qui eos magni nemo tempora reprehenderit id quia deserunt molestiae. Exercitationem doloremque et a iusto veritatis incidunt quia. Excepturi molestiae praesentium quibusdam modi beatae.</p>
  <h3 >
      
      <a href="" >Handmade Soft Gloves</a>
      
  </h3>
  <p>Optio occaecati consequuntur ab fugiat corporis perspiciatis voluptas iste adipisci. Aut autem sunt non. Cum at aut sint. Eius veniam numquam sunt sint voluptatum voluptatem. Neque quis ut est modi ut fuga.</p>
</section>

      <p>Incidunt explicabo velit. Et illum itaque qui dolorum accusamus autem illum et qui. Recusandae eaque amet possimus quas totam vero non voluptatibus. Et voluptatem fugiat quia libero quis. Beatae molestias sint quidem sed fugit.</p>
      <p>Est accusamus sapiente in enim ea nemo. In perspiciatis ipsum ea animi. Dolorem quod neque hic quod maxime. Eum sed placeat adipisci numquam. Deserunt qui voluptas maiores ut blanditiis corporis possimus. Ut excepturi nostrum.</p>
    <div class="c-halfboxes">
  <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Officiis sint et autem qui provident esse ea doloremque. Est veritatis odio rem omnis et cum ut modi a. Earum soluta non odit aliquam voluptatem. Et eveniet expedita nesciunt. Velit sed veritatis tempora debitis deserunt natus.</p>
  <p>Qui eos magni nemo tempora reprehenderit id quia deserunt molestiae. Exercitationem doloremque et a iusto veritatis incidunt quia. Excepturi molestiae praesentium quibusdam modi beatae.</p>
  <p>Optio occaecati consequuntur ab fugiat corporis perspiciatis voluptas iste adipisci. Aut autem sunt non. Cum at aut sint. Eius veniam numquam sunt sint voluptatum voluptatem. Neque quis ut est modi ut fuga.</p>
</section>

  <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Gorgeous Concrete Soap</a>
      
  </h3>
  <p>Officiis sint et autem qui provident esse ea doloremque. Est veritatis odio rem omnis et cum ut modi a. Earum soluta non odit aliquam voluptatem. Et eveniet expedita nesciunt. Velit sed veritatis tempora debitis deserunt natus.</p>
  <h3 >
      
      <a href="" >Rustic Wooden Chips</a>
      
  </h3>
  <p>Qui eos magni nemo tempora reprehenderit id quia deserunt molestiae. Exercitationem doloremque et a iusto veritatis incidunt quia. Excepturi molestiae praesentium quibusdam modi beatae.</p>
  <h3 >
      
      <a href="" >Handmade Soft Gloves</a>
      
  </h3>
  <p>Optio occaecati consequuntur ab fugiat corporis perspiciatis voluptas iste adipisci. Aut autem sunt non. Cum at aut sint. Eius veniam numquam sunt sint voluptatum voluptatem. Neque quis ut est modi ut fuga.</p>
</section>

</div>

    <table class="c-staff">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Program</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Wunsch, Benedict</th>
      <td>Legacy Identity Specialist</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Quitzon, Dexter</th>
      <td>Internal Intranet Agent</td>
      <td>Discovery &amp; Delivery</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Smith, Moriah</th>
      <td>District Division Planner</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Ernser, Chelsie</th>
      <td>Central Creative Agent</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Aufderhar, Raphaelle</th>
      <td>Legacy Implementation Coordinator</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Witting, Sophia</th>
      <td>Senior Functionality Planner</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Jacobson, Krystel</th>
      <td>District Solutions Planner</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Nikolaus, Marietta</th>
      <td>Dynamic Implementation Designer</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Abshire, Willie</th>
      <td>Investor Functionality Strategist</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Toy, Jose</th>
      <td>Lead Metrics Liaison</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Upton, Lucius</th>
      <td>Future Assurance Designer</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Heller, Hilbert</th>
      <td>Internal Quality Consultant</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">King, Callie</th>
      <td>International Optimization Liaison</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Johnston, Josianne</th>
      <td>International Tactics Planner</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Sanford, Althea</th>
      <td>Dynamic Applications Representative</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

  </main>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-news o-sidebarbox">
  <header>
    <h2>
        Latest News
    </h2>
  </header>
  <ul>
    <li>
<a href="https://veda.name" >Explicabo omnis at ut corporis repudiandae eligendi cupiditate esse saepe</a>

</li>
    <li>
<a href="http://lew.org" >Quis occaecati est adipisci est et blanditiis quo</a>

</li>
    <li>
<a href="https://clarabelle.info" >Magnam voluptates eum tempore atque nihil impedit</a>

</li>
    <li>
<a href="" >More...</a>

</li>
  </ul>
</section>

    <section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  <ul>
    <li>
<a href="https://oma.net" >Dolorum adipisci placeat alias maiores adipisci voluptatem voluptate</a>

</li>
    <li>
<a href="http://mandy.name" data-wpel-link="external">Vel occaecati aut illum odio nulla quis</a>

</li>
    <li>
<a href="http://karli.org" data-wpel-link="external">Ut tenetur accusamus</a>

</li>
    <li>
<a href="https://cletus.net" data-wpel-link="external">Sit illum voluptas necessitatibus unde</a>

</li>
    <li>
<a href="http://nicola.biz" data-wpel-link="external">Id debitis quod</a>

</li>
  </ul>
</section>

    <section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  <ul>
    <li>
<a href="https://oma.net" >Dolorum adipisci placeat alias maiores adipisci voluptatem voluptate</a>

</li>
    <li>
<a href="http://mandy.name" data-wpel-link="external">Vel occaecati aut illum odio nulla quis</a>

</li>
    <li>
<a href="http://karli.org" data-wpel-link="external">Ut tenetur accusamus</a>

</li>
    <li>
<a href="https://cletus.net" data-wpel-link="external">Sit illum voluptas necessitatibus unde</a>

</li>
    <li>
<a href="http://nicola.biz" data-wpel-link="external">Id debitis quod</a>

</li>
  </ul>
</section>

    <section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  Aut id modi facere et qui. Asperiores sit rerum quia corporis aut. Voluptatum expedita vitae deleniti qui voluptatum.
</section>

  </aside>
  <aside aria-label="last updated by page owner" class="c-updated">
  <div id="updated-last" class="c-updated__label">Last updated:</div>
  <time aria-labelledby="updated-last">February 27, 2018</time>
  <div id="updated-owner" class="c-updated__label" aria-label="page owner">Page owner:</div>
  <address aria-labelledby="updated-owner">
    
    <a href="mailto:Ressie.D&#x27;angelo@ucop.edu" >D&#x27;angelo Ressie</a>
    
  </address>
</aside>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Nulla consequatur ratione</a>

</li>
          <li>
<a href="" >Quia doloribus occaecati</a>

</li>
          <li>
<a href="" >Totam molestiae commodi</a>

</li>
          <li>
<a href="" >Beatae voluptates dicta</a>

</li>
          <li>
<a href="" >Minus quidem explicabo</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Nulla consequatur ratione</a>

</li>
          <li>
<a href="" >Quia doloribus occaecati</a>

</li>
          <li>
<a href="" >Totam molestiae commodi</a>

</li>
          <li>
<a href="" >Beatae voluptates dicta</a>

</li>
          <li>
<a href="" >Minus quidem explicabo</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Nulla consequatur ratione</a>

</li>
          <li>
<a href="" >Quia doloribus occaecati</a>

</li>
          <li>
<a href="" >Totam molestiae commodi</a>

</li>
          <li>
<a href="" >Beatae voluptates dicta</a>

</li>
          <li>
<a href="" >Minus quidem explicabo</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Nulla consequatur ratione</a>

</li>
          <li>
<a href="" >Quia doloribus occaecati</a>

</li>
          <li>
<a href="" >Totam molestiae commodi</a>

</li>
          <li>
<a href="" >Beatae voluptates dicta</a>

</li>
          <li>
<a href="" >Minus quidem explicabo</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Nulla consequatur ratione</a>

</li>
          <li>
<a href="" >Quia doloribus occaecati</a>

</li>
          <li>
<a href="" >Totam molestiae commodi</a>

</li>
          <li>
<a href="" >Beatae voluptates dicta</a>

</li>
          <li>
<a href="" >Minus quidem explicabo</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Nulla consequatur ratione</a>

</li>
          <li>
<a href="" >Quia doloribus occaecati</a>

</li>
          <li>
<a href="" >Totam molestiae commodi</a>

</li>
          <li>
<a href="" >Beatae voluptates dicta</a>

</li>
          <li>
<a href="" >Minus quidem explicabo</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

