

<div class="t-layout--3">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Handcrafted Concrete Salad ">
    <option value="Gorgeous Soft Chips ">
    <option value="Tasty Wooden Towels ">
    <option value="Incredible Steel Tuna ">
    <option value="Sleek Cotton Shirt ">
    <option value="Sleek Metal Chips ">
    <option value="Sleek Cotton Sausages ">
    <option value="Gorgeous Frozen Car ">
    <option value="Licensed Cotton Fish ">
    <option value="Handmade Frozen Tuna ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Small Cotton Ball</a>

</li>
    <li>
<a href="" >Intelligent Wooden Computer</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside aria-label="first" class="t-layout__sidebar1">
    <nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 id="secondarynav-heading">
        
        <a href="" >Fantastic Fresh Chips</a>
        
    </h2>
    <template v-if="!$mq.screen2">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">Close Menu</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">Open Menu</button>
    </template>
  </header>
  <div v-if="isDisplayed" v-cloak>
    <ul>
      <li>
<a href="" >Fantastic Fresh Chips</a>


        <ul>
          <li>
<a href="" >Fantastic Soft Computer</a>

</li>
          <li>
<a href="" >Small Soft Table</a>

</li>
          <li>
<a href="" >Rustic Wooden Tuna</a>

</li>
          <li>
<a href="" >Fantastic Fresh Chips</a>


            <ul>
              <li>
<a href="" >Handmade Soft Pants</a>

</li>
              <li>
<a href="" >Practical Metal Salad</a>

</li>
              <li>
<a href="" >Ergonomic Frozen Towels</a>

</li>
              <li>
<a href="" >Fantastic Fresh Chips</a>


                <ul>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Gorgeous Steel Pizza</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Handmade Wooden Towels</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Ergonomic Soft Car</a>

</li>
                  <li>
<a href="" >Fantastic Fresh Chips</a>


                    <ul>
                      <li>
<a href="" >Handmade Frozen Bacon</a>

</li>
                      <li>
<a href="" >Small Fresh Mouse</a>

</li>
                      <li>
<a href="" >Tasty Frozen Table</a>

</li>
                      <li class="current_page_item">
<a href="" >Fantastic Fresh Chips</a>


                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  </aside>
  <main id="maincontent">
    <h1 >
        Program Name 
    </h1>
      <p>Ipsam veritatis officia fuga ut velit. Assumenda quaerat expedita suscipit aut est assumenda et quam commodi. Eum et et nulla amet sequi corporis laboriosam maxime. Ut et non beatae eius aliquid cumque praesentium. Dolores voluptas optio repellat.</p>
      <p>Temporibus exercitationem quod non a tempore iure. Earum nihil rerum. Error sint nesciunt est nam. Sed alias dolorum sed ipsa dolorem quia adipisci dolor fugit.</p>
    <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Excepturi provident et dolores eum quo. Earum velit non aut voluptatem. Odio et consectetur debitis consequuntur amet consequuntur quia dicta. Officia odio sequi et eveniet non ab. Et consequatur at non qui qui voluptas quisquam.</p>
  <p>Et itaque corporis est rerum quis sed voluptatem rerum nobis. Vero voluptatem excepturi vitae repellendus unde aperiam officia velit aut. Magni quas quia dolorum id quae et neque dignissimos. Assumenda eos et est consectetur. Reprehenderit sed consectetur voluptatum quasi. Repellendus enim delectus officia aut vel incidunt quam reprehenderit vitae.</p>
  <p>Dolores est dicta voluptatem quod alias eveniet. Aut laboriosam omnis quia quia perspiciatis officiis perferendis omnis pariatur. Molestias quis quod in. A dolore quia voluptatem impedit est beatae fugit laudantium.</p>
</section>

    <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Handmade Metal Sausages</a>
      
  </h3>
  <p>Excepturi provident et dolores eum quo. Earum velit non aut voluptatem. Odio et consectetur debitis consequuntur amet consequuntur quia dicta. Officia odio sequi et eveniet non ab. Et consequatur at non qui qui voluptas quisquam.</p>
  <h3 >
      
      <a href="" >Gorgeous Frozen Ball</a>
      
  </h3>
  <p>Et itaque corporis est rerum quis sed voluptatem rerum nobis. Vero voluptatem excepturi vitae repellendus unde aperiam officia velit aut. Magni quas quia dolorum id quae et neque dignissimos. Assumenda eos et est consectetur. Reprehenderit sed consectetur voluptatum quasi. Repellendus enim delectus officia aut vel incidunt quam reprehenderit vitae.</p>
  <h3 >
      
      <a href="" >Practical Frozen Mouse</a>
      
  </h3>
  <p>Dolores est dicta voluptatem quod alias eveniet. Aut laboriosam omnis quia quia perspiciatis officiis perferendis omnis pariatur. Molestias quis quod in. A dolore quia voluptatem impedit est beatae fugit laudantium.</p>
</section>

    <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Handmade Metal Sausages</a>
      
  </h3>
  <p>Excepturi provident et dolores eum quo. Earum velit non aut voluptatem. Odio et consectetur debitis consequuntur amet consequuntur quia dicta. Officia odio sequi et eveniet non ab. Et consequatur at non qui qui voluptas quisquam.</p>
  <h3 >
      
      <a href="" >Gorgeous Frozen Ball</a>
      
  </h3>
  <p>Et itaque corporis est rerum quis sed voluptatem rerum nobis. Vero voluptatem excepturi vitae repellendus unde aperiam officia velit aut. Magni quas quia dolorum id quae et neque dignissimos. Assumenda eos et est consectetur. Reprehenderit sed consectetur voluptatum quasi. Repellendus enim delectus officia aut vel incidunt quam reprehenderit vitae.</p>
  <h3 >
      
      <a href="" >Practical Frozen Mouse</a>
      
  </h3>
  <p>Dolores est dicta voluptatem quod alias eveniet. Aut laboriosam omnis quia quia perspiciatis officiis perferendis omnis pariatur. Molestias quis quod in. A dolore quia voluptatem impedit est beatae fugit laudantium.</p>
</section>

      <p>Ipsam veritatis officia fuga ut velit. Assumenda quaerat expedita suscipit aut est assumenda et quam commodi. Eum et et nulla amet sequi corporis laboriosam maxime. Ut et non beatae eius aliquid cumque praesentium. Dolores voluptas optio repellat.</p>
      <p>Temporibus exercitationem quod non a tempore iure. Earum nihil rerum. Error sint nesciunt est nam. Sed alias dolorum sed ipsa dolorem quia adipisci dolor fugit.</p>
    <div class="c-halfboxes">
  <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Excepturi provident et dolores eum quo. Earum velit non aut voluptatem. Odio et consectetur debitis consequuntur amet consequuntur quia dicta. Officia odio sequi et eveniet non ab. Et consequatur at non qui qui voluptas quisquam.</p>
  <p>Et itaque corporis est rerum quis sed voluptatem rerum nobis. Vero voluptatem excepturi vitae repellendus unde aperiam officia velit aut. Magni quas quia dolorum id quae et neque dignissimos. Assumenda eos et est consectetur. Reprehenderit sed consectetur voluptatum quasi. Repellendus enim delectus officia aut vel incidunt quam reprehenderit vitae.</p>
  <p>Dolores est dicta voluptatem quod alias eveniet. Aut laboriosam omnis quia quia perspiciatis officiis perferendis omnis pariatur. Molestias quis quod in. A dolore quia voluptatem impedit est beatae fugit laudantium.</p>
</section>

  <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Handmade Metal Sausages</a>
      
  </h3>
  <p>Excepturi provident et dolores eum quo. Earum velit non aut voluptatem. Odio et consectetur debitis consequuntur amet consequuntur quia dicta. Officia odio sequi et eveniet non ab. Et consequatur at non qui qui voluptas quisquam.</p>
  <h3 >
      
      <a href="" >Gorgeous Frozen Ball</a>
      
  </h3>
  <p>Et itaque corporis est rerum quis sed voluptatem rerum nobis. Vero voluptatem excepturi vitae repellendus unde aperiam officia velit aut. Magni quas quia dolorum id quae et neque dignissimos. Assumenda eos et est consectetur. Reprehenderit sed consectetur voluptatum quasi. Repellendus enim delectus officia aut vel incidunt quam reprehenderit vitae.</p>
  <h3 >
      
      <a href="" >Practical Frozen Mouse</a>
      
  </h3>
  <p>Dolores est dicta voluptatem quod alias eveniet. Aut laboriosam omnis quia quia perspiciatis officiis perferendis omnis pariatur. Molestias quis quod in. A dolore quia voluptatem impedit est beatae fugit laudantium.</p>
</section>

</div>

    <table class="c-staff">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Program</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Grant, Mathew</th>
      <td>Central Operations Architect</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Zboncak, Brielle</th>
      <td>Lead Integration Assistant</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Okuneva, Elna</th>
      <td>Corporate Data Executive</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Hilll, Theodore</th>
      <td>Customer Optimization Officer</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Douglas, Uriel</th>
      <td>District Factors Officer</td>
      <td>Discovery &amp; Delivery</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Bernhard, Corbin</th>
      <td>Investor Usability Designer</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Dibbert, Robin</th>
      <td>Lead Accountability Analyst</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Huels, Katarina</th>
      <td>Chief Interactions Specialist</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Murray, Destin</th>
      <td>Legacy Mobility Designer</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Crooks, Eryn</th>
      <td>Global Operations Associate</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Moore, Aletha</th>
      <td>National Tactics Agent</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Erdman, Ari</th>
      <td>Global Program Representative</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Berge, Robbie</th>
      <td>Dynamic Factors Producer</td>
      <td>Discovery &amp; Delivery</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Hilll, Rebecca</th>
      <td>Lead Optimization Associate</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Hane, Arnoldo</th>
      <td>Chief Usability Developer</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

  </main>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-news o-sidebarbox">
  <header>
    <h2>
        Latest News
    </h2>
  </header>
  <ul>
    <li>
<a href="https://lulu.org" >Aut eius rerum</a>

</li>
    <li>
<a href="http://gaetano.biz" >Vitae et incidunt</a>

</li>
    <li>
<a href="http://jamaal.name" >Sit voluptatem nostrum esse est fuga</a>

</li>
    <li>
<a href="" >More...</a>

</li>
  </ul>
</section>

    <section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  <ul>
    <li>
<a href="https://jamar.com" >Dolores at mollitia quia sed laudantium illo aut</a>

</li>
    <li>
<a href="http://vernon.net" >Deleniti et autem nisi eligendi</a>

</li>
    <li>
<a href="https://kane.com" data-wpel-link="external">Provident est commodi quod</a>

</li>
    <li>
<a href="http://esta.org" data-wpel-link="external">Est quo aut</a>

</li>
    <li>
<a href="https://dennis.net" >Quas qui sunt sit praesentium magni nemo</a>

</li>
  </ul>
</section>

    <section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  <ul>
    <li>
<a href="https://jamar.com" >Dolores at mollitia quia sed laudantium illo aut</a>

</li>
    <li>
<a href="http://vernon.net" >Deleniti et autem nisi eligendi</a>

</li>
    <li>
<a href="https://kane.com" data-wpel-link="external">Provident est commodi quod</a>

</li>
    <li>
<a href="http://esta.org" data-wpel-link="external">Est quo aut</a>

</li>
    <li>
<a href="https://dennis.net" >Quas qui sunt sit praesentium magni nemo</a>

</li>
  </ul>
</section>

    <section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  Maxime aliquid qui quos occaecati inventore dignissimos. Iusto atque non autem omnis asperiores et dolor. Nobis modi reiciendis nihil omnis cupiditate distinctio fugiat. Enim earum est recusandae esse quod esse velit ab eveniet. Eaque odio dolorum quia quod nisi eligendi tenetur. Iste iure id voluptas suscipit ipsam repellendus.
</section>

  </aside>
  <aside aria-label="last updated by page owner" class="c-updated">
  <div id="updated-last" class="c-updated__label">Last updated:</div>
  <time aria-labelledby="updated-last">February 27, 2018</time>
  <div id="updated-owner" class="c-updated__label" aria-label="page owner">Page owner:</div>
  <address aria-labelledby="updated-owner">
    
    <a href="mailto:Mazie.Patricia@ucop.edu" >Patricia Mazie</a>
    
  </address>
</aside>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

