

<!-- Start: @quicklink--1 -->
<section class="c-quicklink1 o-sidebarnav">
  <header>
    <h2 >
        Fantastic Frozen Tuna 
    </h2>
  </header>
  <ul>
    <li>
<a href="" >Fantastic Frozen Pants</a>

</li>
    <li>
<a href="" >Generic Cotton Keyboard</a>

</li>
    <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
    <li>
<a href="" >Intelligent Steel Towels</a>

</li>
    <li>
<a href="" >Awesome Wooden Cheese</a>

</li>
  </ul>
</section>
<!-- End: @quicklink--1 -->

<!-- Start: @quicklink--2 -->
<section class="c-quicklink2 o-sidebarnav">
  <header>
    <h2 >
        Gorgeous Frozen Pizza 
    </h2>
  </header>
  <ul>
    <li>
<a href="" >Sleek Plastic Chips</a>

</li>
    <li>
<a href="" >Rustic Fresh Bacon</a>

</li>
    <li>
<a href="" >Intelligent Steel Shoes</a>

</li>
    <li>
<a href="" >Tasty Soft Chips</a>

</li>
    <li>
<a href="" >Fantastic Concrete Keyboard</a>

</li>
    <li>
<a href="" >Sleek Rubber Shirt</a>

</li>
    <li>
<a href="" >Licensed Frozen Soap</a>

</li>
  </ul>
</section>
<!-- End: @quicklink--2 -->

