

<section class="c-quicklink2 o-sidebarnav">
  <header>
    <h2 >
        Tasty Soft Computer 
    </h2>
  </header>
  <ul>
    <li>
<a href="" >Tasty Soft Cheese</a>

</li>
    <li>
<a href="" >Intelligent Concrete Table</a>

</li>
    <li>
<a href="" >Tasty Cotton Chicken</a>

</li>
    <li>
<a href="" >Awesome Wooden Salad</a>

</li>
    <li>
<a href="" >Incredible Fresh Chair</a>

</li>
    <li>
<a href="" >Intelligent Fresh Salad</a>

</li>
    <li>
<a href="" >Gorgeous Metal Shoes</a>

</li>
  </ul>
</section>

