

<div class="c-refine o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 >
        Narrow Your Results 
    </h2>
    <a href="" class="c-refine__clear">Clear</a>
    <template v-if="!$mq.screen2">
      <button class="c-refine__open" v-on:click="toggle1" v-if="!isDisplayed">Open</button>
      <button class="c-refine__close" v-on:click="toggle1" v-if="isDisplayed">Close</button>
    </template>
  </header>
  <ul v-if="isDisplayed" v-cloak>
    <li>
      <a href="">
        <span class="c-refine__item-text">Tasty Rubber Shoes</span>
        <span class="c-refine__item-number">(117 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Awesome Granite Pizza</span>
        <span class="c-refine__item-number">(94 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Small Metal Salad</span>
        <span class="c-refine__item-number">(17 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Incredible Frozen Computer</span>
        <span class="c-refine__item-number">(50 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Small Granite Hat</span>
        <span class="c-refine__item-number">(8 <span>results</span>)</span>
      </a>
    </li>
  </ul>
</div>

