

<div class="c-refine o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 >
        Narrow Your Results 
    </h2>
    <a href="" class="c-refine__clear">Clear</a>
    <template v-if="!$mq.screen2">
      <button class="c-refine__open" v-on:click="toggle1" v-if="!isDisplayed">Open</button>
      <button class="c-refine__close" v-on:click="toggle1" v-if="isDisplayed">Close</button>
    </template>
  </header>
  <ul v-if="isDisplayed" v-cloak>
    <li>
      <a href="">
        <span class="c-refine__item-text">Fantastic Rubber Bike</span>
        <span class="c-refine__item-number">(5 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Tasty Cotton Keyboard</span>
        <span class="c-refine__item-number">(32 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Refined Soft Shoes</span>
        <span class="c-refine__item-number">(99 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Unbranded Rubber Bacon</span>
        <span class="c-refine__item-number">(186 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Generic Frozen Mouse</span>
        <span class="c-refine__item-number">(7 <span>results</span>)</span>
      </a>
    </li>
  </ul>
</div>

