

<section class="c-mainbox">
  <header><h2 >
    RSS Feed Title 
</h2>
</header>
  <ul class="rss-aggregator">
    <li>
      
      <a href="" >CDL Alert: Iure repudiandae reiciendis impedit facilis omnis dolorum.</a>
      
      <div>
        <span>7//10/2018</span>
      </div>
    </li>
    <li>
      
      <a href="" >CDL Alert: Natus totam est ipsum ut aliquid optio incidunt.</a>
      
      <div>
        <span>8//12/2018</span>
      </div>
    </li>
    <li>
      
      <a href="" >CDL Alert: Aspernatur suscipit cumque aperiam.</a>
      
      <div>
        <span>9//14/2018</span>
      </div>
    </li>
  </ul>
</section>

