

<section class="c-mainbox">
  <header><h2 >
    RSS Feed Title 
</h2>
</header>
  <ul class="rss-aggregator">
    <li>
      
      <a href="" >CDL Alert: Alias voluptatem soluta et.</a>
      
      <div>
        <span>7//10/2018</span>
      </div>
    </li>
    <li>
      
      <a href="" >CDL Alert: Ratione corporis ducimus quis quaerat eius.</a>
      
      <div>
        <span>8//12/2018</span>
      </div>
    </li>
    <li>
      
      <a href="" >CDL Alert: Saepe quidem et eveniet rerum sunt dolorem aut distinctio.</a>
      
      <div>
        <span>9//14/2018</span>
      </div>
    </li>
  </ul>
</section>

