

<section class="c-mainbox">
  <header><h2 >
    RSS Feed Title 
</h2>
</header>
  <ul class="rss-aggregator">
    <li>
      
      <a href="" >CDL Alert: Totam in qui ea facere velit omnis.</a>
      
      <div>
        <span>7//10/2018</span>
      </div>
    </li>
    <li>
      
      <a href="" >CDL Alert: Libero dolorem et ex odio occaecati sed ut rerum placeat.</a>
      
      <div>
        <span>8//12/2018</span>
      </div>
    </li>
    <li>
      
      <a href="" >CDL Alert: Et voluptas ut architecto.</a>
      
      <div>
        <span>9//14/2018</span>
      </div>
    </li>
  </ul>
</section>

