

<form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Unbranded Cotton Sausages ">
    <option value="Fantastic Frozen Keyboard ">
    <option value="Fantastic Frozen Soap ">
    <option value="Ergonomic Wooden Bike ">
    <option value="Rustic Steel Chicken ">
    <option value="Handcrafted Frozen Shirt ">
    <option value="Handcrafted Cotton Keyboard ">
    <option value="Handmade Frozen Gloves ">
    <option value="Licensed Granite Tuna ">
    <option value="Practical Rubber Shirt ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

