

<div class="t-layout--2">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Handcrafted Rubber Mouse ">
    <option value="Generic Cotton Bacon ">
    <option value="Refined Cotton Ball ">
    <option value="Incredible Rubber Computer ">
    <option value="Refined Fresh Shirt ">
    <option value="Awesome Plastic Tuna ">
    <option value="Awesome Granite Pizza ">
    <option value="Handcrafted Fresh Computer ">
    <option value="Handcrafted Steel Keyboard ">
    <option value="Small Granite Sausages ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Small Fresh Chair</a>

</li>
    <li>
<a href="" >Intelligent Soft Mouse</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside class="t-layout__sidebar1">
    <div class="c-refine o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 >
        Narrow Your Results 
    </h2>
    <a href="" class="c-refine__clear">Clear</a>
    <template v-if="!$mq.screen2">
      <button class="c-refine__open" v-on:click="toggle1" v-if="!isDisplayed">Open</button>
      <button class="c-refine__close" v-on:click="toggle1" v-if="isDisplayed">Close</button>
    </template>
  </header>
  <ul v-if="isDisplayed" v-cloak>
    <li>
      <a href="">
        <span class="c-refine__item-text">Fantastic Rubber Bike</span>
        <span class="c-refine__item-number">(5 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Tasty Cotton Keyboard</span>
        <span class="c-refine__item-number">(32 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Refined Soft Shoes</span>
        <span class="c-refine__item-number">(99 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Unbranded Rubber Bacon</span>
        <span class="c-refine__item-number">(186 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Generic Frozen Mouse</span>
        <span class="c-refine__item-number">(7 <span>results</span>)</span>
      </a>
    </li>
  </ul>
</div>

  </aside>
  <main id="maincontent">
    <div class="c-filter">
  <div class="c-filter__group">
    <div class="c-filter__label" id="c-filter-show-label">Show:</div>
    <ul aria-labelledby="c-filter-show-label">
      <li><a href="#" v-on:click="showButtonToggle1" v-bind:aria-current="[showButton1isPressed]">All results</a></li>
      <li><a href="#" v-on:click="showButtonToggle2" v-bind:aria-current="[showButton2isPressed]">Web pages</a></li>
      <li><a href="#" v-on:click="showButtonToggle3" v-bind:aria-current="[showButton3isPressed]">CDLINFO posts</a></li>
      <li><a href="#" v-on:click="showButtonToggle4" v-bind:aria-current="[showButton4isPressed]">Documents</a></li>
    </ul>
  </div>
  <div class="c-filter__group">
    <div class="c-filter__label" id="c-filter-sort-label">Sort by:</div>
    <ul aria-labelledby="c-filter-sort-label">
      <li><a href="#" v-on:click="sortButtonToggle1" v-bind:aria-current="[sortButton1isPressed]">Relevancy</a></li>
      <li><a href="#" v-on:click="sortButtonToggle2" v-bind:aria-current="[sortButton2isPressed]">Date</a></li>
    </ul>
  </div>
</div>

    <h1 class="c-records">
  Showing 1 - 10 of 393 results for "pizza"
</h1>

    <div class="c-searchresult">
  <h2 >
      
      <a href="file.rtf" >Gorgeous Granite Shoes</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">corrupti illum nisi et et sint doloremque accusantium et consequatur rem architecto id ut aliquam UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> voluptate consectetur ad cupiditate tempora hic nihil eos laboriosam commodi optio rerum laudantium quia rem</div>
  <time>August 24, 2004</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.txt" >Fantastic Granite Fish</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">numquam est dolorum enim eligendi nulla rerum aut et nemo sequi blanditiis illo illum tempore UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> est eos doloribus maxime quas incidunt accusantium quo neque aliquid voluptatem fugiat aut exercitationem cupiditate</div>
  <time>January 12, 2007</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Unbranded Frozen Mouse</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">natus sequi ut in quibusdam vero saepe voluptatem nam beatae natus et velit a et UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> exercitationem voluptatem repellat quasi in dolore nulla quos blanditiis quia aliquid incidunt odio sed qui</div>
  <time>April 20, 2003</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Handcrafted Fresh Cheese</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">tempora debitis aspernatur atque voluptatem incidunt debitis blanditiis dolorem omnis voluptas est tenetur voluptates tempora UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> non ea facilis non vitae ducimus ut numquam ut aut autem id quo numquam eaque</div>
  <time>July 3, 2005</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xlsx" >Rustic Wooden Cheese</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xlsx" aria-label="xlsx document">xlsx</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">enim voluptas repellat quas excepturi nihil iure iste fugit consectetur earum earum non qui inventore UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> et velit pariatur sequi necessitatibus consequuntur veniam id excepturi commodi ut vitae omnis dolorem magni</div>
  <time>October 11, 2006</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Handmade Rubber Shirt</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">excepturi vero eos soluta quo alias natus molestiae impedit aperiam aut culpa saepe qui fuga UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> quidem incidunt et est omnis consectetur omnis atque labore perferendis ea asperiores maiores perspiciatis sed</div>
  <time>January 27, 2000</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.zip" >Fantastic Concrete Pants</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__ppt" aria-label="ppt document">ppt</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">corrupti enim architecto ut sunt et pariatur officiis laudantium numquam illo ratione nemo modi ex UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> tempore earum repellendus ea nulla laborum consequuntur voluptate iure amet qui ut placeat rem maiores</div>
  <time>April 3, 2012</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xlsx" >Practical Granite Car</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__quote">est et tempora aspernatur consectetur eos perferendis velit et repellat maiores ex cupiditate aut vitae UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> nemo est et sapiente ut omnis dolorum cum sapiente blanditiis quibusdam tempora et et minus</div>
  <time>April 6, 2002</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.txt" >Generic Wooden Pizza</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">totam temporibus sunt voluptatibus possimus quae rem dolorum velit dolores non qui maiores ut nesciunt UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> sequi voluptatem eos fugit aut rem rem reiciendis fugit ratione culpa quam a aliquid cumque</div>
  <time>November 10, 2012</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.docx" >Sleek Fresh Chips</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">laborum unde officiis est sit harum et quis ut incidunt consectetur in sed quisquam voluptatibus UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> tempore corporis in aliquid neque voluptate magnam odit provident suscipit ea laborum inventore rerum repudiandae</div>
  <time>April 4, 2001</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.rtf" >Intelligent Granite Towels</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">exercitationem impedit et soluta et qui ducimus temporibus sit soluta facilis molestiae ad error quas UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> earum dolores laudantium velit dolor nemo quo aut ut deleniti sint vel officia sed reprehenderit</div>
  <time>August 18, 2013</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.rtf" >Tasty Steel Bike</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xlsx" aria-label="xlsx document">xlsx</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">sed enim ipsa est odio distinctio quia quaerat autem doloremque eum mollitia non incidunt necessitatibus UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> dolorem fugit est itaque sint asperiores deleniti temporibus itaque velit odit corporis hic libero numquam</div>
  <time>February 6, 2012</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.rtf" >Handcrafted Steel Mouse</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">minima harum illum doloribus placeat sed harum culpa voluptate perspiciatis non molestias inventore quo natus UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> autem qui sint numquam tempora totam molestiae animi quidem ut atque et placeat in aut</div>
  <time>August 28, 2011</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.ppt" >Refined Concrete Salad</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">ut itaque ut non dignissimos cum voluptas ut saepe harum rerum reiciendis aut quasi et UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> non nemo sit fugiat distinctio nulla iusto consequuntur culpa quas est quia facere quisquam doloribus</div>
  <time>June 30, 2016</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Tasty Rubber Sausages</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pptx" aria-label="pptx document">pptx</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">qui ex optio itaque vel ipsum nihil et aut quis explicabo consequuntur sint repudiandae hic UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> quidem sit sed maxime est voluptatem quaerat et aut voluptatibus saepe fugiat esse velit et</div>
  <time>February 16, 2010</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.doc" >Incredible Granite Computer</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">nihil odio asperiores est sunt repudiandae ratione velit amet eaque ut sed consequatur qui qui UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> quo nostrum molestiae magni accusamus quaerat molestiae tempora exercitationem eaque temporibus consequuntur dolorem quas aut</div>
  <time>June 15, 2005</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.ppt" >Ergonomic Cotton Chips</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">ut alias est tempore quia quia vel eligendi incidunt eligendi et quia ad pariatur rerum UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> ut quis consequatur cumque repudiandae necessitatibus omnis impedit repellendus quia rem molestias reiciendis cupiditate ut</div>
  <time>January 15, 2009</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.txt" >Licensed Concrete Chicken</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">eveniet voluptas nam nam quos adipisci ratione omnis temporibus molestiae sed unde quo rerum soluta UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> ea dolor corrupti quibusdam velit ad omnis voluptatem veritatis quia molestias deleniti aut commodi voluptas</div>
  <time>December 20, 2004</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.docx" >Fantastic Rubber Chips</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__docx" aria-label="docx document">docx</span>
  <div class="c-searchresult__quote">consequatur deleniti qui cumque eius iure officiis laudantium accusantium cupiditate esse aut eum provident voluptas UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> impedit eveniet autem aut dignissimos omnis consequatur aliquam repellat laboriosam exercitationem ut voluptatibus sunt ullam</div>
  <time>September 27, 2001</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Incredible Frozen Chips</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__docx" aria-label="docx document">docx</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">sed dicta voluptatem voluptatem deserunt iure sit quod est alias eum ducimus quod optio ipsa UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> ut sunt laborum ipsum iste iure placeat dolor necessitatibus perspiciatis deserunt eos officiis accusantium non</div>
  <time>May 11, 2001</time>
</div>

    <nav class="c-pagination">
  <ul>
    <li><a href="" aria-label="previous page">Previous</a></li>
    <li><a href="" aria-label="page 1">1</a></li>
    <li><a href="" title="previous set of pages">&hellip;</a></li>
    <li><a href="" aria-label="page 11">11</a></li>
    <li><a href="" aria-label="page 12">12</a></li>
    <li><a href="" aria-current="page">13</a></li>
    <li><a href="" aria-label="page 14">14</a></li>
    <li><a href="" aria-label="page 15">15</a></li>
    <li><a href="" title="next set of pages">&hellip;</a></li>
    <li><a href="" aria-label="page 47">47</a></li>
    <li><a href="" aria-label="next page">Next</a></li>
  </ul>
</nav>

  </main>
  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

