

<form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Practical Concrete Sausages ">
    <option value="Intelligent Metal Hat ">
    <option value="Refined Plastic Car ">
    <option value="Refined Granite Towels ">
    <option value="Fantastic Soft Cheese ">
    <option value="Intelligent Granite Car ">
    <option value="Rustic Wooden Car ">
    <option value="Handcrafted Concrete Cheese ">
    <option value="Tasty Fresh Sausages ">
    <option value="Gorgeous Wooden Pants ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

