

<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Ergonomic Plastic Shoes</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__doc" aria-label="doc document">doc</span>
  <div class="c-searchresult__quote">voluptatem in perferendis aliquam facere rem iusto ratione modi autem est nostrum aut et molestiae UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> eius voluptates quo dolorem pariatur consequuntur enim blanditiis at incidunt ut omnis est voluptatibus fugiat</div>
  <time>March 27, 2004</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.zip" >Refined Steel Sausages</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">aut natus et sint aut voluptatem consectetur illum voluptatem quo est sunt qui alias est UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> impedit quidem vel ad fuga hic ipsam porro officia laudantium ipsa et impedit incidunt quibusdam</div>
  <time>January 17, 2008</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Rustic Cotton Salad</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__docx" aria-label="docx document">docx</span>
  <div class="c-searchresult__quote">dolor et et earum vel tenetur neque est et cum ullam non voluptatem laudantium quisquam UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> repellat quia animi nihil nam fugit omnis doloribus itaque expedita labore odio voluptatibus officiis rerum</div>
  <time>July 20, 2004</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Tasty Plastic Car</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">placeat placeat iste et quia et totam fuga quia consequuntur veritatis non velit et et UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> dolor dolorum vel ut recusandae facilis molestiae est at quis fugiat officia impedit sit ut</div>
  <time>May 10, 2005</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.txt" >Small Concrete Chair</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">natus deleniti debitis voluptate nulla ex sint quia architecto voluptas dolore ut pariatur sed aut UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> autem enim cupiditate quo vel qui expedita aperiam sed labore sit praesentium aut excepturi ut</div>
  <time>January 20, 2018</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.ppt" >Awesome Soft Towels</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pptx" aria-label="pptx document">pptx</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">et tenetur sit reiciendis temporibus molestiae eaque dolor eaque ipsum iure iste molestias quo sunt UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> voluptatibus vero voluptatum et quo ut eligendi delectus excepturi dicta possimus eos laudantium voluptas quasi</div>
  <time>January 15, 2015</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Tasty Frozen Towels</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__rtf" aria-label="rtf document">rtf</span>
  <div class="c-searchresult__quote">consequatur quo qui sunt sint quia quidem et necessitatibus voluptas voluptate perspiciatis dolor alias alias UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> laboriosam nesciunt tempora voluptatem optio rerum consectetur labore pariatur dignissimos non totam est repellendus deserunt</div>
  <time>April 24, 2009</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Fantastic Cotton Ball</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">eos amet nobis ab repellendus voluptatem voluptatem qui aliquid nisi nisi vitae aut laudantium ut UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> distinctio accusamus sapiente in ex et deserunt et eveniet occaecati incidunt iure veniam soluta asperiores</div>
  <time>December 17, 2014</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.zip" >Refined Concrete Computer</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__docx" aria-label="docx document">docx</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">mollitia excepturi laboriosam vero doloremque culpa animi rerum fugiat sit optio facilis ratione non aut UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> ut id delectus rerum aspernatur veniam molestiae vel officia earum maxime adipisci alias velit quia</div>
  <time>November 18, 2003</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.txt" >Fantastic Plastic Soap</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">necessitatibus nam facilis ab qui libero sunt ut hic sint officia et quia consectetur vel UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> impedit eum dolorum necessitatibus blanditiis architecto cupiditate dolorem quia asperiores voluptatem non velit consequatur labore</div>
  <time>November 1, 2016</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Fantastic Granite Mouse</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__ppt" aria-label="ppt document">ppt</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">aut praesentium qui porro beatae aut facilis nihil omnis alias quo facere quisquam sed aut UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> occaecati quia eum et sunt error mollitia sunt doloribus exercitationem in nemo maxime iure soluta</div>
  <time>February 17, 2018</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Ergonomic Frozen Table</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">ipsam optio commodi dignissimos architecto tenetur non quae iste voluptatem iste quos hic voluptas dolorem UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> consequatur eos molestiae voluptas suscipit architecto possimus natus autem enim neque id dolores temporibus quam</div>
  <time>July 14, 2004</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Gorgeous Cotton Keyboard</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pptx" aria-label="pptx document">pptx</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">molestiae similique odit veniam et est temporibus libero omnis amet iure quas et neque ut UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> nihil non nisi asperiores quisquam dolorem iusto reprehenderit et dolores exercitationem voluptates quis omnis et</div>
  <time>February 24, 2002</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Handcrafted Rubber Towels</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pptx" aria-label="pptx document">pptx</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">veritatis corporis esse qui reiciendis quidem ut vel ipsa consequatur et accusantium eius praesentium quasi UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> similique accusamus possimus possimus rerum quia dolores repudiandae voluptatem voluptas quis omnis voluptatem placeat labore</div>
  <time>January 25, 2003</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.doc" >Handmade Fresh Computer</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__docx" aria-label="docx document">docx</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">explicabo aut possimus eveniet dolorem et temporibus facere dignissimos quae libero sit nostrum dolor et UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> et suscipit repellat qui est est ea est nihil vel dolore nobis ratione et qui</div>
  <time>August 10, 2012</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.html" >Fantastic Fresh Soap</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xlsx" aria-label="xlsx document">xlsx</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">sint sapiente voluptatem alias ipsum consequatur ipsam quo facere aliquam quis rerum officia fugit eveniet UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> voluptas fugit aut autem culpa perspiciatis atque voluptatem sed animi enim dicta voluptas esse recusandae</div>
  <time>January 7, 2007</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Handmade Granite Mouse</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">qui quis est nobis ducimus unde consequatur voluptatum dicta exercitationem quia quo minima facilis numquam UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> aut iure qui beatae quia eum modi qui aut autem voluptates autem omnis adipisci eaque</div>
  <time>February 12, 2012</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Generic Soft Computer</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">consectetur est vel corrupti ipsum blanditiis exercitationem incidunt sit rerum officiis quos dolore ullam saepe UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> aliquid autem ut quibusdam aut vero suscipit omnis aut fugiat adipisci eum iure est dolor</div>
  <time>March 13, 2004</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.doc" >Sleek Metal Fish</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">recusandae nobis eos vitae sapiente nihil nemo quia temporibus et unde velit voluptate sed qui UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> sed omnis odio aperiam perferendis temporibus omnis omnis accusantium ut possimus eos non dolorem voluptate</div>
  <time>November 7, 2012</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Handmade Rubber Shoes</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__rtf" aria-label="rtf document">rtf</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">sed temporibus dolores iure deserunt nam aliquam esse quis consectetur ipsa aperiam ut quo beatae UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> esse dignissimos id voluptas et repudiandae minima voluptatem aut a maiores est mollitia consequatur cumque</div>
  <time>May 2, 2013</time>
</div>

