

<form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Rustic Steel Mouse ">
    <option value="Rustic Plastic Towels ">
    <option value="Ergonomic Wooden Ball ">
    <option value="Gorgeous Frozen Chips ">
    <option value="Small Wooden Chair ">
    <option value="Licensed Steel Shoes ">
    <option value="Handmade Rubber Ball ">
    <option value="Gorgeous Plastic Cheese ">
    <option value="Practical Granite Table ">
    <option value="Small Frozen Gloves ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

