

<div class="t-layout--2">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Small Steel Sausages ">
    <option value="Intelligent Soft Salad ">
    <option value="Intelligent Metal Chair ">
    <option value="Tasty Plastic Chair ">
    <option value="Intelligent Rubber Chicken ">
    <option value="Licensed Plastic Gloves ">
    <option value="Ergonomic Soft Keyboard ">
    <option value="Ergonomic Cotton Chicken ">
    <option value="Fantastic Metal Bike ">
    <option value="Generic Cotton Ball ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Handmade Metal Computer</a>

</li>
    <li>
<a href="" >Awesome Wooden Soap</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside class="t-layout__sidebar1">
    <div class="c-refine o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 >
        Narrow Your Results 
    </h2>
    <a href="" class="c-refine__clear">Clear</a>
    <template v-if="!$mq.screen2">
      <button class="c-refine__open" v-on:click="toggle1" v-if="!isDisplayed">Open</button>
      <button class="c-refine__close" v-on:click="toggle1" v-if="isDisplayed">Close</button>
    </template>
  </header>
  <ul v-if="isDisplayed" v-cloak>
    <li>
      <a href="">
        <span class="c-refine__item-text">Rustic Wooden Salad</span>
        <span class="c-refine__item-number">(197 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Rustic Wooden Soap</span>
        <span class="c-refine__item-number">(139 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Gorgeous Soft Salad</span>
        <span class="c-refine__item-number">(105 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Incredible Plastic Hat</span>
        <span class="c-refine__item-number">(58 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Practical Concrete Fish</span>
        <span class="c-refine__item-number">(42 <span>results</span>)</span>
      </a>
    </li>
  </ul>
</div>

  </aside>
  <main id="maincontent">
    <div class="c-filter">
  <div class="c-filter__group">
    <div class="c-filter__label" id="c-filter-show-label">Show:</div>
    <ul aria-labelledby="c-filter-show-label">
      <li><a href="#" v-on:click="showButtonToggle1" v-bind:aria-current="[showButton1isPressed]">All results</a></li>
      <li><a href="#" v-on:click="showButtonToggle2" v-bind:aria-current="[showButton2isPressed]">Web pages</a></li>
      <li><a href="#" v-on:click="showButtonToggle3" v-bind:aria-current="[showButton3isPressed]">CDLINFO posts</a></li>
      <li><a href="#" v-on:click="showButtonToggle4" v-bind:aria-current="[showButton4isPressed]">Documents</a></li>
    </ul>
  </div>
  <div class="c-filter__group">
    <div class="c-filter__label" id="c-filter-sort-label">Sort by:</div>
    <ul aria-labelledby="c-filter-sort-label">
      <li><a href="#" v-on:click="sortButtonToggle1" v-bind:aria-current="[sortButton1isPressed]">Relevancy</a></li>
      <li><a href="#" v-on:click="sortButtonToggle2" v-bind:aria-current="[sortButton2isPressed]">Date</a></li>
    </ul>
  </div>
</div>

    <h1 class="c-records">
  Showing 1 - 10 of 612 results for "hat"
</h1>

    <div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Practical Frozen Computer</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__quote">in est est rem laborum qui facere non minus maxime non perferendis unde qui enim UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> fugiat nulla repudiandae ipsa aperiam fugiat repudiandae temporibus dolorem ducimus sunt vel eos et et</div>
  <time>July 28, 2015</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Practical Frozen Computer</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">labore nobis earum ipsum et enim praesentium repudiandae et dolor saepe dolorem ea suscipit placeat UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> asperiores mollitia est aperiam architecto aut porro unde officiis non amet quaerat laborum recusandae repudiandae</div>
  <time>June 25, 2010</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.ppt" >Handmade Fresh Bike</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">eum expedita iste ullam magnam aut nihil iste sapiente corrupti praesentium qui neque alias voluptatibus UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> aut illo occaecati quia et maxime maxime voluptatum cum soluta omnis aperiam voluptas et amet</div>
  <time>October 22, 2002</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.zip" >Unbranded Soft Salad</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__quote">quia placeat enim est et ab vero quidem odit harum atque reiciendis ducimus impedit sit UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> excepturi expedita veniam repellendus assumenda hic optio sint tenetur quidem eius dolor aspernatur eaque reiciendis</div>
  <time>December 7, 2001</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.zip" >Handcrafted Metal Bike</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">sit officiis sunt aliquam cupiditate dolorum labore sed et vel vitae facilis quisquam ut eum UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> doloremque fugiat odit accusamus enim deserunt vel et quibusdam vero dolores fugit quidem est praesentium</div>
  <time>February 24, 2015</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.txt" >Unbranded Plastic Shirt</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__rtf" aria-label="rtf document">rtf</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">inventore veniam aperiam dolores quos reprehenderit et excepturi quidem velit ut dolores incidunt quam est UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> non quo qui quia autem exercitationem veniam repellendus autem non ratione quod occaecati debitis odit</div>
  <time>September 16, 2001</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Sleek Fresh Towels</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__quote">nostrum illum laborum fugit temporibus optio facilis sunt quam eos occaecati ullam ex quidem dolorum UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> porro rem autem necessitatibus dolorum tenetur nobis fugit aperiam dignissimos rerum nihil laboriosam animi rem</div>
  <time>October 8, 2004</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.ppt" >Handcrafted Concrete Keyboard</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__docx" aria-label="docx document">docx</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">possimus voluptas at molestias et rerum autem tenetur ipsam aut doloribus tenetur et nesciunt minima UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> ducimus quibusdam quia alias accusamus repudiandae veritatis fugiat voluptatem reiciendis suscipit vel molestiae ex impedit</div>
  <time>July 11, 2000</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xlsx" >Refined Metal Pizza</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pptx" aria-label="pptx document">pptx</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">cumque et accusamus sint ipsa voluptas voluptatum sed cum velit ea quam numquam rerum minus UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> soluta eos porro eveniet non provident iusto quia fugiat non aut nulla assumenda et officia</div>
  <time>October 18, 2008</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.rtf" >Handcrafted Frozen Shoes</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__docx" aria-label="docx document">docx</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">omnis fuga accusamus ut error sint molestiae et nam dolores omnis delectus quam adipisci incidunt UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> ut qui consequatur ipsa rerum minima a voluptatum omnis voluptates qui eos perspiciatis repellat ut</div>
  <time>July 13, 2018</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Unbranded Granite Car</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xlsx" aria-label="xlsx document">xlsx</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">omnis laudantium placeat quisquam rerum cupiditate explicabo consectetur esse et quibusdam aut dolorem non culpa UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> et fuga et ipsa quo ut rerum sint quia aut mollitia hic et qui voluptate</div>
  <time>August 17, 2004</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.rtf" >Awesome Steel Car</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__rtf" aria-label="rtf document">rtf</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">eveniet inventore modi qui suscipit qui dolor magni aut voluptatem quidem quis quaerat a inventore UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> voluptas velit iste omnis quidem ut amet est omnis ipsum quas doloremque accusantium ea saepe</div>
  <time>February 30, 2013</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.zip" >Sleek Metal Shoes</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">fuga impedit tempore autem id repellendus sint est eius amet suscipit ad quis iste officia UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> tenetur nihil velit soluta voluptatem consectetur velit minus cumque qui nesciunt delectus repudiandae dolores totam</div>
  <time>July 30, 2009</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.zip" >Small Fresh Tuna</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">non veritatis dolor tenetur reiciendis non temporibus et nam quos sit totam ut fuga natus UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> ab quaerat blanditiis labore alias eius qui vel delectus incidunt dolor hic et ad quia</div>
  <time>August 1, 2004</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.txt" >Handmade Fresh Hat</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__quote">numquam tempora id maxime asperiores libero saepe aspernatur et debitis culpa nisi in minus quae UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> et fuga at voluptas sit et nam magnam eius aut excepturi ut tempore est fuga</div>
  <time>May 30, 2008</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.ppt" >Ergonomic Soft Gloves</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pptx" aria-label="pptx document">pptx</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">debitis dolor ullam non sit eos ratione commodi minus nihil quo labore quod architecto voluptate UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> fugit consequatur maxime suscipit ut sunt voluptatem voluptas adipisci autem id eveniet vitae qui voluptatum</div>
  <time>July 13, 2011</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.ppt" >Tasty Granite Bacon</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">aliquam minus cupiditate dolorem ipsam dolore ex est eum non quos dicta veritatis rerum sunt UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> dicta dolores facilis aut labore voluptates magni qui totam fuga asperiores fuga facilis magni ut</div>
  <time>February 7, 2000</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.html" >Practical Fresh Chicken</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">quo consequuntur omnis aliquam qui labore repudiandae velit explicabo magni dolorem dolore porro ducimus sequi UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> aut nisi qui enim iure ducimus aut omnis ullam blanditiis perspiciatis consequatur in occaecati commodi</div>
  <time>November 11, 2003</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.html" >Fantastic Granite Ball</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__doc" aria-label="doc document">doc</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">in eius nihil illum iste et commodi placeat non illum et dolor omnis at et UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> reprehenderit quo voluptatem accusamus corporis consectetur dolorem sed voluptatem laborum quo voluptas voluptas est ut</div>
  <time>March 28, 2013</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.ppt" >Fantastic Rubber Mouse</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__ppt" aria-label="ppt document">ppt</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">laudantium dolorem molestiae facilis ut esse et magnam ipsa perspiciatis libero esse aut facilis veniam UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> quia voluptatem nisi necessitatibus ducimus temporibus beatae dolores ut et quis occaecati ut corporis itaque</div>
  <time>April 14, 2013</time>
</div>

    <nav class="c-pagination">
  <ul>
    <li><a href="" aria-label="previous page">Previous</a></li>
    <li><a href="" aria-label="page 1">1</a></li>
    <li><a href="" title="previous set of pages">&hellip;</a></li>
    <li><a href="" aria-label="page 11">11</a></li>
    <li><a href="" aria-label="page 12">12</a></li>
    <li><a href="" aria-current="page">13</a></li>
    <li><a href="" aria-label="page 14">14</a></li>
    <li><a href="" aria-label="page 15">15</a></li>
    <li><a href="" title="next set of pages">&hellip;</a></li>
    <li><a href="" aria-label="page 47">47</a></li>
    <li><a href="" aria-label="next page">Next</a></li>
  </ul>
</nav>

  </main>
  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

