

<div class="c-searchresult">
  <h2 >
      
      <a href="file.html" >Tasty Concrete Gloves</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">quia iure commodi aliquid est sit autem at molestias aut voluptas sapiente architecto accusantium omnis UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> dolor sit dolorem corporis commodi vitae possimus asperiores doloremque et dolorum est qui sint quidem</div>
  <time>November 10, 2018</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Sleek Steel Sausages</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__docx" aria-label="docx document">docx</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">nisi molestias qui veritatis sit sequi soluta explicabo nobis delectus eum iusto doloremque optio nisi UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> aut dolor architecto occaecati id omnis distinctio ratione aliquam vero a sunt voluptas debitis officiis</div>
  <time>January 21, 2015</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Rustic Metal Towels</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">libero ea dolores alias placeat velit deleniti architecto dolor consectetur et eius delectus veritatis ipsum UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> perspiciatis at quaerat hic magnam consequatur molestiae consequatur odit numquam quo molestias id est qui</div>
  <time>December 28, 2018</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.html" >Fantastic Concrete Salad</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__ppt" aria-label="ppt document">ppt</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">rerum porro provident omnis enim repellendus at vitae est exercitationem laborum molestias eos doloribus enim UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> officiis perspiciatis id voluptatibus architecto soluta reiciendis laboriosam quasi praesentium quisquam occaecati totam perspiciatis aut</div>
  <time>August 2, 2017</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Sleek Plastic Table</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">voluptas ad dolores similique et pariatur itaque ab in aliquid at nemo quam enim vero UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> ipsa provident nihil repellat sed rerum fugit cupiditate dolores ab est nostrum ratione cumque et</div>
  <time>May 5, 2018</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Licensed Concrete Chair</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">unde facere perferendis et officia sed voluptatem expedita ut est consequatur dolorum et qui ratione UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> consequuntur quo qui labore ut magni animi officia ipsa ea molestias consequatur consequatur distinctio et</div>
  <time>January 13, 2016</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.zip" >Incredible Cotton Towels</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">dolores et temporibus in aut repellat natus rem eligendi eaque at illum voluptatum ea exercitationem UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> quia quos id ullam sunt unde deleniti minus consequuntur quia dignissimos corrupti qui totam alias</div>
  <time>September 5, 2014</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.ppt" >Ergonomic Fresh Pizza</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">necessitatibus inventore deserunt nemo nesciunt excepturi fugiat corrupti ut aliquid ipsam ab omnis vero magnam UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> cum voluptas sequi cumque aut ut assumenda nesciunt facilis et sit ipsum et perferendis et</div>
  <time>September 15, 2001</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xlsx" >Practical Wooden Car</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">deserunt molestiae et esse ut et amet minima fuga beatae totam distinctio quas sunt rerum UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> vero ut libero eveniet pariatur laborum aut sed deleniti saepe vero vel in non blanditiis</div>
  <time>November 24, 2012</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Ergonomic Rubber Soap</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">dolore et aliquam hic repellat exercitationem illum qui beatae rerum eos ut est modi autem UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> sapiente nisi quis iusto iure omnis earum quos aut fuga nostrum quas explicabo quas vitae</div>
  <time>March 25, 2008</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xlsx" >Handcrafted Plastic Mouse</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">quis nemo dolores ab qui voluptatem consequatur sunt quia deleniti sed nostrum voluptates rerum qui UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> non facere voluptatem saepe voluptate eaque asperiores recusandae iusto repellat laboriosam ut incidunt saepe modi</div>
  <time>October 1, 2004</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.html" >Intelligent Metal Ball</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pptx" aria-label="pptx document">pptx</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">maxime ipsa sint voluptatem explicabo velit rem et doloribus sit ea dolore dolorum amet nemo UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> praesentium unde qui voluptate et unde ut tenetur quas illo et eius sunt ipsam autem</div>
  <time>February 15, 2010</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Gorgeous Cotton Computer</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__quote">nobis officiis deserunt quidem minima iure quae eveniet repellat et consequuntur assumenda quia recusandae ea UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> accusantium amet quos corporis beatae autem molestiae et fuga libero rerum nam dolores et cupiditate</div>
  <time>June 28, 2017</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Ergonomic Steel Chair</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">et dicta fugit provident molestiae enim maxime similique ullam voluptates sit aspernatur labore harum neque UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> dolores ipsum aliquid ipsum ut dolorem quas aut commodi dolor eum quo dolor nihil quod</div>
  <time>December 7, 2001</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.html" >Sleek Steel Hat</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">ut et vel quaerat et sed sunt ratione qui quas nesciunt nihil illo mollitia perferendis UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> accusantium qui aut et placeat aut provident doloremque totam unde similique voluptas pariatur magnam fugiat</div>
  <time>July 18, 2017</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Awesome Cotton Ball</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">fugit qui doloremque nihil hic inventore quia sunt et repudiandae dolorem numquam quaerat sed iste UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> quibusdam dolorem voluptas aliquam perspiciatis laborum ab repellat et excepturi ut harum non quibusdam ut</div>
  <time>August 16, 2005</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.rtf" >Licensed Plastic Bike</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xlsx" aria-label="xlsx document">xlsx</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">sequi eum optio odio quis adipisci officia qui molestias repudiandae cupiditate quis et deserunt id UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> provident vel dolor assumenda itaque error veniam eligendi in quod laboriosam eum tenetur quo voluptatem</div>
  <time>February 8, 2010</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Licensed Frozen Car</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">qui illum qui quas ea veritatis nam consequuntur aut aut exercitationem recusandae illum in sit UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> numquam deserunt ad voluptatem adipisci voluptatem eveniet aut deleniti voluptas autem consequatur tempore in dicta</div>
  <time>November 2, 2013</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.txt" >Handcrafted Rubber Soap</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pptx" aria-label="pptx document">pptx</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">sit architecto rerum repellat et commodi aliquid nihil numquam suscipit aut necessitatibus nesciunt eius placeat UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> quas nulla quis nulla similique est ratione repudiandae pariatur ut officia accusantium quisquam et praesentium</div>
  <time>August 24, 2014</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Sleek Wooden Pizza</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__doc" aria-label="doc document">doc</span>
  <div class="c-searchresult__quote">alias tenetur ipsum dignissimos quos provident et quidem odit itaque quo velit vitae porro culpa UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> voluptas tenetur dolor at minima vel placeat modi libero ullam facilis sunt illo tenetur velit</div>
  <time>July 17, 2008</time>
</div>

