

<nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 id="secondarynav-heading">
        
        <a href="" >Awesome Rubber Pants</a>
        
    </h2>
    <template v-if="!$mq.screen2">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">Close Menu</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">Open Menu</button>
    </template>
  </header>
  <div v-if="isDisplayed" v-cloak>
    <ul>
      <li>
<a href="" >Awesome Rubber Pants</a>


        <ul>
          <li>
<a href="" >Sleek Rubber Shoes</a>

</li>
          <li>
<a href="" >Fantastic Soft Table</a>

</li>
          <li>
<a href="" >Gorgeous Soft Keyboard</a>

</li>
          <li>
<a href="" >Awesome Rubber Pants</a>


            <ul>
              <li>
<a href="" >Fantastic Soft Pizza</a>

</li>
              <li>
<a href="" >Ergonomic Wooden Tuna</a>

</li>
              <li>
<a href="" >Small Granite Ball</a>

</li>
              <li>
<a href="" >Awesome Rubber Pants</a>


                <ul>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Practical Concrete Shoes</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Intelligent Granite Computer</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Generic Soft Towels</a>

</li>
                  <li>
<a href="" >Awesome Rubber Pants</a>


                    <ul>
                      <li>
<a href="" >Ergonomic Metal Salad</a>

</li>
                      <li>
<a href="" >Awesome Steel Keyboard</a>

</li>
                      <li>
<a href="" >Sleek Wooden Salad</a>

</li>
                      <li class="current_page_item">
<a href="" >Awesome Rubber Pants</a>


                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

