

<label class="o-label2" for="select">Label</label>
<select class="o-select" name="name" id="select" aria-labelledby="labelledby">
  <option value="">Choose Your Option</option>
  <option value="1">Tasty Steel Tuna</option>
  <option value="2">Fantastic Fresh Gloves</option>
  <option value="3">Fantastic Metal Mouse</option>
  <option value="4">Handmade Frozen Chicken</option>
  <option value="5">Sleek Frozen Chair</option>
  <option value="6">Intelligent Fresh Table</option>
  <option value="7">Unbranded Rubber Keyboard</option>
  <option value="8">Gorgeous Granite Ball</option>
  <option value="9">Licensed Plastic Fish</option>
  <option value="10">Intelligent Concrete Soap</option>
</select>

