

<label class="o-label2" for="select">Label</label>
<select class="o-select" name="name" id="select" aria-labelledby="labelledby">
  <option value="">Choose Your Option</option>
  <option value="1">Refined Steel Gloves</option>
  <option value="2">Small Soft Salad</option>
  <option value="3">Ergonomic Steel Cheese</option>
  <option value="4">Awesome Plastic Chips</option>
  <option value="5">Gorgeous Metal Car</option>
  <option value="6">Intelligent Wooden Tuna</option>
  <option value="7">Gorgeous Plastic Shoes</option>
  <option value="8">Sleek Rubber Sausages</option>
  <option value="9">Rustic Granite Shoes</option>
  <option value="10">Unbranded Rubber Car</option>
</select>

