

<label class="o-label2" for="select">Label</label>
<select class="o-select" name="name" id="select" aria-labelledby="labelledby">
  <option value="">Choose Your Option</option>
  <option value="1">Refined Steel Tuna</option>
  <option value="2">Licensed Steel Pizza</option>
  <option value="3">Sleek Plastic Chair</option>
  <option value="4">Ergonomic Metal Mouse</option>
  <option value="5">Rustic Soft Computer</option>
  <option value="6">Ergonomic Plastic Chicken</option>
  <option value="7">Refined Soft Cheese</option>
  <option value="8">Licensed Cotton Shoes</option>
  <option value="9">Refined Steel Computer</option>
  <option value="10">Awesome Cotton Ball</option>
</select>

