

<div class="c-servicebox">
  <section>
    <header>
      <h3 >
          Chicken 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Handcrafted Metal Keyboard</a>

</li>
      <li>
<a href="" >Awesome Plastic Chair</a>

</li>
      <li>
<a href="" >Gorgeous Soft Mouse</a>

</li>
      <li>
<a href="" >Refined Concrete Pants</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Table 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Handcrafted Metal Keyboard</a>

</li>
      <li>
<a href="" >Awesome Plastic Chair</a>

</li>
      <li>
<a href="" >Gorgeous Soft Mouse</a>

</li>
      <li>
<a href="" >Refined Concrete Pants</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Chair 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Handcrafted Metal Keyboard</a>

</li>
      <li>
<a href="" >Awesome Plastic Chair</a>

</li>
      <li>
<a href="" >Gorgeous Soft Mouse</a>

</li>
      <li>
<a href="" >Refined Concrete Pants</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Salad 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Handcrafted Metal Keyboard</a>

</li>
      <li>
<a href="" >Awesome Plastic Chair</a>

</li>
      <li>
<a href="" >Gorgeous Soft Mouse</a>

</li>
      <li>
<a href="" >Refined Concrete Pants</a>

</li>
    </ul>
  </section>
</div>

