

<div class="c-servicebox">
  <section>
    <header>
      <h3 >
          Salad 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Licensed Fresh Shoes</a>

</li>
      <li>
<a href="" >Ergonomic Rubber Sausages</a>

</li>
      <li>
<a href="" >Practical Cotton Mouse</a>

</li>
      <li>
<a href="" >Intelligent Plastic Table</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Soap 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Licensed Fresh Shoes</a>

</li>
      <li>
<a href="" >Ergonomic Rubber Sausages</a>

</li>
      <li>
<a href="" >Practical Cotton Mouse</a>

</li>
      <li>
<a href="" >Intelligent Plastic Table</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Tuna 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Licensed Fresh Shoes</a>

</li>
      <li>
<a href="" >Ergonomic Rubber Sausages</a>

</li>
      <li>
<a href="" >Practical Cotton Mouse</a>

</li>
      <li>
<a href="" >Intelligent Plastic Table</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Fish 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Licensed Fresh Shoes</a>

</li>
      <li>
<a href="" >Ergonomic Rubber Sausages</a>

</li>
      <li>
<a href="" >Practical Cotton Mouse</a>

</li>
      <li>
<a href="" >Intelligent Plastic Table</a>

</li>
    </ul>
  </section>
</div>

