

<!-- Start: @sidebarpost--1 -->
<section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--author">
  <header>
    <h2 id="c-sidebarpost--author-heading">Authors</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--author-heading">
    <option value="">Select Author</option>
    <option value="https://www.cdlib.org/cdlinfo/author/abrin/">Adam Brin (4)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/bhui/">Barbara Hui (14)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/cli/">Chan Li (2)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/dlowenberg/">Daniella Lowenberg (16)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/eproulx/">Elise Proulx (14)</option>
  </select>
  <button onclick="openAuthor()" disabled>View All by Author</button>
</section>
<!-- End: @sidebarpost--1 -->

<!-- Start: @sidebarpost--2 -->
<section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--month">
  <header>
    <h2 id="c-sidebarpost--month-heading">Months of Publication</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--month-heading">
    <option value="">Select Month</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/08/">August 2019 (6)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/07/">July 2019 (9)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/06/">June 2019 (6)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/05/">May 2019 (20)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/04/">April 2019 (17)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/03/">March 2019 (10)</option>
  </select>
  <button onclick="openMonth()" disabled>View All from Month</button>
</section>
<!-- End: @sidebarpost--2 -->

