

<section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--month">
  <header>
    <h2 id="c-sidebarpost--month-heading">Months of Publication</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--month-heading">
    <option value="">Select Month</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/08/">August 2019 (12)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/07/">July 2019 (11)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/06/">June 2019 (5)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/05/">May 2019 (14)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/04/">April 2019 (19)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/03/">March 2019 (7)</option>
  </select>
  <button onclick="openMonth()" disabled>View All from Month</button>
</section>

