

<section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--author">
  <header>
    <h2 id="c-sidebarpost--author-heading">Authors</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--author-heading">
    <option value="">Select Author</option>
    <option value="https://www.cdlib.org/cdlinfo/author/abrin/">Adam Brin (7)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/bhui/">Barbara Hui (6)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/cli/">Chan Li (2)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/dlowenberg/">Daniella Lowenberg (19)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/eproulx/">Elise Proulx (16)</option>
  </select>
  <button onclick="openAuthor()" disabled>View All by Author</button>
</section>

