

<!-- Start: @sidebarbox--1 -->
<section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  Amet ducimus sint dolorum sequi sint id. Nesciunt et quod quia sunt adipisci odit dolor reprehenderit. Occaecati quaerat incidunt quia assumenda ea ad.
</section>
<!-- End: @sidebarbox--1 -->

<!-- Start: @sidebarbox--2 -->
<section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  <ul>
    <li>
<a href="https://rhea.org" data-wpel-link="external">Porro vel et et in labore aut quia rerum laboriosam</a>

</li>
    <li>
<a href="http://skylar.name" >Iusto blanditiis sunt modi dolor tempore harum maxime optio</a>

</li>
    <li>
<a href="https://caleb.net" >Quia magnam nisi porro dolores</a>

</li>
    <li>
<a href="https://effie.org" >Corporis consequatur sit quam reprehenderit et perspiciatis quasi rerum occaecati</a>

</li>
    <li>
<a href="http://janick.org" >Tempore qui suscipit excepturi ad</a>

</li>
  </ul>
</section>
<!-- End: @sidebarbox--2 -->

