

<!-- Start: @sidebarbox--1 -->
<section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  Ut modi adipisci et nihil aut qui voluptas. Aut tempore voluptates. Nostrum dolores nostrum ipsam. Id dolorem fugit et quia sit.
</section>
<!-- End: @sidebarbox--1 -->

<!-- Start: @sidebarbox--2 -->
<section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  <ul>
    <li>
<a href="https://monique.com" data-wpel-link="external">Mollitia illo neque modi</a>

</li>
    <li>
<a href="https://hector.net" >Fugiat enim et et rerum</a>

</li>
    <li>
<a href="https://sabryna.com" data-wpel-link="external">Amet quae voluptatem ratione aliquid repudiandae</a>

</li>
    <li>
<a href="https://amos.info" >Necessitatibus ipsum praesentium facere id</a>

</li>
    <li>
<a href="http://tyshawn.net" >Molestias optio sint iure provident</a>

</li>
  </ul>
</section>
<!-- End: @sidebarbox--2 -->

