

<main class="c-slideshow" aria-label="slideshow">
  <div class="c-slideshow__controls">
    <button class="c-slideshow__play" title="play slideshow"><span>play slideshow</span></button>
    <button class="c-slideshow__pause" title="pause slideshow"><span>pause slideshow</span></button>
    <button id="c-slideshow__goto1" class="c-slideshow__goto" aria-label="go to slide 1 of 4">1</button>
    <button id="c-slideshow__goto2" class="c-slideshow__goto" aria-label="go to slide 2 of 4">2</button>
    <button id="c-slideshow__goto3" class="c-slideshow__goto" aria-label="go to slide 3 of 4">3</button>
    <button id="c-slideshow__goto4" class="c-slideshow__goto" aria-label="go to slide 4 of 4">4</button>
  </div>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Handmade Frozen Table</h2>
      <p>Eius nemo qui nam. Quas minima alias modi maiores reiciendis.</p>
      <a href="https://escholarship.org">Read more</a>
      <small>Photo by Adrain Ortiz. Courtesy of ea deserunt et [Slide 1]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;0 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;0 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;0" alt="Incredible Concrete Car">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Incredible Cotton Hat</h2>
      <p>Porro reprehenderit delectus eos. Non sed vitae.</p>
      <a href="https://www.hathitrust.org">Read more</a>
      <small>Photo by Ivy Ledner. Courtesy of natus rerum esse [Slide 2]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;1 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;1 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;1" alt="Unbranded Metal Car">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Gorgeous Steel Bike</h2>
      <p>Ea maiores dolor id omnis exercitationem. Dignissimos mollitia temporibus quis fuga.</p>
      <a href="https://escholarship.org">Read more</a>
      <small>Photo by Juston Torp. Courtesy of fugit voluptates earum [Slide 3]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;2 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;2 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;2" alt="Refined Soft Tuna">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Rustic Soft Shirt</h2>
      <p>Provident in nihil autem ut expedita asperiores quibusdam. Quae sed dicta velit deserunt ut reiciendis earum omnis voluptas.</p>
      <a href="https://calisphere.org">Read more</a>
      <small>Photo by Mrs. Melody Schmitt. Courtesy of quam ut iusto [Slide 4]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;3 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;3 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;3" alt="Rustic Soft Chair">
    </div>
  </figure>
</main>

