

<main class="c-slideshow" aria-label="slideshow">
  <div class="c-slideshow__controls">
    <button class="c-slideshow__play" title="play slideshow"><span>play slideshow</span></button>
    <button class="c-slideshow__pause" title="pause slideshow"><span>pause slideshow</span></button>
    <button id="c-slideshow__goto1" class="c-slideshow__goto" aria-label="go to slide 1 of 4">1</button>
    <button id="c-slideshow__goto2" class="c-slideshow__goto" aria-label="go to slide 2 of 4">2</button>
    <button id="c-slideshow__goto3" class="c-slideshow__goto" aria-label="go to slide 3 of 4">3</button>
    <button id="c-slideshow__goto4" class="c-slideshow__goto" aria-label="go to slide 4 of 4">4</button>
  </div>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Gorgeous Metal Pizza</h2>
      <p>Voluptatem explicabo vel odit aut quae. Qui deserunt sint odit.</p>
      <a href="https://dmptool.org">Read more</a>
      <small>Photo by Bobby Kirlin. Courtesy of vel doloribus alias [Slide 1]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;0 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;0 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;0" alt="Intelligent Concrete Bike">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Fantastic Metal Bike</h2>
      <p>Recusandae fugiat iste. Sit architecto suscipit excepturi quaerat dolor molestias veritatis.</p>
      <a href="https://escholarship.org">Read more</a>
      <small>Photo by Dr. Sunny Homenick. Courtesy of dolorem iure consequatur [Slide 2]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;1 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;1 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;1" alt="Handmade Plastic Mouse">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Generic Fresh Fish</h2>
      <p>Minus cupiditate nesciunt magni iste occaecati. Et et magnam ut commodi eum earum et minima.</p>
      <a href="https://dmptool.org">Read more</a>
      <small>Photo by Elton Abshire. Courtesy of ad accusamus quos [Slide 3]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;2 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;2 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;2" alt="Handmade Concrete Shoes">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Unbranded Rubber Pizza</h2>
      <p>Quia consequatur quo reprehenderit. Dolores repudiandae fugiat.</p>
      <a href="https://calisphere.org">Read more</a>
      <small>Photo by Jaquan Denesik. Courtesy of quia consequatur ex [Slide 4]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;3 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;3 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;3" alt="Refined Rubber Gloves">
    </div>
  </figure>
</main>

