

<main class="c-slideshow" aria-label="slideshow">
  <div class="c-slideshow__controls">
    <button class="c-slideshow__play" title="play slideshow"><span>play slideshow</span></button>
    <button class="c-slideshow__pause" title="pause slideshow"><span>pause slideshow</span></button>
    <button id="c-slideshow__goto1" class="c-slideshow__goto" aria-label="go to slide 1 of 4">1</button>
    <button id="c-slideshow__goto2" class="c-slideshow__goto" aria-label="go to slide 2 of 4">2</button>
    <button id="c-slideshow__goto3" class="c-slideshow__goto" aria-label="go to slide 3 of 4">3</button>
    <button id="c-slideshow__goto4" class="c-slideshow__goto" aria-label="go to slide 4 of 4">4</button>
  </div>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Small Plastic Gloves</h2>
      <p>Dolor et veritatis aperiam accusamus quod provident dolor veniam et. Ratione eligendi et vel.</p>
      <a href="https://escholarship.org">Read more</a>
      <small>Photo by Darian Will. Courtesy of nemo sequi deserunt [Slide 1]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;0 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;0 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;0" alt="Gorgeous Soft Shoes">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Handmade Cotton Mouse</h2>
      <p>Sequi fugiat ipsam. Enim expedita fugit quae ad.</p>
      <a href="https://www.hathitrust.org">Read more</a>
      <small>Photo by Laura Ratke. Courtesy of qui quidem facere [Slide 2]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;1 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;1 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;1" alt="Unbranded Granite Cheese">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Licensed Frozen Bacon</h2>
      <p>Corrupti aut doloremque aut et voluptates nemo dolore quo voluptas. Ut explicabo voluptatem ipsum in sunt neque.</p>
      <a href="https://dmptool.org">Read more</a>
      <small>Photo by Antone Thiel. Courtesy of et reprehenderit odio [Slide 3]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;2 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;2 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;2" alt="Tasty Fresh Soap">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Unbranded Soft Pizza</h2>
      <p>Et aliquam fuga eaque dignissimos. Qui veniam architecto velit.</p>
      <a href="https://escholarship.org">Read more</a>
      <small>Photo by Pinkie Herman. Courtesy of id aut nostrum [Slide 4]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;3 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;3 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;3" alt="Intelligent Soft Pants">
    </div>
  </figure>
</main>

