

<div class="t-layout--3">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Practical Concrete Sausages ">
    <option value="Intelligent Metal Hat ">
    <option value="Refined Plastic Car ">
    <option value="Refined Granite Towels ">
    <option value="Fantastic Soft Cheese ">
    <option value="Intelligent Granite Car ">
    <option value="Rustic Wooden Car ">
    <option value="Handcrafted Concrete Cheese ">
    <option value="Tasty Fresh Sausages ">
    <option value="Gorgeous Wooden Pants ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Intelligent Granite Hat</a>

</li>
    <li>
<a href="" >Handcrafted Metal Sausages</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside aria-label="first" class="t-layout__sidebar1">
    <nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 id="secondarynav-heading">
        
        <a href="" >Sleek Cotton Chicken</a>
        
    </h2>
    <template v-if="!$mq.screen2">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">Close Menu</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">Open Menu</button>
    </template>
  </header>
  <div v-if="isDisplayed" v-cloak>
    <ul>
      <li>
<a href="" >Sleek Cotton Chicken</a>


        <ul>
          <li>
<a href="" >Ergonomic Concrete Shirt</a>

</li>
          <li>
<a href="" >Rustic Soft Tuna</a>

</li>
          <li>
<a href="" >Handcrafted Granite Gloves</a>

</li>
          <li>
<a href="" >Sleek Cotton Chicken</a>


            <ul>
              <li>
<a href="" >Intelligent Wooden Computer</a>

</li>
              <li>
<a href="" >Handmade Wooden Chicken</a>

</li>
              <li>
<a href="" >Practical Steel Bike</a>

</li>
              <li>
<a href="" >Sleek Cotton Chicken</a>


                <ul>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Intelligent Wooden Gloves</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Handcrafted Rubber Chicken</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Ergonomic Soft Ball</a>

</li>
                  <li>
<a href="" >Sleek Cotton Chicken</a>


                    <ul>
                      <li>
<a href="" >Practical Metal Fish</a>

</li>
                      <li>
<a href="" >Handmade Plastic Mouse</a>

</li>
                      <li>
<a href="" >Licensed Concrete Bike</a>

</li>
                      <li class="current_page_item">
<a href="" >Sleek Cotton Chicken</a>


                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  </aside>
  <main id="maincontent">
    <h1 >
        Marlene Crona II 
    </h1>
    <form class="c-contact" action="">
      <button>Contact Information</button>
    </form>
    <img class="c-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/_vojto/128.jpg" alt="Alba Stark">

    <h2>Program / Service</h2>
    <p>Alias aut minus dolores.</p>
    <h2>Job Title</h2>
    <p>Corporate Usability Architect</p>
    <h2>Responsibilities</h2>
    <p>Multi-lateral coherent policy est velit quo nihil rerum et autem dolorem delectus totam ullam molestiae unde quo dolorum blanditiis voluptatem impedit temporibus rem nisi qui similique beatae facilis optio incidunt perspiciatis ea neque voluptatibus explicabo unde quis maiores reprehenderit corrupti et eos et et harum cum et deserunt soluta enim adipisci et recusandae.</p>
    <h2>Education</h2>
    <p>Rerum aliquam nisi iure molestias asperiores vitae quia consectetur. Tempore nam est omnis praesentium incidunt. Dolorem quidem est enim sapiente vitae dolores beatae. Quisquam ut deserunt doloremque. Illum at vel esse non quia.</p>
    <h2>Background</h2>
    <p>Nam harum ullam. Consequatur qui voluptate aut qui modi aperiam. Itaque vero ab dignissimos est est repellat. Delectus temporibus iusto explicabo. Laborum perferendis culpa asperiores iste. Rem nihil harum cupiditate.</p>
    <h2>Professional Interests</h2>
    <p>Veritatis ut dolores placeat rem assumenda eaque. Totam illo dolore ut reprehenderit exercitationem omnis repudiandae. Autem cupiditate non voluptas laborum quaerat. Ad sed iste qui expedita consequatur quisquam magni.</p>
    <h2>Committees / Affiliations</h2>
    <p>Est voluptate culpa cumque minus explicabo sit odio eveniet quasi. Quo mollitia architecto illo mollitia qui ut.</p>
    <h2><abbr title="Orchid">ORCID</abbr> ID</h2>
    <a class="o-orcid" href="http://orcid.org/0000-0003-2326-6672" data-wpel-link="external">http://orcid.org/0000-0003-2326-6672</a>

    <h2>LinkedIn Profile</h2>
    <a href="http://raven.com">http://raven.com</a>
  </main>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-news o-sidebarbox">
  <header>
    <h2>
        Latest News
    </h2>
  </header>
  <ul>
    <li>
<a href="https://isabella.info" >Inventore at ea voluptas quaerat praesentium ipsam cumque</a>

</li>
    <li>
<a href="https://duane.org" >Deleniti natus quod laboriosam corrupti quia occaecati sequi</a>

</li>
    <li>
<a href="http://dale.org" >At illo odit perspiciatis ab omnis vel</a>

</li>
    <li>
<a href="" >More...</a>

</li>
  </ul>
</section>

  </aside>
  <aside aria-label="last updated by page owner" class="c-updated">
  <div id="updated-last" class="c-updated__label">Last updated:</div>
  <time aria-labelledby="updated-last">February 27, 2018</time>
  <div id="updated-owner" class="c-updated__label" aria-label="page owner">Page owner:</div>
  <address aria-labelledby="updated-owner">
    
    <a href="mailto:Napoleon.Thalia@ucop.edu" >Thalia Napoleon</a>
    
  </address>
</aside>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

