

<table class="c-staff">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Program</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Grant, Mathew</th>
      <td>Central Operations Architect</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Zboncak, Brielle</th>
      <td>Lead Integration Assistant</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Okuneva, Elna</th>
      <td>Corporate Data Executive</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Hilll, Theodore</th>
      <td>Customer Optimization Officer</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Douglas, Uriel</th>
      <td>District Factors Officer</td>
      <td>Discovery &amp; Delivery</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Bernhard, Corbin</th>
      <td>Investor Usability Designer</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Dibbert, Robin</th>
      <td>Lead Accountability Analyst</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Huels, Katarina</th>
      <td>Chief Interactions Specialist</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Murray, Destin</th>
      <td>Legacy Mobility Designer</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Crooks, Eryn</th>
      <td>Global Operations Associate</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Moore, Aletha</th>
      <td>National Tactics Agent</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Erdman, Ari</th>
      <td>Global Program Representative</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Berge, Robbie</th>
      <td>Dynamic Factors Producer</td>
      <td>Discovery &amp; Delivery</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Hilll, Rebecca</th>
      <td>Lead Optimization Associate</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Hane, Arnoldo</th>
      <td>Chief Usability Developer</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

