

<table class="c-staff">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Program</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sporer, Jodie</th>
      <td>District Paradigm Manager</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Schneider, King</th>
      <td>Corporate Creative Assistant</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Altenwerth, Pete</th>
      <td>Global Integration Analyst</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Cole, Selena</th>
      <td>Investor Accountability Agent</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Walker, Twila</th>
      <td>Senior Response Architect</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Barton, Eriberto</th>
      <td>Investor Integration Agent</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Schneider, Linwood</th>
      <td>Product Group Facilitator</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Swaniawski, Jeffrey</th>
      <td>Investor Factors Engineer</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Rau, Emma</th>
      <td>Dynamic Solutions Analyst</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Champlin, Breana</th>
      <td>Global Accounts Architect</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Will, Nicola</th>
      <td>District Research Architect</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Medhurst, Johnathon</th>
      <td>District Operations Producer</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Davis, Tyrel</th>
      <td>Customer Communications Engineer</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Hettinger, Florian</th>
      <td>Central Marketing Strategist</td>
      <td>Discovery &amp; Delivery</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Schoen, Van</th>
      <td>District Implementation Planner</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

