

<div class="t-layout--3">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Handcrafted Rubber Mouse ">
    <option value="Generic Cotton Bacon ">
    <option value="Refined Cotton Ball ">
    <option value="Incredible Rubber Computer ">
    <option value="Refined Fresh Shirt ">
    <option value="Awesome Plastic Tuna ">
    <option value="Awesome Granite Pizza ">
    <option value="Handcrafted Fresh Computer ">
    <option value="Handcrafted Steel Keyboard ">
    <option value="Small Granite Sausages ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Concrete Table</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Rubber Soap</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Granite Bacon</a>


          <ul>
            <li>
<a href="" >Handmade Rubber Keyboard</a>

</li>
            <li>
<a href="" >Generic Plastic Fish</a>

</li>
            <li>
<a href="" >Practical Rubber Chips</a>

</li>
            <li>
<a href="" >Gorgeous Soft Bike</a>

</li>
            <li>
<a href="" >Unbranded Granite Bacon</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Small Fresh Chair</a>

</li>
    <li>
<a href="" >Intelligent Soft Mouse</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside aria-label="first" class="t-layout__sidebar1">
    <nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 id="secondarynav-heading">
        
        <a href="" >Awesome Rubber Pants</a>
        
    </h2>
    <template v-if="!$mq.screen2">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">Close Menu</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">Open Menu</button>
    </template>
  </header>
  <div v-if="isDisplayed" v-cloak>
    <ul>
      <li>
<a href="" >Awesome Rubber Pants</a>


        <ul>
          <li>
<a href="" >Sleek Rubber Shoes</a>

</li>
          <li>
<a href="" >Fantastic Soft Table</a>

</li>
          <li>
<a href="" >Gorgeous Soft Keyboard</a>

</li>
          <li>
<a href="" >Awesome Rubber Pants</a>


            <ul>
              <li>
<a href="" >Fantastic Soft Pizza</a>

</li>
              <li>
<a href="" >Ergonomic Wooden Tuna</a>

</li>
              <li>
<a href="" >Small Granite Ball</a>

</li>
              <li>
<a href="" >Awesome Rubber Pants</a>


                <ul>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Practical Concrete Shoes</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Intelligent Granite Computer</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Generic Soft Towels</a>

</li>
                  <li>
<a href="" >Awesome Rubber Pants</a>


                    <ul>
                      <li>
<a href="" >Ergonomic Metal Salad</a>

</li>
                      <li>
<a href="" >Awesome Steel Keyboard</a>

</li>
                      <li>
<a href="" >Sleek Wooden Salad</a>

</li>
                      <li class="current_page_item">
<a href="" >Awesome Rubber Pants</a>


                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  </aside>
  <main id="maincontent">
    <h1 >
        Vella Lind 
    </h1>
    <form class="c-contact" action="">
      <button>Contact Information</button>
    </form>
    <img class="c-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/nwdsha/128.jpg" alt="Lyla Kshlerin">

    <h2>Program / Service</h2>
    <p>Assumenda sint explicabo necessitatibus repellat in quibusdam nulla.</p>
    <h2>Job Title</h2>
    <p>Legacy Interactions Supervisor</p>
    <h2>Responsibilities</h2>
    <p>Extended didactic architecture quasi occaecati est repellat nulla molestias earum sed similique cupiditate et modi saepe natus error quas natus autem eaque sequi provident voluptatem ut laboriosam vel magni quasi quas velit asperiores architecto ut reiciendis ut rerum voluptatem atque repellat est quae consequuntur similique sit nisi tempore est voluptatem animi voluptate dolorem.</p>
    <h2>Education</h2>
    <p>Beatae tempore repudiandae aperiam est et sed quo. Nisi fuga atque consequatur aut praesentium culpa perspiciatis voluptas id.</p>
    <h2>Background</h2>
    <p>Itaque ab ratione non et aspernatur. Ut eos consequatur et. Suscipit ipsa sit est ipsam ipsa est suscipit. Omnis odio et est et tempora voluptate eligendi commodi.</p>
    <h2>Professional Interests</h2>
    <p>Quos vitae unde temporibus qui a rerum animi. Non quae autem doloremque at perspiciatis nesciunt nesciunt nihil. Temporibus harum suscipit veritatis molestiae. Id dolores doloremque adipisci. Enim ut sapiente nam.</p>
    <h2>Committees / Affiliations</h2>
    <p>Similique numquam hic provident eum reprehenderit perspiciatis impedit. Ratione doloremque nam placeat quo tempora corporis ducimus a.</p>
    <h2><abbr title="Orchid">ORCID</abbr> ID</h2>
    <a class="o-orcid" href="http://orcid.org/0000-0003-2326-6672" data-wpel-link="external">http://orcid.org/0000-0003-2326-6672</a>

    <h2>LinkedIn Profile</h2>
    <a href="https://jovanny.name">https://jovanny.name</a>
  </main>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-news o-sidebarbox">
  <header>
    <h2>
        Latest News
    </h2>
  </header>
  <ul>
    <li>
<a href="http://ludwig.biz" >Est maiores voluptatem</a>

</li>
    <li>
<a href="https://lexie.org" >Ea rerum non doloribus sed harum quod natus quaerat</a>

</li>
    <li>
<a href="https://terrance.biz" >Vel nisi ut aliquam consequatur modi delectus animi sapiente doloribus</a>

</li>
    <li>
<a href="" >More...</a>

</li>
  </ul>
</section>

  </aside>
  <aside aria-label="last updated by page owner" class="c-updated">
  <div id="updated-last" class="c-updated__label">Last updated:</div>
  <time aria-labelledby="updated-last">February 27, 2018</time>
  <div id="updated-owner" class="c-updated__label" aria-label="page owner">Page owner:</div>
  <address aria-labelledby="updated-owner">
    
    <a href="mailto:Noel.Demario@ucop.edu" >Demario Noel</a>
    
  </address>
</aside>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Quaerat provident doloremque</a>

</li>
          <li>
<a href="" >Corrupti explicabo atque</a>

</li>
          <li>
<a href="" >Aperiam et nihil</a>

</li>
          <li>
<a href="" >Voluptatem voluptatem libero</a>

</li>
          <li>
<a href="" >Ea explicabo consequatur</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

