

<div class="t-layout--3">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Generic Plastic Bacon ">
    <option value="Tasty Soft Gloves ">
    <option value="Practical Plastic Pizza ">
    <option value="Generic Plastic Tuna ">
    <option value="Intelligent Soft Chair ">
    <option value="Tasty Metal Bacon ">
    <option value="Handmade Steel Chips ">
    <option value="Awesome Cotton Tuna ">
    <option value="Awesome Wooden Hat ">
    <option value="Tasty Frozen Fish ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Refined Rubber Hat</a>

</li>
    <li>
<a href="" >Rustic Frozen Keyboard</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside aria-label="first" class="t-layout__sidebar1">
    <nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 id="secondarynav-heading">
        
        <a href="" >Handmade Concrete Mouse</a>
        
    </h2>
    <template v-if="!$mq.screen2">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">Close Menu</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">Open Menu</button>
    </template>
  </header>
  <div v-if="isDisplayed" v-cloak>
    <ul>
      <li>
<a href="" >Handmade Concrete Mouse</a>


        <ul>
          <li>
<a href="" >Tasty Concrete Soap</a>

</li>
          <li>
<a href="" >Practical Granite Hat</a>

</li>
          <li>
<a href="" >Gorgeous Wooden Table</a>

</li>
          <li>
<a href="" >Handmade Concrete Mouse</a>


            <ul>
              <li>
<a href="" >Tasty Plastic Tuna</a>

</li>
              <li>
<a href="" >Sleek Rubber Car</a>

</li>
              <li>
<a href="" >Small Frozen Chips</a>

</li>
              <li>
<a href="" >Handmade Concrete Mouse</a>


                <ul>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Refined Metal Shoes</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Tasty Rubber Shoes</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Unbranded Cotton Chair</a>

</li>
                  <li>
<a href="" >Handmade Concrete Mouse</a>


                    <ul>
                      <li>
<a href="" >Intelligent Cotton Shirt</a>

</li>
                      <li>
<a href="" >Rustic Frozen Hat</a>

</li>
                      <li>
<a href="" >Intelligent Concrete Mouse</a>

</li>
                      <li class="current_page_item">
<a href="" >Handmade Concrete Mouse</a>


                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  </aside>
  <main id="maincontent">
    <h1 >
        Dr. Moriah Parisian 
    </h1>
    <form class="c-contact" action="">
      <button>Contact Information</button>
    </form>
    <img class="c-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Anika Kilback">

    <h2>Program / Service</h2>
    <p>Voluptatem et aliquam aut.</p>
    <h2>Job Title</h2>
    <p>Senior Factors Liaison</p>
    <h2>Responsibilities</h2>
    <p>Balanced system-worthy ability optio illo adipisci odit architecto voluptate cumque incidunt deserunt fugit nihil enim consequatur iusto pariatur ab ut ipsam odio quam minima eius dolor veniam voluptates nulla vel atque quis qui a voluptatum dolores culpa dolorum adipisci ea aut laudantium repellat illo totam facere at aut ea provident officiis a delectus.</p>
    <h2>Education</h2>
    <p>Atque quia qui velit qui et. Voluptas inventore repellendus quasi.</p>
    <h2>Background</h2>
    <p>Nihil rem sit optio blanditiis doloremque qui. Veritatis in nostrum.</p>
    <h2>Professional Interests</h2>
    <p>Harum quis quidem perspiciatis nesciunt delectus unde non. Quo dolorem quo commodi sit. Architecto soluta et corrupti veniam praesentium non in dolore vero. Dolores sit aut quod voluptate eligendi ducimus inventore laboriosam est. Ipsa iure harum assumenda veniam ullam magnam voluptas quasi quos.</p>
    <h2>Committees / Affiliations</h2>
    <p>Atque quo iusto tempore consequuntur consequatur quidem. Ad voluptates consequatur amet laboriosam. Voluptas dolores aut doloribus non sint sit veritatis aut. Nostrum animi autem nesciunt sed. Aut est sunt illo consequatur.</p>
    <h2><abbr title="Orchid">ORCID</abbr> ID</h2>
    <a class="o-orcid" href="http://orcid.org/0000-0003-2326-6672" data-wpel-link="external">http://orcid.org/0000-0003-2326-6672</a>

    <h2>LinkedIn Profile</h2>
    <a href="https://emil.com">https://emil.com</a>
  </main>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-news o-sidebarbox">
  <header>
    <h2>
        Latest News
    </h2>
  </header>
  <ul>
    <li>
<a href="https://waldo.com" >Et dicta non dolor eius unde voluptatibus</a>

</li>
    <li>
<a href="http://lorenza.org" >Saepe qui et porro aliquid dolor</a>

</li>
    <li>
<a href="https://nikolas.com" >Magni voluptates totam</a>

</li>
    <li>
<a href="" >More...</a>

</li>
  </ul>
</section>

  </aside>
  <aside aria-label="last updated by page owner" class="c-updated">
  <div id="updated-last" class="c-updated__label">Last updated:</div>
  <time aria-labelledby="updated-last">February 27, 2018</time>
  <div id="updated-owner" class="c-updated__label" aria-label="page owner">Page owner:</div>
  <address aria-labelledby="updated-owner">
    
    <a href="mailto:Lorenz.Jovanny@ucop.edu" >Jovanny Lorenz</a>
    
  </address>
</aside>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

