

<table class="c-status o-table">
  <thead>
    <tr>
      <th scope="col">CDL Maintained Systems</th>
      <th scope="col">Status</th>
      <th scope="col">Scheduled Maintenance Times</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Koch, Funk and Grimes </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Non fugit qui dolores.</td>
    </tr>
    <tr>
      <th scope="row">Turner Group </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Quia voluptate qui voluptatem fuga est eos.</td>
    </tr>
    <tr>
      <th scope="row">Little, Ferry and Reinger </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Architecto provident autem.</td>
    </tr>
    <tr>
      <th scope="row">O&#x27;Keefe, Mayert and Fahey </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Magni sint rerum laboriosam consequatur aliquam a maiores autem.</td>
    </tr>
    <tr>
      <th scope="row">Johns - Conroy </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Harum possimus excepturi quia voluptatum.</td>
    </tr>
    <tr>
      <th scope="row">Swaniawski - Dietrich </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Id deserunt dolorum voluptatem quis dicta.</td>
    </tr>
    <tr>
      <th scope="row">Pollich - Flatley </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Rerum voluptatem ducimus.</td>
    </tr>
    <tr>
      <th scope="row">Murray - Skiles </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Aut quo nisi voluptate vero fuga et necessitatibus sit ducimus.</td>
    </tr>
    <tr>
      <th scope="row">Borer - Cummings </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Fugit optio omnis hic natus.</td>
    </tr>
    <tr>
      <th scope="row">Mayer and Sons </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Expedita omnis nostrum cumque cum et quis minus quia.</td>
    </tr>
  </tbody>
</table>

