

<table class="c-status o-table">
  <thead>
    <tr>
      <th>CDL Maintained Systems</th>
      <th>Status</th>
      <th>Scheduled Maintenance Times</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Kiehn Inc </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Eveniet dolorum eius molestiae ut quas labore id ipsa possimus.</td>
    </tr>
    <tr>
      <th scope="row">Considine and Sons </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Inventore omnis eligendi.</td>
    </tr>
    <tr>
      <th scope="row">Ryan Group </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Eos quidem cupiditate omnis voluptas inventore enim ullam voluptates est.</td>
    </tr>
    <tr>
      <th scope="row">Moore - Ward </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Sit sed enim quasi assumenda.</td>
    </tr>
    <tr>
      <th scope="row">Flatley Inc </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Unde sed est animi quasi ex et non.</td>
    </tr>
    <tr>
      <th scope="row">Turcotte - Quitzon </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Nulla ipsa enim.</td>
    </tr>
    <tr>
      <th scope="row">Lesch, Wyman and Lebsack </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Hic mollitia molestiae harum soluta.</td>
    </tr>
    <tr>
      <th scope="row">Spencer - Feeney </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Laboriosam repellat nisi velit possimus et excepturi.</td>
    </tr>
    <tr>
      <th scope="row">Boyle, Jerde and Carroll </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Dolorem accusamus aspernatur et voluptatem dolor natus ut.</td>
    </tr>
    <tr>
      <th scope="row">McLaughlin, Watsica and Terry </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Corporis dolorem eligendi hic ea amet aperiam rerum est.</td>
    </tr>
  </tbody>
</table>

