

<table class="c-status o-table">
  <thead>
    <tr>
      <th scope="col">CDL Maintained Systems</th>
      <th scope="col">Status</th>
      <th scope="col">Scheduled Maintenance Times</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Marvin - Luettgen </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Incidunt amet et porro sed odio harum.</td>
    </tr>
    <tr>
      <th scope="row">D&#x27;Amore, Schimmel and Oberbrunner </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Officiis nihil quaerat ut ea soluta quo unde.</td>
    </tr>
    <tr>
      <th scope="row">Larson - Mraz </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Ut in voluptates.</td>
    </tr>
    <tr>
      <th scope="row">Block - Pouros </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Et ut repellendus molestiae incidunt amet dolor velit eligendi.</td>
    </tr>
    <tr>
      <th scope="row">Romaguera LLC </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Autem reprehenderit et repudiandae dolor quia adipisci tempore.</td>
    </tr>
    <tr>
      <th scope="row">Hamill, Terry and Von </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Sit id quo.</td>
    </tr>
    <tr>
      <th scope="row">Haag, Larkin and Torp </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Dolorum voluptatibus dicta commodi.</td>
    </tr>
    <tr>
      <th scope="row">Emard Inc </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Nostrum magni earum amet doloremque aut itaque labore.</td>
    </tr>
    <tr>
      <th scope="row">Gutmann - Aufderhar </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Aperiam natus libero porro expedita sed perferendis eligendi recusandae.</td>
    </tr>
    <tr>
      <th scope="row">Zboncak Group </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Laboriosam reprehenderit iusto porro cupiditate qui tempora qui quis dolores.</td>
    </tr>
  </tbody>
</table>

