

<div class="t-layout--3">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Practical Concrete Sausages ">
    <option value="Intelligent Metal Hat ">
    <option value="Refined Plastic Car ">
    <option value="Refined Granite Towels ">
    <option value="Fantastic Soft Cheese ">
    <option value="Intelligent Granite Car ">
    <option value="Rustic Wooden Car ">
    <option value="Handcrafted Concrete Cheese ">
    <option value="Tasty Fresh Sausages ">
    <option value="Gorgeous Wooden Pants ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Intelligent Granite Hat</a>

</li>
    <li>
<a href="" >Handcrafted Metal Sausages</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside aria-label="first" class="t-layout__sidebar1">
    <nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 id="secondarynav-heading">
        
        <a href="" >Sleek Cotton Chicken</a>
        
    </h2>
    <template v-if="!$mq.screen2">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">Close Menu</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">Open Menu</button>
    </template>
  </header>
  <div v-if="isDisplayed" v-cloak>
    <ul>
      <li>
<a href="" >Sleek Cotton Chicken</a>


        <ul>
          <li>
<a href="" >Ergonomic Concrete Shirt</a>

</li>
          <li>
<a href="" >Rustic Soft Tuna</a>

</li>
          <li>
<a href="" >Handcrafted Granite Gloves</a>

</li>
          <li>
<a href="" >Sleek Cotton Chicken</a>


            <ul>
              <li>
<a href="" >Intelligent Wooden Computer</a>

</li>
              <li>
<a href="" >Handmade Wooden Chicken</a>

</li>
              <li>
<a href="" >Practical Steel Bike</a>

</li>
              <li>
<a href="" >Sleek Cotton Chicken</a>


                <ul>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Intelligent Wooden Gloves</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Handcrafted Rubber Chicken</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Ergonomic Soft Ball</a>

</li>
                  <li>
<a href="" >Sleek Cotton Chicken</a>


                    <ul>
                      <li>
<a href="" >Practical Metal Fish</a>

</li>
                      <li>
<a href="" >Handmade Plastic Mouse</a>

</li>
                      <li>
<a href="" >Licensed Concrete Bike</a>

</li>
                      <li class="current_page_item">
<a href="" >Sleek Cotton Chicken</a>


                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  </aside>
  <main id="maincontent">
    <h1 >
        System Status 
    </h1>
    <section class="c-mainbox">
      <header><h2 >
        Latest CDLAlert 
    </h2>
    </header>
      <ul class="rss-aggregator">
        <li>
          
          <a href="" >CDL Alert: Veritatis aut consectetur error quae et consequatur molestiae.</a>
          
          <div>
            <span>7/10/2020</span>
          </div>
        </li>
        <li>
          
          <a href="" >CDL Alert: Assumenda eaque nisi natus fugit at ipsam omnis.</a>
          
          <div>
            <span>8/12/2020</span>
          </div>
        </li>
        <li>
          
          <a href="" >CDL Alert: Accusantium voluptas impedit reiciendis quidem est.</a>
          
          <div>
            <span>9/14/2020</span>
          </div>
        </li>
      </ul>
    </section>
    <table class="c-status o-table">
  <thead>
    <tr>
      <th scope="col">CDL Maintained Systems</th>
      <th scope="col">Status</th>
      <th scope="col">Scheduled Maintenance Times</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">O&#x27;Connell - Stehr </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Perferendis veniam voluptatibus vero.</td>
    </tr>
    <tr>
      <th scope="row">Feil Inc </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Dignissimos et voluptatum perferendis dolorem quasi sint nam.</td>
    </tr>
    <tr>
      <th scope="row">McGlynn LLC </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>A tempore incidunt itaque voluptatem ratione et dicta ipsam.</td>
    </tr>
    <tr>
      <th scope="row">Rowe and Sons </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Quia sed et sit est aut aut tempora quibusdam.</td>
    </tr>
    <tr>
      <th scope="row">Abernathy - Hamill </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Nam architecto tenetur repudiandae.</td>
    </tr>
    <tr>
      <th scope="row">Conroy, Schowalter and Leannon </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Ipsa est impedit molestiae molestiae voluptates ducimus et.</td>
    </tr>
    <tr>
      <th scope="row">Pfeffer Inc </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Labore eum ad possimus in ut dicta neque incidunt.</td>
    </tr>
    <tr>
      <th scope="row">Borer and Sons </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Quo non tempore ea dolore voluptatibus non expedita doloremque eos.</td>
    </tr>
    <tr>
      <th scope="row">Braun - Padberg </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Ipsa molestiae ad quidem facilis quo dolorem.</td>
    </tr>
    <tr>
      <th scope="row">Hammes, Gorczany and Torp </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Mollitia eveniet possimus tempore voluptatibus omnis dolor est.</td>
    </tr>
  </tbody>
</table>

  </main>
  <aside aria-label="last updated by page owner" class="c-updated">
  <div id="updated-last" class="c-updated__label">Last updated:</div>
  <time aria-labelledby="updated-last">February 27, 2018</time>
  <div id="updated-owner" class="c-updated__label" aria-label="page owner">Page owner:</div>
  <address aria-labelledby="updated-owner">
    
    <a href="mailto:Napoleon.Thalia@ucop.edu" >Thalia Napoleon</a>
    
  </address>
</aside>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

