

<div class="t-layout--3">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Handcrafted Concrete Salad ">
    <option value="Gorgeous Soft Chips ">
    <option value="Tasty Wooden Towels ">
    <option value="Incredible Steel Tuna ">
    <option value="Sleek Cotton Shirt ">
    <option value="Sleek Metal Chips ">
    <option value="Sleek Cotton Sausages ">
    <option value="Gorgeous Frozen Car ">
    <option value="Licensed Cotton Fish ">
    <option value="Handmade Frozen Tuna ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Small Cotton Bike</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Incredible Concrete Soap</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Tasty Wooden Table</a>


          <ul>
            <li>
<a href="" >Practical Frozen Chicken</a>

</li>
            <li>
<a href="" >Tasty Frozen Ball</a>

</li>
            <li>
<a href="" >Practical Metal Towels</a>

</li>
            <li>
<a href="" >Incredible Frozen Keyboard</a>

</li>
            <li>
<a href="" >Ergonomic Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Small Cotton Ball</a>

</li>
    <li>
<a href="" >Intelligent Wooden Computer</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside aria-label="first" class="t-layout__sidebar1">
    <nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 id="secondarynav-heading">
        
        <a href="" >Fantastic Fresh Chips</a>
        
    </h2>
    <template v-if="!$mq.screen2">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">Close Menu</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">Open Menu</button>
    </template>
  </header>
  <div v-if="isDisplayed" v-cloak>
    <ul>
      <li>
<a href="" >Fantastic Fresh Chips</a>


        <ul>
          <li>
<a href="" >Fantastic Soft Computer</a>

</li>
          <li>
<a href="" >Small Soft Table</a>

</li>
          <li>
<a href="" >Rustic Wooden Tuna</a>

</li>
          <li>
<a href="" >Fantastic Fresh Chips</a>


            <ul>
              <li>
<a href="" >Handmade Soft Pants</a>

</li>
              <li>
<a href="" >Practical Metal Salad</a>

</li>
              <li>
<a href="" >Ergonomic Frozen Towels</a>

</li>
              <li>
<a href="" >Fantastic Fresh Chips</a>


                <ul>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Gorgeous Steel Pizza</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Handmade Wooden Towels</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Ergonomic Soft Car</a>

</li>
                  <li>
<a href="" >Fantastic Fresh Chips</a>


                    <ul>
                      <li>
<a href="" >Handmade Frozen Bacon</a>

</li>
                      <li>
<a href="" >Small Fresh Mouse</a>

</li>
                      <li>
<a href="" >Tasty Frozen Table</a>

</li>
                      <li class="current_page_item">
<a href="" >Fantastic Fresh Chips</a>


                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  </aside>
  <main id="maincontent">
    <h1 >
        System Status 
    </h1>
    <section class="c-mainbox">
      <header><h2 >
        Latest CDLAlert 
    </h2>
    </header>
      <ul class="rss-aggregator">
        <li>
          
          <a href="" >CDL Alert: Et molestias dolor.</a>
          
          <div>
            <span>7/10/2020</span>
          </div>
        </li>
        <li>
          
          <a href="" >CDL Alert: Dolorum sit et ullam eveniet expedita mollitia ipsam qui.</a>
          
          <div>
            <span>8/12/2020</span>
          </div>
        </li>
        <li>
          
          <a href="" >CDL Alert: Nobis assumenda qui nobis enim aperiam.</a>
          
          <div>
            <span>9/14/2020</span>
          </div>
        </li>
      </ul>
    </section>
    <table class="c-status o-table">
  <thead>
    <tr>
      <th scope="col">CDL Maintained Systems</th>
      <th scope="col">Status</th>
      <th scope="col">Scheduled Maintenance Times</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Hegmann, Wunsch and Daniel </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Laboriosam nulla iure veniam aut.</td>
    </tr>
    <tr>
      <th scope="row">Zieme Inc </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Aut distinctio est laborum distinctio adipisci.</td>
    </tr>
    <tr>
      <th scope="row">Cruickshank, Feil and Hills </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Amet architecto est.</td>
    </tr>
    <tr>
      <th scope="row">Rowe - Lehner </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Quis error impedit eius doloribus et.</td>
    </tr>
    <tr>
      <th scope="row">Ward Inc </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Totam aliquam eum.</td>
    </tr>
    <tr>
      <th scope="row">Daugherty and Sons </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Amet vel repellendus labore laboriosam occaecati.</td>
    </tr>
    <tr>
      <th scope="row">Boehm, Lesch and Hackett </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Voluptatem est vel reprehenderit repudiandae ratione voluptas.</td>
    </tr>
    <tr>
      <th scope="row">Feeney Group </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Aut optio esse nulla praesentium odit porro ab.</td>
    </tr>
    <tr>
      <th scope="row">Cremin Inc </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Sunt nulla aperiam temporibus quis eum.</td>
    </tr>
    <tr>
      <th scope="row">Schaden Inc </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Modi quia ut id illum ratione aut.</td>
    </tr>
  </tbody>
</table>

  </main>
  <aside aria-label="last updated by page owner" class="c-updated">
  <div id="updated-last" class="c-updated__label">Last updated:</div>
  <time aria-labelledby="updated-last">February 27, 2018</time>
  <div id="updated-owner" class="c-updated__label" aria-label="page owner">Page owner:</div>
  <address aria-labelledby="updated-owner">
    
    <a href="mailto:Mazie.Patricia@ucop.edu" >Patricia Mazie</a>
    
  </address>
</aside>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Cum similique nulla</a>

</li>
          <li>
<a href="" >Qui veniam voluptatem</a>

</li>
          <li>
<a href="" >Aut alias voluptatem</a>

</li>
          <li>
<a href="" >Nihil ratione et</a>

</li>
          <li>
<a href="" >Necessitatibus aspernatur sequi</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

