

<div class="t-layout--3">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Small Steel Sausages ">
    <option value="Intelligent Soft Salad ">
    <option value="Intelligent Metal Chair ">
    <option value="Tasty Plastic Chair ">
    <option value="Intelligent Rubber Chicken ">
    <option value="Licensed Plastic Gloves ">
    <option value="Ergonomic Soft Keyboard ">
    <option value="Ergonomic Cotton Chicken ">
    <option value="Fantastic Metal Bike ">
    <option value="Generic Cotton Ball ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Rubber Shirt</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Gorgeous Wooden Tuna</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Practical Steel Chicken</a>


          <ul>
            <li>
<a href="" >Handcrafted Plastic Hat</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Cheese</a>

</li>
            <li>
<a href="" >Refined Concrete Tuna</a>

</li>
            <li>
<a href="" >Generic Cotton Fish</a>

</li>
            <li>
<a href="" >Awesome Frozen Hat</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Handmade Metal Computer</a>

</li>
    <li>
<a href="" >Awesome Wooden Soap</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside aria-label="first" class="t-layout__sidebar1">
    <nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 id="secondarynav-heading">
        
        <a href="" >Ergonomic Fresh Mouse</a>
        
    </h2>
    <template v-if="!$mq.screen2">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">Close Menu</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">Open Menu</button>
    </template>
  </header>
  <div v-if="isDisplayed" v-cloak>
    <ul>
      <li>
<a href="" >Ergonomic Fresh Mouse</a>


        <ul>
          <li>
<a href="" >Awesome Cotton Chair</a>

</li>
          <li>
<a href="" >Tasty Cotton Soap</a>

</li>
          <li>
<a href="" >Rustic Cotton Cheese</a>

</li>
          <li>
<a href="" >Ergonomic Fresh Mouse</a>


            <ul>
              <li>
<a href="" >Fantastic Frozen Shirt</a>

</li>
              <li>
<a href="" >Unbranded Concrete Table</a>

</li>
              <li>
<a href="" >Incredible Wooden Shirt</a>

</li>
              <li>
<a href="" >Ergonomic Fresh Mouse</a>


                <ul>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Ergonomic Plastic Sausages</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Handmade Soft Shirt</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Refined Frozen Pants</a>

</li>
                  <li>
<a href="" >Ergonomic Fresh Mouse</a>


                    <ul>
                      <li>
<a href="" >Small Metal Keyboard</a>

</li>
                      <li>
<a href="" >Refined Granite Soap</a>

</li>
                      <li>
<a href="" >Ergonomic Soft Tuna</a>

</li>
                      <li class="current_page_item">
<a href="" >Ergonomic Fresh Mouse</a>


                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  </aside>
  <main id="maincontent">
    <h1 >
        System Status 
    </h1>
    <section class="c-mainbox">
      <header><h2 >
        Latest CDLAlert 
    </h2>
    </header>
      <ul class="rss-aggregator">
        <li>
          
          <a href="" >CDL Alert: Non perferendis molestias sit eligendi optio qui dolorem.</a>
          
          <div>
            <span>7/10/2020</span>
          </div>
        </li>
        <li>
          
          <a href="" >CDL Alert: Quasi laborum alias.</a>
          
          <div>
            <span>8/12/2020</span>
          </div>
        </li>
        <li>
          
          <a href="" >CDL Alert: Quam illo accusamus.</a>
          
          <div>
            <span>9/14/2020</span>
          </div>
        </li>
      </ul>
    </section>
    <table class="c-status o-table">
  <thead>
    <tr>
      <th scope="col">CDL Maintained Systems</th>
      <th scope="col">Status</th>
      <th scope="col">Scheduled Maintenance Times</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Koch, Funk and Grimes </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Non fugit qui dolores.</td>
    </tr>
    <tr>
      <th scope="row">Turner Group </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Quia voluptate qui voluptatem fuga est eos.</td>
    </tr>
    <tr>
      <th scope="row">Little, Ferry and Reinger </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Architecto provident autem.</td>
    </tr>
    <tr>
      <th scope="row">O&#x27;Keefe, Mayert and Fahey </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Magni sint rerum laboriosam consequatur aliquam a maiores autem.</td>
    </tr>
    <tr>
      <th scope="row">Johns - Conroy </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Harum possimus excepturi quia voluptatum.</td>
    </tr>
    <tr>
      <th scope="row">Swaniawski - Dietrich </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Id deserunt dolorum voluptatem quis dicta.</td>
    </tr>
    <tr>
      <th scope="row">Pollich - Flatley </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Rerum voluptatem ducimus.</td>
    </tr>
    <tr>
      <th scope="row">Murray - Skiles </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Aut quo nisi voluptate vero fuga et necessitatibus sit ducimus.</td>
    </tr>
    <tr>
      <th scope="row">Borer - Cummings </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Fugit optio omnis hic natus.</td>
    </tr>
    <tr>
      <th scope="row">Mayer and Sons </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Expedita omnis nostrum cumque cum et quis minus quia.</td>
    </tr>
  </tbody>
</table>

  </main>
  <aside aria-label="last updated by page owner" class="c-updated">
  <div id="updated-last" class="c-updated__label">Last updated:</div>
  <time aria-labelledby="updated-last">February 27, 2018</time>
  <div id="updated-owner" class="c-updated__label" aria-label="page owner">Page owner:</div>
  <address aria-labelledby="updated-owner">
    
    <a href="mailto:Joshuah.Johanna@ucop.edu" >Johanna Joshuah</a>
    
  </address>
</aside>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Exercitationem nostrum est</a>

</li>
          <li>
<a href="" >A eum sit</a>

</li>
          <li>
<a href="" >Est fugit deserunt</a>

</li>
          <li>
<a href="" >Beatae et nihil</a>

</li>
          <li>
<a href="" >Magni quis quia</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

