

<table>
  <thead>
    <tr>
      <th scope="col">Country</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">City</th>
      <th scope="col">Product</th>
      <th scope="col">Inventory ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Marshall Islands</th>
      <td>47.1010</td>
      <td>-45.4398</td>
      <td>Port Jacquelyn</td>
      <td>Gorgeous Plastic Tuna</td>
      <td>65095-9984</td>
    </tr>
    <tr>
      <th scope="row">Poland</th>
      <td>4.4729</td>
      <td>-74.8133</td>
      <td>Chandlerfort</td>
      <td>Practical Soft Salad</td>
      <td>70230-8997</td>
    </tr>
    <tr>
      <th scope="row">Svalbard &amp; Jan Mayen Islands</th>
      <td>-8.6503</td>
      <td>-173.8006</td>
      <td>Pollichfort</td>
      <td>Gorgeous Wooden Towels</td>
      <td>76451-2191</td>
    </tr>
    <tr>
      <th scope="row">Macedonia</th>
      <td>-54.5428</td>
      <td>-108.7031</td>
      <td>South Marjory</td>
      <td>Gorgeous Plastic Tuna</td>
      <td>46489-2007</td>
    </tr>
    <tr>
      <th scope="row">Jersey</th>
      <td>36.4136</td>
      <td>69.6375</td>
      <td>Brodyburgh</td>
      <td>Ergonomic Granite Ball</td>
      <td>24663</td>
    </tr>
    <tr>
      <th scope="row">Sweden</th>
      <td>48.4350</td>
      <td>130.5400</td>
      <td>Monserratstad</td>
      <td>Fantastic Granite Shirt</td>
      <td>78296</td>
    </tr>
    <tr>
      <th scope="row">Kuwait</th>
      <td>-5.2865</td>
      <td>-11.0944</td>
      <td>West Pink</td>
      <td>Handcrafted Granite Soap</td>
      <td>15038</td>
    </tr>
    <tr>
      <th scope="row">Palau</th>
      <td>29.8341</td>
      <td>-125.4471</td>
      <td>Ilafort</td>
      <td>Intelligent Fresh Pizza</td>
      <td>52013</td>
    </tr>
    <tr>
      <th scope="row">British Indian Ocean Territory (Chagos Archipelago)</th>
      <td>-27.4281</td>
      <td>59.6611</td>
      <td>Lake Lynn</td>
      <td>Incredible Rubber Chips</td>
      <td>17865-9173</td>
    </tr>
    <tr>
      <th scope="row">Isle of Man</th>
      <td>-74.9100</td>
      <td>-67.0952</td>
      <td>Chadrickfurt</td>
      <td>Tasty Granite Fish</td>
      <td>79486-4416</td>
    </tr>
    <tr>
      <th scope="row">Isle of Man</th>
      <td>-4.5317</td>
      <td>-126.9094</td>
      <td>Blandafort</td>
      <td>Unbranded Cotton Table</td>
      <td>72820-1741</td>
    </tr>
    <tr>
      <th scope="row">Myanmar</th>
      <td>42.7704</td>
      <td>3.2396</td>
      <td>New Dillon</td>
      <td>Incredible Rubber Keyboard</td>
      <td>16140</td>
    </tr>
    <tr>
      <th scope="row">Bolivia</th>
      <td>-30.4395</td>
      <td>84.8530</td>
      <td>Hermistonview</td>
      <td>Intelligent Granite Pants</td>
      <td>11266</td>
    </tr>
    <tr>
      <th scope="row">Christmas Island</th>
      <td>35.6819</td>
      <td>-169.3380</td>
      <td>East Mohammad</td>
      <td>Small Concrete Pants</td>
      <td>64145-6543</td>
    </tr>
    <tr>
      <th scope="row">Lebanon</th>
      <td>-65.8152</td>
      <td>145.7399</td>
      <td>Kesslerton</td>
      <td>Gorgeous Rubber Pants</td>
      <td>15763-0888</td>
    </tr>
  </tbody>
</table>

