

<table>
  <thead>
    <tr>
      <th scope="col">Country</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">City</th>
      <th scope="col">Product</th>
      <th scope="col">Inventory ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Namibia</th>
      <td>2.7408</td>
      <td>-130.4829</td>
      <td>New Jessiefurt</td>
      <td>Refined Frozen Car</td>
      <td>76834-9993</td>
    </tr>
    <tr>
      <th scope="row">Anguilla</th>
      <td>4.0983</td>
      <td>23.5315</td>
      <td>West Winnifredview</td>
      <td>Tasty Soft Shoes</td>
      <td>83755</td>
    </tr>
    <tr>
      <th scope="row">Andorra</th>
      <td>4.1296</td>
      <td>51.6752</td>
      <td>Brendaview</td>
      <td>Tasty Metal Computer</td>
      <td>29128-2328</td>
    </tr>
    <tr>
      <th scope="row">Christmas Island</th>
      <td>-57.0213</td>
      <td>177.7592</td>
      <td>North Alba</td>
      <td>Tasty Concrete Towels</td>
      <td>19633-2195</td>
    </tr>
    <tr>
      <th scope="row">Guinea-Bissau</th>
      <td>17.5253</td>
      <td>-174.2626</td>
      <td>Port Orieport</td>
      <td>Generic Plastic Table</td>
      <td>40107-4175</td>
    </tr>
    <tr>
      <th scope="row">Belgium</th>
      <td>-5.1870</td>
      <td>15.4411</td>
      <td>Bashirianburgh</td>
      <td>Ergonomic Fresh Pants</td>
      <td>43313</td>
    </tr>
    <tr>
      <th scope="row">El Salvador</th>
      <td>13.4887</td>
      <td>-120.0670</td>
      <td>Hamillberg</td>
      <td>Tasty Concrete Gloves</td>
      <td>47144</td>
    </tr>
    <tr>
      <th scope="row">Nicaragua</th>
      <td>-80.4148</td>
      <td>126.6038</td>
      <td>Dibberthaven</td>
      <td>Intelligent Soft Chips</td>
      <td>36982-6177</td>
    </tr>
    <tr>
      <th scope="row">Ecuador</th>
      <td>52.9034</td>
      <td>-25.7624</td>
      <td>Lake Edythefort</td>
      <td>Tasty Wooden Bacon</td>
      <td>42303-4695</td>
    </tr>
    <tr>
      <th scope="row">Mauritius</th>
      <td>-68.6883</td>
      <td>-155.4002</td>
      <td>Lake Sibyl</td>
      <td>Ergonomic Plastic Shoes</td>
      <td>38844</td>
    </tr>
    <tr>
      <th scope="row">Malaysia</th>
      <td>50.6484</td>
      <td>1.5680</td>
      <td>East Osborne</td>
      <td>Generic Cotton Cheese</td>
      <td>71978-3875</td>
    </tr>
    <tr>
      <th scope="row">Saint Barthelemy</th>
      <td>45.0567</td>
      <td>-71.7242</td>
      <td>South Piper</td>
      <td>Incredible Frozen Table</td>
      <td>72789</td>
    </tr>
    <tr>
      <th scope="row">Malaysia</th>
      <td>51.7274</td>
      <td>73.1539</td>
      <td>Lake Kristytown</td>
      <td>Handmade Wooden Car</td>
      <td>38795</td>
    </tr>
    <tr>
      <th scope="row">Uganda</th>
      <td>-1.5570</td>
      <td>-120.3854</td>
      <td>South Alan</td>
      <td>Fantastic Wooden Ball</td>
      <td>14378</td>
    </tr>
    <tr>
      <th scope="row">South Georgia and the South Sandwich Islands</th>
      <td>-74.6758</td>
      <td>-124.0887</td>
      <td>Port Unamouth</td>
      <td>Licensed Wooden Computer</td>
      <td>73736</td>
    </tr>
  </tbody>
</table>

