

<table>
  <thead>
    <tr>
      <th scope="col">Country</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">City</th>
      <th scope="col">Product</th>
      <th scope="col">Inventory ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Qatar</th>
      <td>70.3943</td>
      <td>-32.7020</td>
      <td>Gleichnerfurt</td>
      <td>Tasty Steel Computer</td>
      <td>34190</td>
    </tr>
    <tr>
      <th scope="row">Bermuda</th>
      <td>-26.3696</td>
      <td>-128.9346</td>
      <td>Schmidthaven</td>
      <td>Refined Steel Hat</td>
      <td>22404</td>
    </tr>
    <tr>
      <th scope="row">Estonia</th>
      <td>14.3248</td>
      <td>-54.6892</td>
      <td>Delbertborough</td>
      <td>Generic Plastic Table</td>
      <td>05890</td>
    </tr>
    <tr>
      <th scope="row">Chad</th>
      <td>7.8205</td>
      <td>-136.8980</td>
      <td>Port Ike</td>
      <td>Refined Steel Ball</td>
      <td>75096</td>
    </tr>
    <tr>
      <th scope="row">Monaco</th>
      <td>-88.3336</td>
      <td>-35.3712</td>
      <td>Port Cleta</td>
      <td>Gorgeous Fresh Ball</td>
      <td>87501</td>
    </tr>
    <tr>
      <th scope="row">Malta</th>
      <td>50.4945</td>
      <td>-65.5078</td>
      <td>Deckowland</td>
      <td>Gorgeous Rubber Keyboard</td>
      <td>15629</td>
    </tr>
    <tr>
      <th scope="row">Macao</th>
      <td>17.2373</td>
      <td>-96.7128</td>
      <td>Heathcoteland</td>
      <td>Handcrafted Soft Bike</td>
      <td>16036-9523</td>
    </tr>
    <tr>
      <th scope="row">Indonesia</th>
      <td>65.5959</td>
      <td>86.2106</td>
      <td>Jovanistad</td>
      <td>Practical Wooden Towels</td>
      <td>46221-4554</td>
    </tr>
    <tr>
      <th scope="row">Kazakhstan</th>
      <td>62.7922</td>
      <td>-45.4617</td>
      <td>Lake Leonelton</td>
      <td>Refined Wooden Keyboard</td>
      <td>24324</td>
    </tr>
    <tr>
      <th scope="row">Kazakhstan</th>
      <td>-52.0240</td>
      <td>100.7718</td>
      <td>Wandaberg</td>
      <td>Fantastic Frozen Pizza</td>
      <td>10012-6665</td>
    </tr>
    <tr>
      <th scope="row">Maldives</th>
      <td>12.8741</td>
      <td>-165.8448</td>
      <td>South Vivianestad</td>
      <td>Generic Soft Soap</td>
      <td>41906-9346</td>
    </tr>
    <tr>
      <th scope="row">Mexico</th>
      <td>-69.6092</td>
      <td>-115.0456</td>
      <td>Cremintown</td>
      <td>Ergonomic Soft Pants</td>
      <td>46839-8188</td>
    </tr>
    <tr>
      <th scope="row">Central African Republic</th>
      <td>58.3107</td>
      <td>-50.0558</td>
      <td>Port Paulinefurt</td>
      <td>Sleek Wooden Cheese</td>
      <td>76218-1644</td>
    </tr>
    <tr>
      <th scope="row">Bulgaria</th>
      <td>31.5837</td>
      <td>176.0104</td>
      <td>Aliland</td>
      <td>Incredible Concrete Sausages</td>
      <td>78102</td>
    </tr>
    <tr>
      <th scope="row">Tajikistan</th>
      <td>46.4593</td>
      <td>104.3401</td>
      <td>McDermottland</td>
      <td>Refined Wooden Bacon</td>
      <td>50005</td>
    </tr>
  </tbody>
</table>

