

<!-- Start: @well--1 -->
<div class="c-well1">
  <h2 >
      Handcrafted Granite Shoes 
  </h2>
  <p>Porro est aut mollitia sunt est. Odio aperiam qui non fugiat est amet aut iste occaecati. Asperiores id odio consequatur quis non similique et. Dignissimos voluptas necessitatibus et. Sunt doloremque quisquam earum magnam. Voluptate optio aut totam voluptates autem possimus. Sunt qui facere officia in qui ut quibusdam accusamus. Odio ipsa unde. Est recusandae eveniet sequi voluptate voluptas. Cupiditate eum qui sunt ullam qui quod.</p>
</div>
<!-- End: @well--1 -->

<!-- Start: @well--2 -->
<div class="c-well2">
  <p>
<a href="" >Awesome Steel Cheese</a>

</p>
  <p>
<a href="" >Awesome Steel Cheese</a>

</p>
</div>
<!-- End: @well--2 -->

<!-- Start: @well--3 -->
<div class="c-well1">
  <blockquote>Porro est aut mollitia sunt est. Odio aperiam qui non fugiat est amet aut iste occaecati. Asperiores id odio consequatur quis non similique et. Dignissimos voluptas necessitatibus et. Sunt doloremque quisquam earum magnam. Voluptate optio aut totam voluptates autem possimus. Sunt qui facere officia in qui ut quibusdam accusamus. Odio ipsa unde. Est recusandae eveniet sequi voluptate voluptas. Cupiditate eum qui sunt ullam qui quod.</blockquote>
</div>
<!-- End: @well--3 -->

<!-- Start: @well--4 -->
<div class="c-well3">
  <h2 >
      Handcrafted Granite Shoes 
  </h2>
  <p>Porro est aut mollitia sunt est. Odio aperiam qui non fugiat est amet aut iste occaecati. Asperiores id odio consequatur quis non similique et. Dignissimos voluptas necessitatibus et. Sunt doloremque quisquam earum magnam. Voluptate optio aut totam voluptates autem possimus. Sunt qui facere officia in qui ut quibusdam accusamus. Odio ipsa unde. Est recusandae eveniet sequi voluptate voluptas. Cupiditate eum qui sunt ullam qui quod.</p>
</div>
<!-- End: @well--4 -->

<!-- Start: @well--5 -->
<div class="c-well1">
  <figure class="alignleft">
    <img src="http://loremflickr.com/300/200/nature" alt="">
    <figcaption>Id neque molestiae dicta nam amet error in. Delectus enim inventore vero error nisi aspernatur similique et.</figcaption>
  </figure>
  <h2 >
      Handcrafted Granite Shoes 
  </h2>
  <p>Porro est aut mollitia sunt est. Odio aperiam qui non fugiat est amet aut iste occaecati. Asperiores id odio consequatur quis non similique et. Dignissimos voluptas necessitatibus et. Sunt doloremque quisquam earum magnam. Voluptate optio aut totam voluptates autem possimus. Sunt qui facere officia in qui ut quibusdam accusamus. Odio ipsa unde. Est recusandae eveniet sequi voluptate voluptas. Cupiditate eum qui sunt ullam qui quod.</p>
</div>
<!-- End: @well--5 -->

