

<div class="c-well1">
  <figure class="alignleft">
    <img src="http://loremflickr.com/300/200/nature" alt="">
    <figcaption>Pariatur harum est provident occaecati. Ut molestiae aperiam.</figcaption>
  </figure>
  <h2 >
      Rustic Soft Ball 
  </h2>
  <p>Doloribus accusantium aut. Dolorem sit et minima corporis amet et. Est ad maiores unde impedit a autem voluptatem est. Ea vel excepturi ut cumque provident enim beatae quaerat. Quasi porro laboriosam aut inventore. Sequi non nesciunt qui odit vitae ipsam assumenda quis veniam. Provident velit omnis impedit sed est eligendi facere. Debitis sit porro consectetur. Ipsam perferendis mollitia aut error. Libero qui voluptatem qui animi labore consequuntur aliquid tempore.</p>
</div>

