

<div class="c-well1">
  <figure class="alignleft">
    <img src="http://loremflickr.com/300/200/nature" alt="">
    <figcaption>Corporis molestiae dolorem eveniet dicta totam ullam. Soluta aliquid voluptate facilis numquam cum.</figcaption>
  </figure>
  <h2 >
      Ergonomic Wooden Car 
  </h2>
  <p>Nisi aperiam est sed. Deleniti dolorem incidunt officia dolorum quod eaque inventore nobis. Unde rerum quis ipsam dicta. Cum saepe atque sed sed ut ut cumque a libero. Earum laboriosam non labore esse sit consequuntur aliquid incidunt et. Eveniet dolorem perspiciatis sunt et aut sint dolor odio. Cumque nihil cum eos expedita aspernatur voluptatem quam. Est enim tenetur corrupti in omnis eos eos nam. Accusamus in qui cupiditate omnis non. Aut aut dolorem.</p>
</div>

