

<!-- Start: @well--1 -->
<div class="c-well1">
  <h2 >
      Generic Plastic Fish 
  </h2>
  <p>Quisquam autem odit quidem laudantium ut ipsum. Placeat ducimus fugit itaque. Et et aperiam illum sed dolorem blanditiis quia eum. Eius nam inventore. Tenetur voluptatem eligendi fugiat consequuntur et. Architecto non reiciendis inventore. Maiores beatae laboriosam omnis magni. Cumque ullam blanditiis deleniti dolores. Aspernatur corrupti officia eligendi sunt et voluptatem ut ut magni. Qui doloremque nesciunt ipsum numquam ipsum.</p>
</div>
<!-- End: @well--1 -->

<!-- Start: @well--2 -->
<div class="c-well2">
  <p>
<a href="" >Fantastic Soft Computer</a>

</p>
  <p>
<a href="" >Fantastic Soft Computer</a>

</p>
</div>
<!-- End: @well--2 -->

<!-- Start: @well--3 -->
<div class="c-well1">
  <blockquote>Quisquam autem odit quidem laudantium ut ipsum. Placeat ducimus fugit itaque. Et et aperiam illum sed dolorem blanditiis quia eum. Eius nam inventore. Tenetur voluptatem eligendi fugiat consequuntur et. Architecto non reiciendis inventore. Maiores beatae laboriosam omnis magni. Cumque ullam blanditiis deleniti dolores. Aspernatur corrupti officia eligendi sunt et voluptatem ut ut magni. Qui doloremque nesciunt ipsum numquam ipsum.</blockquote>
</div>
<!-- End: @well--3 -->

<!-- Start: @well--4 -->
<div class="c-well3">
  <h2 >
      Generic Plastic Fish 
  </h2>
  <p>Quisquam autem odit quidem laudantium ut ipsum. Placeat ducimus fugit itaque. Et et aperiam illum sed dolorem blanditiis quia eum. Eius nam inventore. Tenetur voluptatem eligendi fugiat consequuntur et. Architecto non reiciendis inventore. Maiores beatae laboriosam omnis magni. Cumque ullam blanditiis deleniti dolores. Aspernatur corrupti officia eligendi sunt et voluptatem ut ut magni. Qui doloremque nesciunt ipsum numquam ipsum.</p>
</div>
<!-- End: @well--4 -->

<!-- Start: @well--5 -->
<div class="c-well1">
  <figure class="alignleft">
    <img src="http://loremflickr.com/300/200/nature" alt="">
    <figcaption>Voluptatem inventore iure incidunt vitae. Perferendis est exercitationem quia deleniti est eaque velit.</figcaption>
  </figure>
  <h2 >
      Generic Plastic Fish 
  </h2>
  <p>Quisquam autem odit quidem laudantium ut ipsum. Placeat ducimus fugit itaque. Et et aperiam illum sed dolorem blanditiis quia eum. Eius nam inventore. Tenetur voluptatem eligendi fugiat consequuntur et. Architecto non reiciendis inventore. Maiores beatae laboriosam omnis magni. Cumque ullam blanditiis deleniti dolores. Aspernatur corrupti officia eligendi sunt et voluptatem ut ut magni. Qui doloremque nesciunt ipsum numquam ipsum.</p>
</div>
<!-- End: @well--5 -->

