

<!-- Start: @well--1 -->
<div class="c-well1">
  <h2 >
      Intelligent Concrete Ball 
  </h2>
  <p>Deserunt rerum corrupti magnam distinctio. Cupiditate tempore porro. Omnis consequatur voluptatem inventore et aut aspernatur. Deleniti praesentium quam impedit quia quaerat. Similique qui officia numquam perferendis dolore. Qui ut magnam natus dicta molestiae aliquid impedit illum. Recusandae dolores similique aut non. Ratione vel quidem atque sit possimus. Vel omnis voluptatum consequatur officia sequi rerum. Rerum autem voluptatem ullam.</p>
</div>
<!-- End: @well--1 -->

<!-- Start: @well--2 -->
<div class="c-well2">
  <p>
<a href="" >Handcrafted Concrete Table</a>

</p>
  <p>
<a href="" >Handcrafted Concrete Table</a>

</p>
</div>
<!-- End: @well--2 -->

<!-- Start: @well--3 -->
<div class="c-well1">
  <blockquote>Deserunt rerum corrupti magnam distinctio. Cupiditate tempore porro. Omnis consequatur voluptatem inventore et aut aspernatur. Deleniti praesentium quam impedit quia quaerat. Similique qui officia numquam perferendis dolore. Qui ut magnam natus dicta molestiae aliquid impedit illum. Recusandae dolores similique aut non. Ratione vel quidem atque sit possimus. Vel omnis voluptatum consequatur officia sequi rerum. Rerum autem voluptatem ullam.</blockquote>
</div>
<!-- End: @well--3 -->

<!-- Start: @well--4 -->
<div class="c-well3">
  <h2 >
      Intelligent Concrete Ball 
  </h2>
  <p>Deserunt rerum corrupti magnam distinctio. Cupiditate tempore porro. Omnis consequatur voluptatem inventore et aut aspernatur. Deleniti praesentium quam impedit quia quaerat. Similique qui officia numquam perferendis dolore. Qui ut magnam natus dicta molestiae aliquid impedit illum. Recusandae dolores similique aut non. Ratione vel quidem atque sit possimus. Vel omnis voluptatum consequatur officia sequi rerum. Rerum autem voluptatem ullam.</p>
</div>
<!-- End: @well--4 -->

<!-- Start: @well--5 -->
<div class="c-well1">
  <figure class="alignleft">
    <img src="http://loremflickr.com/300/200/nature" alt="">
    <figcaption>Corrupti quisquam quam amet velit error voluptas pariatur soluta assumenda. Officiis nemo pariatur quaerat dolorum aut sapiente qui.</figcaption>
  </figure>
  <h2 >
      Intelligent Concrete Ball 
  </h2>
  <p>Deserunt rerum corrupti magnam distinctio. Cupiditate tempore porro. Omnis consequatur voluptatem inventore et aut aspernatur. Deleniti praesentium quam impedit quia quaerat. Similique qui officia numquam perferendis dolore. Qui ut magnam natus dicta molestiae aliquid impedit illum. Recusandae dolores similique aut non. Ratione vel quidem atque sit possimus. Vel omnis voluptatum consequatur officia sequi rerum. Rerum autem voluptatem ullam.</p>
</div>
<!-- End: @well--5 -->

