<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="{{ path '/ui-assets/css/main.css' }}">
</head>
<body>
  <div id="app">
    {{{ yield }}}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="{{ path '/ui-assets/js/main.js' }}"></script>
 </body>
</html>
