<!DOCTYPE html>
<html lang="en" class="no-popover">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link href="{{ path '/ui-assets/images/favicon.ico' }}" rel="shortcut icon">
  <link rel="stylesheet" href="https://cdlib.org/wp-content/themes/cdlib/style.css" media="all">
  <link rel="stylesheet" href="{{ path '/ui-assets/css/main.css' }}" media="all">
</head>
<body>
  {{{ yield }}}
  <script src="{{ path '/ui-assets/js/main.js' }}"></script>
 </body>
</html>
