<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link href="{{ path '/ui-assets/images/favicon.ico' }}" rel="shortcut icon">
  <link rel="stylesheet" href="{{ path '/ui-assets/css/main.css' }}" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  {{{ yield }}}
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="{{ path '/ui-assets/js/main.js' }}"></script>
 </body>
</html>
