{{#extend "base"}}{{#content "body"}}
  <h3>Example with <code>summary</code> containing only text and no child element</h3>
  {{> details_1 }}
  <h3>Example with <code>summary</code> containing text within a <code>h4</code> child element</h3>
  {{> details_2 }}
{{/content}}{{/extend}}
