{{#extend "base"}}{{#content "body"}}
  <p>{{> link }}</p>
  <p>{{> link sample2 }}</p>
  <p>{{> link sample3 }}</p>
  <p>{{> link sample4 }}</p>
  <p>{{> link sample5 }}</p>
  <p>{{> link sample6 }}</p>
  <p>{{> link sample7 }}</p>
  <p>{{> link sample8 }}</p>
  <p>{{> link sample9 }}</p>
  <p>{{> link sample10 }}</p>
  <p>{{> link sample11 }}</p>
  <p>{{> link sample12 }}</p>
{{/content}}{{/extend}}
