/***** Details Object *****/

/* The --details-summary-left-space variable used below is defined in _variables.scss and also used in _categories.scss to align the disclosure widget arrows and list items. */

details {
  margin-block-end: var(--space2);

  summary {
    display: flex;
    cursor: pointer;
    user-select: none;

    &::before {
      content: '';
      flex: none;
      block-size: calc(var(--details-summary-left-space) / 1.5);
      inline-size: calc(var(--details-summary-left-space) / 1.5);
      margin-inline: calc(var(--details-summary-left-space) / 6);
      background-color: var(--color-blue);
      mask-repeat: no-repeat;
      mask-size: 0.6rem;
      mask-position: left center;
      mask-image: url('data-url:/fa-solid/caret-right.svg');
    }

    /* remove default arrow in Safari: */

    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] {
    summary {

      &::before {
        margin-inline: 0 calc(var(--details-summary-left-space) / 3);
        mask-size: 0.9rem;
        mask-image: url('data-url:/fa-solid/caret-down.svg');
      }
    }
  }
}
