/***** List Objects *****/

ul,
ol,
dl {
  margin-block: var(--space2);
  line-height: var(--line-height1);
}

/* List items: */

li {
  margin-block: var(--space2);

  /* nested lists: */
  li {
    padding-inline-start: var(--list-indentation);
  }

}

/* Unordered lists: */

ul {

  /* Default (top/bottom margin with no bullets or indentation): */
  padding-inline-start: 0;
  list-style-type: none;

  /* WP inline style 'list-style-type' equal to circle, disc, or square (read notes in list.config.js): */
  &[style^='list-style-type:'] {
    padding-inline-start: var(--list-indentation);

    li {
      padding-inline-start: 0;
    }

  }

}

/* Ordered lists: */

ol {
  padding-inline-start: var(--list-indentation);
}

/* Description lists: */

dt {
  margin-block-end: 0.2rem;
  color: var(--color-dark-red);
  font-weight: 500;
}

dd {
  margin-block-end: var(--space2);
  margin-inline-start: var(--list-indentation);
}
