<div class="c-blogmetadata">
  <time>{{ blogmetadata.date }}</time>
  <span>Author: {{> @link }}</span>
  <span>Categories:
    <ul>
      {{#each categoryList}}
      <li>{{> @link }}</li>
      {{/each}}
    </ul>
  </span>
  <span>Tags:
    <ul>
      {{#each tagList}}
      <li>{{> @link }}</li>
      {{/each}}
    </ul>
  </span>
</div>
