<ul class="c-categories">
{{#each list1}}
  {{#each ../list2}}
  <li>{{> @link }}</li>
  {{/each}}
  <li>
    <details>
      <summary>{{> @link }}</summary>
      <ul>
        {{#each ../list3}}
        <li>{{> @link }}</li>
        {{/each}}
      </ul>
    </details>
  </li>
{{/each}}
</ul>
