<footer class="c-footer">
  <nav class="c-footer__main">
    <ul>
      {{#each list1}}
      <li>{{> @link--1 }}
        <ul>
          {{#each ../list2}}
          <li>{{> @link--1 }}</li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
  </nav>
  <nav class="c-footer__legal">
    <ul>
      {{#each list3}}
      <li>{{> @link--1 }}</li>
      {{/each}}
    </ul>
  </nav>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small>California Digital Library</small>
  </div>
</footer>
