<footer class="c-footer">
  <nav>
    <ul>
      {{#each list1}}
      <li>{{> @link--1 }}
        <ul>
          {{#each ../list2}}
          <li>{{> @link--1 }}</li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
  </nav>
  <div class="c-footer__copyright">
    <img src="https://www.cdlib.org/images/logos/uc_seal.gif" alt="University seal">
    <small>
      Copyright © 2018 The Regents of The University of California
    </small>
  </div>
</footer>
