<header class="c-header">
  <a class="c-header__logo" href="">
    <img src="{{ path '/ui-assets/images/logo-cdl.svg' }}" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls">
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <div class="c-header__search js-header__search is-open">
    {{ render '@search' }}
    <button class="c-header__close-search o-button2" v-on:click="headerToggle2" aria-label="close search"></button>
  </div>
  <div class="c-header__header-nav js-header__header-nav is-open">
  {{ render '@headernav' }}
  </div>
  <div class="c-header__utility-nav js-header__utility-nav is-open">
    {{ render '@utilitynav' }}
  </div>
</header>
