<nav class="c-headernav o-mobilenav">
  <ul>
    {{#each list1}}
    <li>{{> @link--6 }}
      <ul>
        {{#each ../list2}}
        <li>{{> @link--2 }}
          <ul>
            {{#each ../../list3}}
            <li>{{> @link--2 }}</li>
            {{/each}}
          </ul>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</nav>
