<header class="c-header">
  <a class="c-header__logo" href="">
    <img src="{{ path '/ui-assets/images/logo-cdl.svg' }}" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls js-header__controls" hidden>
    <button class="js-header__search-control o-button1" aria-label="show search"></button>
    <button class="js-header__menu-control o-button3" aria-label="menu"></button>
  </div>
  <div class="c-header__search js-header__search is-open">
    {{ render '@search' }}
    <button class="c-header__close-search js-header__close-search o-button2" aria-label="hide search" hidden></button>
  </div>
  <div class="c-header__header-nav js-header__header-nav is-open">
  {{ render '@headernav' }}
  </div>
  <div class="c-header__utility-nav js-header__utility-nav is-open">
    {{ render '@utilitynav' }}
  </div>
</header>
