<div role="marquee" class="c-newsreel">
  {{> @heading }}
  <button class="c-newsreel__play"><span>play</span></button>
  <button class="c-newsreel__pause"><span>pause</span></button>
  <ul>
    {{#each list}}
    <li>{{> @link }}</li>
    {{/each}}
  </ul>
  {{> @link }}
</div>
