<div class="c-newsreel">
  {{> @heading }}
  <ul>
    {{#each list}}
    <li>{{> @link }}</li>
    {{/each}}
  </ul>
  <button class="c-newsreel__play" title="play newsreel"><span>play newsreel</span></button>
  <button class="c-newsreel__pause" title="pause newsreel"><span>pause newsreel</span></button>
  {{> @link }}
</div>
