<section class="c-refine">
  <header>
    {{> @heading }}
  </header>
  <div class="facetwp-facet">
    <div class="facetwp-radio checked" data-value="" role="checkbox" aria-checked="true" aria-label="All documents" tabindex="0">All documents</div>
    <div class="facetwp-radio" data-value="attachment" role="checkbox" aria-checked="false" aria-label="Media (168)" tabindex="0">Media <span class="facetwp-counter">(168)</span></div>
    <div class="facetwp-radio" data-value="page" role="checkbox" aria-checked="false" aria-label="Pages (19)" tabindex="0">Pages <span class="facetwp-counter">(19)</span></div>
    <div class="facetwp-radio" data-value="post" role="checkbox" aria-checked="false" aria-label="Posts (13)" tabindex="0">Posts <span class="facetwp-counter">(13)</span></div>
  </div>
</section>
