<div class="c-refine o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    {{> @heading }}
    <a href="" class="c-refine__clear">Clear</a>
    <template v-if="!$mq.screen2">
      <button class="c-refine__open" v-on:click="toggle1" v-if="!isDisplayed">{{ toggle.openButtonText }}</button>
      <button class="c-refine__close" v-on:click="toggle1" v-if="isDisplayed">{{ toggle.closeButtonText }}</button>
    </template>
  </header>
  <ul v-if="isDisplayed">
    {{#each list}}
    <li>
      <a href="">
        <span class="c-refine__item-text">{{ text }}</span>
        <span class="c-refine__item-number">({{ number }} <span>results</span>)</span>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
