<div class="c-refine o-sidebarnav">
  <header>
    {{> @heading }}
  </header>
  <ul>
    {{#each list}}
    <li>
      <a href="">
        <span class="c-refine__item-text">{{ text }}</span>
        <span class="c-refine__item-number">({{ number }} <span>results</span>)</span>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
