<div class="c-refine o-sidebarnav">
  <header>
    {{> @heading }}
  </header>
  <div>
    <ul>
      {{#each list1}}
      <li>{{> @link--1 }} <span aria-label="results">({{ number }})</span></li>
      {{/each}}
    </ul>
  </div>
</div>
