<section class="c-mainbox">
  <header><h2>Latest CDLAlert</h2></header>
  {{!-- WP RSS Aggregator HTML: --}}
  <ul class="rss-aggregator">
    <li><a href="https://listserv.ucop.edu/cgi-bin/wa.exe?A2=CDLALERT-L;78f5e0ca.2101">CDLAlert: Elsevier licensed content issue resolved (1/29/21)</a>
      <div>
        <span>01/29/2021</span>
      </div>
    </li>
  </ul>
  <a href="http://listserv.ucop.edu/cgi-bin/wa.exe?A0=CDLALERT-L">CDLALERT-L Archive</a>
</section>
