<nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav">
  <header>
    {{> @heading }}
    <div class="c-secondarynav__buttons js-secondarynav__buttons">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">{{ secondarynav.closeButtonText }}</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">{{ secondarynav.openButtonText }}</button>
    </div>
  </header>
  <div class="c-secondarynav__body js-secondarynav__body is-open">
    <ul>
      <li>{{> @link }}
        <ul>
          {{#each list}}
          <li>{{> @link }}</li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
</nav>
