<nav class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    {{> @heading }}
    <template v-if="!$mq.screen2">
      <button class="o-button5" v-on:click="toggle1" v-if="isDisplayed">{{ secondarynav.closeButtonText }}</button>
      <button class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">{{ secondarynav.openButtonText }}</button>
    </template>
  </header>
  <div v-if="isDisplayed">
    <ul>
      <li>{{> @link }}
        <ul>
          {{#each list1}}
          <li>{{> @link }}</li>
          {{/each}}
          <li>{{> @link }}
            <ul>
              {{#each list2}}
              <li>{{> @link }}</li>
              {{/each}}
              <li>{{> @link }}
                <ul>
                  {{#each list3}}
                  <li>{{> @link }}</li>
                  {{/each}}
                  <li>{{> @link }}
                    <ul>
                      {{#each list4}}
                      <li>{{> @link }}</li>
                      {{/each}}
                      <li class="current_page_item">{{> @link }}
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
