<div class="c-servicebox">
  <section>
    <header>
      {{> @heading service_box1 }}
    </header>
    <ul>
    {{#each service_box1.menu}}
      <li>{{> @link }}</li>
    {{/each}}
    </ul>
  </section>
  <section>
    <header>
      {{> @heading service_box2 }}
    </header>
    <ul>
    {{#each service_box2.menu}}
      <li>{{> @link }}</li>
    {{/each}}
    </ul>
  </section>
  <section>
    <header>
      {{> @heading service_box3 }}
    </header>
    <ul>
    {{#each service_box3.menu}}
      <li>{{> @link }}</li>
    {{/each}}
    </ul>
  </section>
  <section>
    <header>
      {{> @heading service_box4 }}
    </header>
    <ul>
    {{#each service_box4.menu}}
      <li>{{> @link }}</li>
    {{/each}}
    </ul>
  </section>
</div>
