<section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--author">
  <header>
    <h2 id="{{ heading.id }}">{{ heading.text }}</h2>
  </header>
  {{> @select }}
  <button onclick="openAuthor()" disabled>{{ sidebarpost.button }}</button>
</section>
