<section class="c-sidebarpost c-sidebarbox js-sidebarpost--month">
  <header>
    <h2 id="{{ heading.id }}">{{ heading.text }}</h2>
  </header>
  {{> @select }}
  <button type="button" aria-disabled="true">{{ sidebarpost.button }}</button>
</section>
