<main class="c-slideshow" aria-label="slideshow">
  <div class="c-slideshow__controls">
    <button class="c-slideshow__play" title="play slideshow"><span>play slideshow</span></button>
    <button class="c-slideshow__pause" title="pause slideshow"><span>pause slideshow</span></button>
    <button id="c-slideshow__goto1" class="c-slideshow__goto" aria-label="go to slide 1 of 4">1</button>
    <button id="c-slideshow__goto2" class="c-slideshow__goto" aria-label="go to slide 2 of 4">2</button>
    <button id="c-slideshow__goto3" class="c-slideshow__goto" aria-label="go to slide 3 of 4">3</button>
    <button id="c-slideshow__goto4" class="c-slideshow__goto" aria-label="go to slide 4 of 4">4</button>
  </div>
  {{> @slide slide1 }}
  {{> @slide slide2 }}
  {{> @slide slide3 }}
  {{> @slide slide4 }}
</main>
