<table class="c-staff">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Program</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    {{#each row}}
    <tr>
      <th scope="row">{{staff.lastname}}, {{staff.firstname}}</th>
      <td>{{staff.title}}</td>
      <td>{{staff.program}}</td>
      <td>
        <a href="https://cdlib.org">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
