<table class="c-staff">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Program</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    {{#each row}}
    <tr>
      <th scope="row">{{ lastname.text }}, {{ firstname.text }}</th>
      <td>{{ title.text }}</td>
      <td>{{ program.text }}</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
