<table class="c-staff o-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    {{#each row}}
    <tr>
      <th scope="row">{{ lastname.text }}, {{ firstname.text }}</th>
      <td>{{ position.text }}</td>
      <td>
        <div class="c-staff__links">
          <a href="">
            <span>Contact information</span>
          </a>
          {{#if profile.isActive}}
          <a href="">
            <span>View profile</span>
          </a>
          {{/if}}
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
