<table class="c-status o-table">
  <thead>
    <tr>
      <th scope="col">CDL Maintained Systems</th>
      <th scope="col">Status</th>
      <th scope="col">Scheduled Maintenance Times</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Calisphere</th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">DMPTool</th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Dryad</th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">eScholarship</th>
      <td>
        <div
          class="c-status__indicator down">
          down
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">EZID</th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>1 hour maintenance window Thursday mornings at 05:00 PST.</td>
    </tr>
  </tbody>
</table>
