<div class="c-timeline">
  <ul>
    {{#each list1}}
    <li><b>{{ timeline.year }}</b>
      <ul>
        {{#each ../list2}}
        <li>{{> @link }} {{ timeline.sentence1 }}</li>
        <li>{{ timeline.sentence2 }}</li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</div>
