<aside class="c-updated">
  <div id="updated-owner" class="c-updated__label" aria-label="owner">Document owner:</div>
  <address class="c-updated__data" aria-labeledby="updated-owner">
    {{> @link }}
  </address>
  <div id="updated-last" class="c-updated__label">Last updated:</div>
  <time class="c-updated__data" aria-labeledby="updated-last">{{ updated.date }}</time>
</aside>
