<aside class="c-updated">
  <div id="updated-last" class="c-updated__label">Last updated:</div>
  <time aria-labeledby="updated-last">{{ updated.date }}</time>
  <div id="updated-owner" class="c-updated__label" aria-label="owner">Page owner:</div>
  <address aria-labeledby="updated-owner">
    {{> @link }}
  </address>
</aside>
