@import '../node_modules/modern-normalize/modern-normalize.css';

.tool-index {
  --theme-color: oklch(45% 0.12 250deg);

  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-columns: 14rem 1fr;
  gap: 1rem;
  margin-inline: 1rem;

  > header {
    display: flex;
    grid-column: 1 / 3;
    justify-content: space-between;
    margin-inline: -1rem;
    padding: 1rem;
    background-color: var(--theme-color);

    a {
      color: contrast-color(var(--theme-color));

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }
}

h1 {
  margin: unset;
  color: contrast-color(var(--theme-color));
  font-weight: 300;
  word-spacing: 0.3rem;
}

h2 {
  margin-block: 2rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}

fieldset {
  padding: 1rem;
  border: 2px solid var(--theme-color);
}

legend {
  font-weight: 600;
}

label:first-of-type {
  margin-inline-end: 1rem;
}

nav {
  ul {
    margin: unset;
    padding-inline: 1rem;
  }

  li {
    margin-block: 0.5rem;
  }

  a {
    color: royalblue;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

iframe {
  block-size: calc(100% - 1rem);
  inline-size: 100%;
  border-inline-start: 2px solid lightgray;
}
