/***** Layout 3 Template *****/

/* grid-template within media query 'screen2' is not getting cascaded over with 'screen3' in IE for some reason (perhaps autoprefixer), so added 'max-width' media feature to 'screen2' queries */

.t-layout--3 {
  display: grid;
  grid-gap: var(--space3);
  grid-template:
    'layout3a'
    'layout3b'
    'layout3c'
    'layout3d' 1fr
    'layout3e'
    'layout3f'
    'layout3g'
    / 1fr;
  min-block-size: 100vh;

  @media (--min-width2) and (--max-width3) {
    grid-template:
    'layout3a layout3a'
    '........ layout3b'
    'layout3c layout3d' 1fr
    'layout3c layout3e'
    '........ layout3f'
    'layout3g layout3g'
    / var(--sidebar-width) 1fr;
  }

  @media (--min-width3) {
    grid-template:
    'layout3a layout3a layout3a'
    '........ layout3b ........'
    'layout3c layout3d layout3e' 1fr
    '........ layout3f ........'
    'layout3g layout3g layout3g'
    / var(--sidebar-width) 1fr var(--sidebar-width);
  }

  @media print {
    display: block;
    min-block-size: auto;
  }

  .c-header {
    grid-area: layout3a;
  }

  .c-breadcrumb {
    grid-area: layout3b;
  }

  main {
    grid-area: layout3d;
  }

  .c-updated {
    grid-area: layout3f;
  }

  .c-footer {
    grid-area: layout3g;
  }

  .t-layout__sidebar1 {
    grid-area: layout3c;

    @media print {
      display: none;
    }
  }

  .t-layout__sidebar2 {
    display: grid;
    grid-area: layout3e;
    grid-gap: var(--space3);
    grid-template:
      'sidebar-item1'
      'sidebar-item2'
      'sidebar-item3'
      'sidebar-item4'
      / 1fr;
    align-self: start;

    > :nth-child(1) {
      grid-area: sidebar-item1;
    }
  
    > :nth-child(2) {
      grid-area: sidebar-item2;
    }
  
    > :nth-child(3) {
      grid-area: sidebar-item3;
    }
  
    > :nth-child(4) {
      grid-area: sidebar-item4;
    }

    @media (--min-width2) {
      grid-template:
        'sidebar-item1 sidebar-item2'
        'sidebar-item3 sidebar-item4'
        / 1fr 1fr;
    }

    @media (--min-width3) {
      grid-template:
        'sidebar-item1'
        'sidebar-item2'
        'sidebar-item3'
        'sidebar-item4'
        / 1fr;
    }

    @media print {
      margin-block-start: var(--space3);
    }
  }
}
