<div class="t-layout--4">
  {{> skipnav }}
  {{> header }}
  {{> breadcrumb }}
  <main id="maincontent">
    {{> heading blogindex }}
    {{> blogresult }}
  </main>
  <aside aria-label="first" class="t-layout__sidebar1">
    <section class="c-sidebarbox">
      <header><h2>Categories</h2></header>
      {{> categories }}
    </section>
  </aside>
  <aside aria-label="second" class="t-layout__sidebar2">
    {{> sidebarbox }}
    {{> sidebarpost }}
  </aside>
  {{> footer }}
</div>
