<div class="t-home">
  {{> skipnav }}
  {{> header }}
  {{> homeheading }}
  {{> slideshow }}
  {{> serviceheading }}
  {{> servicebox }}
  {{> newsreel }}
  <aside class="c-quicklinks">
    {{> quicklink--1 }}
    {{> quicklink--2 }}
  </aside>
  {{> meet }}
  {{> social }}
  {{> footer }}
</div>
