<div class="t-home">
  {{> header }}
  {{> homeheading }}
  {{> slideshow }}
  {{> services }}
  {{> newsreel }}
  <aside>
    {{> quicklinks }}
  </aside>
  {{> meet }}
  {{> social }}
  {{> footer }}
</div>
