<div class="t-home">
  {{> skipnav }}
  {{> header }}
  {{> homeheading }}
  {{> slideshow }}
  {{> services }}
  {{> newsreel }}
  <aside class="c-quicklinks">
    {{> quicklink }}
  </aside>
  {{> meet }}
  {{> social }}
  {{> footer }}
</div>
