<div class="t-home">
  {{> header }}
  <main>
    {{> homeheading }}
    {{> slideshow }}
    {{> services }}
    {{> newsreel }}
  </main>
  <aside>
    {{> quicklinks }}
    {{> meet }}
    {{> social }}
  </aside>
  {{> footer }}
</div>
