<div class="t-layout--3">
  {{> skipnav }}
  {{> header }}
  {{> breadcrumb }}
  <aside aria-label="first" class="t-layout__sidebar1">
    {{> secondarynav }}
  </aside>
  <main id="maincontent">
    {{> mainheading }}
    {{> mainbox }}
    {{> halfboxes }}
    {{> staff }}
  </main>
  <aside aria-label="second" class="t-layout__sidebar2">
    {{> news }}
  </aside>
  {{> updated }}
  {{> footer }}
</div>
