<div class="t-layout--2">
  {{> skipnav }}
  {{> header }}
  {{> breadcrumb }}
  <aside class="t-layout__sidebar1">
    {{> refine }}
  </aside>
  <main id="maincontent">
    {{> records }}
    {{> searchresult }}
    {{> pagination }}
  </main>
  {{> footer }}
</div>
