<div class="t-layout--2">
  {{> skipnav }}
  {{> header }}
  {{> breadcrumb }}
  <aside aria-label="first" class="t-layout__sidebar1">
    {{> secondarynav }}
  </aside>
  <main id="maincontent">
    {{> heading systemstatus }}
    {{> rssfeed }}
    {{> status }}
  </main>
  {{> updated }}
  {{> footer }}
</div>
