<footer class="c-footer">
  <section>
    {{> @heading--7 }}
    <ul>
      {{#each listItem1}}
      <li>
        {{> @link--2 }}
      </li>
      {{/each}}
    <ul>
  </section>
  <section>
    {{> @heading--7 }}
    <ul>
      {{#each listItem2}}
      <li>
        {{> @link--2 }}
      </li>
      {{/each}}
    <ul>
  </section>
  <section>
    {{> @heading--7 }}
    <ul>
      {{#each listItem3}}
      <li>
        {{> @link--2 }}
      </li>
      {{/each}}
    <ul>
  </section>
  <section>
    {{> @heading--7 }}
    <ul>
      {{#each listItem4}}
      <li>
        {{> @link--2 }}
      </li>
      {{/each}}
    <ul>
  </section>
</footer>
