<footer class="c-footer">
  <section>
    <ul>
      {{#each listItem1}}
      <li>
        {{> @link--1 }}
      </li>
      {{/each}}
    <ul>
  </section>
  <section>
    {{> @heading--2 }}
    <ul>
      {{#each listItem2}}
      <li>
        {{> @link--1 }}
      </li>
      {{/each}}
    <ul>
  </section>
  <section>
    {{> @heading--2 }}
    <ul>
      {{#each listItem3}}
      <li>
        {{> @link--1 }}
      </li>
      {{/each}}
    <ul>
  </section>
  <section>
    {{> @heading--2 }}
    <ul>
      {{#each listItem4}}
      <li>
        {{> @link--1 }}
      </li>
      {{/each}}
    <ul>
  </section>
  <div class="c-footer__copyright">
    <img src="https://www.cdlib.org/images/logos/uc_seal.gif" alt="University seal">
    <small>
      Copyright © 2018 The Regents of The University of California
    </small>
  </div>
</footer>
