<header class="c-header">
  <img class="c-header__logo" src="https://d2v8ggac1o0f6z.cloudfront.net/gsc/SN0J4M/b8/f0/13/b8f01362043c4d8caad1f7da747849f1/images/design_components/u1701.png?token=c329a0202bd3fb0748ac751d5f82ace0" alt="California Digital Library logo">
  <div class="c-header__search">
    {{> @search }}
    {{> @button--2 }}
  </div>
  <div class="c-header__global-nav">
    <ul>
      {{#each list1}}
      <li>
        {{> @link--5 }}
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="c-header__top-nav">
    <ul>
      {{#each list2}}
      <li>
        {{> @link--5 }}
      </li>
      {{/each}}
    </ul>
  </div>
</header>
