<div class="c-highlight">
  <figure>
    <img src="{{ highlight.image }}" alt="">
    <figcaption>{{ highlight.caption }}</figcaption>
  </figure>
  <div class="c-highlight__description">
    {{> @heading--2 }}
    {{ highlight.descText }}
  </div>
</div>
