<section class="c-news o-sidebarbox">
  <header>
    {{> @heading--4 }}
  </header>
  <ul>
    {{#each list}}
    <li>{{> @link--2 }}</li>
    {{/each}}
    <li>{{> @link--2 }}</li>
  </ul>
</section>
