<nav class="c-pagination">
  <ul>
    <li><a href="" class="c-pagination__control-first"><span>first result set</span></a></li>
    <li><a href="" aria-label="previous result set">Previous</a></li>
    {{#each list}}
    <li><a href="" {{#if pagination.isSelected}}class="c-pagination__items--selected"{{/if}} aria-label="{{#if pagination.isSelected}}current {{/if}}result set {{ pagination.number }}">{{ pagination.number }}</a></li>
    {{/each}}
    <li><a href="" aria-label="next result set">Next</a></li>
    <li><a href="" class="c-pagination__control-last"><span>last result set</span></a></li>
  </ul>
</nav>
