<fieldset class="c-checkbox">
   <p> {{!-- WP Contact Form 7 generated --}}
    {{#each checkbox}}
    <label>
      <input name="" value="" type="checkbox">
      <span class="wpcf7-list-item-label">{{ checkbox.label }}</span>
    </label>
    {{/each}}
  </p>
</fieldset>
