<section class="c-news c-sidebarbox">
  <header>
    {{> @heading--4 }}
  </header>
  <ul>
    {{#each list}}
    <li>{{> @link--1 }}</li>
    {{/each}}
  </ul>
  <a href="https://cdlib.org">More Posts...</a>
</section>
