<section class="c-news c-sidebarbox">
  <header>
    {{> heading news }}
  </header>
  <ul>
    {{#each news.list}}
    <li>{{> link }}</li>
    {{/each}}
  </ul>
  <a href="https://cdlib.org">More Posts...</a>
</section>
