<form role="search" action="{{ search.form.action }}" class="c-search">
  {{> label search }}
  {{> input search }}
  <datalist id="c-search-list">
    {{#each search.list}}
    <option value="{{ datalist.option }} ">
    {{/each}}
  </datalist>
  {{> button search }}
</form>
