<nav aria-labelledby="secondarynav-heading" class="c-secondarynav c-sidebarnav">
  <header>
    {{> @heading }}
    <div class="c-secondarynav__buttons js-secondarynav__buttons">
      <button aria-expanded="true" class="c-secondarynav__close-button js-secondarynav__close-button o-button5">{{ secondarynav.closeButtonText }}</button>
      <button aria-expanded="false" class="c-secondarynav__open-button js-secondarynav__open-button o-button6 is-shown">{{ secondarynav.openButtonText }}</button>
    </div>
  </header>
  <div class="c-secondarynav__body js-secondarynav__body is-open">
    <ul>
      <li>{{> @link }}
        <ul>
          {{#each list}}
          <li>{{> @link }}</li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
</nav>
