{{#extend "base"}}{{#content "body"}}
  <h3>Well Style 1</h3>
  {{> well_1 }}
  <h3>Well Style 2 (for 2 paragraphed sibling links only)</h3>
  {{> well_2 }}
  <h3>Well Style 3</h3>
  {{> well_3 }}
{{/content}}{{/extend}}
