/***** Checkbox Component *****/

.c-checkbox {
  padding-block-start: var(--space3);

  p { /* WP Contact Form 7 generated */
    margin: 0;

    @media (--min-width1) {
      column-count: 2;
    }

  }

  label {
    display: flex;
    align-items: center;
    margin-block-end: var(--space2);

    input {
      margin-inline-end: var(--space1);
    }

  }

}
