// ***** Header Nav Component ***** //

// Read notes in component config

.c-headernav {
  --headernav-section-padding: var(--space3);
  --headernav-item-margin: var(--space3);

  position: relative;

  ul {
    all: unset;
    list-style-type: none;

    li {
      margin: unset;
      padding: unset;
    }
  }

  a {
    display: block;
  }

  // Sections:
  > ul {

    @media (--min-width2) {
      display: flex;

      > li {
        flex: 1 1 auto;
      }

    }

  }

  > ul > li {

    @media (--min-width2) {

      // Nav bar main items:
      &:not(:last-child) {
        border-inline-end: 1px solid oklch(55% 0 0);
      }

    }

  }

  // Nav bar links:
  > ul > li > a {

    @media (--min-width2) {
      padding: var(--space1);
      background: linear-gradient(oklch(95% 0 0), oklch(88% 0 0));
      color: oklch(36% 0 0);
      text-align: center;
      text-decoration: none;

      &:focus,
      &:hover {
        color: var(--color-blue);
        text-decoration: underline;
      }
    }
  }

  // Panels:
  > ul > li > ul {
    display: none;
    position: absolute;
    padding: var(--headernav-section-padding);
    column-gap: calc(var(--headernav-section-padding) * 2);
    column-rule: 1px solid oklch(88% 0 0);
    column-width: 9.5em;
    border-inline: 1px solid oklch(88% 0 0);
    border-block-end: 1px solid oklch(88% 0 0);
    background-color: oklch(95% 0 0);
    box-shadow: 3px 3px 3px oklch(88% 0 0 / 70%);
  }

  // Panel columns (no columns, by default). These are set via 'columns-[#]' classes defined in the top-level menu items within WP Menus:

  > ul > .columns-2 > ul {
    column-count: 2;
  }

  > ul > .columns-3 > ul {
    column-count: 3;
  }

  // Panel lists:
  > ul > li > ul > li {
    break-inside: avoid;
    page-break-inside: avoid; // Firefox
  }

  // Panel list links:
  > ul > li > ul > li > a {
    margin-block-end: var(--headernav-item-margin);
    color: var(--color-dark-red);
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  // Panel sub-list 'heading' links:
  > ul > li > ul > li > a:only-child {
    color: var(--color-blue);
  }

  // Panel sub-lists:
  > ul > li > ul > li > ul {
    padding-inline: var(--space1);
    page-break-inside: avoid; // Firefox
  }

   // Panel sub-list links:
  > ul > li > ul > li > ul > li > a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  // All panel list items:
  > ul > li li {
    margin-block-end: var(--headernav-item-margin);
  }

  // **** Panel Toggle **** //

  // If c-headernav JS not supported:

  &.c-headernav-no-js {

    > ul > li:hover > ul {

      @media (--min-width2) {
        display: block;
        z-index: 10;
      }
    }

    // If :focus-within not supported. Only primary links accessible via tabkey:

    > ul > li a:focus {

      @media (--min-width2) {
        display: block;
        z-index: 10;
      }
    }

    // If :focus-within supported. All links accessbile via focus. No toggle state on primary links, so user must tab through every secondary link in each section to reach the next section:

    > ul > li:focus-within > ul {

      @media (--min-width2) {
        display: block;
        z-index: 10;
      }
    }

  }

  // If c-headernav JS supported:

  &.c-headernav-js {

    // Primary links disabled via JS and used as a toggle for each section. Hover and focus states handled by JS and set via 'open' class:

    li.open ul {

      @media (--min-width2) {
        display: block;
        z-index: 10;
      }
    }

  }

}
