// ***** Post Type Components ***** //

.c-posttype__doc,
.c-posttype__page,
.c-posttype__post {
  display: inline-block;
  padding: 0.2rem 0.2rem 0.05rem 0.3rem;
  color: white;
  font-family: Consolas, Monaco, monospace;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
}

.c-posttype__doc {
  background-color: var(--color-red);
}

.c-posttype__page {
  background-color: var(--color-blue);
}

.c-posttype__post {
  background-color: var(--color-green);
}
