/***** Search Result Component *****/

.c-searchresult {
  display: grid;
  grid-template:
    'result-posttype result-heading'
    'result-posttype result-excerpt'
    'result-posttype result-datetime'
    / 2.7em 1fr;
  margin-block-end: var(--space4);
  gap: var(--space2);

  h2 {
    display: inline-block;
    grid-area: result-heading;
    margin: 0;

    a {
      color: var(--color-blue);
    }
  }

  mark {
    background-color: transparent;
    color: oklch(36% 0 0);
    font-weight: bold;
  }
}

.c-searchresult__posttype {
  grid-area: result-posttype;
  align-self: start;
  margin-block-start: 0.3em;
  justify-self: end;
}

.c-searchresult__excerpt {
  grid-area: result-excerpt;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.c-searchresult__datetime {
  grid-area: result-datetime;
}
