/***** Sidebar Navigation Component *****/

.c-sidebarnav {
  border: 1px solid var(--color-blue);

  ul {
    all: unset;
    list-style-type: none;

    li {
      margin: unset;
      padding: unset;

      &:not(:last-child) {
        border-block-end: 1px solid oklch(88% 0 0deg);
      }
    }
  }

  header {
    padding: var(--space2);
    background-color: var(--color-blue);

    h2 {
      margin: unset;
      color: white;
      font-size: 1em;
      font-weight: 600;
    }
  }

  a {
    display: block;
    padding: 0.35rem var(--space2);
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (--min-width2) {
  /* Balance all sidebarnav (quicklink) link heights
  with all available vertical space within sidebarnav boxes: */
  
  .c-sidebarnav,
  .c-sidebarnav :is(ul, li, a) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .c-sidebarnav a {
    justify-content: center;
  }
}
