<!DOCTYPE html>
<html lang="en" class="no-popover">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDLIB UI Toolkit</title>
    {{#block "head"}}
      <link rel="stylesheet" href="/src/css/fonts.css">
      <link rel="stylesheet" href="/src/css/main.css">
      <script type="module" src="/src/js/main.js"></script>
    {{/block}}
  </head>
  <body>
    {{#block "body"}}
      <p>(body block empty)</p>
    {{/block}}
  </body>
</html>
