

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="c-blogresult">
  <h2 >
      
      <a href="" >Gorgeous Concrete Bike: Ergonomic Soft Bike</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>May 8, 2003</time>
  <span>Author: 
<a href="" >Clifford Buckridge</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Est nisi eaque magnam sequi cumque voluptatum et ex quos quae facilis quia velit maiores facere ea sapiente modi occaecati tempore est labore sint voluptatem voluptatem possimus nostrum quasi provident &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Rustic Soft Salad for Tasty Soft Hat</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>May 8, 2003</time>
  <span>Author: 
<a href="" >Clifford Buckridge</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Nostrum dolores sit voluptatem voluptate cum ut voluptatum dolorem sed vel accusamus praesentium suscipit itaque officiis est voluptas vitae alias quo est nihil aliquam ut ipsam in aut quia rerum &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Practical Fresh Fish for Practical Frozen Shoes</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>May 8, 2003</time>
  <span>Author: 
<a href="" >Clifford Buckridge</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Consequatur occaecati neque aliquam aliquam officiis aut veniam autem qui et deleniti velit reiciendis maiores quidem atque aliquam doloremque esse aspernatur dolores necessitatibus est rerum eveniet quo sint sunt quas &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Intelligent Soft Chair with Rustic Steel Sausages</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>May 8, 2003</time>
  <span>Author: 
<a href="" >Clifford Buckridge</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Consequatur nam ducimus aut explicabo voluptatum ratione quibusdam dolorum voluptas sit ut ad omnis dolore ut qui omnis rerum qui occaecati quia fugiat ut voluptatem optio facilis voluptate rerum voluptas &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Generic Wooden Hat: Sleek Rubber Keyboard</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>May 8, 2003</time>
  <span>Author: 
<a href="" >Clifford Buckridge</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Placeat odit quas neque est quam non et rerum deserunt commodi deserunt et reprehenderit laboriosam quo nesciunt quas voluptas inventore possimus officia praesentium fugit laborum consectetur cumque ut placeat ratione &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Rustic Plastic Shirt: Sleek Granite Tuna</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>May 8, 2003</time>
  <span>Author: 
<a href="" >Clifford Buckridge</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Voluptatem a cumque ducimus blanditiis vero quo quam neque ut dignissimos omnis ut excepturi veritatis maiores esse et asperiores doloribus at deleniti ducimus vel eos est magni sed quaerat consequatur &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Small Steel Salad with Licensed Cotton Hat</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>May 8, 2003</time>
  <span>Author: 
<a href="" >Clifford Buckridge</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Voluptas cum ut et asperiores est distinctio unde omnis ut culpa ut sit vero vel perferendis iusto facilis quo omnis deleniti ipsa qui quia et magnam qui eveniet dicta pariatur &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Incredible Plastic Towels: Awesome Steel Chicken</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>May 8, 2003</time>
  <span>Author: 
<a href="" >Clifford Buckridge</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Modi saepe nisi quia magnam qui provident omnis quia deserunt quis eius mollitia eaque est consequatur veritatis sequi sequi quia sequi saepe dolor nemo voluptate magni consequuntur et sed officiis &hellip; 
<a href="" >Read more</a>

</p>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

