

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="c-blogresult">
  <h2 >
      
      <a href="" >Rustic Concrete Bike for Unbranded Wooden Chicken</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>February 3, 2010</time>
  <span>Author: 
<a href="" >Chester Zieme</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Eaque impedit quia est sint error alias reprehenderit minus autem est tenetur nisi voluptates vel animi quos expedita velit inventore excepturi sint est ratione reiciendis accusantium asperiores debitis aut in &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Handmade Fresh Keyboard and Unbranded Cotton Mouse</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>February 3, 2010</time>
  <span>Author: 
<a href="" >Chester Zieme</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Nobis vel eaque reiciendis culpa eius modi consequuntur dignissimos rerum quia velit quo est minus molestias mollitia eos voluptatibus iste culpa accusantium voluptas nemo quisquam doloribus et est unde libero &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Handcrafted Soft Bike and Generic Metal Towels</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>February 3, 2010</time>
  <span>Author: 
<a href="" >Chester Zieme</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Qui earum provident doloremque rerum veritatis dolorum ipsum veritatis accusamus voluptas quas nesciunt cupiditate unde veniam aut est sed quaerat rerum nulla enim aut cumque culpa ducimus consectetur omnis est &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Ergonomic Soft Chips and Sleek Concrete Bike</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>February 3, 2010</time>
  <span>Author: 
<a href="" >Chester Zieme</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Totam dolorem in quia quidem est inventore unde sed laborum qui et aperiam totam sint odio quaerat voluptatibus suscipit nihil natus voluptas blanditiis laboriosam autem quasi hic quisquam earum alias &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Handcrafted Rubber Mouse for Tasty Metal Gloves</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>February 3, 2010</time>
  <span>Author: 
<a href="" >Chester Zieme</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Odit adipisci in quae aut iste architecto veritatis non voluptatem deserunt quibusdam et ut eum qui pariatur dolorum quae porro nostrum tenetur at nobis occaecati provident impedit earum qui minus &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Incredible Rubber Mouse and Handcrafted Concrete Fish</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>February 3, 2010</time>
  <span>Author: 
<a href="" >Chester Zieme</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Illum sed harum ut sit voluptatem consequatur numquam fugit quod nesciunt et rerum officiis repellat dicta est consequatur et cum nostrum eos in consequatur aut omnis ipsam asperiores hic sit &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Awesome Metal Hat and Fantastic Fresh Chips</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>February 3, 2010</time>
  <span>Author: 
<a href="" >Chester Zieme</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Veritatis voluptatibus totam placeat sint voluptatem tenetur sint tempora distinctio quis molestiae veritatis labore tenetur quae soluta ex est quis quo libero qui dolor perferendis quia facilis consequatur sint eum &hellip; 
<a href="" >Read more</a>

</p>
</div>
<div class="c-blogresult">
  <h2 >
      
      <a href="" >Incredible Plastic Sausages with Fantastic Frozen Fish</a>
      
  </h2>
  <div class="c-blogmetadata">
  <time>February 3, 2010</time>
  <span>Author: 
<a href="" >Chester Zieme</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  <p>Iure vitae id dolor ipsam et cum temporibus occaecati alias laborum qui et ea soluta error quia ut dolor omnis sint consequuntur molestiae laudantium velit voluptas quis omnis ut et &hellip; 
<a href="" >Read more</a>

</p>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

