

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-layout--4">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Unbranded Cotton Sausages ">
    <option value="Fantastic Frozen Keyboard ">
    <option value="Fantastic Frozen Soap ">
    <option value="Ergonomic Wooden Bike ">
    <option value="Rustic Steel Chicken ">
    <option value="Handcrafted Frozen Shirt ">
    <option value="Handcrafted Cotton Keyboard ">
    <option value="Handmade Frozen Gloves ">
    <option value="Licensed Granite Tuna ">
    <option value="Practical Rubber Shirt ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Wooden Fish</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Concrete Computer</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Refined Concrete Soap</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Wooden Fish</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Concrete Computer</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Refined Concrete Soap</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Wooden Fish</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Concrete Computer</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Refined Concrete Soap</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Wooden Fish</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Concrete Computer</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Refined Concrete Soap</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Rustic Wooden Fish</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Intelligent Concrete Computer</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Refined Concrete Soap</a>


          <ul>
            <li>
<a href="" >Awesome Plastic Computer</a>

</li>
            <li>
<a href="" >Sleek Granite Table</a>

</li>
            <li>
<a href="" >Fantastic Steel Ball</a>

</li>
            <li>
<a href="" >Small Frozen Computer</a>

</li>
            <li>
<a href="" >Fantastic Wooden Cheese</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Licensed Steel Computer</a>

</li>
    <li>
<a href="" >Fantastic Granite Keyboard</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <main id="maincontent">
    <h1 >
        Post Title 
    </h1>
    <div class="c-blogmetadata">
  <time>February 3, 2010</time>
  <span>Author: 
<a href="" >Chester Zieme</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

    <p>Illum aut aliquid aut id quae iste nisi. Corporis architecto et ipsam in et eius. Assumenda officiis esse iste ducimus. Necessitatibus et at culpa. Odit est saepe autem libero quis amet corrupti praesentium.
 Dignissimos accusantium debitis quo. Voluptatem officia repellat non alias a rerum. Architecto at quam sed aliquam possimus. Expedita non dolorem exercitationem corrupti quia occaecati qui quaerat voluptas.
 Rerum et soluta fugiat quia fugiat dicta facilis. Rerum amet repudiandae voluptatem ab reprehenderit nihil. Voluptate repellat veritatis est. Repellat voluptatum quam. Similique pariatur et perspiciatis libero ea.</p>
    <p>Repellat beatae eum maxime quod adipisci error earum alias. Error culpa sit provident amet aut ab nesciunt. Aspernatur qui voluptatum corporis officia et cupiditate. Minus similique quas ut sit tempora incidunt dolorem vel ratione. Doloremque cum cupiditate et voluptas et. Voluptas voluptatem non.
 Voluptatem quis sequi non ipsum dolor. Assumenda accusamus tempore accusantium inventore cupiditate. Aut itaque placeat nam sint saepe inventore nobis.
 Unde voluptas quisquam. Eligendi porro omnis animi numquam neque. Molestiae necessitatibus consequatur nostrum. Fugit quia rem molestiae voluptate. Similique possimus dolor consequuntur explicabo molestiae libero quia.</p>
    <p>Possimus exercitationem amet sit et nisi eos nesciunt soluta. Ut voluptatem voluptates modi inventore placeat et distinctio modi. Qui quo et neque dolor eum. Qui aut vitae est accusamus. Et perferendis aliquam excepturi dolores occaecati sed eos iusto.
 Facere aut ducimus maiores dignissimos consequatur. Ea corrupti doloremque accusamus sint ea. Non eveniet quidem sed doloremque neque. Reiciendis quo ullam sint sit optio eaque a id necessitatibus. Minus beatae molestiae sapiente rem quam ut voluptas cum ea. Assumenda et eius omnis.
 Praesentium quia doloribus beatae explicabo qui. Odio quod aperiam deleniti et tempora. Maxime voluptates perferendis sunt error. Accusantium qui voluptas provident est illo soluta maxime dolorem voluptas. Est fugit illum non sit molestiae quis.</p>
    <p>Nulla rem voluptas et ut mollitia qui. Est distinctio cupiditate possimus odit. Culpa sit velit architecto sint tempora et aliquid nesciunt. Architecto cupiditate sed neque voluptas neque voluptatem cumque. Laboriosam ex nemo.
 Alias reprehenderit et qui id. Aut repellendus cumque inventore est omnis repellat. Eos nesciunt odit quas dolor. Nobis maiores fuga ipsa eum ut voluptate. Accusantium voluptas ipsam error eveniet at pariatur.
 Dolor quidem sapiente doloremque. Nesciunt impedit eius blanditiis ea consequatur enim. Omnis omnis qui. Assumenda ut distinctio aliquam autem officiis aliquam. Aut dolores rerum ea aut dolorem corrupti.</p>
    <p>Odio est voluptas voluptatum vitae et rerum. Cumque pariatur enim. Et dolores aut ad deserunt. Omnis ut occaecati repellat exercitationem aut quo sunt occaecati.
 Nesciunt asperiores pariatur. Libero est id qui. Repellendus et corrupti eos earum.
 Voluptas maiores a nemo. Similique laboriosam dignissimos quia sit recusandae maxime ut totam. Eos ea asperiores dolores dolores repudiandae qui consequatur voluptas. Sed quis reiciendis ipsam.</p>
    <p>Commodi ut neque sit amet labore numquam omnis. Tempore id animi fuga sequi nam. Dicta ut ratione facilis voluptatibus totam.
 Et qui iusto et non. Consequatur eum sequi libero consequatur optio aut. Ullam omnis magnam omnis ducimus reprehenderit.
 Iure qui accusantium reiciendis. Id dolorem non deserunt sint sapiente ea harum. Minima suscipit vel distinctio quia qui dolorem magni. Ea sit dolorem neque voluptatem.</p>
    <p>Ad porro ab omnis vel omnis consectetur. Doloremque id enim dolore quam earum voluptatem dolorum omnis id. Voluptatibus et consequuntur eaque sed minus natus. Quia velit a dolorem. Molestiae amet consequatur voluptas cupiditate. Expedita quo ea id id quibusdam inventore doloribus veritatis.
 Et illum sed iusto rerum delectus enim vero quia. Qui reiciendis eos modi atque distinctio iste qui. Distinctio asperiores blanditiis earum dolores esse sint consequatur. Quia qui unde officia est totam quas. Aperiam dolore eligendi placeat dolor in error. Aut provident est necessitatibus optio.
 Consequatur laboriosam veniam sequi. Beatae quidem ipsam qui fuga aut accusantium ea id. Quae accusantium dicta voluptas iste molestiae cupiditate. Aliquam modi at rerum rerum ad beatae et aut. Alias in quod sit ut. Ea in porro eveniet et dolor omnis.</p>
    <p>Dolore eum omnis ut. Iste sit provident. Repellendus est impedit tenetur minus perferendis similique reiciendis fugit perferendis. Sit ut voluptatum quo culpa molestiae praesentium ratione in.
 Vitae id itaque saepe. Laboriosam veritatis nesciunt delectus dolores nulla vero qui. Dolorem consectetur iusto sequi voluptatem sint ad architecto sequi. Atque suscipit natus eum deleniti quod perspiciatis ut ut. Magnam error voluptas laborum laborum voluptatum et dolores voluptas. Esse voluptatem ut corrupti.
 Sed quas id nobis vel est. Corporis omnis optio qui. Minus doloribus voluptas similique impedit porro. Quod et amet nesciunt vitae quia iste. Sapiente et iusto.</p>
  </main>
  <aside aria-label="first" class="t-layout__sidebar1">
    <section class="o-sidebarbox">
      <header><h2>Categories</h2></header>
      <ul class="c-categories">
  <li>
<a href="" >Generic Concrete Ball</a>

</li>
  <li>
<a href="" >Practical Steel Chicken</a>

</li>
  <li>
<a href="" >Small Frozen Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Refined Soft Car">
<a href="" >Refined Soft Car</a>

</summary>
      <ul>
        <li>
<a href="" >Fantastic Metal Mouse</a>

</li>
        <li>
<a href="" >Practical Metal Pants</a>

</li>
        <li>
<a href="" >Handcrafted Soft Table</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Generic Concrete Ball</a>

</li>
  <li>
<a href="" >Practical Steel Chicken</a>

</li>
  <li>
<a href="" >Small Frozen Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Generic Wooden Pants">
<a href="" >Generic Wooden Pants</a>

</summary>
      <ul>
        <li>
<a href="" >Fantastic Metal Mouse</a>

</li>
        <li>
<a href="" >Practical Metal Pants</a>

</li>
        <li>
<a href="" >Handcrafted Soft Table</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Generic Concrete Ball</a>

</li>
  <li>
<a href="" >Practical Steel Chicken</a>

</li>
  <li>
<a href="" >Small Frozen Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Soft Chips">
<a href="" >Licensed Soft Chips</a>

</summary>
      <ul>
        <li>
<a href="" >Fantastic Metal Mouse</a>

</li>
        <li>
<a href="" >Practical Metal Pants</a>

</li>
        <li>
<a href="" >Handcrafted Soft Table</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Generic Concrete Ball</a>

</li>
  <li>
<a href="" >Practical Steel Chicken</a>

</li>
  <li>
<a href="" >Small Frozen Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Rustic Concrete Ball">
<a href="" >Rustic Concrete Ball</a>

</summary>
      <ul>
        <li>
<a href="" >Fantastic Metal Mouse</a>

</li>
        <li>
<a href="" >Practical Metal Pants</a>

</li>
        <li>
<a href="" >Handcrafted Soft Table</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Generic Concrete Ball</a>

</li>
  <li>
<a href="" >Practical Steel Chicken</a>

</li>
  <li>
<a href="" >Small Frozen Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Refined Frozen Sausages">
<a href="" >Refined Frozen Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Fantastic Metal Mouse</a>

</li>
        <li>
<a href="" >Practical Metal Pants</a>

</li>
        <li>
<a href="" >Handcrafted Soft Table</a>

</li>
      </ul>
    </details>
  </li>
</ul>

    </section>
  </aside>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--author">
  <header>
    <h2 id="c-sidebarpost--author-heading">Authors</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--author-heading">
    <option value="">Select Author</option>
    <option value="https://www.cdlib.org/cdlinfo/author/abrin/">Adam Brin (10)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/bhui/">Barbara Hui (11)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/cli/">Chan Li (16)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/dlowenberg/">Daniella Lowenberg (14)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/eproulx/">Elise Proulx (9)</option>
  </select>
  <button onclick="openAuthor()" disabled>View All by Author</button>
</section>

    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--month">
  <header>
    <h2 id="c-sidebarpost--month-heading">Months of Publication</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--month-heading">
    <option value="">Select Month</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/08/">August 2019 (19)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/07/">July 2019 (2)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/06/">June 2019 (11)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/05/">May 2019 (17)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/04/">April 2019 (16)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/03/">March 2019 (17)</option>
  </select>
  <button onclick="openMonth()" disabled>View All from Month</button>
</section>

    <section class="o-sidebarbox">
      <header><h2>Subscribe</h2></header>
      <ul>
  <li>Molestias necessitatibus voluptatem autem voluptatem quo quod magni dolores veritatis.</li>
  <li>Eius voluptas et veniam.</li>
  <li>Eius ipsum voluptate.</li>
  <li>Repellendus hic facere et facilis doloribus aut eligendi provident.</li>
  <li>Dolor quam soluta.</li>
</ul>

    </section>
  </aside>
  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Nulla consequatur ratione</a>

</li>
          <li>
<a href="" >Quia doloribus occaecati</a>

</li>
          <li>
<a href="" >Totam molestiae commodi</a>

</li>
          <li>
<a href="" >Beatae voluptates dicta</a>

</li>
          <li>
<a href="" >Minus quidem explicabo</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Nulla consequatur ratione</a>

</li>
          <li>
<a href="" >Quia doloribus occaecati</a>

</li>
          <li>
<a href="" >Totam molestiae commodi</a>

</li>
          <li>
<a href="" >Beatae voluptates dicta</a>

</li>
          <li>
<a href="" >Minus quidem explicabo</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Nulla consequatur ratione</a>

</li>
          <li>
<a href="" >Quia doloribus occaecati</a>

</li>
          <li>
<a href="" >Totam molestiae commodi</a>

</li>
          <li>
<a href="" >Beatae voluptates dicta</a>

</li>
          <li>
<a href="" >Minus quidem explicabo</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Nulla consequatur ratione</a>

</li>
          <li>
<a href="" >Quia doloribus occaecati</a>

</li>
          <li>
<a href="" >Totam molestiae commodi</a>

</li>
          <li>
<a href="" >Beatae voluptates dicta</a>

</li>
          <li>
<a href="" >Minus quidem explicabo</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Nulla consequatur ratione</a>

</li>
          <li>
<a href="" >Quia doloribus occaecati</a>

</li>
          <li>
<a href="" >Totam molestiae commodi</a>

</li>
          <li>
<a href="" >Beatae voluptates dicta</a>

</li>
          <li>
<a href="" >Minus quidem explicabo</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Nulla consequatur ratione</a>

</li>
          <li>
<a href="" >Quia doloribus occaecati</a>

</li>
          <li>
<a href="" >Totam molestiae commodi</a>

</li>
          <li>
<a href="" >Beatae voluptates dicta</a>

</li>
          <li>
<a href="" >Minus quidem explicabo</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

