

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-layout--4">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Practical Concrete Sausages ">
    <option value="Intelligent Metal Hat ">
    <option value="Refined Plastic Car ">
    <option value="Refined Granite Towels ">
    <option value="Fantastic Soft Cheese ">
    <option value="Intelligent Granite Car ">
    <option value="Rustic Wooden Car ">
    <option value="Handcrafted Concrete Cheese ">
    <option value="Tasty Fresh Sausages ">
    <option value="Gorgeous Wooden Pants ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Intelligent Granite Hat</a>

</li>
    <li>
<a href="" >Handcrafted Metal Sausages</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <main id="maincontent">
    <h1 >
        Post Title 
    </h1>
    <div class="c-blogmetadata">
  <time>November 5, 2011</time>
  <span>Author: 
<a href="" >Roel Runte</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

    <p>Architecto et sed enim tempore. Sed maiores est in velit. Sed excepturi et quia harum est voluptatem.
 Et ut ut aut corrupti molestiae. Voluptate facere voluptate adipisci. Quia porro dolor ut et voluptatem eum perspiciatis. Cumque ea rerum doloribus qui. Totam saepe ad tempore expedita.
 Molestias inventore voluptates eum laudantium similique. Et aliquid maxime dolorem impedit et quidem ex voluptas. Qui veniam sed nobis. Minima reprehenderit in qui labore optio voluptatibus perspiciatis. Repudiandae deleniti velit dolores molestiae. Et asperiores qui non placeat.</p>
    <p>Voluptatem alias inventore. Ea illo inventore labore. A iste alias. Omnis quidem omnis necessitatibus minima quo aut tempore quo.
 Ut laboriosam a esse impedit voluptatem. Dignissimos cupiditate impedit perferendis est eligendi repellat modi nihil. Amet odit culpa et tempore quis at dicta rerum dignissimos. Iure perferendis occaecati sequi officia et quam. Eum asperiores non dolor facere libero ab adipisci. Repudiandae qui saepe ab porro molestias impedit voluptas qui qui.
 Sapiente saepe praesentium et nobis ea. Beatae laudantium delectus. Sed tenetur vel ipsam non quia consequatur dolor aliquid. Maiores illum autem rem rerum voluptates. Aspernatur nihil hic dolorem rem iste veritatis necessitatibus. Adipisci ad amet ex amet quibusdam harum quia rerum.</p>
    <p>Magni laboriosam eos id. Nihil nihil qui quidem. Iste in quos et minima. Molestiae laudantium esse eaque.
 Dolor nisi quia consequatur repellat architecto omnis. Labore porro est similique quasi sint architecto dignissimos explicabo velit. Et quis aperiam quo sed praesentium. Aut dolore in. Vero tempore soluta aliquid delectus rerum sequi est incidunt minus.
 Quis sed deleniti. Accusantium assumenda itaque voluptate deserunt quibusdam pariatur nesciunt laudantium. Ut earum rerum beatae. Qui velit error. Accusantium sed praesentium totam voluptatum ex.</p>
    <p>Dolor et tenetur omnis quae rerum molestiae magnam dolorum cum. Ea veniam sit quis. Illo debitis enim id. Aut et fuga voluptas similique sint eaque hic.
 Labore eaque sint inventore. Molestiae eveniet voluptas reprehenderit expedita dolores quo perferendis fuga ex. Quidem ut ut in ullam assumenda quia. Quod asperiores porro.
 Et magni dolor voluptate. Beatae aliquid sapiente cupiditate. Aliquid quae qui amet nulla minima cupiditate fugiat. Aliquam sed inventore eos quo. Provident culpa officia quos explicabo est pariatur deleniti.</p>
    <p>Dolorem ad quisquam aliquam sint deleniti aut minima molestias molestiae. Fugiat rerum dolorum quasi laborum cupiditate qui optio. Non perspiciatis laudantium quibusdam. Inventore dignissimos adipisci. Quam rerum asperiores omnis debitis enim. Assumenda exercitationem excepturi eaque animi voluptatem consequatur nobis.
 Veritatis qui consequatur quos aut dolore nulla blanditiis aut et. Quia adipisci officia expedita eos et eveniet voluptatem velit. Nulla quia quia voluptatem modi enim illum molestiae ratione. Tenetur distinctio culpa maiores eligendi ut aspernatur. Est repellat quasi ea at ducimus. Saepe sunt earum saepe quidem vel qui aliquid.
 Enim sunt cupiditate sequi consequatur veritatis est cupiditate nihil quasi. Nihil voluptatem autem id voluptas consequatur cum est sequi ex. Et inventore nihil sit.</p>
    <p>Consequatur nemo cumque perferendis reiciendis quia. Vero illum et expedita et. Aperiam explicabo consequatur voluptas unde ut velit consequatur facilis aut.
 Architecto autem illo animi rerum dignissimos voluptates quia qui. Impedit est nesciunt placeat ut. Iusto in officia quia vitae maxime temporibus maxime et qui.
 Laboriosam voluptatem qui ex recusandae in. Aut vel culpa consequuntur aut. Vero architecto harum.</p>
    <p>Ea explicabo est vel porro inventore excepturi. Blanditiis quibusdam qui corporis sed quia dolorem aut et suscipit. Assumenda ea mollitia qui quibusdam mollitia architecto ea enim facere.
 Dolore consequuntur deleniti eaque molestias recusandae nemo. Sint aut mollitia ut. Animi distinctio impedit ea ut alias.
 Aut esse dolores aut molestias est nulla nostrum non. Dicta impedit consequatur omnis quaerat doloremque qui mollitia. Quo qui vero necessitatibus modi sit porro provident ut. Voluptates harum voluptas neque laudantium ut. Sed id unde aut nisi quisquam et. Esse ullam dolore et qui nostrum exercitationem quaerat qui ducimus.</p>
    <p>Debitis fugit ea laudantium enim natus autem. Inventore et eveniet sunt aut ab tempore et consequatur qui. Sed cum dolore repellendus voluptas et numquam. Est numquam numquam possimus saepe molestiae ducimus incidunt deserunt. Modi quis minus. Et deleniti reprehenderit consequatur.
 Quod ipsum aut minima. Praesentium odit in quae beatae labore. Assumenda aut exercitationem velit. Consequatur autem pariatur. Esse totam deleniti explicabo.
 Sapiente a enim magni. Repellendus officia nobis sed praesentium. Sint voluptatem et. Nostrum aut corrupti accusantium et porro alias. Dolores voluptatibus magnam exercitationem repellendus laborum qui facere architecto. Accusamus reiciendis sed sed voluptate odit autem sequi voluptate voluptatem.</p>
  </main>
  <aside aria-label="first" class="t-layout__sidebar1">
    <section class="o-sidebarbox">
      <header><h2>Categories</h2></header>
      <ul class="c-categories">
  <li>
<a href="" >Unbranded Wooden Shoes</a>

</li>
  <li>
<a href="" >Sleek Steel Mouse</a>

</li>
  <li>
<a href="" >Small Cotton Cheese</a>

</li>
  <li>
    <details>
      <summary aria-label="Rustic Plastic Fish">
<a href="" >Rustic Plastic Fish</a>

</summary>
      <ul>
        <li>
<a href="" >Unbranded Metal Hat</a>

</li>
        <li>
<a href="" >Tasty Frozen Tuna</a>

</li>
        <li>
<a href="" >Gorgeous Rubber Bike</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Wooden Shoes</a>

</li>
  <li>
<a href="" >Sleek Steel Mouse</a>

</li>
  <li>
<a href="" >Small Cotton Cheese</a>

</li>
  <li>
    <details>
      <summary aria-label="Ergonomic Soft Bacon">
<a href="" >Ergonomic Soft Bacon</a>

</summary>
      <ul>
        <li>
<a href="" >Unbranded Metal Hat</a>

</li>
        <li>
<a href="" >Tasty Frozen Tuna</a>

</li>
        <li>
<a href="" >Gorgeous Rubber Bike</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Wooden Shoes</a>

</li>
  <li>
<a href="" >Sleek Steel Mouse</a>

</li>
  <li>
<a href="" >Small Cotton Cheese</a>

</li>
  <li>
    <details>
      <summary aria-label="Handmade Metal Car">
<a href="" >Handmade Metal Car</a>

</summary>
      <ul>
        <li>
<a href="" >Unbranded Metal Hat</a>

</li>
        <li>
<a href="" >Tasty Frozen Tuna</a>

</li>
        <li>
<a href="" >Gorgeous Rubber Bike</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Wooden Shoes</a>

</li>
  <li>
<a href="" >Sleek Steel Mouse</a>

</li>
  <li>
<a href="" >Small Cotton Cheese</a>

</li>
  <li>
    <details>
      <summary aria-label="Intelligent Fresh Chicken">
<a href="" >Intelligent Fresh Chicken</a>

</summary>
      <ul>
        <li>
<a href="" >Unbranded Metal Hat</a>

</li>
        <li>
<a href="" >Tasty Frozen Tuna</a>

</li>
        <li>
<a href="" >Gorgeous Rubber Bike</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Unbranded Wooden Shoes</a>

</li>
  <li>
<a href="" >Sleek Steel Mouse</a>

</li>
  <li>
<a href="" >Small Cotton Cheese</a>

</li>
  <li>
    <details>
      <summary aria-label="Small Soft Sausages">
<a href="" >Small Soft Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Unbranded Metal Hat</a>

</li>
        <li>
<a href="" >Tasty Frozen Tuna</a>

</li>
        <li>
<a href="" >Gorgeous Rubber Bike</a>

</li>
      </ul>
    </details>
  </li>
</ul>

    </section>
  </aside>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--author">
  <header>
    <h2 id="c-sidebarpost--author-heading">Authors</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--author-heading">
    <option value="">Select Author</option>
    <option value="https://www.cdlib.org/cdlinfo/author/abrin/">Adam Brin (4)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/bhui/">Barbara Hui (14)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/cli/">Chan Li (2)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/dlowenberg/">Daniella Lowenberg (16)</option>
    <option value="https://www.cdlib.org/cdlinfo/author/eproulx/">Elise Proulx (14)</option>
  </select>
  <button onclick="openAuthor()" disabled>View All by Author</button>
</section>

    <section class="c-sidebarpost o-sidebarbox" id="c-sidebarpost--month">
  <header>
    <h2 id="c-sidebarpost--month-heading">Months of Publication</h2>
  </header>
  
  <select class="o-select"   aria-labelledby="c-sidebarpost--month-heading">
    <option value="">Select Month</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/08/">August 2019 (6)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/07/">July 2019 (9)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/06/">June 2019 (6)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/05/">May 2019 (20)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/04/">April 2019 (17)</option>
    <option value="https://www.cdlib.org/cdlinfo/2019/03/">March 2019 (10)</option>
  </select>
  <button onclick="openMonth()" disabled>View All from Month</button>
</section>

    <section class="o-sidebarbox">
      <header><h2>Subscribe</h2></header>
      <ul>
  <li>Voluptatem beatae mollitia laborum nulla.</li>
  <li>Eaque quia pariatur quas aut cumque tenetur debitis ut.</li>
  <li>Adipisci aliquid labore maxime ut deleniti et qui animi.</li>
  <li>Illo neque porro itaque voluptatem ab esse nobis.</li>
  <li>Consequatur consectetur non.</li>
</ul>

    </section>
  </aside>
  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

