

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="c-blogmetadata">
  <time>July 3, 2012</time>
  <span>Author: 
<a href="" >Daphney Becker</a>

</span>
  <span>Categories:
    <ul>
      <li>
<a href="" >Collection Development</a>

</li>
      <li>
<a href="" >Newsletter</a>

</li>
      <li>
<a href="" >Shared Print</a>

</li>
      <li>
<a href="" >Staff News</a>

</li>
    </ul>
  </span>
  <span>Tags:
    <ul>
      <li>
<a href="" >resource_change</a>

</li>
      <li>
<a href="" >arks</a>

</li>
      <li>
<a href="" >citation</a>

</li>
      <li>
<a href="" >community</a>

</li>
      <li>
<a href="" >open source</a>

</li>
    </ul>
  </span>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

