

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <!-- Start: @button--1 -->
<button class="o-button1" aria-label="button 1 aria label"></button>
<!-- End: @button--1 -->

<!-- Start: @button--2 -->
<button class="o-button2" aria-label="button 2 aria label"></button>
<!-- End: @button--2 -->

<!-- Start: @button--3 -->
<button class="o-button3" aria-label="button 3 aria label"></button>
<!-- End: @button--3 -->

<!-- Start: @button--4 -->
<button class="o-button4" type="submit">Button 4</button>
<!-- End: @button--4 -->

<!-- Start: @button--5 -->
<button class="o-button5">Close</button>
<!-- End: @button--5 -->

<!-- Start: @button--6 -->
<button class="o-button6">Open</button>
<!-- End: @button--6 -->

<!-- Start: @button--7 -->
<button class="o-button7" aria-pressed="false">Toggle (un-pressed)</button>
<!-- End: @button--7 -->

<!-- Start: @button--8 -->
<button class="o-button7" aria-pressed="true">Toggle (pressed)</button>
<!-- End: @button--8 -->

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

