

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <ul class="c-categories">
  <li>
<a href="" >Generic Concrete Ball</a>

</li>
  <li>
<a href="" >Practical Steel Chicken</a>

</li>
  <li>
<a href="" >Small Frozen Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Refined Soft Car">
<a href="" >Refined Soft Car</a>

</summary>
      <ul>
        <li>
<a href="" >Fantastic Metal Mouse</a>

</li>
        <li>
<a href="" >Practical Metal Pants</a>

</li>
        <li>
<a href="" >Handcrafted Soft Table</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Generic Concrete Ball</a>

</li>
  <li>
<a href="" >Practical Steel Chicken</a>

</li>
  <li>
<a href="" >Small Frozen Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Generic Wooden Pants">
<a href="" >Generic Wooden Pants</a>

</summary>
      <ul>
        <li>
<a href="" >Fantastic Metal Mouse</a>

</li>
        <li>
<a href="" >Practical Metal Pants</a>

</li>
        <li>
<a href="" >Handcrafted Soft Table</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Generic Concrete Ball</a>

</li>
  <li>
<a href="" >Practical Steel Chicken</a>

</li>
  <li>
<a href="" >Small Frozen Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Soft Chips">
<a href="" >Licensed Soft Chips</a>

</summary>
      <ul>
        <li>
<a href="" >Fantastic Metal Mouse</a>

</li>
        <li>
<a href="" >Practical Metal Pants</a>

</li>
        <li>
<a href="" >Handcrafted Soft Table</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Generic Concrete Ball</a>

</li>
  <li>
<a href="" >Practical Steel Chicken</a>

</li>
  <li>
<a href="" >Small Frozen Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Rustic Concrete Ball">
<a href="" >Rustic Concrete Ball</a>

</summary>
      <ul>
        <li>
<a href="" >Fantastic Metal Mouse</a>

</li>
        <li>
<a href="" >Practical Metal Pants</a>

</li>
        <li>
<a href="" >Handcrafted Soft Table</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Generic Concrete Ball</a>

</li>
  <li>
<a href="" >Practical Steel Chicken</a>

</li>
  <li>
<a href="" >Small Frozen Table</a>

</li>
  <li>
    <details>
      <summary aria-label="Refined Frozen Sausages">
<a href="" >Refined Frozen Sausages</a>

</summary>
      <ul>
        <li>
<a href="" >Fantastic Metal Mouse</a>

</li>
        <li>
<a href="" >Practical Metal Pants</a>

</li>
        <li>
<a href="" >Handcrafted Soft Table</a>

</li>
      </ul>
    </details>
  </li>
</ul>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

