

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <ul class="c-categories">
  <li>
<a href="" >Rustic Rubber Chips</a>

</li>
  <li>
<a href="" >Licensed Rubber Towels</a>

</li>
  <li>
<a href="" >Small Frozen Salad</a>

</li>
  <li>
    <details>
      <summary aria-label="Refined Metal Towels">
<a href="" >Refined Metal Towels</a>

</summary>
      <ul>
        <li>
<a href="" >Intelligent Concrete Mouse</a>

</li>
        <li>
<a href="" >Unbranded Granite Chair</a>

</li>
        <li>
<a href="" >Refined Rubber Table</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Rustic Rubber Chips</a>

</li>
  <li>
<a href="" >Licensed Rubber Towels</a>

</li>
  <li>
<a href="" >Small Frozen Salad</a>

</li>
  <li>
    <details>
      <summary aria-label="Intelligent Wooden Pizza">
<a href="" >Intelligent Wooden Pizza</a>

</summary>
      <ul>
        <li>
<a href="" >Intelligent Concrete Mouse</a>

</li>
        <li>
<a href="" >Unbranded Granite Chair</a>

</li>
        <li>
<a href="" >Refined Rubber Table</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Rustic Rubber Chips</a>

</li>
  <li>
<a href="" >Licensed Rubber Towels</a>

</li>
  <li>
<a href="" >Small Frozen Salad</a>

</li>
  <li>
    <details>
      <summary aria-label="Sleek Wooden Pants">
<a href="" >Sleek Wooden Pants</a>

</summary>
      <ul>
        <li>
<a href="" >Intelligent Concrete Mouse</a>

</li>
        <li>
<a href="" >Unbranded Granite Chair</a>

</li>
        <li>
<a href="" >Refined Rubber Table</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Rustic Rubber Chips</a>

</li>
  <li>
<a href="" >Licensed Rubber Towels</a>

</li>
  <li>
<a href="" >Small Frozen Salad</a>

</li>
  <li>
    <details>
      <summary aria-label="Handcrafted Cotton Salad">
<a href="" >Handcrafted Cotton Salad</a>

</summary>
      <ul>
        <li>
<a href="" >Intelligent Concrete Mouse</a>

</li>
        <li>
<a href="" >Unbranded Granite Chair</a>

</li>
        <li>
<a href="" >Refined Rubber Table</a>

</li>
      </ul>
    </details>
  </li>
  <li>
<a href="" >Rustic Rubber Chips</a>

</li>
  <li>
<a href="" >Licensed Rubber Towels</a>

</li>
  <li>
<a href="" >Small Frozen Salad</a>

</li>
  <li>
    <details>
      <summary aria-label="Licensed Wooden Chicken">
<a href="" >Licensed Wooden Chicken</a>

</summary>
      <ul>
        <li>
<a href="" >Intelligent Concrete Mouse</a>

</li>
        <li>
<a href="" >Unbranded Granite Chair</a>

</li>
        <li>
<a href="" >Refined Rubber Table</a>

</li>
      </ul>
    </details>
  </li>
</ul>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

