

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <details>
  <summary>Enim praesentium expedita recusandae.</summary>
  <p>Sit eius sunt non aut blanditiis perspiciatis esse tenetur. In est qui. Voluptatem ut voluptatem. Eveniet qui est qui sunt sint sapiente distinctio. Ullam voluptatem sint fugit dolor velit et et commodi. Corporis ex ut quisquam veritatis corrupti quisquam. Libero sit voluptate. Atque veritatis et ut nisi. A sequi ea eius autem dolores est. Architecto ducimus iure voluptatem commodi ea corporis rerum. Quae suscipit reiciendis reiciendis modi. Quia voluptas magnam maxime dicta sequi optio voluptatem et. Accusantium corrupti atque. Quia vero harum quos ut sint esse asperiores et. Similique doloribus deserunt illum. Sit enim debitis. Omnis accusantium quo qui placeat rerum. Qui et ut distinctio sunt minima omnis dolor quas nisi. Voluptas molestiae ipsam sint voluptatem architecto. Ad quaerat minus voluptas quo eum atque itaque sit qui.</p>
</details>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

