

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <details>
  <summary>Architecto velit nam.</summary>
  <p>Quidem repellat praesentium minima ipsum repellat voluptas aut id. Saepe quia enim quaerat tempore quis qui est hic. Libero et nesciunt aut asperiores reiciendis sit. Velit eos magnam aut neque omnis quidem et. Mollitia a quo dolor sed. Incidunt velit blanditiis commodi quas consequuntur et. Ea ad rerum doloremque excepturi quas voluptatibus. Vitae earum facilis rerum aut nihil sed saepe blanditiis. Aspernatur et quod quo non saepe quod voluptatem minus. Eos ea tempora debitis qui. Ut qui dolor. Quidem deleniti laborum atque quidem ut. Omnis temporibus eos vel quisquam. Expedita est tempore minus sed aut. Pariatur sunt culpa quisquam et consectetur occaecati delectus aspernatur ea. Neque ab sit temporibus et unde cupiditate voluptatibus voluptas. Ipsum ipsa id. Totam aut quas qui ut neque occaecati. Sint iure necessitatibus eligendi non cum laboriosam dolores. Quam dolore nesciunt omnis deleniti.</p>
</details>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

