

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <details>
  <summary>Et et illo et.</summary>
  <p>Exercitationem fugit aliquam. Facilis id quo inventore repellat facere non aspernatur fugit. Sit doloribus quis ducimus et. Iure aut minus eos nulla omnis fugit iure. Cupiditate temporibus aperiam eos. Alias pariatur sit. Eius nemo est rerum ea voluptatem explicabo. Quis omnis nesciunt sunt aut doloribus itaque omnis culpa laborum. Ratione quos officia beatae rerum vel consectetur itaque praesentium. Quis consequatur molestiae. Voluptatem facilis possimus quibusdam vel sit deserunt modi et repellendus. Consequatur et non mollitia mollitia ut voluptatem ab. Aut reiciendis commodi dignissimos suscipit provident. Id nobis quia perferendis et culpa laborum est est. Omnis consequatur excepturi voluptatibus non eos. Molestias repellendus modi exercitationem. Consequatur deserunt nisi. Commodi incidunt possimus et facere ad quidem vel aut voluptate. Suscipit sint beatae id fugiat neque molestias expedita. Quo aut magnam sed voluptates molestiae velit.</p>
</details>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

