

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <!-- Start: @docicon--1 -->
<span class="o-docicon__pdf" aria-label="pdf document">pdf</span>
<!-- End: @docicon--1 -->

<!-- Start: @docicon--10 -->
<span class="o-docicon__pptx" aria-label="pptx document">pptx</span>
<!-- End: @docicon--10 -->

<!-- Start: @docicon--11 -->
<span class="o-docicon__xlsx" aria-label="xlsx document">xlsx</span>
<!-- End: @docicon--11 -->

<!-- Start: @docicon--12 -->
<span class="o-docicon__docx" aria-label="docx document">docx</span>
<!-- End: @docicon--12 -->

<!-- Start: @docicon--2 -->
<span class="o-docicon__doc" aria-label="doc document">doc</span>
<!-- End: @docicon--2 -->

<!-- Start: @docicon--3 -->
<span class="o-docicon__xls" aria-label="xls document">xls</span>
<!-- End: @docicon--3 -->

<!-- Start: @docicon--4 -->
<span class="o-docicon__txt" aria-label="txt document">txt</span>
<!-- End: @docicon--4 -->

<!-- Start: @docicon--5 -->
<span class="o-docicon__zip" aria-label="zip document">zip</span>
<!-- End: @docicon--5 -->

<!-- Start: @docicon--6 -->
<span class="o-docicon__html" aria-label="html document">html</span>
<!-- End: @docicon--6 -->

<!-- Start: @docicon--7 -->
<span class="o-docicon__rtf" aria-label="rtf document">rtf</span>
<!-- End: @docicon--7 -->

<!-- Start: @docicon--9 -->
<span class="o-docicon__ppt" aria-label="ppt document">ppt</span>
<!-- End: @docicon--9 -->

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

