

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

