

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="c-halfboxes">
  <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Minima autem ipsum sit voluptates blanditiis. Architecto consectetur dicta repellendus ut odio aspernatur reprehenderit. A quia est accusantium excepturi quia facere nesciunt. Numquam quis et nostrum inventore aut dolor qui sit in.</p>
  <p>Quia harum dolorum quaerat qui commodi autem. Nam est voluptas optio quia accusantium modi quia. Molestias asperiores modi voluptas animi harum ipsam perspiciatis labore cum. Alias et quaerat molestias excepturi et. Nesciunt voluptas eveniet. Eius rerum aspernatur dicta animi blanditiis sit.</p>
  <p>Earum similique qui cum est omnis dolorum. Eius sequi laborum vel. Quo error quis odit accusamus autem voluptatibus et occaecati eligendi. Deserunt quia labore repellat voluptatem repellat voluptas. Ut beatae dicta. Et maiores qui laudantium laboriosam assumenda quasi autem.</p>
</section>

  <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Gorgeous Plastic Computer</a>
      
  </h3>
  <p>Minima autem ipsum sit voluptates blanditiis. Architecto consectetur dicta repellendus ut odio aspernatur reprehenderit. A quia est accusantium excepturi quia facere nesciunt. Numquam quis et nostrum inventore aut dolor qui sit in.</p>
  <h3 >
      
      <a href="" >Licensed Wooden Chips</a>
      
  </h3>
  <p>Quia harum dolorum quaerat qui commodi autem. Nam est voluptas optio quia accusantium modi quia. Molestias asperiores modi voluptas animi harum ipsam perspiciatis labore cum. Alias et quaerat molestias excepturi et. Nesciunt voluptas eveniet. Eius rerum aspernatur dicta animi blanditiis sit.</p>
  <h3 >
      
      <a href="" >Generic Wooden Cheese</a>
      
  </h3>
  <p>Earum similique qui cum est omnis dolorum. Eius sequi laborum vel. Quo error quis odit accusamus autem voluptatibus et occaecati eligendi. Deserunt quia labore repellat voluptatem repellat voluptas. Ut beatae dicta. Et maiores qui laudantium laboriosam assumenda quasi autem.</p>
</section>

</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

