

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-home">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Generic Plastic Bacon ">
    <option value="Tasty Soft Gloves ">
    <option value="Practical Plastic Pizza ">
    <option value="Generic Plastic Tuna ">
    <option value="Intelligent Soft Chair ">
    <option value="Tasty Metal Bacon ">
    <option value="Handmade Steel Chips ">
    <option value="Awesome Cotton Tuna ">
    <option value="Awesome Wooden Hat ">
    <option value="Tasty Frozen Fish ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <h1 id="maincontent" class="c-homeheading">California Digital Library</h1>

  <main class="c-slideshow" aria-label="slideshow">
  <div class="c-slideshow__controls">
    <button class="c-slideshow__play" title="play slideshow"><span>play slideshow</span></button>
    <button class="c-slideshow__pause" title="pause slideshow"><span>pause slideshow</span></button>
    <button id="c-slideshow__goto1" class="c-slideshow__goto" aria-label="go to slide 1 of 4">1</button>
    <button id="c-slideshow__goto2" class="c-slideshow__goto" aria-label="go to slide 2 of 4">2</button>
    <button id="c-slideshow__goto3" class="c-slideshow__goto" aria-label="go to slide 3 of 4">3</button>
    <button id="c-slideshow__goto4" class="c-slideshow__goto" aria-label="go to slide 4 of 4">4</button>
  </div>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Handmade Frozen Table</h2>
      <p>Eius nemo qui nam. Quas minima alias modi maiores reiciendis.</p>
      <a href="https://escholarship.org">Read more</a>
      <small>Photo by Adrain Ortiz. Courtesy of ea deserunt et [Slide 1]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;0 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;0 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;0" alt="Incredible Concrete Car">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Incredible Cotton Hat</h2>
      <p>Porro reprehenderit delectus eos. Non sed vitae.</p>
      <a href="https://www.hathitrust.org">Read more</a>
      <small>Photo by Ivy Ledner. Courtesy of natus rerum esse [Slide 2]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;1 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;1 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;1" alt="Unbranded Metal Car">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Gorgeous Steel Bike</h2>
      <p>Ea maiores dolor id omnis exercitationem. Dignissimos mollitia temporibus quis fuga.</p>
      <a href="https://escholarship.org">Read more</a>
      <small>Photo by Juston Torp. Courtesy of fugit voluptates earum [Slide 3]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;2 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;2 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;2" alt="Refined Soft Tuna">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Rustic Soft Shirt</h2>
      <p>Provident in nihil autem ut expedita asperiores quibusdam. Quae sed dicta velit deserunt ut reiciendis earum omnis voluptas.</p>
      <a href="https://calisphere.org">Read more</a>
      <small>Photo by Mrs. Melody Schmitt. Courtesy of quam ut iusto [Slide 4]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;3 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;3 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;3" alt="Rustic Soft Chair">
    </div>
  </figure>
</main>

  <h2 class="c-serviceheading"> CDL Services </h2>

  <div class="c-servicebox">
  <section>
    <header>
      <h3 >
          Shoes 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Generic Soft Fish</a>

</li>
      <li>
<a href="" >Intelligent Concrete Computer</a>

</li>
      <li>
<a href="" >Licensed Plastic Bacon</a>

</li>
      <li>
<a href="" >Sleek Plastic Car</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Chicken 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Generic Soft Fish</a>

</li>
      <li>
<a href="" >Intelligent Concrete Computer</a>

</li>
      <li>
<a href="" >Licensed Plastic Bacon</a>

</li>
      <li>
<a href="" >Sleek Plastic Car</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Sausages 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Generic Soft Fish</a>

</li>
      <li>
<a href="" >Intelligent Concrete Computer</a>

</li>
      <li>
<a href="" >Licensed Plastic Bacon</a>

</li>
      <li>
<a href="" >Sleek Plastic Car</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Sausages 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Generic Soft Fish</a>

</li>
      <li>
<a href="" >Intelligent Concrete Computer</a>

</li>
      <li>
<a href="" >Licensed Plastic Bacon</a>

</li>
      <li>
<a href="" >Sleek Plastic Car</a>

</li>
    </ul>
  </section>
</div>

  <div role="marquee" class="c-newsreel">
  <h2 >
      Latest News from CDL 
  </h2>
  <button class="c-newsreel__play"><span>play newsreel</span></button>
  <button class="c-newsreel__pause"><span>pause newsreel</span></button>
  <ul>
    <li>
<a href="" >Handmade Granite Ball at CDL for Intelligent Steel Ball</a>

</li>
    <li>
<a href="" >Awesome Concrete Pants with CDL and Awesome Cotton Tuna</a>

</li>
    <li>
<a href="" >Intelligent Frozen Computer with CDL for Sleek Wooden Chips</a>

</li>
    <li>
<a href="" >Ergonomic Concrete Cheese with CDL for Fantastic Rubber Mouse</a>

</li>
    <li>
<a href="" >Tasty Cotton Tuna with CDL for Refined Steel Pants</a>

</li>
  </ul>
  
  <a href="" >View all news</a>
  
</div>

  <section class="c-quicklink1 o-sidebarnav">
  <header>
    <h2 >
        Refined Granite Chair 
    </h2>
  </header>
  <ul>
    <li>
<a href="" >Incredible Granite Pants</a>

</li>
    <li>
<a href="" >Awesome Wooden Ball</a>

</li>
    <li>
<a href="" >Handmade Frozen Chair</a>

</li>
    <li>
<a href="" >Small Granite Mouse</a>

</li>
    <li>
<a href="" >Handmade Plastic Fish</a>

</li>
  </ul>
</section>

  <section class="c-quicklink2 o-sidebarnav">
  <header>
    <h2 >
        Tasty Rubber Pizza 
    </h2>
  </header>
  <ul>
    <li>
<a href="" >Gorgeous Wooden Gloves</a>

</li>
    <li>
<a href="" >Small Steel Chicken</a>

</li>
    <li>
<a href="" >Generic Metal Computer</a>

</li>
    <li>
<a href="" >Small Granite Fish</a>

</li>
    <li>
<a href="" >Fantastic Soft Car</a>

</li>
    <li>
<a href="" >Handcrafted Plastic Keyboard</a>

</li>
    <li>
<a href="" >Small Metal Bacon</a>

</li>
  </ul>
</section>

  <figure class="c-meet">
  <div class="c-meet__avatar">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/byryan/128.jpg" alt="Felix Block MD">
  </div>
  <figcaption>
    Meet Halle Zemlak, User Experience Customer Optimization Planner
    
    <a href="" >Read more</a>
    
  </figcaption>
</figure>

  <a class="c-social" href="https://twitter.com/caldiglib" data-wpel-link="external">Follow us on Twitter</a>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

