

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-home highlight-grid">
  <div class="c-header">
    <h2>Header</h2>
    Libero et odit nostrum libero ducimus voluptas non quas. Modi et velit dolorem error beatae eos architecto. Voluptas excepturi consequuntur autem repudiandae. Rerum nemo ut fugit. Incidunt molestiae ex sint eaque alias corrupti.
  </div>
  <div class="c-slideshow">
    <h2>Slideshow</h2>
    Debitis expedita molestiae et est ut. Reiciendis nulla temporibus. Laudantium quia corporis. Officia sit saepe pariatur aut corrupti totam quo. Quidem quae molestiae nulla et laborum. Eius totam sed facere atque dolor.
  </div>
  <div class="c-serviceheading">
    <h2>Service Heading</h2>
    Sequi totam aut quia eum qui ipsam.
  </div>
  <div class="c-servicebox">
    <h2>Service Boxes</h2>
    Enim omnis nam itaque maiores libero at id omnis. Id vel nostrum eos. Nihil fugit quod enim vel aut cum velit. Distinctio ullam asperiores dolorum.
  </div>
  <div class="c-newsreel">
    <h2>Newsreel</h2>
    Ut et cum sed est autem. Reiciendis sint laboriosam dolores ab rerum aut et voluptatem debitis. Sequi consequatur est aut non reprehenderit voluptate accusantium dolorum. Voluptas quia debitis eos dignissimos consequatur. Voluptatem est qui rem.
  </div>
  <div class="c-quicklink1">
    <h2>Quicklink 1</h2>
    Iure accusamus ipsam deleniti non dolor optio ratione. Nihil harum animi deleniti voluptatem. Labore enim cum quaerat ipsa nesciunt nemo reiciendis aut. Non dolores ut repellat sed quas.
  </div>
  <div class="c-quicklink2">
    <h2>Quicklink 2</h2>
    Aut est qui reprehenderit animi. Consequatur voluptas libero hic consectetur quis et nemo praesentium. Commodi et sit vero et est ab architecto. Laboriosam quas quis itaque.
  </div>
  <div class="c-meet">
    <h2>Meet</h2>
    Incidunt non qui quas. Ullam fuga et vitae ea ut beatae nobis eveniet. Nostrum adipisci reprehenderit laudantium similique facere facilis aliquid illum voluptas. Sed ut temporibus est minima laudantium itaque molestias. Ducimus consequuntur sint debitis.
  </div>
  <div class="c-social">
    <h2>Social</h2>
    Quidem voluptas omnis perferendis sit. Voluptas nulla distinctio. Nihil dolor est debitis non praesentium. Facilis eos est dolor nesciunt est quia. Maxime ullam consectetur molestias voluptatem numquam reprehenderit sit id et.
  </div>
  <div class="c-footer">
    <h2>Footer</h2>
    Excepturi reprehenderit consequatur natus facere temporibus consequatur facere reiciendis quidem. Qui cum dolor illum vel. Quia sequi blanditiis vel voluptatum in vitae laudantium cum veritatis. Autem et maxime deserunt architecto corporis natus porro et. Corrupti fugit animi.
  </div>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

