

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-home highlight-grid">
  <div class="c-header">
    <h2>Header</h2>
    Quibusdam voluptatem qui. Et non repellat. Ut beatae tempore voluptas maxime. Voluptatem corporis sit facilis aut reiciendis hic ut.
  </div>
  <div class="c-slideshow">
    <h2>Slideshow</h2>
    Aspernatur aut qui animi quod ut. Eveniet nisi perspiciatis officiis qui aut libero officia. Rerum hic sit molestiae et placeat quod occaecati harum. Ut vero voluptatem sint sed odio id eos omnis. Saepe est praesentium veniam sed eos qui temporibus aut. Corporis velit adipisci quam sint repellendus omnis.
  </div>
  <div class="c-serviceheading">
    <h2>Service Heading</h2>
    Ea quae laudantium neque.
  </div>
  <div class="c-servicebox">
    <h2>Service Boxes</h2>
    Et aliquid assumenda quos facilis molestiae recusandae fuga. Ut sit voluptates quos et suscipit. Et ut rem soluta neque in et delectus mollitia aperiam. Nesciunt similique quo numquam illo ut dolores. Dicta rerum nam qui et mollitia. Sequi recusandae voluptatum velit sunt voluptas.
  </div>
  <div class="c-newsreel">
    <h2>Newsreel</h2>
    Maxime in enim repellendus dolorem delectus. Error assumenda delectus quaerat accusamus eum ad. Itaque ipsa nihil incidunt nisi a illum.
  </div>
  <div class="c-quicklink1">
    <h2>Quicklink 1</h2>
    Ut sunt doloremque iusto cupiditate rerum natus odit sint nemo. Magnam incidunt voluptas labore repellat voluptatem facere est. Ut et est sit sed non perferendis. Asperiores voluptatem consequatur voluptates libero placeat provident. Natus nisi perspiciatis voluptatibus distinctio eveniet temporibus dolore qui ipsam.
  </div>
  <div class="c-quicklink2">
    <h2>Quicklink 2</h2>
    Aperiam nobis cupiditate eum necessitatibus quasi. Asperiores alias illo harum amet et. Possimus corporis nihil quod eos quis perferendis libero laudantium non. Vitae aut quasi possimus fugiat voluptatem harum voluptatibus expedita. Mollitia et ea quam placeat omnis fuga.
  </div>
  <div class="c-meet">
    <h2>Meet</h2>
    Architecto ab nostrum sit qui. Qui eos veritatis incidunt voluptatem eius delectus. Ut dignissimos officiis ut deserunt. Aut doloremque est voluptates aperiam.
  </div>
  <div class="c-social">
    <h2>Social</h2>
    Non et asperiores vitae enim eos quaerat molestiae incidunt et. Id eligendi provident sit necessitatibus deserunt et beatae deleniti. Aut omnis ex consequatur consequatur ex corporis aut. Architecto sint eaque consequatur eos. Ea placeat quasi maxime ipsa sunt.
  </div>
  <div class="c-footer">
    <h2>Footer</h2>
    Sint perferendis qui sit neque rerum ratione. Quod qui sunt quidem dolorem aperiam impedit. Expedita eum ut omnis in aperiam. Ex vero dolores quam quo distinctio voluptas aliquid. Ut a rem consectetur unde voluptatem amet. Illum possimus ut nulla necessitatibus omnis quam quia autem facilis.
  </div>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

