

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-home highlight-grid">
  <div class="c-header">
    <h2>Header</h2>
    Facere sit dolores et voluptatem expedita. Tempore sed impedit harum inventore incidunt rem ut consequatur quidem. Dolor ea quisquam eum ut molestias aperiam. Molestiae ipsum omnis dolorum qui et praesentium suscipit voluptatum.
  </div>
  <div class="c-slideshow">
    <h2>Slideshow</h2>
    Aut quia neque consectetur voluptatibus voluptatibus explicabo unde. Doloremque quas dolorem eum nemo possimus. Vel quia et suscipit sed. Ea veniam iusto qui soluta.
  </div>
  <div class="c-serviceheading">
    <h2>Service Heading</h2>
    Et enim sit cum hic maxime et voluptatem sit quo.
  </div>
  <div class="c-servicebox">
    <h2>Service Boxes</h2>
    Quibusdam omnis qui saepe eum doloremque ducimus veniam. Beatae dolor ut harum dolores praesentium. Ea velit rerum soluta dolores.
  </div>
  <div class="c-newsreel">
    <h2>Newsreel</h2>
    Cum quis sit sit aliquam ut aliquid. Qui itaque fugiat esse mollitia voluptate harum. Enim exercitationem quaerat voluptatum deserunt esse nihil.
  </div>
  <div class="c-quicklink1">
    <h2>Quicklink 1</h2>
    Reprehenderit ea sunt minima. Aut molestiae quia dolorem delectus consequuntur enim unde ullam qui. Facilis vitae quo.
  </div>
  <div class="c-quicklink2">
    <h2>Quicklink 2</h2>
    Iste incidunt culpa ut blanditiis rerum atque. Culpa dolorum quisquam quae et dolorem voluptatem pariatur. Officia sapiente odio aut dolor ex. Non ut esse tenetur ut occaecati perferendis tempora minus excepturi.
  </div>
  <div class="c-meet">
    <h2>Meet</h2>
    Blanditiis non laboriosam ut velit sit consequuntur autem modi non. Iure quos non officiis fuga ipsa voluptatem facilis harum. Veritatis ab rerum. Sint voluptatem excepturi omnis sapiente neque omnis. Cumque esse natus similique nemo. Voluptatum commodi officia ad hic.
  </div>
  <div class="c-social">
    <h2>Social</h2>
    Temporibus ad culpa et modi. Libero dolorum sit aut perferendis consequatur aut et. Inventore sint et aut quis sed quasi est molestiae qui. Doloribus numquam tempora iste illum porro occaecati. Quis dicta aperiam rerum sequi recusandae est voluptatem quaerat corrupti.
  </div>
  <div class="c-footer">
    <h2>Footer</h2>
    Id fugit sed id quam et. Enim eos repellat facilis dolor sed suscipit qui numquam necessitatibus. Quam magni velit doloribus blanditiis. Laborum libero odio non at laborum rerum hic.
  </div>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

