

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-home">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Practical Concrete Sausages ">
    <option value="Intelligent Metal Hat ">
    <option value="Refined Plastic Car ">
    <option value="Refined Granite Towels ">
    <option value="Fantastic Soft Cheese ">
    <option value="Intelligent Granite Car ">
    <option value="Rustic Wooden Car ">
    <option value="Handcrafted Concrete Cheese ">
    <option value="Tasty Fresh Sausages ">
    <option value="Gorgeous Wooden Pants ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <h1 id="maincontent" class="c-homeheading">California Digital Library</h1>

  <main class="c-slideshow" aria-label="slideshow">
  <div class="c-slideshow__controls">
    <button class="c-slideshow__play" title="play slideshow"><span>play slideshow</span></button>
    <button class="c-slideshow__pause" title="pause slideshow"><span>pause slideshow</span></button>
    <button id="c-slideshow__goto1" class="c-slideshow__goto" aria-label="go to slide 1 of 4">1</button>
    <button id="c-slideshow__goto2" class="c-slideshow__goto" aria-label="go to slide 2 of 4">2</button>
    <button id="c-slideshow__goto3" class="c-slideshow__goto" aria-label="go to slide 3 of 4">3</button>
    <button id="c-slideshow__goto4" class="c-slideshow__goto" aria-label="go to slide 4 of 4">4</button>
  </div>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Small Plastic Gloves</h2>
      <p>Dolor et veritatis aperiam accusamus quod provident dolor veniam et. Ratione eligendi et vel.</p>
      <a href="https://escholarship.org">Read more</a>
      <small>Photo by Darian Will. Courtesy of nemo sequi deserunt [Slide 1]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;0 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;0 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;0" alt="Gorgeous Soft Shoes">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Handmade Cotton Mouse</h2>
      <p>Sequi fugiat ipsam. Enim expedita fugit quae ad.</p>
      <a href="https://www.hathitrust.org">Read more</a>
      <small>Photo by Laura Ratke. Courtesy of qui quidem facere [Slide 2]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;1 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;1 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;1" alt="Unbranded Granite Cheese">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Licensed Frozen Bacon</h2>
      <p>Corrupti aut doloremque aut et voluptates nemo dolore quo voluptas. Ut explicabo voluptatem ipsum in sunt neque.</p>
      <a href="https://dmptool.org">Read more</a>
      <small>Photo by Antone Thiel. Courtesy of et reprehenderit odio [Slide 3]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;2 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;2 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;2" alt="Tasty Fresh Soap">
    </div>
  </figure>
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>Unbranded Soft Pizza</h2>
      <p>Et aliquam fuga eaque dignissimos. Qui veniam architecto velit.</p>
      <a href="https://escholarship.org">Read more</a>
      <small>Photo by Pinkie Herman. Courtesy of id aut nostrum [Slide 4]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="https://loremflickr.com/740/500/nature?size&#x3D;small&amp;random&#x3D;3 740w, https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;3 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="https://loremflickr.com/1095/740/nature?size&#x3D;big&amp;random&#x3D;3" alt="Intelligent Soft Pants">
    </div>
  </figure>
</main>

  <h2 class="c-serviceheading"> CDL Services </h2>

  <div class="c-servicebox">
  <section>
    <header>
      <h3 >
          Salad 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Licensed Fresh Shoes</a>

</li>
      <li>
<a href="" >Ergonomic Rubber Sausages</a>

</li>
      <li>
<a href="" >Practical Cotton Mouse</a>

</li>
      <li>
<a href="" >Intelligent Plastic Table</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Soap 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Licensed Fresh Shoes</a>

</li>
      <li>
<a href="" >Ergonomic Rubber Sausages</a>

</li>
      <li>
<a href="" >Practical Cotton Mouse</a>

</li>
      <li>
<a href="" >Intelligent Plastic Table</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Tuna 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Licensed Fresh Shoes</a>

</li>
      <li>
<a href="" >Ergonomic Rubber Sausages</a>

</li>
      <li>
<a href="" >Practical Cotton Mouse</a>

</li>
      <li>
<a href="" >Intelligent Plastic Table</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Fish 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Licensed Fresh Shoes</a>

</li>
      <li>
<a href="" >Ergonomic Rubber Sausages</a>

</li>
      <li>
<a href="" >Practical Cotton Mouse</a>

</li>
      <li>
<a href="" >Intelligent Plastic Table</a>

</li>
    </ul>
  </section>
</div>

  <div role="marquee" class="c-newsreel">
  <h2 >
      Latest News from CDL 
  </h2>
  <button class="c-newsreel__play"><span>play newsreel</span></button>
  <button class="c-newsreel__pause"><span>pause newsreel</span></button>
  <ul>
    <li>
<a href="" >Fantastic Rubber Mouse at CDL for Refined Wooden Towels</a>

</li>
    <li>
<a href="" >Small Wooden Car at CDL with Fantastic Fresh Tuna</a>

</li>
    <li>
<a href="" >Gorgeous Plastic Pants at CDL for Licensed Wooden Mouse</a>

</li>
    <li>
<a href="" >Tasty Concrete Sausages at CDL for Licensed Frozen Ball</a>

</li>
    <li>
<a href="" >Gorgeous Steel Fish at CDL for Intelligent Steel Salad</a>

</li>
  </ul>
  
  <a href="" >View all news</a>
  
</div>

  <section class="c-quicklink1 o-sidebarnav">
  <header>
    <h2 >
        Generic Cotton Shoes 
    </h2>
  </header>
  <ul>
    <li>
<a href="" >Unbranded Granite Shirt</a>

</li>
    <li>
<a href="" >Handmade Plastic Soap</a>

</li>
    <li>
<a href="" >Sleek Soft Gloves</a>

</li>
    <li>
<a href="" >Generic Concrete Ball</a>

</li>
    <li>
<a href="" >Fantastic Metal Shirt</a>

</li>
  </ul>
</section>

  <section class="c-quicklink2 o-sidebarnav">
  <header>
    <h2 >
        Unbranded Soft Gloves 
    </h2>
  </header>
  <ul>
    <li>
<a href="" >Tasty Frozen Mouse</a>

</li>
    <li>
<a href="" >Gorgeous Rubber Shoes</a>

</li>
    <li>
<a href="" >Ergonomic Soft Towels</a>

</li>
    <li>
<a href="" >Handcrafted Rubber Bacon</a>

</li>
    <li>
<a href="" >Tasty Cotton Computer</a>

</li>
    <li>
<a href="" >Tasty Plastic Chips</a>

</li>
    <li>
<a href="" >Refined Metal Soap</a>

</li>
  </ul>
</section>

  <figure class="c-meet">
  <div class="c-meet__avatar">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/stefanotirloni/128.jpg" alt="Chanel Pfeffer">
  </div>
  <figcaption>
    Meet Marisa Nicolas, Collections Program Lead Integration Orchestrator
    
    <a href="" >Read more</a>
    
  </figcaption>
</figure>

  <a class="c-social" href="https://twitter.com/caldiglib" data-wpel-link="external">Follow us on Twitter</a>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

