

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-layout--1 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Consequatur eum aliquid quibusdam ad et doloremque voluptatem suscipit doloribus. Sapiente consequuntur aut consequatur unde maiores sed quae pariatur. Asperiores sit occaecati repudiandae ut odit deleniti cupiditate voluptates.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Quia minus repellendus ab nostrum.
  </nav>
  <main>
    <h2>Main Content</h2>
    Illum deserunt voluptates repellat temporibus non quae. Dolorem qui ut tempore soluta totam doloremque voluptas incidunt vel. Dolores veniam eos.
 Asperiores a quisquam est minus nisi. Laboriosam quia ut. Nisi natus eum harum et doloremque magni velit. Eligendi et voluptatem dolores. Assumenda sequi eum vitae eum numquam. Enim dicta neque ea itaque sit odit voluptatem est.
 Sed aspernatur vel suscipit. Quia sed quod quia voluptatibus accusamus ea laboriosam aperiam. Fugit voluptatem omnis et.
  </main>
  <aside class="c-updated">
    <strong>Last Updated</strong> Quod incidunt pariatur aut quisquam blanditiis voluptate laboriosam.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Dolor nisi nobis nam dicta est et facilis. Repellendus est sint iusto hic deleniti dolor distinctio id. Labore nesciunt possimus nisi et assumenda beatae. Praesentium aut debitis optio error dolor consequatur nesciunt id aut.
  </footer>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

