

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-layout--4 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Omnis aut aperiam deserunt quia ratione natus molestiae corrupti esse. Debitis suscipit quia. Ut sit qui voluptas. Aperiam velit alias tempora sed sed velit incidunt.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Dignissimos velit sit aliquam minus.
  </nav>
  <main>
    <h2>Main Content</h2>
    Quae vero recusandae velit distinctio ea temporibus dolor unde molestiae. Et tempore totam voluptates qui. Animi ratione voluptate delectus laborum soluta est quae corrupti. Enim odit dolorem ipsum ut quis qui eos itaque aliquid.
 Eum non voluptate aut maiores veniam et. Dolores et eum quis itaque aut. Rerum corrupti omnis saepe id facere odio. Officiis ipsum nesciunt distinctio officiis. Quidem consequatur quos aliquid. Provident dolorem eum recusandae tenetur.
 Consectetur ut dolores perspiciatis. Non beatae voluptatem animi aliquam sint. Voluptas enim hic et officiis sunt eos.
  </main>
  <aside class="t-layout__sidebar1">
    <h2>Sidebar 1</h2>
    Illum et quia tempora et reprehenderit numquam aperiam voluptatum. Eos et et rerum ut qui. Nihil aut consectetur nam quae repellendus.
  </aside>
  <aside class="t-layout__sidebar2">
    <h2>Sidebar 2</h2>
    Et quidem enim accusamus ex sit. Laboriosam velit alias qui. Nulla quos sed dolorem perferendis voluptas. Quaerat amet ex.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Ipsa quaerat voluptatem veniam ad. Debitis sapiente ut eos sed iusto quia pariatur maiores. Minus laboriosam cum provident distinctio debitis.
  </footer>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

