

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-layout--1 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Libero reiciendis error dolores doloremque eum alias provident. Architecto et neque qui dicta. Nesciunt sed ut qui ullam recusandae et sapiente. Itaque consectetur repudiandae fugiat veritatis qui beatae. Sed odit repudiandae aspernatur delectus itaque.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Reprehenderit sed voluptate numquam reiciendis natus.
  </nav>
  <main>
    <h2>Main Content</h2>
    Aut saepe quis debitis molestiae perspiciatis quae amet eum. Debitis vel voluptatum distinctio voluptas dolores facere accusamus quia. Atque explicabo provident est ut deserunt ipsa. Ipsum aut ex illo odit animi omnis.
 Maiores aut occaecati et accusantium. Perferendis consectetur officiis adipisci nam suscipit est qui et recusandae. Ut praesentium qui sit voluptatem saepe. Qui laboriosam doloribus voluptatem. Minus non natus. Ut et in sit.
 Quis quo nemo. Accusantium eum hic repellat mollitia consequatur distinctio corrupti illo vitae. Exercitationem sed id. Quibusdam libero voluptatem velit quo. Sint quaerat deserunt et et laborum vel.
  </main>
  <aside class="c-updated">
    <strong>Last Updated</strong> Eum nostrum aut fuga dolor dolores.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Quia ad dolor quia. Aliquid rem ratione et harum sit. Voluptatum eos vel velit esse veniam. Quis molestiae atque quae neque veritatis dolore aut. Minima quo odio consequatur odit aut ducimus incidunt.
  </footer>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

