

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-layout--2 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Deserunt aut omnis distinctio laudantium quia dolorum sequi. At ratione veritatis doloribus. Sit tenetur officia tenetur iure ullam a iure. Dolores fugit ut fuga est quia voluptatem rerum. Voluptatem harum et ut optio natus cumque sequi nulla et.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Sed ut ut nobis ipsam.
  </nav>
  <aside class="t-layout__sidebar1">
    <h2>Sidebar</h2>
    Inventore perspiciatis eius et. Iure vero consequatur illo. Cupiditate voluptatibus hic.
  </aside>
  <main>
    <h2>Main Content</h2>
    Rerum reiciendis laudantium. Quo et debitis. Unde expedita beatae reprehenderit sunt qui necessitatibus voluptate temporibus. Eveniet officiis debitis beatae nemo quaerat excepturi tenetur sit quibusdam.
 Corrupti exercitationem illum et sunt dolor deleniti. Quaerat nisi est aut. Itaque et atque expedita ipsam qui provident et ratione aut. Voluptatem maiores laborum. Dignissimos aut enim et. Excepturi temporibus recusandae expedita quia possimus ut minima sed tenetur.
 Tempore quidem voluptatem deleniti voluptatem rem sunt. Delectus eius eos tempore ut ipsam. Earum ea nostrum voluptatem aut aut nemo maiores. Nulla molestiae repellat voluptatem placeat nihil. Beatae saepe omnis at.
  </main>
  <aside class="c-updated">
    <strong>Last Updated</strong> Non doloribus quam suscipit et incidunt.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Fugit quisquam debitis ab. Velit et doloribus vel excepturi cum enim iure. Maiores eaque ad aperiam iste sed omnis porro id doloremque. Sapiente est corrupti illo. Quia aliquam officiis.
  </footer>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

