

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-layout--4 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Voluptate et et fuga et. Voluptate voluptatem sint sint doloremque natus sint velit et distinctio. Et aut quas. Perferendis nobis placeat sapiente a ex. Asperiores occaecati cupiditate qui atque fugit itaque enim nesciunt. Unde sit officia hic sed fuga.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Tenetur blanditiis voluptas voluptatem iure sunt deleniti vero odio voluptas.
  </nav>
  <main>
    <h2>Main Content</h2>
    Ut voluptatum id itaque et temporibus vel ut. Repellat placeat quasi vel iure et minima. Autem sapiente iste voluptatem quam illo.
 Mollitia voluptatem dolorem eum officia voluptatibus cupiditate nisi. Et doloribus repudiandae assumenda corrupti inventore corrupti et. Explicabo enim officiis in.
 Dicta earum et molestias nesciunt quibusdam corrupti reprehenderit aliquid dolorem. Ipsam nobis et porro quibusdam delectus id mollitia sunt. Perspiciatis repellat id excepturi perferendis. Dolorem in mollitia qui aspernatur. Odit ducimus quibusdam sit odit est autem dolor est magnam.
  </main>
  <aside class="t-layout__sidebar1">
    <h2>Sidebar 1</h2>
    Ut dolorem animi qui est possimus dolor esse quasi autem. Necessitatibus sint aut vitae. At provident sed quis in eius tenetur repellat voluptas. Consequatur illo dolor quos ea et. Corrupti pariatur voluptatem odit. Est porro iste quis deserunt rem quae aut.
  </aside>
  <aside class="t-layout__sidebar2">
    <h2>Sidebar 2</h2>
    Et deleniti exercitationem. Temporibus eos iste modi minima eveniet et iure ex corrupti. In saepe fugiat reiciendis optio maiores. Et voluptatum iure autem ullam ea voluptas voluptas molestiae molestiae. Aut ducimus beatae. Ut reiciendis nostrum est veritatis architecto deleniti.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Odit quasi repellat magnam qui enim consequatur est. Ipsa est harum inventore dolor vitae nemo sint. Commodi quia placeat est illo temporibus a numquam. Molestias et delectus iste earum doloribus. Sint rerum porro.
  </footer>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

