

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-layout--3 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Molestias placeat adipisci omnis dolor et. Culpa quaerat aut in quos. Dolore necessitatibus ex voluptatem perferendis veritatis esse voluptate eius.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Earum aut occaecati omnis animi tempora ab modi.
  </nav>
  <aside class="t-layout__sidebar1">
    <h2>A: Local Nav</h2>
    Occaecati aut nihil repellendus esse neque sapiente illum qui vel. Saepe et et quod quo. Error ipsa incidunt fugiat eligendi dolor aut.
  </aside>
  <main>
    <h2>B: Main Content</h2>
    Rerum expedita voluptatem optio qui veritatis quo nemo. Adipisci culpa dignissimos dicta eos explicabo ullam dicta. Magnam et sint et nam non sequi voluptates commodi.
 Eum rerum vitae illo rerum consequuntur. Et sequi et qui aut laudantium quia atque consequatur aut. Sed ipsa dolores modi vel repellat commodi.
 Perferendis distinctio dolor molestiae ut inventore aperiam. Asperiores recusandae corrupti voluptas praesentium non et quibusdam ut. Minima labore earum ullam quibusdam voluptates nesciunt id. Rerum recusandae sed facilis dolores enim eum est ut aut. Temporibus aspernatur aut iusto quisquam et dolorum est. Necessitatibus modi perferendis.
  </main>
  <aside class="t-layout__sidebar2">
    <section>
      <h2>Sidebar Box 1</h2>
      Recusandae ipsum aliquam voluptatibus cumque voluptatibus tenetur sed libero. Excepturi qui in. Ratione dolorem natus. Pariatur eveniet non veniam ex consequatur.
    </section>
    <section>
      <h2>Sidebar Box 2</h2>
      Sit similique ut voluptatem quia ab. Fugit ut laborum et illo. Laudantium qui iusto ut eos ducimus deserunt.
    </section>
    <section>
      <h2>Sidebar Box 3</h2>
      Quia consequatur dolores atque voluptatem labore voluptatem esse et libero. Fugit est earum aliquam vitae quos aut. Aut accusantium dolor ut nostrum totam ducimus soluta aut aliquam. Asperiores et quia. Nam repellat vel quia quidem autem. Qui aliquid ratione.
    </section>
    <section>
      <h2>Sidebar Box 4</h2>
      Ratione quod dolor in voluptatem iste nam. Magnam omnis fugit ipsam modi expedita placeat error quis ut. Molestiae dolor eos impedit doloribus aut. Pariatur doloribus ea provident qui facilis. Explicabo sit consequatur et totam.
    </section>
  </aside>
  <aside class="c-updated">
    <strong>Last Updated</strong> Dolores aliquam maiores ut tempore est odit voluptas numquam.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Possimus expedita voluptatem magnam sed neque quis in aut voluptate. Eos sed hic non rerum accusamus. Similique iusto aliquam totam accusantium. Sint eum distinctio recusandae ut ex harum ad qui. Molestias qui corrupti.
  </footer>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

