

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-layout--3 highlight-grid">
  <header class="c-header">
    <h2>Header</h2>
    Ut accusamus voluptatem reiciendis libero necessitatibus inventore. Qui mollitia vel ex et. Ut voluptatem velit temporibus doloribus. Aut et voluptas quo dicta. Quos incidunt sed temporibus.
  </header>
  <nav class="c-breadcrumb">
    <strong>Breadcrumb</strong> Ut autem et assumenda odio unde sunt veritatis et maxime.
  </nav>
  <aside class="t-layout__sidebar1">
    <h2>A: Local Nav</h2>
    Officiis earum architecto perspiciatis rerum. Fugit eligendi sit ab commodi nulla esse animi nemo eum. Sed non vel aut quia. Quia similique incidunt soluta eveniet hic cupiditate minima rem dolores. Assumenda quam omnis aut eligendi deleniti quia.
  </aside>
  <main>
    <h2>B: Main Content</h2>
    Iste ut vitae est. Dolor explicabo libero. Natus nam beatae quo enim corporis beatae. Deleniti est velit quas veritatis magni. Tempora laudantium ipsum earum consequatur quos sunt iure. Voluptas officia vel qui.
 Iure necessitatibus beatae nemo quaerat. Dolorem placeat aut. Et praesentium culpa deleniti deserunt id dignissimos ut.
 Mollitia minus voluptate sed. Illum et eligendi repudiandae reiciendis velit labore placeat delectus praesentium. Cupiditate commodi sed ipsa rerum porro qui possimus quo aut. Consequuntur id rerum cupiditate nobis officia consectetur.
  </main>
  <aside class="t-layout__sidebar2">
    <section>
      <h2>Sidebar Box 1</h2>
      Corrupti quod quia possimus blanditiis non cum voluptatibus fuga. Voluptatem possimus nihil officia. Excepturi consectetur voluptatum id enim.
    </section>
    <section>
      <h2>Sidebar Box 2</h2>
      Quo expedita quia sint iste eius eos. Provident et aut. Adipisci architecto impedit repellat qui. Illum est facere reiciendis repellendus consequatur odit molestiae exercitationem quisquam.
    </section>
    <section>
      <h2>Sidebar Box 3</h2>
      Consequatur est eaque. Ut et est est ut voluptas vero. Iure praesentium ea totam debitis et ea. Nemo repellat enim. Et quia quam distinctio omnis possimus.
    </section>
    <section>
      <h2>Sidebar Box 4</h2>
      Sit error commodi vel. Qui voluptates alias voluptatem voluptatibus. Aliquam molestiae nisi autem rerum incidunt. Id quas quia fugit assumenda. Est iste doloribus et. Culpa quos et velit rem natus.
    </section>
  </aside>
  <aside class="c-updated">
    <strong>Last Updated</strong> Neque cupiditate qui quae voluptatem in veniam et.
  </aside>
  <footer class="c-footer">
    <h2>Footer</h2>
    Officiis saepe consequuntur quo inventore tempore minima. Illum accusamus ut. Ad soluta ratione.
  </footer>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

