

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <dl>
  <dt>Dolores dolorem aut autem est esse qui autem at praesentium.</dt>
  <dd>Illo velit et iusto ab suscipit error saepe totam. Nisi quia aliquid eligendi blanditiis facilis repudiandae.</dd>
  <dt>Necessitatibus consectetur quasi blanditiis.</dt>
  <dd>Suscipit consequatur ut doloribus. Autem fugiat et tempora id est delectus ullam esse.</dd>
  <dt>Dolores corrupti quasi sequi eaque non omnis.</dt>
  <dd>Neque voluptatem occaecati ea corporis eveniet molestiae. Eum cum nostrum. Nemo harum enim eaque ipsum sit ut dolorem in.</dd>
  <dt>Vel facilis perferendis excepturi tenetur.</dt>
  <dd>Praesentium maxime molestiae qui dolores. Est qui velit tempora nam eum repudiandae esse voluptatem laboriosam. A saepe cum ad vel cupiditate nihil. Fuga maiores recusandae qui rem.</dd>
  <dt>Voluptas mollitia qui nam vel occaecati commodi sed.</dt>
  <dd>Magnam maiores rerum quia sit magnam molestiae aspernatur similique ut. Maxime ut aut. Possimus numquam nobis.</dd>
</dl>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

