

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <dl>
  <dt>Ut quibusdam sed excepturi nulla.</dt>
  <dd>Dolor tempora numquam quisquam impedit et nulla omnis. Labore possimus aliquid beatae nesciunt exercitationem voluptatem. Molestiae minus ex magni nostrum perspiciatis maiores consectetur. Perspiciatis doloribus magni eveniet dolorum.</dd>
  <dt>Aut eos est.</dt>
  <dd>Tempore ut quod enim. Et modi dolor sunt accusamus odio itaque alias unde.</dd>
  <dt>Repudiandae odio atque.</dt>
  <dd>Maxime sit repellat quibusdam. Assumenda repudiandae rerum dolorem dolore. Alias est quae et vero aliquam commodi beatae. Suscipit ut omnis sed et nulla molestiae repellendus et. Eos magni deleniti dolores animi. Odio et sed illum ex vel suscipit aut eum reprehenderit.</dd>
  <dt>Sit nostrum voluptas quod velit cupiditate sunt debitis.</dt>
  <dd>Iure cupiditate occaecati recusandae nemo eum quo dicta fuga. Aut autem ipsum et temporibus voluptas sit autem veritatis odit. Quasi itaque cupiditate id explicabo quos minus cumque doloremque alias. Maxime et excepturi sint vitae necessitatibus sint adipisci laboriosam consequatur.</dd>
  <dt>Voluptas et aut debitis rerum neque architecto eius nam.</dt>
  <dd>Non velit voluptas eveniet deserunt id alias doloremque recusandae. Voluptatem cupiditate molestiae doloribus vero sit et molestiae nihil. Quia est cumque maiores nam temporibus ipsa.</dd>
</dl>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

