

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <!-- Start: @mainbox--1 -->
<section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Ut soluta dolor necessitatibus vel debitis aperiam ut. Quia quibusdam esse ut beatae sed. Officia nulla consequatur. Dignissimos in quis eum.</p>
  <p>Voluptatibus incidunt eveniet omnis culpa perferendis ut quisquam deleniti omnis. Non velit quia molestiae omnis eveniet. Porro repudiandae tempore.</p>
  <p>Quod et aperiam. Eaque aut sit. Quia ut quo ipsam culpa totam debitis aliquam culpa. At voluptate repudiandae fugiat pariatur eum. Numquam temporibus tempora at reiciendis quaerat. Asperiores sed in.</p>
</section>
<!-- End: @mainbox--1 -->

<!-- Start: @mainbox--2 -->
<section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <h3 >
      
      <a href="" >Ergonomic Fresh Chicken</a>
      
  </h3>
  <p>Ut soluta dolor necessitatibus vel debitis aperiam ut. Quia quibusdam esse ut beatae sed. Officia nulla consequatur. Dignissimos in quis eum.</p>
  <h3 >
      
      <a href="" >Incredible Soft Salad</a>
      
  </h3>
  <p>Voluptatibus incidunt eveniet omnis culpa perferendis ut quisquam deleniti omnis. Non velit quia molestiae omnis eveniet. Porro repudiandae tempore.</p>
  <h3 >
      
      <a href="" >Awesome Soft Chips</a>
      
  </h3>
  <p>Quod et aperiam. Eaque aut sit. Quia ut quo ipsam culpa totam debitis aliquam culpa. At voluptate repudiandae fugiat pariatur eum. Numquam temporibus tempora at reiciendis quaerat. Asperiores sed in.</p>
</section>
<!-- End: @mainbox--2 -->

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

