

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <section class="c-mainbox">
  <header><h2 >
    Main Box Heading 
</h2>
</header>
  <p>Officiis sint et autem qui provident esse ea doloremque. Est veritatis odio rem omnis et cum ut modi a. Earum soluta non odit aliquam voluptatem. Et eveniet expedita nesciunt. Velit sed veritatis tempora debitis deserunt natus.</p>
  <p>Qui eos magni nemo tempora reprehenderit id quia deserunt molestiae. Exercitationem doloremque et a iusto veritatis incidunt quia. Excepturi molestiae praesentium quibusdam modi beatae.</p>
  <p>Optio occaecati consequuntur ab fugiat corporis perspiciatis voluptas iste adipisci. Aut autem sunt non. Cum at aut sint. Eius veniam numquam sunt sint voluptatum voluptatem. Neque quis ut est modi ut fuga.</p>
</section>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

