

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div role="marquee" class="c-newsreel">
  <h2 >
      Latest News from CDL 
  </h2>
  <button class="c-newsreel__play"><span>play newsreel</span></button>
  <button class="c-newsreel__pause"><span>pause newsreel</span></button>
  <ul>
    <li>
<a href="" >Sleek Concrete Pants with CDL and Handmade Wooden Mouse</a>

</li>
    <li>
<a href="" >Fantastic Frozen Shirt with CDL and Fantastic Rubber Chair</a>

</li>
    <li>
<a href="" >Sleek Soft Hat at CDL for Tasty Fresh Shoes</a>

</li>
    <li>
<a href="" >Fantastic Granite Sausages with CDL for Sleek Frozen Soap</a>

</li>
    <li>
<a href="" >Small Plastic Car at CDL for Awesome Wooden Chair</a>

</li>
  </ul>
  
  <a href="" >View all news</a>
  
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

