

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="c-numbers">
  <ul>
    <li><strong>81587 et cumque beatae eos</strong>
<a class="o-link2" href="">unde qui ducimus ut dolorem</a>

</li>
    <li><strong>94810 qui ipsam est dolores</strong>
<a class="o-link2" href="">commodi rerum dolorem voluptatibus rerum</a>

</li>
    <li><strong>49829 nobis veniam in et</strong>
<a class="o-link2" href="">eveniet explicabo quaerat ratione id</a>

</li>
    <li><strong>43771 eligendi sit autem et</strong>
<a class="o-link2" href="">aspernatur voluptatem ut aut natus</a>

</li>
    <li><strong>63414 vel fugit nesciunt veritatis</strong>
<a class="o-link2" href="">earum nihil sit libero corporis</a>

</li>
    <li><strong>10318 in maxime excepturi eos</strong>
<a class="o-link2" href="">magnam voluptatem minima et dicta</a>

</li>
    <li><strong>55876 non dolorum iure animi</strong>
<a class="o-link2" href="">dolores omnis ut nesciunt aut</a>

</li>
    <li><strong>82611 et id ullam aut</strong>
<a class="o-link2" href="">amet voluptas repudiandae maiores voluptatibus</a>

</li>
    <li><strong>95756 explicabo ipsa veritatis rerum</strong>
<a class="o-link2" href="">eaque at voluptas ipsum cupiditate</a>

</li>
    <li><strong>35640 animi optio dolor unde</strong>
<a class="o-link2" href="">quo et et quidem laborum</a>

</li>
    <li><strong>24040 inventore rerum cum tempora</strong>
<a class="o-link2" href="">facilis accusantium nobis cum ea</a>

</li>
    <li><strong>54551 expedita quae nesciunt doloremque</strong>
<a class="o-link2" href="">voluptas ut et est praesentium</a>

</li>
    <li><strong>74956 voluptates iure corporis laudantium</strong>
<a class="o-link2" href="">tempora iste voluptatem inventore deleniti</a>

</li>
    <li><strong>49987 voluptates voluptatem porro consectetur</strong>
<a class="o-link2" href="">dolor deserunt dignissimos beatae maiores</a>

</li>
    <li><strong>62274 veniam qui deserunt molestiae</strong>
<a class="o-link2" href="">totam itaque sed dolorum natus</a>

</li>
  </ul>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

