

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="c-numbers">
  <ul>
    <li><strong>29888 et praesentium consequatur dolorem</strong>
<a class="o-link2" href="">voluptates eos porro consequatur minus</a>

</li>
    <li><strong>27280 officiis adipisci ex velit</strong>
<a class="o-link2" href="">sit quibusdam molestiae excepturi neque</a>

</li>
    <li><strong>27999 ea eveniet ut totam</strong>
<a class="o-link2" href="">numquam voluptatibus id cum commodi</a>

</li>
    <li><strong>40883 dignissimos labore ullam earum</strong>
<a class="o-link2" href="">dicta quibusdam at dolores et</a>

</li>
    <li><strong>76621 voluptas ad nihil qui</strong>
<a class="o-link2" href="">facere earum ut beatae occaecati</a>

</li>
    <li><strong>34885 sint quo repellat iure</strong>
<a class="o-link2" href="">sed incidunt quo non reiciendis</a>

</li>
    <li><strong>9721 doloremque laudantium quisquam repudiandae</strong>
<a class="o-link2" href="">ullam fugiat non reiciendis laudantium</a>

</li>
    <li><strong>60115 voluptas velit nemo praesentium</strong>
<a class="o-link2" href="">sed velit ut eum eius</a>

</li>
    <li><strong>28106 fuga consequatur qui autem</strong>
<a class="o-link2" href="">quam nam eum sunt sunt</a>

</li>
    <li><strong>38118 excepturi dolor illo necessitatibus</strong>
<a class="o-link2" href="">qui numquam perspiciatis ipsam atque</a>

</li>
    <li><strong>61804 numquam iusto aspernatur laboriosam</strong>
<a class="o-link2" href="">veritatis dolorum voluptatem dolorem quia</a>

</li>
    <li><strong>74893 cumque provident in ut</strong>
<a class="o-link2" href="">et ratione consequatur repellendus repellat</a>

</li>
    <li><strong>10439 rem animi quos consequatur</strong>
<a class="o-link2" href="">rem quia dolor dolorum consequatur</a>

</li>
    <li><strong>53362 repellat error illum aspernatur</strong>
<a class="o-link2" href="">eos optio voluptas qui totam</a>

</li>
    <li><strong>37167 quibusdam voluptatibus aut qui</strong>
<a class="o-link2" href="">qui deleniti incidunt fugit maiores</a>

</li>
  </ul>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

