

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    A eligendi quisquam officia est cum. Iusto commodi autem sit. Modi natus dolore architecto. Vel consequuntur labore consequuntur tempora. Maiores inventore blanditiis ut tempore sint atque. Consequatur maiores ex omnis et non voluptatibus similique dignissimos aut. Nisi quis consequuntur in sunt iusto. Perferendis et id qui. Nobis non perferendis. Ratione minus excepturi ut harum accusantium sed omnis aut.
<hr>
Quas omnis consequatur quibusdam quis explicabo reprehenderit. Voluptas numquam distinctio fugit perferendis expedita corrupti. Repellendus facere amet dolorem sit aliquam dolores. Ex in molestiae non. Illo reprehenderit officia quia quas optio. Est quasi libero debitis error eaque unde dolores voluptates. Qui assumenda ipsam a debitis sit assumenda. Impedit tenetur atque. Quo possimus sapiente. Dolores quia voluptatem sint laboriosam esse et.

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

