

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-layout--2">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Generic Plastic Bacon ">
    <option value="Tasty Soft Gloves ">
    <option value="Practical Plastic Pizza ">
    <option value="Generic Plastic Tuna ">
    <option value="Intelligent Soft Chair ">
    <option value="Tasty Metal Bacon ">
    <option value="Handmade Steel Chips ">
    <option value="Awesome Cotton Tuna ">
    <option value="Awesome Wooden Hat ">
    <option value="Tasty Frozen Fish ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Fresh Computer</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Rustic Cotton Sausages</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Awesome Rubber Chicken</a>


          <ul>
            <li>
<a href="" >Licensed Granite Cheese</a>

</li>
            <li>
<a href="" >Practical Steel Mouse</a>

</li>
            <li>
<a href="" >Incredible Wooden Pants</a>

</li>
            <li>
<a href="" >Sleek Fresh Shirt</a>

</li>
            <li>
<a href="" >Gorgeous Cotton Fish</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Refined Rubber Hat</a>

</li>
    <li>
<a href="" >Rustic Frozen Keyboard</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside class="t-layout__sidebar1">
    <div class="c-refine o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 >
        Narrow Your Results 
    </h2>
    <a href="" class="c-refine__clear">Clear</a>
    <template v-if="!$mq.screen2">
      <button class="c-refine__open" v-on:click="toggle1" v-if="!isDisplayed">Open</button>
      <button class="c-refine__close" v-on:click="toggle1" v-if="isDisplayed">Close</button>
    </template>
  </header>
  <ul v-if="isDisplayed" v-cloak>
    <li>
      <a href="">
        <span class="c-refine__item-text">Unbranded Soft Sausages</span>
        <span class="c-refine__item-number">(110 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Sleek Wooden Fish</span>
        <span class="c-refine__item-number">(129 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Practical Plastic Keyboard</span>
        <span class="c-refine__item-number">(48 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Ergonomic Granite Towels</span>
        <span class="c-refine__item-number">(116 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Rustic Soft Bike</span>
        <span class="c-refine__item-number">(70 <span>results</span>)</span>
      </a>
    </li>
  </ul>
</div>

  </aside>
  <main id="maincontent">
    <div class="c-filter">
  <div class="c-filter__group">
    <div class="c-filter__label" id="c-filter-show-label">Show:</div>
    <ul aria-labelledby="c-filter-show-label">
      <li><a href="#" v-on:click="showButtonToggle1" v-bind:aria-current="[showButton1isPressed]">All results</a></li>
      <li><a href="#" v-on:click="showButtonToggle2" v-bind:aria-current="[showButton2isPressed]">Web pages</a></li>
      <li><a href="#" v-on:click="showButtonToggle3" v-bind:aria-current="[showButton3isPressed]">CDLINFO posts</a></li>
      <li><a href="#" v-on:click="showButtonToggle4" v-bind:aria-current="[showButton4isPressed]">Documents</a></li>
    </ul>
  </div>
  <div class="c-filter__group">
    <div class="c-filter__label" id="c-filter-sort-label">Sort by:</div>
    <ul aria-labelledby="c-filter-sort-label">
      <li><a href="#" v-on:click="sortButtonToggle1" v-bind:aria-current="[sortButton1isPressed]">Relevancy</a></li>
      <li><a href="#" v-on:click="sortButtonToggle2" v-bind:aria-current="[sortButton2isPressed]">Date</a></li>
    </ul>
  </div>
</div>

    <h1 class="c-records">
  Showing 1 - 10 of 231 results for "shirt"
</h1>

    <div class="c-searchresult">
  <h2 >
      
      <a href="file.zip" >Practical Metal Bike</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">ut est vero sapiente est consequatur aut sapiente officiis enim dicta ducimus aut sit quia UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> vero accusamus harum sit error quidem et dolores possimus est commodi consequuntur sint unde nihil</div>
  <time>July 25, 2016</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Handcrafted Frozen Keyboard</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__quote">similique et repellat accusamus ut quo mollitia et provident deserunt sit iste culpa amet soluta UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> recusandae laboriosam voluptatem quod necessitatibus accusamus aut debitis in eius cum omnis omnis tenetur ipsum</div>
  <time>September 8, 2001</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.ppt" >Licensed Fresh Chips</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xlsx" aria-label="xlsx document">xlsx</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">excepturi rerum labore aliquid asperiores blanditiis quia ab est quis aut temporibus dolorum modi iure UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> enim vel similique recusandae voluptates a omnis facere aspernatur dicta fugit natus possimus laudantium quaerat</div>
  <time>August 27, 2017</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.docx" >Incredible Granite Cheese</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pptx" aria-label="pptx document">pptx</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">dolorem illo totam repellat veniam dignissimos voluptates quisquam itaque voluptates ut et porro ipsam temporibus UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> inventore tempora harum voluptas voluptas qui hic et minus et et eos vel ipsam temporibus</div>
  <time>October 18, 2002</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.txt" >Handmade Plastic Towels</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__quote">sint sit quae magni totam officiis aut ullam distinctio animi mollitia voluptatibus quia praesentium pariatur UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> a enim nisi et et aliquam exercitationem eos aliquam voluptatem illo neque corrupti delectus et</div>
  <time>March 25, 2013</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.txt" >Practical Plastic Sausages</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">dolores nulla consequatur iste omnis est nam ipsam deleniti expedita rem eligendi maxime occaecati eum UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> qui numquam distinctio laudantium est reiciendis et esse error consectetur tempora officia sed ipsam quasi</div>
  <time>July 23, 2001</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xlsx" >Tasty Rubber Chips</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__quote">corporis iusto et quia eveniet accusantium aspernatur veritatis et voluptates est quibusdam in magnam esse UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> illum explicabo consequatur nisi nulla quo voluptatem quaerat necessitatibus et quo fuga et reiciendis qui</div>
  <time>June 7, 2014</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Unbranded Fresh Gloves</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">dignissimos omnis adipisci eius error consequatur voluptatem nemo non eius doloribus vel quasi maiores enim UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> quidem sunt consequatur omnis ratione repellendus culpa voluptatem nam repellat illo voluptas consequuntur quia aut</div>
  <time>May 11, 2018</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.doc" >Generic Soft Pants</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__ppt" aria-label="ppt document">ppt</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">qui eligendi sunt libero reprehenderit dolorem et molestiae dolor illum nobis quis necessitatibus qui quo UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> quis cum voluptatibus maxime qui aut asperiores iste aut itaque quam voluptas voluptate consectetur aut</div>
  <time>November 23, 2013</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.zip" >Intelligent Rubber Tuna</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">rerum sunt possimus officiis voluptatem modi eos consectetur eum maiores porro magnam iste repudiandae modi UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> architecto cupiditate atque non est illum minus sunt atque quibusdam asperiores et est suscipit id</div>
  <time>April 30, 2009</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Licensed Concrete Gloves</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__doc" aria-label="doc document">doc</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">neque quaerat quia ut nulla excepturi fugit voluptas quia qui qui aspernatur sequi impedit aspernatur UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> doloribus non aperiam temporibus sapiente id omnis quis fuga totam mollitia et atque id eum</div>
  <time>February 30, 2017</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xlsx" >Refined Steel Sausages</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">magni est officia omnis consequatur consequatur ut repudiandae nihil fugit enim unde est vel eos UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> sapiente similique ea sint aut quaerat dicta perspiciatis eum recusandae reprehenderit consequatur totam voluptatem ipsam</div>
  <time>February 29, 2009</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Awesome Granite Pizza</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__ppt" aria-label="ppt document">ppt</span>
  <div class="c-searchresult__quote">excepturi dicta voluptas mollitia perspiciatis neque et aut rerum voluptatem culpa excepturi ab officiis fugit UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> dolores et velit et ut laborum vel vero possimus saepe et dolore ut debitis veritatis</div>
  <time>August 8, 2007</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.txt" >Handmade Metal Ball</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xlsx" aria-label="xlsx document">xlsx</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">facere nesciunt quo quo ut officia sed rerum explicabo rerum modi quibusdam et eos vel UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> doloribus corrupti ad dolore et occaecati dicta fugiat enim voluptatem commodi veritatis autem voluptates id</div>
  <time>January 28, 2003</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.ppt" >Intelligent Rubber Keyboard</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">ipsum consequuntur rem eos quia doloremque quod sunt nesciunt perspiciatis quidem commodi praesentium aut fugit UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> et fugiat saepe sit consequatur perferendis aut reiciendis dolorum et esse dolorem est vitae facere</div>
  <time>March 17, 2014</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Refined Wooden Computer</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__ppt" aria-label="ppt document">ppt</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">quia natus molestias saepe tempore nihil laboriosam quia aut cumque consequatur adipisci laboriosam provident in UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> libero dolores nulla omnis quas cupiditate quis asperiores aut rerum nostrum a fuga aut porro</div>
  <time>November 11, 2009</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xlsx" >Practical Granite Bacon</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">quidem quo quia sequi numquam dignissimos rem vel praesentium perspiciatis deleniti sunt rerum perferendis similique UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> voluptates consequuntur deserunt et vel ipsum qui repellat voluptatem esse nostrum beatae ut atque eum</div>
  <time>February 4, 2010</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.rtf" >Fantastic Fresh Chicken</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xlsx" aria-label="xlsx document">xlsx</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">non aut eum qui qui culpa est molestias corrupti tempora est quasi voluptatem est libero UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> nihil cum et consequatur quas rerum doloribus cum placeat expedita rerum cumque nam expedita necessitatibus</div>
  <time>December 30, 2000</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Intelligent Plastic Shoes</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">debitis voluptas dicta odio et necessitatibus molestias quia unde sint dolorem laudantium maiores a perspiciatis UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> non voluptatibus et consequatur itaque praesentium non vitae illo qui voluptate recusandae iure et voluptatum</div>
  <time>April 19, 2013</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Handcrafted Fresh Gloves</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">sed eum odio quisquam repellendus quibusdam possimus non mollitia quaerat deleniti alias quo quis rerum UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> molestiae et quae aut enim optio et dicta quia iste sint blanditiis ipsum et rerum</div>
  <time>May 7, 2018</time>
</div>

    <nav class="c-pagination">
  <ul>
    <li><a href="" aria-label="previous page">Previous</a></li>
    <li><a href="" aria-label="page 1">1</a></li>
    <li><a href="" title="previous set of pages">&hellip;</a></li>
    <li><a href="" aria-label="page 11">11</a></li>
    <li><a href="" aria-label="page 12">12</a></li>
    <li><a href="" aria-current="page">13</a></li>
    <li><a href="" aria-label="page 14">14</a></li>
    <li><a href="" aria-label="page 15">15</a></li>
    <li><a href="" title="next set of pages">&hellip;</a></li>
    <li><a href="" aria-label="page 47">47</a></li>
    <li><a href="" aria-label="next page">Next</a></li>
  </ul>
</nav>

  </main>
  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Iste eos repudiandae</a>

</li>
          <li>
<a href="" >Nemo dignissimos iure</a>

</li>
          <li>
<a href="" >Ducimus velit sed</a>

</li>
          <li>
<a href="" >Dolorem accusantium possimus</a>

</li>
          <li>
<a href="" >Aut blanditiis quos</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

