

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-layout--2">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Practical Concrete Sausages ">
    <option value="Intelligent Metal Hat ">
    <option value="Refined Plastic Car ">
    <option value="Refined Granite Towels ">
    <option value="Fantastic Soft Cheese ">
    <option value="Intelligent Granite Car ">
    <option value="Rustic Wooden Car ">
    <option value="Handcrafted Concrete Cheese ">
    <option value="Tasty Fresh Sausages ">
    <option value="Gorgeous Wooden Pants ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Tuna</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Cotton Shoes</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Fantastic Rubber Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Bacon</a>

</li>
            <li>
<a href="" >Gorgeous Steel Shirt</a>

</li>
            <li>
<a href="" >Fantastic Fresh Pizza</a>

</li>
            <li>
<a href="" >Intelligent Wooden Table</a>

</li>
            <li>
<a href="" >Unbranded Rubber Sausages</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Intelligent Granite Hat</a>

</li>
    <li>
<a href="" >Handcrafted Metal Sausages</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside class="t-layout__sidebar1">
    <div class="c-refine o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 >
        Narrow Your Results 
    </h2>
    <a href="" class="c-refine__clear">Clear</a>
    <template v-if="!$mq.screen2">
      <button class="c-refine__open" v-on:click="toggle1" v-if="!isDisplayed">Open</button>
      <button class="c-refine__close" v-on:click="toggle1" v-if="isDisplayed">Close</button>
    </template>
  </header>
  <ul v-if="isDisplayed" v-cloak>
    <li>
      <a href="">
        <span class="c-refine__item-text">Refined Fresh Cheese</span>
        <span class="c-refine__item-number">(38 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Handcrafted Concrete Tuna</span>
        <span class="c-refine__item-number">(37 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Refined Granite Table</span>
        <span class="c-refine__item-number">(198 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Tasty Granite Table</span>
        <span class="c-refine__item-number">(185 <span>results</span>)</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="c-refine__item-text">Tasty Wooden Chicken</span>
        <span class="c-refine__item-number">(63 <span>results</span>)</span>
      </a>
    </li>
  </ul>
</div>

  </aside>
  <main id="maincontent">
    <div class="c-filter">
  <div class="c-filter__group">
    <div class="c-filter__label" id="c-filter-show-label">Show:</div>
    <ul aria-labelledby="c-filter-show-label">
      <li><a href="#" v-on:click="showButtonToggle1" v-bind:aria-current="[showButton1isPressed]">All results</a></li>
      <li><a href="#" v-on:click="showButtonToggle2" v-bind:aria-current="[showButton2isPressed]">Web pages</a></li>
      <li><a href="#" v-on:click="showButtonToggle3" v-bind:aria-current="[showButton3isPressed]">CDLINFO posts</a></li>
      <li><a href="#" v-on:click="showButtonToggle4" v-bind:aria-current="[showButton4isPressed]">Documents</a></li>
    </ul>
  </div>
  <div class="c-filter__group">
    <div class="c-filter__label" id="c-filter-sort-label">Sort by:</div>
    <ul aria-labelledby="c-filter-sort-label">
      <li><a href="#" v-on:click="sortButtonToggle1" v-bind:aria-current="[sortButton1isPressed]">Relevancy</a></li>
      <li><a href="#" v-on:click="sortButtonToggle2" v-bind:aria-current="[sortButton2isPressed]">Date</a></li>
    </ul>
  </div>
</div>

    <h1 class="c-records">
  Showing 1 - 10 of 1353 results for "fish"
</h1>

    <div class="c-searchresult">
  <h2 >
      
      <a href="file.ppt" >Refined Metal Bike</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__docx" aria-label="docx document">docx</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">officia magnam fugit ut ex earum earum saepe iste earum vero a doloribus eius harum UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> dolor natus ex pariatur qui ut ut omnis amet molestias earum occaecati voluptatum commodi quam</div>
  <time>June 25, 2002</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xlsx" >Unbranded Wooden Shoes</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__group">Discovery ＆ Delivery Program</div>
  <div class="c-searchresult__quote">aperiam expedita expedita facilis accusantium iste tempore facilis et eos a nihil quidem perferendis et UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> qui vel sit est unde ratione sunt magni ab consequatur quo ipsam in modi a</div>
  <time>July 20, 2018</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Generic Cotton Keyboard</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">atque rem error quaerat fugit alias eaque quia repellat qui rem doloribus ratione deleniti autem UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> iure delectus quaerat tenetur et et voluptatem nobis non culpa ut excepturi error laborum aliquam</div>
  <time>January 26, 2006</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.rtf" >Sleek Fresh Pizza</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__rtf" aria-label="rtf document">rtf</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">ut sed voluptatibus soluta aut facilis aut in quo nesciunt sint sunt fugit quisquam fugit UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> ut dolor vel ut quaerat eius in dolores deserunt minima amet vel aut itaque quod</div>
  <time>December 16, 2003</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Fantastic Fresh Shoes</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xlsx" aria-label="xlsx document">xlsx</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">est quo aut ullam ut quia ut quam non ipsum voluptatem esse suscipit dolore nostrum UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> magni ut non est vero quaerat in a illo et consequatur est repudiandae ut id</div>
  <time>June 28, 2009</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Intelligent Granite Gloves</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">dignissimos sit ipsa incidunt maiores est repellat dignissimos et ullam iusto eos possimus nobis voluptatum UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> atque quis ratione iusto nisi quia maiores aperiam ducimus qui voluptates voluptatem assumenda incidunt aspernatur</div>
  <time>June 11, 2014</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Sleek Steel Chair</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__docx" aria-label="docx document">docx</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">est sapiente perferendis aut voluptatem atque dolorem quia explicabo a atque harum beatae dolor autem UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> hic necessitatibus sunt quam suscipit quia est est saepe hic consequatur velit perferendis occaecati magni</div>
  <time>November 9, 2004</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.docx" >Handmade Cotton Hat</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__doc" aria-label="doc document">doc</span>
  <div class="c-searchresult__quote">doloribus voluptatum nesciunt labore fugiat accusantium vitae non at maxime quasi harum magni voluptates ullam UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> vitae quo expedita maxime vel voluptatem itaque qui et molestiae in reprehenderit quo omnis unde</div>
  <time>August 21, 2010</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.doc" >Incredible Cotton Cheese</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pdf" aria-label="pdf document">pdf</span>
  <div class="c-searchresult__quote">architecto minima reprehenderit ut sint mollitia dolor id temporibus id dolores eum aut magni sed UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> libero labore repellat rerum molestiae ea aut sunt est nam quo accusantium eligendi labore optio</div>
  <time>September 18, 2018</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Small Wooden Bacon</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">debitis dolorem assumenda iste atque suscipit suscipit eos velit non placeat repudiandae expedita porro vel UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> nihil delectus dolorem exercitationem rerum unde numquam error dolor voluptatem fugiat et cupiditate dolor asperiores</div>
  <time>July 5, 2006</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pdf" >Awesome Soft Chair</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__docx" aria-label="docx document">docx</span>
  <div class="c-searchresult__quote">beatae ut qui corrupti mollitia mollitia hic accusantium et est id quae provident tenetur aliquam UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> et et ad enim qui explicabo consequuntur reiciendis ipsa deleniti voluptas cum omnis sed eligendi</div>
  <time>July 11, 2005</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.docx" >Small Fresh Pizza</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__rtf" aria-label="rtf document">rtf</span>
  <div class="c-searchresult__quote">nemo qui et modi eius velit magnam tenetur rem ea magnam quia dolore quia inventore UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> qui perspiciatis delectus voluptatem sit totam nulla corrupti repudiandae magnam qui odio consequatur magnam nisi</div>
  <time>January 27, 2002</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.txt" >Gorgeous Steel Pants</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__pptx" aria-label="pptx document">pptx</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">ducimus consequatur nesciunt in tempora sint exercitationem libero consequatur incidunt ut sed recusandae sapiente nobis UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>report</em> molestiae minus voluptatem nesciunt maxime minus dignissimos sed aut reiciendis est dolor dolor dolores eum</div>
  <time>July 16, 2006</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.rtf" >Tasty Cotton Computer</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__html" aria-label="html document">html</span>
  <div class="c-searchresult__group">Information Services</div>
  <div class="c-searchresult__quote">molestiae quasi dolorem vel id tempora sed sapiente quis in ullam aut dicta laudantium id UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> sit sit enim nisi incidunt molestiae ducimus alias rerum repellat aut aut quam aut modi</div>
  <time>May 8, 2015</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.doc" >Tasty Concrete Cheese</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__doc" aria-label="doc document">doc</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">magnam totam quis perspiciatis consequatur cumque consequatur unde dolorem unde mollitia cumque ullam consectetur ex UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> sunt voluptatem iure excepturi blanditiis aliquid id sed optio est qui enim quia voluptatem sint</div>
  <time>September 3, 2015</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.html" >Small Plastic Keyboard</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__doc" aria-label="doc document">doc</span>
  <div class="c-searchresult__group">User Experience Design Services</div>
  <div class="c-searchresult__quote">dolor ratione expedita consequatur nam recusandae autem et veniam sed quisquam officia consectetur sed voluptas UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>campus</em> pariatur deserunt est reiciendis quia et est adipisci qui quis accusantium ipsam laudantium sed id</div>
  <time>August 21, 2018</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.xls" >Licensed Steel Ball</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xls" aria-label="xls document">xls</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">dignissimos in accusamus veniam beatae sit amet voluptatibus et vero corrupti nam veniam quia voluptas UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>books</em> sit sit ut omnis explicabo modi voluptatem corporis explicabo dolor alias et qui sit sit</div>
  <time>July 3, 2008</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.zip" >Licensed Plastic Table</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__xlsx" aria-label="xlsx document">xlsx</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">cumque non necessitatibus sit delectus beatae reprehenderit eveniet illum nisi laborum voluptatibus aspernatur saepe illum UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> itaque iusto reprehenderit impedit beatae facilis eveniet ipsum voluptatem placeat est veniam commodi accusantium eum</div>
  <time>January 25, 2010</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Intelligent Steel Gloves</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__zip" aria-label="zip document">zip</span>
  <div class="c-searchresult__group">Collections Program</div>
  <div class="c-searchresult__quote">consequatur at corrupti consequuntur sed aut aspernatur corrupti non sit tempora voluptatum consequatur eaque deserunt UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>library</em> vitae et at enim veniam dolorem aut aut distinctio qui rerum modi inventore similique voluptatem</div>
  <time>April 19, 2002</time>
</div>
<div class="c-searchresult">
  <h2 >
      
      <a href="file.pptx" >Fantastic Steel Keyboard</a>
      
  </h2>
  <span class="c-searchresult__doctype o-docicon__txt" aria-label="txt document">txt</span>
  <div class="c-searchresult__group">News and Media: CDLINFO</div>
  <div class="c-searchresult__quote">voluptate iste sit quas qui neque ut necessitatibus vel accusantium quia laudantium praesentium non hic UnbrokenTextloremipsumdolorsitametconsecteturadipisicingelitNequedignissimosfugitnamreprehenderitminimadelenitiquamquiasitisteexpeditatemp <em>digital</em> minima molestiae et laudantium blanditiis unde impedit voluptatem nam ex molestias alias reiciendis delectus qui</div>
  <time>October 12, 2005</time>
</div>

    <nav class="c-pagination">
  <ul>
    <li><a href="" aria-label="previous page">Previous</a></li>
    <li><a href="" aria-label="page 1">1</a></li>
    <li><a href="" title="previous set of pages">&hellip;</a></li>
    <li><a href="" aria-label="page 11">11</a></li>
    <li><a href="" aria-label="page 12">12</a></li>
    <li><a href="" aria-current="page">13</a></li>
    <li><a href="" aria-label="page 14">14</a></li>
    <li><a href="" aria-label="page 15">15</a></li>
    <li><a href="" title="next set of pages">&hellip;</a></li>
    <li><a href="" aria-label="page 47">47</a></li>
    <li><a href="" aria-label="next page">Next</a></li>
  </ul>
</nav>

  </main>
  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Qui eveniet ut</a>

</li>
          <li>
<a href="" >Est vel tempora</a>

</li>
          <li>
<a href="" >Laborum distinctio quia</a>

</li>
          <li>
<a href="" >Vel dolore reiciendis</a>

</li>
          <li>
<a href="" >Quae quidem pariatur</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

