

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 id="secondarynav-heading">
        
        <a href="" >Sleek Cotton Chicken</a>
        
    </h2>
    <template v-if="!$mq.screen2">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">Close Menu</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">Open Menu</button>
    </template>
  </header>
  <div v-if="isDisplayed" v-cloak>
    <ul>
      <li>
<a href="" >Sleek Cotton Chicken</a>


        <ul>
          <li>
<a href="" >Ergonomic Concrete Shirt</a>

</li>
          <li>
<a href="" >Rustic Soft Tuna</a>

</li>
          <li>
<a href="" >Handcrafted Granite Gloves</a>

</li>
          <li>
<a href="" >Sleek Cotton Chicken</a>


            <ul>
              <li>
<a href="" >Intelligent Wooden Computer</a>

</li>
              <li>
<a href="" >Handmade Wooden Chicken</a>

</li>
              <li>
<a href="" >Practical Steel Bike</a>

</li>
              <li>
<a href="" >Sleek Cotton Chicken</a>


                <ul>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Intelligent Wooden Gloves</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Handcrafted Rubber Chicken</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Ergonomic Soft Ball</a>

</li>
                  <li>
<a href="" >Sleek Cotton Chicken</a>


                    <ul>
                      <li>
<a href="" >Practical Metal Fish</a>

</li>
                      <li>
<a href="" >Handmade Plastic Mouse</a>

</li>
                      <li>
<a href="" >Licensed Concrete Bike</a>

</li>
                      <li class="current_page_item">
<a href="" >Sleek Cotton Chicken</a>


                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

