

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <label class="o-label2" for="select">Label</label>
<select class="o-select" name="name" id="select" aria-labelledby="labelledby">
  <option value="">Choose Your Option</option>
  <option value="1">Fantastic Cotton Chair</option>
  <option value="2">Fantastic Soft Shoes</option>
  <option value="3">Licensed Granite Chicken</option>
  <option value="4">Small Rubber Bike</option>
  <option value="5">Tasty Steel Towels</option>
  <option value="6">Practical Steel Sausages</option>
  <option value="7">Licensed Soft Towels</option>
  <option value="8">Handcrafted Steel Fish</option>
  <option value="9">Practical Concrete Shirt</option>
  <option value="10">Gorgeous Metal Chair</option>
</select>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

