

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="c-servicebox">
  <section>
    <header>
      <h3 >
          Chicken 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Handcrafted Metal Keyboard</a>

</li>
      <li>
<a href="" >Awesome Plastic Chair</a>

</li>
      <li>
<a href="" >Gorgeous Soft Mouse</a>

</li>
      <li>
<a href="" >Refined Concrete Pants</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Table 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Handcrafted Metal Keyboard</a>

</li>
      <li>
<a href="" >Awesome Plastic Chair</a>

</li>
      <li>
<a href="" >Gorgeous Soft Mouse</a>

</li>
      <li>
<a href="" >Refined Concrete Pants</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Chair 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Handcrafted Metal Keyboard</a>

</li>
      <li>
<a href="" >Awesome Plastic Chair</a>

</li>
      <li>
<a href="" >Gorgeous Soft Mouse</a>

</li>
      <li>
<a href="" >Refined Concrete Pants</a>

</li>
    </ul>
  </section>
  <section>
    <header>
      <h3 >
          Salad 
      </h3>
    </header>
    <ul>
      <li>
<a href="" >Handcrafted Metal Keyboard</a>

</li>
      <li>
<a href="" >Awesome Plastic Chair</a>

</li>
      <li>
<a href="" >Gorgeous Soft Mouse</a>

</li>
      <li>
<a href="" >Refined Concrete Pants</a>

</li>
    </ul>
  </section>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

