

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <section class="o-sidebarbox">
  <header><h2>
    Sidebar Box Heading
</h2>
</header>
  <ul>
    <li>
<a href="http://mattie.info" >Alias enim dolores</a>

</li>
    <li>
<a href="http://ronaldo.biz" data-wpel-link="external">Dolor vitae eum et ea</a>

</li>
    <li>
<a href="http://olen.name" data-wpel-link="external">Deserunt corporis est inventore qui consectetur sit</a>

</li>
    <li>
<a href="http://noel.com" >Dolor explicabo perferendis minima temporibus</a>

</li>
    <li>
<a href="https://claire.net" >Occaecati ea ipsum voluptatem saepe ad</a>

</li>
  </ul>
</section>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

