

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <table class="c-staff">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Program</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Champlin, Vivianne</th>
      <td>Direct Configuration Producer</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">O&#x27;Kon, Xzavier</th>
      <td>Senior Usability Assistant</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Wilderman, Denis</th>
      <td>Customer Applications Administrator</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Wiegand, Maxine</th>
      <td>Legacy Program Associate</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Altenwerth, Aurelio</th>
      <td>Corporate Identity Officer</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Altenwerth, Clemmie</th>
      <td>Customer Data Designer</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Nikolaus, Elwin</th>
      <td>Future Solutions Architect</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Reichert, Herminio</th>
      <td>Chief Group Executive</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Predovic, Carmen</th>
      <td>Future Directives Director</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Klein, Robert</th>
      <td>Dynamic Program Orchestrator</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Morar, Marianna</th>
      <td>Product Directives Administrator</td>
      <td>UC Curation Center (UC3)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Rippin, Wellington</th>
      <td>National Research Associate</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">McLaughlin, Cody</th>
      <td>Future Factors Producer</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Stiedemann, Dwight</th>
      <td>Lead Identity Architect</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Armstrong, Alene</th>
      <td>Corporate Interactions Strategist</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

