

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="t-layout--3">
  <a href="#maincontent" class="c-skipnav o-button4">Skip to main content</a>

  <header class="c-header" v-onmedia.screen2="detectMediaQuery2">
  <a class="c-header__logo" href="">
    <img src="../../ui-assets/images/logo-cdl.svg" alt="California Digital Library logo">
  </a>
  <div class="c-header__controls" v-if="!$mq.screen2" v-cloak>
    <button class="o-button1" v-on:click="headerToggle1" aria-label="search"></button>
    <button class="o-button3" v-on:click="headerToggle3" aria-label="menu"></button>
  </div>
  <transition name="c-header__offscreen">
    <div class="c-header__search" v-if="isOpen1" v-cloak>
      <form role="search" action="/" class="c-search">
  <label class="o-label1" for="c-header-search-field">Search the California Digital Library</label>
  <input class="o-input1" id="c-header-search-field" type="search" list="c-search-list" name="s" value="" placeholder="">
  <datalist id="c-search-list">
    <option value="Rustic Steel Mouse ">
    <option value="Rustic Plastic Towels ">
    <option value="Ergonomic Wooden Ball ">
    <option value="Gorgeous Frozen Chips ">
    <option value="Small Wooden Chair ">
    <option value="Licensed Steel Shoes ">
    <option value="Handmade Rubber Ball ">
    <option value="Gorgeous Plastic Cheese ">
    <option value="Practical Granite Table ">
    <option value="Small Frozen Gloves ">
  </datalist>
  <button class="o-button4" type="submit">Search</button>
</form>

      <button class="o-button2" v-on:click="headerToggle2" v-if="!$mq.screen2" aria-label="close search"></button>
    </div>
  </transition>
  <div class="c-header__header-nav" v-if="isOpen2" v-cloak>
  <nav aria-label="global" class="c-headernav c-headernav-no-js c-mobilenav">
  <ul>
    <li class="columns-2 menu-item-has-children">
<a href="" >About CDL</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Cotton Keyboard</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Concrete Gloves</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Generic Metal Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="columns-3 menu-item-has-children">
<a href="" >Services &amp; Projects</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Cotton Keyboard</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Concrete Gloves</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Generic Metal Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Resources for...</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Cotton Keyboard</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Concrete Gloves</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Generic Metal Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >Committees &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Cotton Keyboard</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Concrete Gloves</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Generic Metal Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" menu-item-has-children">
<a href="" >News &amp; Groups</a>


      <ul>
        <li class="menu-item-has-children">
<a href="" >Intelligent Cotton Keyboard</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Unbranded Concrete Gloves</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
        <li class="menu-item-has-children">
<a href="" >Generic Metal Chips</a>


          <ul>
            <li>
<a href="" >Unbranded Fresh Cheese</a>

</li>
            <li>
<a href="" >Awesome Concrete Sausages</a>

</li>
            <li>
<a href="" >Licensed Cotton Cheese</a>

</li>
            <li>
<a href="" >Handcrafted Soft Chicken</a>

</li>
            <li>
<a href="" >Refined Fresh Bike</a>

</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  </div>
  <div class="c-header__utility-nav" v-if="isOpen2" v-cloak>
    <nav aria-label="top" class="c-utilitynav c-mobilenav">
  <ul>
    <li>
      
      <a href="" >Staff Directory</a>
      
    </li>
    <li>
      
      <a href="" >Contact CDL</a>
      
    </li>
    <li>
      
      <a href="" >Report a Problem</a>
      
    </li>
    <li>
      
      <a href="" >System Status</a>
      
    </li>
  </ul>
</nav>

  </div>
</header>

  <nav aria-label="breadcrumb" class="c-breadcrumb">
  <ul>
    <li>
<a href="" >Unbranded Fresh Bike</a>

</li>
    <li>
<a href="" >Fantastic Metal Sausages</a>

</li>
    <li>This Page Title</li>
  </ul>
</nav>

  <aside aria-label="first" class="t-layout__sidebar1">
    <nav aria-labelledby="secondarynav-heading" class="c-secondarynav o-sidebarnav" v-onmedia.screen2="detectMediaQuery">
  <header>
    <h2 id="secondarynav-heading">
        
        <a href="" >Tasty Concrete Bacon</a>
        
    </h2>
    <template v-if="!$mq.screen2">
      <button aria-label="close navigation menu" aria-expanded="true" class="o-button5" v-on:click="toggle1" v-if="isDisplayed">Close Menu</button>
      <button aria-label="open navigation menu" aria-expanded="false" class="o-button6" v-on:click="toggle1" v-if="!isDisplayed">Open Menu</button>
    </template>
  </header>
  <div v-if="isDisplayed" v-cloak>
    <ul>
      <li>
<a href="" >Tasty Concrete Bacon</a>


        <ul>
          <li>
<a href="" >Handmade Rubber Soap</a>

</li>
          <li>
<a href="" >Gorgeous Wooden Ball</a>

</li>
          <li>
<a href="" >Intelligent Steel Tuna</a>

</li>
          <li>
<a href="" >Tasty Concrete Bacon</a>


            <ul>
              <li>
<a href="" >Handcrafted Concrete Chair</a>

</li>
              <li>
<a href="" >Incredible Wooden Sausages</a>

</li>
              <li>
<a href="" >Small Cotton Fish</a>

</li>
              <li>
<a href="" >Tasty Concrete Bacon</a>


                <ul>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Generic Fresh Ball</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Incredible Rubber Ball</a>

</li>
                  <li>
<a href="https://sp.ucop.edu/document.html" >Intelligent Soft Chair</a>

</li>
                  <li>
<a href="" >Tasty Concrete Bacon</a>


                    <ul>
                      <li>
<a href="" >Refined Granite Gloves</a>

</li>
                      <li>
<a href="" >Unbranded Wooden Tuna</a>

</li>
                      <li>
<a href="" >Refined Metal Shoes</a>

</li>
                      <li class="current_page_item">
<a href="" >Tasty Concrete Bacon</a>


                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  </aside>
  <main id="maincontent">
    <h1 >
        Miss Itzel Effertz 
    </h1>
    <form class="c-contact" action="">
      <button>Contact Information</button>
    </form>
    <img class="c-avatar" src="https://loremflickr.com/134/145/face" alt="Novella Turner">

    <h2>Program / Service</h2>
    <p>Aut et harum dolorem sapiente.</p>
    <h2>Job Title</h2>
    <p>Senior Tactics Agent</p>
    <h2>Responsibilities</h2>
    <p>Quality-focused 3rd generation software eaque est debitis enim laborum sint ut facere voluptatibus quam sed maxime sed odit fuga sunt commodi excepturi facilis sequi consequatur exercitationem iure sed accusantium autem corrupti explicabo enim reiciendis minus ad aut recusandae odit ratione fugiat quo assumenda voluptas harum animi quos itaque maiores nam dignissimos tempore magnam libero.</p>
    <h2>Education</h2>
    <p>Aut laborum hic ipsam recusandae exercitationem corporis. Provident illum repellat ut est sint ipsam recusandae. Enim ipsa perspiciatis odio esse mollitia cumque. Ipsam sunt cumque expedita est molestias sint itaque.</p>
    <h2>Background</h2>
    <p>In quidem et et inventore sint ipsum necessitatibus. Modi quae quia vitae dolorem necessitatibus adipisci provident quia. Aut at eaque sit commodi commodi et perferendis explicabo.</p>
    <h2>Professional Interests</h2>
    <p>Quis vel quia aut. Quia molestiae hic adipisci dolor. Qui ipsa non quia error omnis distinctio doloremque.</p>
    <h2>Committees / Affiliations</h2>
    <p>Omnis sit qui voluptatibus odio. Aut ea eligendi quia provident iure eum sit ut. Consequatur voluptatem explicabo eos dolor illo qui dignissimos rerum. Quos accusantium earum.</p>
    <h2><abbr title="Orchid">ORCID</abbr> ID</h2>
    <a class="o-orcid" href="http://orcid.org/0000-0003-2326-6672" data-wpel-link="external">http://orcid.org/0000-0003-2326-6672</a>

    <h2>LinkedIn Profile</h2>
    <a href="http://berta.net">http://berta.net</a>
  </main>
  <aside aria-label="second" class="t-layout__sidebar2">
    <section class="c-news o-sidebarbox">
  <header>
    <h2>
        Latest News
    </h2>
  </header>
  <ul>
    <li>
<a href="http://susie.net" >Aperiam quos quos itaque eos</a>

</li>
    <li>
<a href="https://miguel.biz" >Sapiente asperiores culpa soluta aut nemo</a>

</li>
    <li>
<a href="https://bobby.com" >Enim fuga nisi est</a>

</li>
    <li>
<a href="" >More...</a>

</li>
  </ul>
</section>

  </aside>
  <aside aria-label="last updated by page owner" class="c-updated">
  <div id="updated-last" class="c-updated__label">Last updated:</div>
  <time aria-labelledby="updated-last">February 27, 2018</time>
  <div id="updated-owner" class="c-updated__label" aria-label="page owner">Page owner:</div>
  <address aria-labelledby="updated-owner">
    
    <a href="mailto:Vern.Roger@ucop.edu" >Roger Vern</a>
    
  </address>
</aside>

  <footer class="c-footer">
  <nav class="c-footer__main" aria-label="footer">
    <ul>
      <li>
<a href="" >About CDL</a>


        <ul>
          <li>
<a href="" >Unde et cupiditate</a>

</li>
          <li>
<a href="" >Asperiores eum ratione</a>

</li>
          <li>
<a href="" >Quasi adipisci sed</a>

</li>
          <li>
<a href="" >Laboriosam est sed</a>

</li>
          <li>
<a href="" >Eos iure laborum</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Our Organization</a>


        <ul>
          <li>
<a href="" >Unde et cupiditate</a>

</li>
          <li>
<a href="" >Asperiores eum ratione</a>

</li>
          <li>
<a href="" >Quasi adipisci sed</a>

</li>
          <li>
<a href="" >Laboriosam est sed</a>

</li>
          <li>
<a href="" >Eos iure laborum</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Services &amp; Projects</a>


        <ul>
          <li>
<a href="" >Unde et cupiditate</a>

</li>
          <li>
<a href="" >Asperiores eum ratione</a>

</li>
          <li>
<a href="" >Quasi adipisci sed</a>

</li>
          <li>
<a href="" >Laboriosam est sed</a>

</li>
          <li>
<a href="" >Eos iure laborum</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Resources For...</a>


        <ul>
          <li>
<a href="" >Unde et cupiditate</a>

</li>
          <li>
<a href="" >Asperiores eum ratione</a>

</li>
          <li>
<a href="" >Quasi adipisci sed</a>

</li>
          <li>
<a href="" >Laboriosam est sed</a>

</li>
          <li>
<a href="" >Eos iure laborum</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >Committees &amp; Groups</a>


        <ul>
          <li>
<a href="" >Unde et cupiditate</a>

</li>
          <li>
<a href="" >Asperiores eum ratione</a>

</li>
          <li>
<a href="" >Quasi adipisci sed</a>

</li>
          <li>
<a href="" >Laboriosam est sed</a>

</li>
          <li>
<a href="" >Eos iure laborum</a>

</li>
        </ul>
      </li>
      <li>
<a href="" >News &amp; Media</a>


        <ul>
          <li>
<a href="" >Unde et cupiditate</a>

</li>
          <li>
<a href="" >Asperiores eum ratione</a>

</li>
          <li>
<a href="" >Quasi adipisci sed</a>

</li>
          <li>
<a href="" >Laboriosam est sed</a>

</li>
          <li>
<a href="" >Eos iure laborum</a>

</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="c-footer__legal">
    <ul>
      <li>
<a href="" >Site Map</a>

</li>
      <li>
<a href="" >Terms &amp; Conditions</a>

</li>
      <li>
<a href="" >Privacy Policy</a>

</li>
      <li>
<a href="" >Accessibility Policy</a>

</li>
    </ul>
  </div>
  <div class="c-footer__copyright">
    <small>Copyright © 2018 The Regents of The University of California</small>
    <small><a href="https://creativecommons.org/licenses/by/4.0/">Site text licensed under CC BY 4.0</a> <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="CC BY 4.0"></small>
    <small>California Digital Library</small>
  </div>
</footer>

</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

