

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <table class="c-staff">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Program</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Wunsch, Benedict</th>
      <td>Legacy Identity Specialist</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Quitzon, Dexter</th>
      <td>Internal Intranet Agent</td>
      <td>Discovery &amp; Delivery</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Smith, Moriah</th>
      <td>District Division Planner</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Ernser, Chelsie</th>
      <td>Central Creative Agent</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Aufderhar, Raphaelle</th>
      <td>Legacy Implementation Coordinator</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Witting, Sophia</th>
      <td>Senior Functionality Planner</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Jacobson, Krystel</th>
      <td>District Solutions Planner</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Nikolaus, Marietta</th>
      <td>Dynamic Implementation Designer</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Abshire, Willie</th>
      <td>Investor Functionality Strategist</td>
      <td>Infrastructure and Applications Support</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Toy, Jose</th>
      <td>Lead Metrics Liaison</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Upton, Lucius</th>
      <td>Future Assurance Designer</td>
      <td>Business Services</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Heller, Hilbert</th>
      <td>Internal Quality Consultant</td>
      <td>Collection Development &amp; Management - Mass Digitization</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">King, Callie</th>
      <td>International Optimization Liaison</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Johnston, Josianne</th>
      <td>International Tactics Planner</td>
      <td>Shared Cataloging Program (UC San Diego)</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Sanford, Althea</th>
      <td>Dynamic Applications Representative</td>
      <td>Collection Development &amp; Management</td>
      <td>
        <a href="">
          <span>View profile</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

