

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <table class="c-status o-table">
  <thead>
    <tr>
      <th scope="col">CDL Maintained Systems</th>
      <th scope="col">Status</th>
      <th scope="col">Scheduled Maintenance Times</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">O&#x27;Connell - Stehr </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Perferendis veniam voluptatibus vero.</td>
    </tr>
    <tr>
      <th scope="row">Feil Inc </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Dignissimos et voluptatum perferendis dolorem quasi sint nam.</td>
    </tr>
    <tr>
      <th scope="row">McGlynn LLC </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>A tempore incidunt itaque voluptatem ratione et dicta ipsam.</td>
    </tr>
    <tr>
      <th scope="row">Rowe and Sons </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Quia sed et sit est aut aut tempora quibusdam.</td>
    </tr>
    <tr>
      <th scope="row">Abernathy - Hamill </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Nam architecto tenetur repudiandae.</td>
    </tr>
    <tr>
      <th scope="row">Conroy, Schowalter and Leannon </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Ipsa est impedit molestiae molestiae voluptates ducimus et.</td>
    </tr>
    <tr>
      <th scope="row">Pfeffer Inc </th>
      <td>
        <div
          class="c-status__indicator up">
          Up
        </div>
      </td>
      <td>Labore eum ad possimus in ut dicta neque incidunt.</td>
    </tr>
    <tr>
      <th scope="row">Borer and Sons </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Quo non tempore ea dolore voluptatibus non expedita doloremque eos.</td>
    </tr>
    <tr>
      <th scope="row">Braun - Padberg </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Ipsa molestiae ad quidem facilis quo dolorem.</td>
    </tr>
    <tr>
      <th scope="row">Hammes, Gorczany and Torp </th>
      <td>
        <div
          class="c-status__indicator down">
          Down
        </div>
      </td>
      <td>Mollitia eveniet possimus tempore voluptatibus omnis dolor est.</td>
    </tr>
  </tbody>
</table>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

