

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI Library Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>City</th>
      <th>Product</th>
      <th>Inventory ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Isle of Man</th>
      <td>-7.0412</td>
      <td>-41.3592</td>
      <td>North Wilburnbury</td>
      <td>Generic Rubber Shoes</td>
      <td>54182</td>
    </tr>
    <tr>
      <th scope="row">Falkland Islands (Malvinas)</th>
      <td>51.4063</td>
      <td>62.6454</td>
      <td>South Donnie</td>
      <td>Handcrafted Wooden Tuna</td>
      <td>48184</td>
    </tr>
    <tr>
      <th scope="row">Venezuela</th>
      <td>6.6367</td>
      <td>-161.7308</td>
      <td>Armanimouth</td>
      <td>Incredible Soft Ball</td>
      <td>06878</td>
    </tr>
    <tr>
      <th scope="row">Russian Federation</th>
      <td>-47.7686</td>
      <td>-3.3382</td>
      <td>North Jordaneland</td>
      <td>Ergonomic Steel Shirt</td>
      <td>88477-6894</td>
    </tr>
    <tr>
      <th scope="row">Christmas Island</th>
      <td>30.8779</td>
      <td>131.8119</td>
      <td>Gislasonberg</td>
      <td>Practical Soft Shirt</td>
      <td>42518-4938</td>
    </tr>
    <tr>
      <th scope="row">Iran</th>
      <td>-40.7734</td>
      <td>-164.1039</td>
      <td>West Jerome</td>
      <td>Generic Cotton Chicken</td>
      <td>63024</td>
    </tr>
    <tr>
      <th scope="row">Moldova</th>
      <td>-19.7389</td>
      <td>-171.0379</td>
      <td>North Molly</td>
      <td>Sleek Metal Car</td>
      <td>51554-3883</td>
    </tr>
    <tr>
      <th scope="row">Tokelau</th>
      <td>53.9200</td>
      <td>104.5149</td>
      <td>South Madelynn</td>
      <td>Gorgeous Frozen Fish</td>
      <td>50579</td>
    </tr>
    <tr>
      <th scope="row">Liechtenstein</th>
      <td>50.6270</td>
      <td>-124.2892</td>
      <td>Lorafort</td>
      <td>Ergonomic Fresh Pants</td>
      <td>77462-3339</td>
    </tr>
    <tr>
      <th scope="row">Armenia</th>
      <td>-7.3270</td>
      <td>143.7657</td>
      <td>West Randall</td>
      <td>Gorgeous Cotton Salad</td>
      <td>08034</td>
    </tr>
    <tr>
      <th scope="row">Virgin Islands, British</th>
      <td>6.8680</td>
      <td>-145.1073</td>
      <td>Lelahmouth</td>
      <td>Fantastic Steel Soap</td>
      <td>19273</td>
    </tr>
    <tr>
      <th scope="row">Brazil</th>
      <td>-21.1550</td>
      <td>-147.7865</td>
      <td>New Codyport</td>
      <td>Refined Plastic Shoes</td>
      <td>37746-9323</td>
    </tr>
    <tr>
      <th scope="row">Mexico</th>
      <td>-36.9367</td>
      <td>67.7517</td>
      <td>Keeblerhaven</td>
      <td>Ergonomic Granite Salad</td>
      <td>27888-0943</td>
    </tr>
    <tr>
      <th scope="row">France</th>
      <td>32.4339</td>
      <td>135.1604</td>
      <td>Ilenechester</td>
      <td>Practical Frozen Shirt</td>
      <td>65386-2280</td>
    </tr>
    <tr>
      <th scope="row">Singapore</th>
      <td>-67.3392</td>
      <td>176.4985</td>
      <td>Josephmouth</td>
      <td>Gorgeous Plastic Salad</td>
      <td>28876</td>
    </tr>
  </tbody>
</table>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

