

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>City</th>
      <th>Product</th>
      <th>Inventory ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Papua New Guinea</th>
      <td>-86.3488</td>
      <td>33.8399</td>
      <td>Ronnyshire</td>
      <td>Incredible Soft Towels</td>
      <td>72382-4405</td>
    </tr>
    <tr>
      <th scope="row">Slovenia</th>
      <td>14.3077</td>
      <td>-96.4147</td>
      <td>Collinshaven</td>
      <td>Awesome Concrete Salad</td>
      <td>99157-4104</td>
    </tr>
    <tr>
      <th scope="row">Comoros</th>
      <td>2.1510</td>
      <td>106.3780</td>
      <td>Mckennafurt</td>
      <td>Incredible Rubber Mouse</td>
      <td>74979</td>
    </tr>
    <tr>
      <th scope="row">Algeria</th>
      <td>16.4969</td>
      <td>-5.3792</td>
      <td>Borisland</td>
      <td>Fantastic Soft Shirt</td>
      <td>22052</td>
    </tr>
    <tr>
      <th scope="row">Seychelles</th>
      <td>49.5264</td>
      <td>171.3755</td>
      <td>East Rosettaville</td>
      <td>Refined Granite Mouse</td>
      <td>25464</td>
    </tr>
    <tr>
      <th scope="row">Bangladesh</th>
      <td>-25.0849</td>
      <td>-104.7188</td>
      <td>Schoenville</td>
      <td>Awesome Granite Gloves</td>
      <td>36654</td>
    </tr>
    <tr>
      <th scope="row">Nigeria</th>
      <td>26.8225</td>
      <td>-112.3569</td>
      <td>Lake Metaview</td>
      <td>Small Steel Shoes</td>
      <td>70538</td>
    </tr>
    <tr>
      <th scope="row">Germany</th>
      <td>12.1113</td>
      <td>-126.7005</td>
      <td>Schinnerside</td>
      <td>Fantastic Frozen Table</td>
      <td>96758-4674</td>
    </tr>
    <tr>
      <th scope="row">Venezuela</th>
      <td>-8.6707</td>
      <td>-158.6778</td>
      <td>Caspermouth</td>
      <td>Fantastic Plastic Bike</td>
      <td>23083</td>
    </tr>
    <tr>
      <th scope="row">Ecuador</th>
      <td>-8.3759</td>
      <td>-119.4274</td>
      <td>Port Rayfurt</td>
      <td>Gorgeous Frozen Car</td>
      <td>87577-7779</td>
    </tr>
    <tr>
      <th scope="row">Fiji</th>
      <td>36.8259</td>
      <td>12.1719</td>
      <td>Ginoland</td>
      <td>Generic Rubber Keyboard</td>
      <td>32318</td>
    </tr>
    <tr>
      <th scope="row">Wallis and Futuna</th>
      <td>-76.1635</td>
      <td>-61.2463</td>
      <td>Haagport</td>
      <td>Unbranded Steel Computer</td>
      <td>10994</td>
    </tr>
    <tr>
      <th scope="row">Yemen</th>
      <td>-64.1543</td>
      <td>-73.2600</td>
      <td>Melvinaberg</td>
      <td>Small Granite Mouse</td>
      <td>46447-0712</td>
    </tr>
    <tr>
      <th scope="row">Chile</th>
      <td>50.9448</td>
      <td>-143.9782</td>
      <td>Lake Marvinview</td>
      <td>Gorgeous Metal Table</td>
      <td>37283-6936</td>
    </tr>
    <tr>
      <th scope="row">Saint Barthelemy</th>
      <td>77.5578</td>
      <td>-114.9363</td>
      <td>Lake Favian</td>
      <td>Rustic Rubber Chicken</td>
      <td>67908</td>
    </tr>
  </tbody>
</table>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

