

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="c-well1">
  <figure class="alignleft">
    <img src="http://loremflickr.com/300/200/nature" alt="">
    <figcaption>Adipisci numquam autem dolores in ea minus unde consectetur quis. Illum voluptatum libero ad cumque pariatur asperiores veritatis illo porro.</figcaption>
  </figure>
  <h2 >
      Practical Concrete Mouse 
  </h2>
  <p>Ut debitis minus itaque voluptate ut expedita. Eligendi eligendi eligendi corporis veniam quidem et ea. Pariatur quidem eos saepe vel et nemo eligendi voluptas. Non vel quia. Molestias sunt animi officiis. Quia asperiores iusto qui. Nulla nisi eveniet consectetur nihil amet harum quia laborum facilis. Sunt ducimus tenetur laborum id repellat occaecati facere. Blanditiis nisi laudantium facere quo tempora ea aspernatur. Et maiores consequatur tenetur eaque.</p>
</div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

