

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CDLIB UI</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  <style>
    /***** Demo Styles (not used in production CSS) *****/
    /* matches selector in WP styles.css: */
    .alignleft {
      display: inline;
      float: left;
    }
  </style>
</head>
<body>
  <div id="app">
    <ul class="c-yearlist">
  <li>
<a href="#2018" >2018</a>

</li>
  <li>
<a href="#2017" >2017</a>

</li>
  <li>
<a href="#2016" >2016</a>

</li>
  <li>
<a href="#2015" >2015</a>

</li>
  <li>
<a href="#2014" >2014</a>

</li>
  <li>
<a href="#2013" >2013</a>

</li>
  <li>
<a href="#2012" >2012</a>

</li>
  <li>
<a href="#2011" >2011</a>

</li>
  <li>
<a href="#2010" >2010</a>

</li>
  <li>
<a href="#2009" >2009</a>

</li>
  <li>
<a href="#2008" >2008</a>

</li>
  <li>
<a href="#2007" >2007</a>

</li>
  <li>
<a href="#2006" >2006</a>

</li>
  <li>
<a href="#2005" >2005</a>

</li>
  <li>
<a href="#2004" >2004</a>

</li>
  <li>
<a href="#2003" >2003</a>

</li>
  <li>
<a href="#2002" >2002</a>

</li>
  <li>
<a href="#2001" >2001</a>

</li>
  <li>
<a href="#2000" >2000</a>

</li>
  <li>
<a href="#1999" >1999</a>

</li>
  <li>
<a href="#1998" >1998</a>

</li>
  <li>
<a href="#1997" >1997</a>

</li>
</ul>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/core-js@2.6.1/client/core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-match-media@1.0.2/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/details-element-polyfill@2.0.3/dist/details-element-polyfill.min.js"></script>
  <script src="../../ui-assets/js/main.js"></script>
 </body>
</html>

